[2021-09-16 15:21] JohnHalleyGotway commented on #1905
From @mpm-meto:

I’ve done some digging. This is the ticket completed about 3 years ago. Historically VER has always computed all the spread-related stats without the control but this was not explicitly stated. This was changed so that what used to be computed was renamed to explicitly state it was excluding the control and a new stat class was added which was for the stats to include the control

[2021-09-16 17:47] JohnHalleyGotway commented on #1921
I ran the following commands to generate the commands for testing:
[code]
Here are the resulting files:
[unit_test_cmds.tar.gz](https://github.com/dtcenter/MET/files/7179726/unit_test_cmds.tar.gz)
The unit_test_cmds.log file contains 1127 non-empty WARNING messages output lines:
[code]
They can be categorized like this:
- [x] 240 for "**Skipping duplicate entry for ensemble**".
The 240 warnings re

[2021-09-16 20:06] hsoh-u opened #1922 "Fix IODA2NC bug rejecting all input observations in unit tests"
*Replace italics below with details for this issue.*

## Describe the Problem ##

The unitest of ioda2nc was failed with the nightly build. It was not duplicated by the manual runs of ioda2nc unit-test. But it happened rarely. The log message shows all records were rejected by station_id ("KEKA" only, should be 2 records for KEKA station) when this happened.

Command at unit test:
[code]
Log messa

[2021-09-16 20:18] hertneky commented on #1824
@hsoh-u I had originally directed you to the LAM output (NATLEV.036/PRSLEV.036) since they are smaller in size, both for input and output, but the GFS output is fine as well if you don't have issue with the large file sizes.

Model input for UPP for the GFS run can be found in /glade/work/hertneky/upp/testing/data/gfs, which will include the T, P, Q vars that UPP ingests to process MLCAPE (specifi

[2021-09-16 20:26] hsoh-u commented on #1824
T, SPFH, PRES from you is better than collecting them by me to reduce a humane error.  MET does not interpolate to pressure levels. Please collect T, SPFH, PRES which are interpolated to pressure levels) and give the P, T Q values to me.

[2021-09-16 20:49] hertneky commented on #1824
So the /glade/work/hertneky/upp/upprt/postprd/GFSPRS.006.dev has TMP, SPFH on isobaric levels, but I would think the data on model levels would be what you wanted since that's what UPP uses to compute MLCAPE?

[2021-09-16 20:52] hertneky commented on #1824
Perhaps I am just confused - I was under the impression you were trying to mimic the UPP algorithm for computing MLCAPE.

[2021-09-18 20:14] #1922 closed, assigned to hsoh-u

[2021-09-22 21:12] JohnHalleyGotway commented on #1904
Progress. I have an initial version of gen_ens_prod working in my local feature_1904_gen_ens_prod branch. In Ensemble-Stat, the [ensemble_flag](https://github.com/dtcenter/MET/blob/ba739729040dff1b513b4d44a296bc098167103f/met/data/config/EnsembleStatConfig_default#L263) dictionary, can only be set once and is applied to all the fields in the "ens" dictionary. So all products are derived for all fi

[2021-09-23 16:05] JohnHalleyGotway commented on #1920
Discussed the timing of this work during the 9/23/21 MET development meeting. This is a large change and we recommend moving it from the minor version 10.1.0 release over to the next major version 11.0.0 release. After completing the work for 10.1.0 we'll have a good opportunity to make this large structural change before moving into new development for 11.0.0.

So this should be first thing done

[2021-09-23 17:51] georgemccabe commented on #1920
@JohnHalleyGotway I agree that this major change should be done for a major release.

Something to keep in mind is that when you move a file in GitHub, you cannot follow the history of that file using the GitHub web interface. Here is a relevant discussion: github/feedback#3272
There are browser extensions that can add this functionality. The history can be viewed using git on the command line wit

[2021-09-23 21:02] JohnHalleyGotway commented on #1904
List of enhancements to make:
- [x] **DONE 9/23/2021**: Let ensemble_flag be specified separately for each ens.field array entry.

- [x] **DONE 9/24/2021**: Add support for climo and climo_cdp options in the ensemble_flag:
[code]
Since this tool can read climo data and use them to define climo distribution percentile thresholds (e.g. >CDP50), we should be able to write these fields to the output,

[2021-09-24 17:56] hsoh-u commented on #1824
Checked three cases but they did not match (MetPy failed to compute ML_CAPE  with isobaric pressure levels)

ML-CAPE from UPP = 1451:
- cape_val (1,1) = cape_val (1,2) = 1610.25
- cape_val (0,1) = cape_val (0,2) = 1373.33

ML-CAPE from UPP = 1467:
- cape_val(1,1) = cape_val(1,2) = 1607.9
- cape_val(0,1) = cape_val(0,2) = 1369.98

ML-CAPE from UPP = 2232:
- cape_val(1,1) = cape_val(1,2) = 2326.23
-

[2021-09-24 19:07] hertneky commented on #1824
@hsoh-u I would not expect the values to compare identically to UPP for these reasons:
1) UPPs computation is a bit convoluted in my opinion - see my previous mention on this.
2) UPPs MLCAPE is only for 90-0 mb above ground (not sure what you used for your tests)
3) UPP uses the values on model surfaces as input into the computation, not on isobaric surfaces - not sure how much this would change t

[2021-09-28 15:52] mo-mglover opened #1926 "Enhance Grid-Stat to use OpenMP for efficient computation of neighborhood statistics by setting $OMP_NUM_THREADS"
## Describe the New Feature ##

OpenMP provides a simple way of adding shared-memory (on-node) parallelism to serial code.  It can be added incrementally, and can provide quick wins when a code has a few dominant hotspots.

The `fractional_coverage` routine in `data_plane_util.cc` contains a loop-nest representing one such hotspot. We aim to parallelize this loop with OpenMP. This would distribute

[2021-09-29 13:19] mo-mglover commented on #1926
Initial scaling tests:

[grid-stat-omp-scaling.pdf](https://github.com/dtcenter/MET/files/7252166/grid-stat-omp-scaling.pdf)

[2021-09-29 13:31] robdarvell commented on #1823
John,
Was thinking of having a play with these changes in our gridstat and pointstat jobs we are running to examine what has been done at our end. What is the best plan of attack to do this sort of thing (given I have not done anything like this from Git before)?
I did create a single-branch of your branch and cloned the stuff across to my local machine, but then I ran into compile issues as it di

[2021-09-29 15:26] JohnHalleyGotway commented on #1823
@robdarvell the steps for compiling directly from the repo differ from compiling from a tarfile. @TaraJensen has noted this as a frustration for some users and and as a result, we defined this development task to restructure the repo accordingly: dtcenter/MET#1920.

However we do NOT want to restructure the repo for a minor release (MET version 10.1.0) and will instead do it for the next major rel

[2021-09-29 15:39] robdarvell commented on #1823
@JohnHalleyGotway thanks for this. I am more than happy to wait to until the Beta3 release gets done (I was just playing with something with some of our areas, and thought it would be a good time to test out what you had done).
I have installed the Beta2 release here, so if anyone wanted to use it (eg: the Ocean area) then it is there, so adding Beta3 when that appears should work

[2021-09-29 20:11] JohnHalleyGotway commented on #1823
@robdarvell and @j-opatz, please give [this logic](https://github.com/dtcenter/MET/blob/0d5e5d08f769858ddf157e5eb227307a593fdad3/met/src/libcode/vx_grid/latlon_grid.cc#L123) for determining whether or not to wrap the longitudes some thought.

Is it sufficient?

For example, we could have a degenerate grid that includes a lot more than 360 degrees of longitude, and perhaps in that case wrapLon shou

[2021-09-30 13:03] robdarvell commented on #1823
@JohnHalleyGotway and @j-opatz

If I understood the question at the end correctly, I started thinking whether or not I knew of any Global models which used variable resolutions, around the meridian area. Have to say that I couldn’t think of any. I know we have, what we call, regional models, which have variable resolutions (eg: our 1.5km UK model, which is at 4km on the outside and 1.5km over the

[2021-09-30 19:49] JohnHalleyGotway commented on #1612
Met with NOAA/GSL on 9/30/21 to review ensemble verification plans, and @JeffHamiltonNOAA emphasized the need for more broad support of percentile thresholds in ensemble verification, especially those computed relative to the input ensemble member values.

[2021-10-01 15:44] #1914 closed, assigned to JohnHalleyGotway

[2021-10-01 19:30] JohnHalleyGotway commented on #1695
Note that we can also test this support using NOAA GEFS data:
https://nomads.ncep.noaa.gov/pub/data/nccf/com/gens/prod/
For example, the files in gefs.20211001/00/atmos/pgrb2sp25/gep[01-30].t00z.pgrb2s.0p25.f000 contain data for 30 members, and their GRIB2 headers identify each of the 30 members. We can literally just concatenate all the member files to put them in a single GRIB2 file.
[code]
Here

[2021-10-01 19:40] JohnHalleyGotway commented on #1695
@j-opatz consider this option for the logic...

Currently, the number of input ensemble member files defines the size of the ensemble. Ensemble-Stat attempts to read each field array entry listed in the config file from each of the input ensemble member files.

The issue we're trying solve is handling data files that contain multiple members, rather than just one. Since an ensemble of size 1 shoul

[2021-10-01 21:49] #1823 closed, assigned to JohnHalleyGotway, robdarvell

[2021-10-02 04:43] #1904 closed, assigned to JohnHalleyGotway, j-opatz

[2021-10-04 19:37] #1395 closed, assigned to jprestop

[2021-10-05 16:28] JohnHalleyGotway opened #1932 "Fix TC-Stat event equalization logic to include any model name requested using -amodel."
## Describe the Problem ##
@malloryprow raised this issue during the METplus NOAA User Support telecon on 10/5/2021. Here are those [meeting notes](https://docs.google.com/document/d/12_frNKfQzxn9QtFA8SFNRBGlEk_lWmcuxe-FrmZ1pqg/edit).

Here's Mallory's comment...
I ran tc_pairs on 4 models (we will call the AMODEL names for them M001, M002, M003, and M004). The files for M001, M002, and M003 all c

[2021-10-05 20:53] jprestop opened #1936 "Enhance MADIS2NC to handle the 2016 changes to its format."
## Describe the Problem ##
The issue arose from [METplus Discussion #1189 ](https://github.com/dtcenter/METplus/discussions/1189). The madis2nc tool rejects certain mesonet data from MADIS due to a change in variables/format to the NetCDF files. Sometime in 2016, a change was made to the mesonet output files where they no longer contain variables such as precip3hr, precip6hr, etc. The MADIS suppor

[2021-10-05 21:00] #1932 closed, assigned to JohnHalleyGotway, malloryprow

[2021-10-06 00:47] JohnHalleyGotway commented on #1921
I reran the same tests and captured the log output before/after making many of these changes. Here is the resulting "report.log" file showing the old number of warnings followed by the new number for each warning type. See [warnings.tar.gz](https://github.com/dtcenter/MET/files/7290061/warnings.tar.gz) for details:
[code]

[2021-10-06 01:10] #1921 closed, assigned to hsoh-u, JohnHalleyGotway

[2021-10-06 15:21] JohnHalleyGotway opened #1938 "Create the met-10.1.0-beta3 release."
## Describe the Task ##
This task is to create the MET 10.1.0-beta3 release scheduled for Wednesday 10/6/21.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://github.com/dtcenter/METplus/blob/develop/docs/Release_Guide/met.rst

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-

[2021-10-06 19:26] JohnHalleyGotway commented on #1882
From @TaraJensen on 10/6/21:
Also - we need to start looking at the STIGS.  Maybe we can find a time in the next two weeks to get started.  I'll be asked about it again the first week of November so it would be good to make some progress ;-)

[2021-10-06 20:38] #1938 closed, assigned to JohnHalleyGotway

[2021-10-07 18:18] JohnHalleyGotway commented on #1824
Met with @fossell and @hertneky on 10/7/21 to discuss.

There are 3 elements to this:
- The pressure levels of the observations to be used as input.
- The settings for ivirt (0 for regular theta, 1 for virtual theta) and itype (1 for surface-based parcel, 2 for best cape in the number of parcels)
- What name to assign the result.

We need a table that consists of 4 columns:
CAPE/CIN variation name

[2021-10-08 15:34] hertneky commented on #1824
@JohnHalleyGotway @hsoh-u

I've created a document on the details of computing 4 different types of CAPE within UPP. Please note that the CAPE algorithm uses virtual temperature for all types (there is no IVIRT flag). Here is a link to the document:

https://docs.google.com/document/d/1IguVjWBX5vaQvZGfwfxrHqxovZoPHdZF1hNg3NFkDIs/edit

[2021-10-08 18:10] JohnHalleyGotway commented on #1905
@mpm-meto and @robdarvell I am working on this issue in the [feature_1905_ens_ctrl](https://github.com/dtcenter/MET/tree/feature_1905_ens_ctrl) branch. The MET version 10.1.0 beta3 release includes the initial version of the gen_ens_prod tool which includes the "-ctrl" command line option.
While details are still fresh, I wanted to make sure we make the right changes in ensemble_stat as well.

I'v

[2021-10-11 22:13] sethlinden commented on #1899
Ran a set of stress tests to compare running this feature-branch version of stat_analysis that uses the new num_array class (uses vectors) to the development branch version of stat_analysis that uses the original num_array class (uses arrays). Below I show the command line and results of running the command with "/usr/bin/time -v" which gives memory usage and how long it takes to run.

[2021-10-11 22:14] sethlinden commented on #1899
Here is the command line I used for both version of stat_analysis:

/usr/bin/time -v ./stat_analysis -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data -lookin fake_test_data

[2021-10-11 22:25] sethlinden commented on #1899
Here is the tar-ball that contains the input files:

[fake_test_data.tar.gz](https://github.com/dtcenter/MET/files/7325602/fake_test_data.tar.gz)

[2021-10-11 22:28] sethlinden commented on #1899
So looking at the "time -v" output from the two large, stress tests, overall the new version (from this feature branch) uses quite a bit less memory but takes just slightly longer to run. Older version uses more memory but runs slightly faster.

Note, we look at Maximum resident set size: "A process's resident set size is the amount of memory that belongs to it and is currently present (resident)

[2021-10-12 15:52] JohnHalleyGotway opened #1940 "Define the Bukovsky masking regions for use in MET."
## Describe the New Feature ##

On 9/21/2021, NOAA/EMC decided to start computing verification statistics using the Bukovsky regions. In particular, there were discussions about new regions being added (a southern region if I'm not mistaken), as well as defining CONUS with the East/West/Central/South Bukovsky definitions. This coincides with the EVSv1 and was already approved by the UFS V&V group.

[2021-10-13 21:59] sethlinden commented on #1899
Tried some vector techniques within the num_array class to try and speed up stat analysis (in regards to the big stress test). Within num_array.cc, modified the clear() function to call e.reserve(80); Played around with several reserve values and ran several smaller stress tests along with some iterations of the large stress test.

From Slack: "Initial results from the big stress (with 80 "-lookin

[2021-10-13 22:00] sethlinden commented on #1899
Also tried running with a much bigger reserve number of 880.

From Slack: "Here are the results of the large stress test using 880 for the reserve value:"

        User time (seconds): 2748.81
        System time (seconds): 17.02
        Percent of CPU this job got: 99%
        Elapsed (wall clock) time (h:mm:ss or m:ss): 46:06.35
        Average shared text size (kbytes): 0
        Average unshar

[2021-10-13 22:01] sethlinden commented on #1899
Today, tried one more test:  to check using the swap function in erase(), It actually uses slightly less memory but took longer to run, so not worth it.

        User time (seconds): 2928.14
        System time (seconds): 14.29
        Percent of CPU this job got: 99%
        Elapsed (wall clock) time (h:mm:ss or m:ss): 49:03.63
        Average shared text size (kbytes): 0
        Average unshared

[2021-10-13 22:02] sethlinden commented on #1899
So we will leave the num_array class as is. It use 23% less memory but takes 5% longer to run...this deemed acceptable.

[2021-10-14 12:35] RachelNorth opened #1941 "Add support for point-based climatologies for use in SEEPS"
## Describe the New Feature ##
Some verification metrics require components from a pre-determined climatology in order to calculate the score.

In the specific case of calculating the Stable Equitable Error in Probability Space (SEEPS) it is necessary to use a climatology calculated at station locations to construct the score.  MET #563 contains details of the point-based climatology from ECMWF fo

[2021-10-14 13:14] RachelNorth opened #1942 "Enhance Point-Stat to compute SEEPS for point observations and write new SEEPS and SEEPS_MPR STAT line types."
## Describe the New Feature ##
The Stable Equitable Error in Probability Space (SEEPS) score is described in Rodwell et al. (2010) and was devised for evaluating quantitative precipitation forecasts against SYNOP gauge data at (but not limited to) station locations.  It uses a climatology to account for local variations in rainfall which enables aggregation over otherwise heterogenous locations.

[2021-10-14 14:10] RachelNorth opened #1943 "Enhance Grid-Stat to compute SEEPS for gridded observations and write the SEEPS STAT line type."
## Describe the New Feature ##
The Stable Equitable Error in Probability Space (SEEPS) score is described in Rodwell et al. (2010) and was devised for evaluating quantitative precipitation forecasts against SYNOP gauge data at (but not limited to) station locations. It uses a climatology to account for local variations in rainfall which enables aggregation over otherwise heterogenous locations. Re

[2021-10-14 15:36] JohnHalleyGotway commented on #563
Closing this issue since it is superseded by dtcenter/MET#1941, dtcenter/MET#1942, and dtcenter/MET#1943.

[2021-10-14 15:36] #563 closed, assigned to JohnHalleyGotway

[2021-10-14 16:35] sethlinden commented on #1899
Forgot to mention that initially, I ran an regression test to makes sure the output is exactly the same between this feature branch and the development branch:

mkdir -p /d1/projects/MET/MET_pull_requests/met-10.1.0/met-10.1.0_beta4/feature_1899
cd /d1/projects/MET/MET_pull_requests/met-10.1.0/met-10.1.0_beta4/feature_1899
/d1/projects/MET/MET_pull_requests/MET/scripts/regression/test_regression.s

[2021-10-15 16:03] #1899 closed, assigned to sethlinden

[2021-10-19 22:18] JohnHalleyGotway opened #1945 "Modify the STAT-Analysis GO Index configuration file."
## Describe the Task ##
This is a very small change. Adjust the STAT-Analysis GO Index configuration file by changing PRMSL/Z0 to PRMSL/L0. When applying the GO Index and newly developed CBS Index to recent Air Force datasets, it was determined that while "L0" works, "Z0" does not. This necessitated that a separate config file be created for this minor change. This task is to make this small chang

[2021-10-21 00:04] jprestop opened #1949 "Enhance the documentation with meta-data that is expected by MET for netCDF"
## Describe the Enhancement ##
Clearly identify what needs to be included in a gridded file for efficient MET ingest. Provide a clear list of meta-data that is expected by MET for netCDF, with regard to CF-compliant files.  Add this information to the User’s Guide in the [Input data formats section](https://met.readthedocs.io/en/develop/Users_Guide/data_io.html#input-data-formats) of MET Data I/O.

[2021-10-21 18:39] JohnHalleyGotway opened #1950 "Sort mask.sid station lists to check their contents more efficiently."
## Describe the Enhancement ##

The MetOffice often defines masking regions using the mask.sid option. That defines a list of station ID names to be included in the verification region. Those station name lists are stored in a StringArray object which in turn stores them as a vector of strings. For each point observation, the PairDataPoint class checks to see if the station names appears in the sp

[2021-10-21 19:05] jprestop commented on #1949
Note from Marion from Slack on 10/21:

[2021-10-22 22:20] ksearight commented on #891
@TaraJensen Do we need to pull together a small group to discuss this?  This is an action item from the Sep. 27 Governance meeting.

[2021-10-26 19:09] #1906 closed, assigned to jprestop, JohnHalleyGotway

[2021-10-26 19:29] JohnHalleyGotway opened #1954 "Define new grid class to store semi-structured grid information (e.g. lat or lon vs level or time)"
## Describe the New Feature ##
This work is related to dtcenter/METplus#??? (insert issue number here) which describes enhancing METplus for use in computing and quantifying stratospheric diagnostics. While some portions of that work will be done in Python, some enhancements to the MET code is needed as well. This top-level issue describes those changes. However, it should be further broken down i

[2021-10-26 20:47] jprestop commented on #1200
@JohnHalleyGotway I was going through the GitHub issues that are assigned to me and came across this one, where I see a comment from you from February that I don't recall seeing previously:

@georgemccabe How does it work with the METplus data via GH-Actions?  Where is the data stored?

I agree that the data archiving doesn't have any impact on the MET repository itself (unless we were to back it

[2021-10-26 22:22] georgemccabe commented on #1200
@jprestop, does this involve archiving output or input data?

For METplus we save the latest test output in Docker data volumes for each use case category. When we need to update the output data when something has changed or been added, we recreate the data volumes and push them to DockerHub. I believe the older volumes are overwritten or at least aged off, so we don't really save an archive, but

[2021-10-26 22:30] scatt11 commented on #1518
Hello there,
Just chiming in to add support for this new feature.  The ability to do this with netCDF would be very beneficial! The particular use case in mind is validating 10-meter windspeed from raw wrfout.nc files.  Python embedding is a workaround, but that a much less streamlined process.  Further, that leaves more room for user's to make errors.  Lastly, the 2D limitation for python embeddi

[2021-10-26 22:30] jprestop commented on #1200
@georgemccabe I am not familiar with all of this data and cannot say for sure.  Here is the data that I currently archive, which you may or may not know more about than I do.  Perhaps @JohnHalleyGotway and @bikegeek can add additional info for the MET and METcalcpy data respectively.

On kiowa:
MET Unit Test Data: /d1/projects/MET/MET_test_data/unit_test
METplus Plotting Data: /d1/projects/METplus

[2021-10-26 22:44] georgemccabe commented on #1200
@jprestop, that looks like the input data for testing. The METplus Data from mohawk from your list is used to create Docker data volumes for the input data used for the develop branch. They are stored on DockerHub in dtcenter/metplus-data-dev: https://hub.docker.com/repository/docker/dtcenter/metplus-data-dev/tags
(Note: The output data volumes are stored in the same DockerHub repo, which doesn't

[2021-10-27 16:06] JohnHalleyGotway commented on #1905
At this point, I'm going to proceed with the simplest available solution:

If the -cntrl member is specified on the command line, include it in the ensemble mean but exclude it from the spread. Ensemble-Stat will continue to compute a single version of spread, not separate ones with/without the control member included. This avoids the messy question of how to differentiate between the inclusion/ex

[2021-10-27 17:37] lisagoodrich commented on #1200
I would be happy to archive/backup data.  Just let me know where and when.

~Lisa

On Tue, Oct 26, 2021 at 4:44 PM George McCabe ***@***.***>
wrote:

[2021-10-27 18:12] jprestop commented on #1200
@georgemccabe Thanks for this additional info.

Do you think these datasets are appropriate for archiving with DockerHub for GH-Actions runs or should that not be the primary means for archiving?

Regarding:

As you mentioned, the data for the latest version is copied to various machines.  We also have the data from previous versions stored on those machines for a while.  For example, for METplus,

[2021-10-27 18:24] georgemccabe commented on #1200
@jprestop, I think we can only rely on DockerHub to keep the latest version of data, so I wouldn't consider it a reliable archive of past data.

In my opinion, I don't know how necessary it is to archive the data used for versions prior to what we support. The data used for versions we do support are stored in multiple locations so they can be recovered if something happens to one of them.

Also,

[2021-10-27 18:28] jprestop commented on #1200
@georgemccabe Thanks.  We are only currently archiving the latest versions of the data and no past data.

I agree.

Thanks for the suggestion to check out Git LFS! I'll plan to look into it.

[2021-10-28 19:03] JohnHalleyGotway commented on #1809
@Kathryn Newman I want to get going on MET #1809. Reading through the details, the first thing I want to figure out is WHERE I should do this work. It could be in tc_pairs or tc_gen.
tc_pairs already includes an -edeck command line option for verifying probability of RI and writes probabilistic vx output for that.
tc_gen already includes the genesis algorithm and is meant to handle genesis "stuff"

[2021-10-28 19:49] JohnHalleyGotway commented on #1809
Held a project meeting on 10/28/21 and laid out plans:
- @JohnHalleyGotway proceeds with MET #1809 followed by MET #1810.
- MET #1809:
  - The publicly available NHC E-deck data does NOT include a column for the forecast genesis valid time.
  - @halperin-erau can provide sample data that does have that column... be sure to check that the forecast valid time column is actually present and contains

[2021-11-03 16:59] #1905 closed, assigned to JohnHalleyGotway, j-opatz, robdarvell, mpm-meto

[2021-11-03 20:51] JohnHalleyGotway opened #1957 "Fix ASCII2NC to check the return status when reading ASCII input files."
## Describe the Enhancement ##
This issue arose in testing by @georgemccabe for dtcenter/METplus#1223.
He found that even though the python embedding script he ran in ascii2nc returned bad status, the ascii2nc tool itself did not.

Modify the logic on https://github.com/dtcenter/MET/blob/e903f8fed8916dd5a97536777c48d8c191e2c7d7/met/src/tools/other/ascii2nc/ascii2nc.cc#L240 to check the return stat

[2021-11-03 21:22] JohnHalleyGotway commented on #1957
Tested using existing python unit tests for ascii2nc.

This runs without error:
[code]

(1) Providing a bad python filename currently runs without error and returns good status:
[code]
After switching to check the return status, we get an error that returns bad status from ascii2nc:
[code]
(2) Providing a good path to python script but with no arguments does currently return bad status:
[code]
(3)

[2021-11-04 14:53] #1957 closed, assigned to JohnHalleyGotway

[2021-11-04 15:06] #1761 closed, assigned to sethlinden, michelleharrold

[2021-11-04 18:27] j-opatz commented on #1940
After reaching out to Melissa Bukovsky about obtaining finer resolution files, she provided some good news; she did, in fact, have 1km resolution files on hand. However, the finer resolution suffer from the ragged-steps around bodies of water and land boundaries that were applied at the 0.5 degree resolution.

While looking into some of the files, it does appear there are some irregularities aroun

[2021-11-05 17:54] JohnHalleyGotway commented on #1809
@halperin-erau question about the sample files you provided:
- From eal152020-model.dat, I understand that the line below is a forecast that genesis will occur at (31, -78.5) on 8/31/2020 at 06Z. And there's a 20% chance this will actually occur within 120 hours of the issue time of 8/29/2020 at 18Z.
[code]
- From eal152020.dat, I understand that the line below is also a genesis forecast but the p

[2021-11-05 18:32] halperin-erau commented on #1809
Hi John,

That's correct -- we only want to verify GN lines with "genFcst" in the 12th column.

Thanks,
Dan

[2021-11-09 18:17] JohnHalleyGotway opened #1960 "Update the TC-Stat RIRW job type to write complete CTC and CTS output lines."
## Describe the Enhancement ##
This enhancement request came up in [METplus Discussions](https://github.com/dtcenter/METplus/discussions/1244) from @YanJin-NOAA. Currently, the TC-Stat [RIRW job type](https://met.readthedocs.io/en/develop/Users_Guide/tc-stat.html?highlight=rirw#rapid-intensification-weakening) can write MPR, CTC, and CTS outputs. However, they are written to a custom version of th

[2021-11-10 15:45] skmue opened #1961 "Problem on MODE TD: " file time increments are not constant!""
Dear all,
I am puzzled as to why I am getting the " file time increments are not constant!" error. All info further below.
Let me know if you need more info, and many thanks for your help!
Sebastian

My input is:
f = Dataset(input_file, 'r')
times = f.variables['time']

In [13]: np.unique(np.diff(times[:]))
Out[13]:
masked_array(data=[30.],
             mask=False,
       fill_value=1e+20)

and i

[2021-11-10 17:42] jprestop opened #1962 "Enhance the documentation for the "field" entry"
## Describe the Enhancement ##
This lack of documentation came to our attention through a GitHub [Discussion](https://github.com/dtcenter/METplus/discussions/1234) regarding Point2Grid, although there are other tools that have this same issue where the documentation could be improved.

We need to specify that the "field" entry needs to have a name and a level:

The “name” entry specifies a name fo

[2021-11-11 20:33] JohnHalleyGotway commented on #1809
Notes from 11/11/21 project meeting:
- Consider adding a PROBGEN_MPR output line to list individual matched pair info.
- TC-Gen is now writing probabilistic output, although the results are not yet accurate.
- Need to correctly determine whether each forecast probability actually verifies using the Dev and Ops methodology.
- Need to commit the unit_tc_gen.xml updates.
- Need to update the user's g

[2021-11-12 17:15] JohnHalleyGotway commented on #1809
@KathrynNewman and @halperin-erau, I'm working on the scoring logic for the genesis probabilities and am having a tough time understanding the difference between the DEV and OPS methods and whether on not they apply to this data.

Let's work through an example. Here's a group of genesis probabilities:
[code]
So at 8/30/2020 at 00Z the GFSO model predicts that genesis will occur at (31.9, -77) on 8

[2021-11-12 18:10] halperin-erau commented on #1809
Hi John,

We'll want to use the same matching logic that we have in the OPS scoring method, but you're correct that the dev_hit_radius and *hit_window config options will not be used.  Working through the example you provided, our forecast data are:

AL, 77, 2020083000, GN, GFSO,  48, 319N,  770W,  20,   48, JHT, genFcst, 2020083112, ,  0, 034,
AL, 77, 2020083000, GN, GFSO, 120, 319N,  770W,  30,

[2021-11-12 18:51] JohnHalleyGotway commented on #1809
@halperin-erau great, thanks for clarifying. I'll use the same BEST track/operational track logic that we're using for the categorical approach. And as you point out, that logic uses these config options (default values listed):
[code]
So each genesis probability forecast either matches a BEST track or it doesn't. If not, then the forecast obviously does not verify. If it does, then in order to ve

[2021-11-12 19:06] halperin-erau commented on #1809
So we never actually compare the predicted genesis location with actual BEST track genesis location... making sure that they're close enough to each other? Right?

Correct -- we only compare the predicted genesis location to the storm location in the a- or b-decks at the forecast genesis valid time for matching purposes.

So there's only one set of verification logic, not two, not DEV and OPS, rig

[2021-11-12 20:24] JohnHalleyGotway opened #1964 "Enhance MODE to support max_centroid_dist = NA"
## Describe the Enhancement ##
This feature request arose via GitHub Discussion dtcenter/METplus#1246. Enhance MODE so that a setting of max_centroid_dist = NA essentially sets it to infinity. Having to pick a large number instead is a bit awkward.

### Time Estimate ###
1 day.

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
No sub-issues needed.

### Relevant Deadlines

[2021-11-12 21:34] hsoh-u opened #1965 "Fix IODA2NC to handle the same input file being provided multiple times"
*Replace italics below with details for this issue.*

## Describe the Problem ##
ioda2nc fails if the same input file is given with -iodafile option

### Expected Behavior ###
It should work without errors.

### Environment ###
Describe your runtime environment:
*1. Machine: (Linux Workstation)*
*2. OS: (RedHat Linux)*
*3. Software version number(s): 10.1.0 and 11.0 beta*

### To Reproduce ###
Des

[2021-11-13 15:19] JohnHalleyGotway commented on #1809
Needed doc updates:
- [x] Added -edeck command line option.
- [x] New TC-Gen config options for prob_genesis_thresh and output_flag (pct, pstd, pjc, prc).
- [x] Added PROB_LEAD and PROB_VAL to the GENMPR line type.
- [x] Description of probgen vx.

[2021-11-15 17:11] jprestop commented on #1949
This work was completed with [PR 1951](https://github.com/dtcenter/MET/pull/1951).

[2021-11-15 17:13] #1949 closed, assigned to hsoh-u

[2021-11-15 19:00] JohnHalleyGotway opened #1968 "Enhance Ensemble-Stat and Gen-Ens-Prod to error out if the control member also appears in the list of ensemble members."
## Describe the Enhancement ##
This issue arose in discussions with @georgemccabe about the Gen-Ens-Prod wrapper. There was some confusion as to whether the ensemble control member should also be included in the list of ensemble members. It should not.

This task is to update ensemble_stat and gen_ens_prod to see if the ensemble control file appears in the list of ensemble member files. If it does

[2021-11-15 23:12] JohnHalleyGotway opened #1970 "Create the met-10.1.0-beta4 release."
## Describe the Task ##
This task is to create the MET 10.1.0-beta4 release.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue required.

### Relevant D

[2021-11-15 23:14] #1968 closed, assigned to JohnHalleyGotway

[2021-11-16 18:15] #1809 closed, assigned to JohnHalleyGotway, TaraJensen, halperin-erau

[2021-11-16 19:45] #1945 closed, assigned to JohnHalleyGotway

[2021-11-16 20:06] JohnHalleyGotway opened #1971 "Enhance MTD to process time series with non-uniform time steps, such as monthly data"
## Describe the Enhancement ##
This issue arose via METplus Discussions: dtcenter/METplus#1249

The user is passing monthly data as input to MTD. However, since the number of days in a month do not remain constant, the interval between timesteps does not remain constant. This certainly is a reasonable use of MTD and should be supported.

Recommend providing the simplest fix, which is switching tha

[2021-11-17 00:14] JohnHalleyGotway opened #1974 "Modify the interpretation of the message_type_group_map values to support the use of regular expressions."
## Describe the Enhancement ##
This issue arose via METplus Discussions dtcenter/METplus#1232. While the user was able to run madis2nc to compute time summaries, he was NOT able to get Point-Stat to read them to verify forecasts of daily temperature min/max.

I was able to replicate the problem using the sample data he provided in this [comment](https://github.com/dtcenter/METplus/discussions/1232

[2021-11-18 15:49] hsoh-u commented on #1974
The problem is that the pressure or height for the obs data are missing from the input data. Please try it without time summary. Most obs_lvl and obs_hgt are missing value.

[2021-11-18 19:30] JohnHalleyGotway opened #1975 "Enhance MET's NetCDF library code to make reading data more performant."
## Describe the Enhancement ##
This issue arose from METplus Discussions dtcenter/METplus#1255.

The user ran Series-Analysis in two different ways:
1. With GRIB input files for both the forecast and observation files specified using the -fcst/-obs command line argument.
2. With the NetCDF matched pairs files from Grid-Stat using the -both command line argument.

Run 1 completed in a reasonable am

[2021-11-18 20:36] JohnHalleyGotway commented on #1974
@hsoh-u thanks for pointing that out. Yes, I see in the METAR output from the madis2nc unit tests, that obs_lvl = obs_hgt = NA. I tested using these outputs as input to Point-Stat, using both the raw output (metar_2012040912_F000.nc) and the time summary output (metar_20120409_time_summary.nc).

The first run does produce matched pairs because when verifying against ADPSFC message types, the code

[2021-11-18 21:12] CPKalb opened #1976 "Fix MTD to compute the CDIST_TRAVELLED value correctly."
## Describe the Problem ##
In the calculation of cdist_travelled, x_old and y_old are set in the first loop iteration as the values of  xbar_2d and ybar_2d.  However, these values don't change in successive iterations of the loop.  This results in the distance being calculated using the starting centroid lat/lon rather than the centroid lat/lon of the previous time step, giving a cdist_travelled t

[2021-11-18 21:17] JohnHalleyGotway commented on #1974
@hsoh-u please take a look at this [comment](https://github.com/dtcenter/METplus/discussions/1232#discussioncomment-1667211). Perhaps I should rewrite this issue to support regular expressions when processing the message_type_group_map entries. What do you think?

[2021-11-18 23:16] hsoh-u commented on #1974
Yes, please rewrite issue. Is the regular expression (ADPSFC to ADPSFC*) applied to time summary only or any cases?

[2021-11-19 14:13] mo-mglover commented on #1926
Updated the scaling test slides with later results (last couple of slides).  New results based off v10.1.0-beta4.

[grid-stat-omp-scaling.pdf](https://github.com/dtcenter/MET/files/7570761/grid-stat-omp-scaling.pdf)

[2021-11-22 16:50] JohnHalleyGotway commented on #1810
Here's a screenshot from:
https://www.nhc.noaa.gov/archive/xgtwo/gtwo_archive.php?current_issuance=202109030233&basin=atlc&fdays=5

<img width="807" alt="Screen Shot 2021-11-22 at 9 38 03 AM" src="https://user-images.githubusercontent.com/21087144/142900137-1b2f1d15-057f-4823-9798-ee7d33989104.png">

The corresponding shapefiles found in:
https://www.nhc.noaa.gov/archive/xgtwo/atl/202109030233/gtw

[2021-11-22 19:39] #1976 closed, assigned to JohnHalleyGotway

[2021-12-01 17:54] #1936 closed, assigned to hsoh-u

[2021-12-01 18:06] JohnHalleyGotway opened #1985 "Create the MET v10.0.1 release"
## Describe the Task ##
There are at least [8 issues](https://github.com/dtcenter/MET/issues?q=is%3Aissue+sort%3Aupdated-desc+milestone%3A%22met-10.0.1+%28bugfix%29%22+is%3Aclosed) for MET v10.0.0 that have been identified and fixed. While most are relatively minor, dtcenter/MET#1976 is a major bug since it is producing incorrect output for MODE Time-Domain (mtd). This bug warrants the creation a

[2021-12-01 20:07] #1985 closed, assigned to JohnHalleyGotway

[2021-12-02 18:26] JohnHalleyGotway commented on #1810
Per @halperin-erau, if only 1 probability is listed, assume its for 2 days. The second probability is for 5 days, and third is for 7 days.

[2021-12-02 22:18] JohnHalleyGotway commented on #1926
@mo-mglover I'm reading about the AC_OPENMP macro for Autoconf at this [location](https://www.gnu.org/software/autoconf/manual/autoconf-2.67/html_node/Generic-Compiler-Characteristics.html#Generic-Compiler-Characteristics). Seems like we should leverage this existing macro in configure.ac rather than a doing it in a custom way. FYI, I'm investigating this now.

[2021-12-03 21:29] JohnHalleyGotway opened #1989 "Sort files read from directories to provide consistent behavior across platforms."
## Describe the Enhancement ##
This issue has arisen via METplus at least once but also shows up in cross-platform testing prior to official releases. I several places, the MET code reads/processes files from a directory. However, the order in which those files are read can vary from platform to platform. The order in which files are read can cause small differences in the results.

For example, w

[2021-12-03 22:05] JohnHalleyGotway commented on #1810
From @halperin-erau:
I was thinking more about the verification logic for the gtwo_area*.shp files, and I think it will be simpler than the logic we used for the DEV/OPS methods.

Unlike the deterministic forecasts and the probabilistic forecasts in e-deck format, the gtwo_area*.shp files do not have a specific forecast genesis point location or valid time.  Therefore, we cannot use the same match

[2021-12-08 21:21] JohnHalleyGotway commented on #1989
Regression test run 1 vs develop after adding the logic to sort files from directories in kiowa:/d1/projects/MET/MET_pull_requests/met-10.1.0/met-10.1.0_beta5/feature_1989/run1/test_regression.log

- 13 files flagged with differences:
[code]
Regression test run 2 vs develop after renaming grib2_af_gpp.txt to grib2_gpp_af.txt in kiowa:/d1/projects/MET/MET_pull_requests/met-10.1.0/met-10.1.0_beta5/f

[2021-12-09 17:03] TaraJensen commented on #1844
As per our discussion on 12/9/21 - This capability would be very helpful to assess if Python-embedding using Met Office's VARPy code to read ODB might be efficient enough or optimizable enough to work for operational verification.  If it isn't, then we might have to develop the C++ interface, which will be substantial work.

[2021-12-09 17:05] JohnHalleyGotway commented on #1844
@hsoh-u you mentioned in the MetOffice meeting on 12/9/21 that you've made progress on supporting this in the plot_point_obs tool. I'm wondering if the solution is application specific - meaning you'll need to make lots of changes to each MET tool (plot_point_obs, point2grid, point_stat, ensemble_stat). Or is there something that can be done within the library code so that incorporating it into ea

[2021-12-09 17:33] hsoh-u commented on #1844
This is a python script 1) with default data or 2) which reads a MET point observation NetCDF file (output of xxx2nc).

[read_met_point_obs.py.txt](https://github.com/dtcenter/MET/files/7687227/read_met_point_obs.py.txt)

[2021-12-10 16:51] JohnHalleyGotway opened #1991 "Fix Point-Stat and Grid-Stat to write VCNT output even if no VL1L2 or VAL1L2 output is requested."
## Describe the Enhancement ##
While doing some testing for another issue, I ran into a slight problem in the output_flag functionality in Grid-Stat and Point-Stat. If a user requests VCNT output without also requesting VL1L2 or VAL1L2 output, then no VCNT output is created. There's an issue in the processing logic in these tools. The fix is simple, just include the VCNT line type in the condition

[2021-12-11 18:38] JohnHalleyGotway commented on #1991
I updated the logic in Grid-Stat and Point-Stat to compute VL1L2 partial sums when VCNT output is requested. I noticed that Grid-Stat was NOT writing VCNT output for the Fourier method. However the logic of get_n_txt_rows() assumes (on this [line](https://github.com/dtcenter/MET/blob/f81d25081861e603cb4a9c40c51e7f5e22fab3ec/met/src/tools/core/grid_stat/grid_stat_conf_info.cc#L1039)) that VCNT Four

[2021-12-13 18:27] JohnHalleyGotway opened #1993 "Fix Gen-Vx-Mask to handle named grids and grid specification strings for -type grid"
## Describe the Enhancement ##
While developing commands to enhance the online tutorial for gen_vx_mask, we ran into two commands that we expected to work that do not. The usage statement indicates that calling gen_vx_mask in this way should work. This issue is to fix gen_vx_mask to handle the following:
- Run with "-type grid" where "mask_file" is set to a named grid.
[code]
- Run with "-type gri

[2021-12-13 19:06] JohnHalleyGotway commented on #1993
I tweaked the logic in gen_vx_mask to support this. The 2 commands listed in the issue now run fine:
1. Using a named grid:

[code]
<img width="721" alt="Screen Shot 2021-12-13 at 12 06 00 PM" src="https://user-images.githubusercontent.com/21087144/145872755-c147341b-2e85-4e3f-98a7-51666ec5fa15.png">
2. Using a grid spec string:

[code]
<img width="721" alt="Screen Shot 2021-12-13 at 12 06 48 PM"

[2021-12-13 19:09] #1989 closed, assigned to JohnHalleyGotway

[2021-12-13 19:10] #1991 closed, assigned to JohnHalleyGotway

[2021-12-13 20:37] #1993 closed, assigned to JohnHalleyGotway

[2021-12-14 19:11] JohnHalleyGotway commented on #1965
@hsoh-u it seems to me that this issue would be very easy to fix. Unless I'm misunderstanding, the description makes it sound like telling ioda2nc to process the same input file multiple times triggers the error. If that's the case, let's just require that the input files be unique.

So just compare the length of ioda_files to ioda_files.uniq(). If they differ, then there's at least one duplicate

[2021-12-14 23:22] JohnHalleyGotway commented on #1974
@hsoh-u I was thinking of the "-pcprx" command line option for pcp_combine. The default regular expression to match *everything* is defined on this [line](https://github.com/dtcenter/MET/blob/5e1f551d86fcb5b731e3a83c0b043dbd7ef3c7aa/met/src/tools/core/pcp_combine/pcp_combine.cc#L116). The "-pcprx" command line option can override that default. But on this [line](https://github.com/dtcenter/MET/blo

[2021-12-15 17:53] hsoh-u opened #1996 "Address findings from the SonarQube/Cppcheck code analysis tool"
Cppcheck is a C++ code analysis tool similar to SonarQube.

## Describe the Problem ##

CppCheck does the static code analysis like sonarqube. These are finding by CppCheck (not dedected by sonarqube).

Non initialized local variables at multiple places
- packed_data between https://github.com/dtcenter/MET/blob/develop/met/src/libcode/vx_nc_util/nc_utils.cc#L1652-L1670
- PT_new between https://git

[2021-12-15 21:48] hsoh-u commented on #1844
Support MET NetCDF with grib_code instead of variable name & index
[read_met_point_obs.py.txt](https://github.com/dtcenter/MET/files/7722902/read_met_point_obs.py.txt)

[2021-12-16 00:49] hsoh-u commented on #1844
Design document:
[Design of Python Embedding for MET point observation.pdf](https://github.com/dtcenter/MET/files/7723747/Design.of.Python.Embedding.for.MET.point.observation.pdf)

[2021-12-16 21:52] jprestop opened #1997 "Allow for customization of 'nbrhd_prob' and 'nmep_smooth' in each field entry"
## Describe the Enhancement ##
Allow for the customization of 'nbrhd_prob' and 'nmep_smooth' in each field entry.  As mentioned in [Discussion 1317 Setting neighborhood methods in Gen-Ens-Prod config file](https://github.com/dtcenter/METplus/discussions/1317), at this time, because of where 'nbrhd_prob' and 'nmep_smooth' are currently defined, they can only be set once for each run of Gen-Ens-Prod

[2021-12-17 22:27] hsoh-u commented on #1844
Performance issue: The time differences between NetCDF input and the python embedding were about 5 seconds for point2grid and plot_point_obs. It took less than 1 second to read and to build the python objects at the python script for point2grid python embedding. The additional 4 or 5 seconds would be caused by 1) loading python interpreter, and 2) invoking python script, and 3) converting Python o

[2021-12-22 00:12] jprestop opened #1998 "Enhance the MET documentation to follow the standard for sections"
## Describe the Enhancement ##
From https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html
\# with overline, for parts
\* with overline, for chapters
=, for sections
-, for subsections
^, for subsubsections
“, for paragraphs

### Time Estimate ###

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Releva

[2021-12-27 23:10] georgemccabe commented on #1695
Notes from discussion with @JohnHalleyGotway on 12/27/2021:
* Enhancements should be made for EnsembleStat and GenEnsProd, so put common logic into libraries as possible
* Potential solution could involve adding a config variable called something like "ens_member_ids" which would be a list of strings to substitute into field info for each ensemble.

`ens_member_ids = [];` (default)
`ens_member_ids

[2021-12-28 19:36] georgemccabe commented on #1695
Notes from 12/28/2021 discussion:
* A new MET config string variable "control_id" could be used to specify the value to substitute in for the control member.
* We could add a function that takes a string, checks for a list of environment variables that are set, and substitutes values into the string. This could be called in the return of the DictionaryEntry::string_value function
* https://github.

[2022-01-05 17:51] JohnHalleyGotway commented on #1810
@halperin-erau I did some more digging and think that my logic is not quite yet sufficient. But I'd like you to confirm.

I have 2 questions.

(1) Should I add logic to get rid of apparent "duplicates"?

Running with *all* NHC 2021 shapefiles from the atl, cpac, and epac basins, tc_gen processes a total of 3913 shapes. However, I believe that only 1164 of them are unique. By way of example, here's

[2022-01-05 18:24] JohnHalleyGotway opened #2000 "Restructure the Tropical Cyclone unit test input files."
## Describe the Task ##
This issue arose during development for MET #1810 which adds a new call to tc_gen. The TC input data for the unit tests is a bit messy. This task is to reorganize that input data into yearly subdirectories AND update the unit tests accordingly. Note that this will require:
- Updating the unit tests in the develop, develop-ref, main_v10.0, main_v10.0-ref, main_v10.1, and mai

[2022-01-06 01:45] j-opatz opened #2003 "Enhance Series-Analysis to compute the BRIERCL statistic from the PSTD line type"
## Describe the New Feature ##
In working with CPC on NMME data and Probability of Exceedance (POE) calculations, there have been numerous times where a score (i.e. Brier) will line up correctly, but the skill score (i.e. BSS) will not. In these situations, having access to a 2D field for the reference value, BRIERCL, would be incredibly useful for diagnosing where the discrepancies are coming fro

[2022-01-06 16:20] JohnHalleyGotway commented on #2003
@j-opatz regarding Series-Analysis, I took a look starting at [this line of code](https://github.com/dtcenter/MET/blob/5e1f551d86fcb5b731e3a83c0b043dbd7ef3c7aa/met/src/tools/core/series_analysis/series_analysis.cc#L1827). And I see that "BRIERCL" is NOT included as one of the output stat types. However on [this line of code](https://github.com/dtcenter/MET/blob/5e1f551d86fcb5b731e3a83c0b043dbd7ef3

[2022-01-06 21:49] jprestop commented on #1774
Add information regarding adding new unit test data.  New data should be added to mohawk in /d2/www/dtcenter/dfiles/code/METplus/MET/MET_unit_test/unit_test.  This is linked to from kiowa and seneca in the project area.

[2022-01-07 15:52] mpm-meto commented on #1583
Applying HiRA to ensembles effectively means that what is done for a single deterministic forecast in terms of the extraction of neighbourhoods from the forecast field has to be repeated _n_ times _before_ the stats are computed, i.e. if you have a 3 x 3 neighbourhood it gives a pseudo ensemble of 9 for which the scores are calculated in the deterministic case. When the same 3 x 3 neighbourhood is

[2022-01-07 16:36] mpm-meto commented on #1237
Some clarification: the term "native" can refer to any kind of grid, unstructured (ugrid) or structured mesh (lat-lon) but simply refers to the mesh that the model is integrated on. Often times we do not verify our forecasts on the native (structured) grid, e.g. WMO CBS statistics are calculated on a 1.5deg regular lat-lon grid. This is not the native grid for any of the global NWP models that sub

[2022-01-07 16:36] j-opatz commented on #2003
Thanks for looking into this @JohnHalleyGotway, and it seems like you've grasped the situation perfectly.

An output from series-analysis would be sufficient, and I understand that a similar output from grid-stat isn't doable, given the aggregation need. As this is using a gen-ens-prod --> series-analysis route, it's a good outcome that BRIERCL be accessible via series-analysis.

[2022-01-07 16:43] jprestop commented on #422
As @TaraJensen mentioned in a previous comment, this is out of the scope of MET at this time.  We want to limit the amount of post-processing included in MET.  The SRW (Short Range Weather) application may be using it and able to produce it.  If this functionality is desired we could check in with the folks that work on the SRW application.

[2022-01-07 16:43] #422 closed

[2022-01-11 21:33] JohnHalleyGotway commented on #1998
@jprestop and @lisagoodrich I recommend that we move this issue from MET version 11.0.0 to MET version 10.1.0. Here's why.

The current version in develop includes many individual references. However, I've found that the reference names are not entirely unique.

[code]

So there are 160 :ref: names but only 156 unique ones, meaning that 4 are used twice.

And here they are:

[code]

[code]

In all

[2022-01-11 22:38] jprestop commented on #1998
@TaraJensen Please read @JohnHalleyGotway's comment above.  With regard to funding, would it be possible to have this work done by @lisagoodrich for MET version 10.1.0?

[2022-01-12 00:47] TaraJensen commented on #1998
@lisagoodrich @jprestop - Thanks for bringing this to my attention.  I went ahead and gave guidance on keys, updated label and assigned to beta6.

[2022-01-12 01:34] #1965 closed, assigned to hsoh-u

[2022-01-12 20:23] jprestop commented on #1998
@TaraJensen Thank you.  I see that "alert: NEED ACCOUNT KEY" was removed but Funding Source still says "TBD".  Please advise.

[2022-01-12 20:27] TaraJensen commented on #1998
@jprestop - I put the charging guidance in the wrong place.  It was in Time Estimate - oops.  I moved it to correct location.

[2022-01-12 20:29] jprestop commented on #1998
@TaraJensen - Thanks, I totally missed that and didn't look elsewhere first.  I'll check more thoroughly in the future. Thanks for fixing that up.

[2022-01-13 03:11] JohnHalleyGotway opened #2009 "Update library code to use the =delete convention rather than having functions exit with bad status."
## Describe the Enhancement ##
On 1/10/22, the NCAR/RAL C++ affinity group reviewed page 74-79 of [Effective Modern C++](https://moodle.ufsc.br/pluginfile.php/2377667/mod_resource/content/0/Effective_Modern_C__.pdf). Item 11: Prefer deleted functions to private undefined ones.

The MET code base includes at least 48 instances of this type of error message:
[code]

Count them up like this:
[code]

[2022-01-13 17:58] #1810 closed, assigned to JohnHalleyGotway, TaraJensen, halperin-erau

[2022-01-13 17:58] #1974 closed, assigned to hsoh-u

[2022-01-14 00:51] #1970 closed, assigned to JohnHalleyGotway

[2022-01-14 00:53] JohnHalleyGotway opened #2011 "Create the MET 10.1.0-beta5 release"
## Describe the Task ##
This task is to create the MET 10.1.0-beta5 release.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue required.

### Relevant D

[2022-01-14 17:07] georgemccabe commented on #1695
A few notes:
* The NetCDF test example demonstrating the new functionality results in warnings because the timing information cannot be read properly by MET.

"months" is not currently a supported time interval in MET (see https://github.com/dtcenter/MET/blob/e903f8fed8916dd5a97536777c48d8c191e2c7d7/met/src/libcode/vx_nc_util/nc_utils.cc#L3562-L3580). In theory this time unit could be supported in

[2022-01-14 23:39] JohnHalleyGotway opened #2013 "Update the copyright year of the source code to 2022."
## Describe the Task ##
Update the copyright year within the source code to 2022.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
*List relevant project deadlines here or sta

[2022-01-15 00:04] #1926 closed, assigned to mo-mglover

[2022-01-15 01:10] hsoh-u opened #2015 "Fix PB2NC to reduce redundant verbosity level 3 log messages."
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
*Provide a description of the enhancement request here.*

bash
export MASK_GRID=''
export MASK_POLY=''
export QUALITY_MARK_THRESH='2'
export STATION_ID=''
/d1/projects/MET/MET_regression/develop/NB20220112/MET-develop-ref/met/share/met/../../bin/pb2nc \
/d1/projects/MET/MET_test_data/unit_test/obs_data/prepbufr/na

[2022-01-15 04:09] #1695 closed, assigned to georgemccabe, j-opatz

[2022-01-15 04:13] #2011 closed, assigned to nobody

[2022-01-18 18:07] JohnHalleyGotway opened #2018 "Automatically post new releases to the METplus Slack Announcements channel"
## Describe the Task ##
This functionality already exists in the dtcenter/METplus repository and saves a bit of time when creating new releases. Collaborate with @georgemccabe to migrate this functionality into the MET repository.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking th

[2022-01-19 16:43] TaraJensen opened #2019 "Scope requirements for reading ODB"
This is a placeholder issue to gather requirements and ideas for reading ODB

## Describe the New Feature ##
The Met Office and Unified Model partners need to be able to read Met Office ODB for evaluation of their system.  ODB is a proprietal binary format for observations.

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time E

[2022-01-19 21:37] JohnHalleyGotway commented on #1546
On 1/19/22, @georgemccabe and @JohnHalleyGotway met to discuss these details.

Goals for this test automation.

- Should restructure the MET Dockerfile define a base image from which the MET images inherits.
  - Recommend having 3 base images:
    - Minimal image for compiling MET source code.
    - Minimal + packages for running unit and regression tests.
    - Minimal + useful runtime tools (e.g

[2022-01-20 16:19] JohnHalleyGotway commented on #1055
Discussed the high priority of this issue on 1/20/22 during the MetOffice developer's telecon. The MetOffice will provide additional NetCDF files for testing, and the MET team will ensure that it can be read.

[2022-01-20 20:58] hsoh-u opened #2020 "Automate calls to the SonarQube static code analysis tool in the nightly build"
*Replace italics below with details for this issue.*

## Describe the New Feature ##
Add script to run SonarQube scanner

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

Create the scripts of SonarQube and add to the crontab for the night build under "met_test" account.

### Time Estimate ###
*Estimate the amount of work required he

[2022-01-20 21:33] hsoh-u commented on #2020
Build problem at src/basic/vx_math on seneca:
hsoh@seneca:/d1/personal/hsoh/git/release/MET_tag_v10.1.0-beta5/met/src/basic/vx_math$ make
make: *** No rule to make target 'viewgravity_to_string.cc', needed by 'libvx_math_a-viewgravity_to_string.o'.  Stop.

at kiowa:
/d1/personal/hsoh/git/pull_request/MET_feature_1844_python_embedding/met/src/basic/enum_to_string/enum_to_string -concat_string affin

[2022-01-20 23:03] hsoh-u commented on #2020
It's resolved after sourcing /d1/projects/MET/MET_regression/MET-develop/scripts/environment/development.seneca.

[2022-01-20 23:08] JohnHalleyGotway commented on #2020
@hsoh-u glad to hear it. FYI, the "MET_DEVELOPMENT" environment variable needs to be set to turn on calls to that enum_to_string code. So I suspect that's the change that fixed it.

[2022-01-21 01:01] JohnHalleyGotway commented on #1546
Running all of the unit tests for MET takes over an hour. Instead of running serially, we'd like to break them down into groups that can run concurrently. To figure out the dependency structure, I ran the following commands. Note that this is only a first order cut at the dependencies... and will require review to manually refine it.

[code]
Here's the output  [unit_test_deps.txt](https://github.c

[2022-01-21 10:23] scole-mo commented on #1055
All, please find the additional NetCDFs for testing below.

[india_rotated_unrotated_grid.nc.gz](https://github.com/dtcenter/MET/files/7912393/india_rotated_unrotated_grid.nc.gz)

[2022-01-24 18:20] malloryprow opened #2022 "Add Anomaly Correlation Coefficient to VCNT Line Type"
## Describe the Enhancement ##
In the CNT line type, Anomaly Correlation Coefficient is part of the output from the line type. It would be good to add this to the VCNT line type, so that Anomaly Correlation Coefficient can be calculated for Vector Wind. See the bottom of slide 11 for the equation at https://www.emc.ncep.noaa.gov/users/verification/global/gfs/doc/RMSE_decomposition.pdf. Additionall

[2022-01-25 00:21] jprestop opened #2023 "Remove the double-quotes around keywords"
## Describe the Task ##
For actual keywords supported in the MET config files, remove the double-quotes around them to avoid confusion.

In the [documentation](https://met.readthedocs.io/en/develop/Users_Guide/config_options.html#grid-weight-flag), for grid_weight_flag, for example, is the following current text:

would become:

for all instances similar to that one, with a supported keyword.

Thi

[2022-01-25 21:31] JohnHalleyGotway commented on #1546
@georgemccabe thanks for making lots of good progress on this issue. As discussed in Slack, we have many options for reducing the overall runtime of the unit tests in GHA (which are currently a little less than an hour). Here's a list of tasks to consider (add more as you see fit):

- Break the input test data down into small pieces so that each test pulls smaller data volumes overall. It takes ~3

[2022-01-26 00:20] georgemccabe opened #2027 "Investigate nightly build output wind direction differences caused by machine precision."
Note that this issue originally indicated that issues in Grid-Stat and Madis2NC should be investigated. However, the Madis2NC details were moved to a separate issue #2028 that @hsoh-u is investigating.

There are differences in the output generated from the MET-develop-ref data between machines. This is likely due to something different with an external dependency.

I copied data from the nightly

[2022-01-26 16:32] hsoh-u opened #2028 "Fix MADIS2NC to correctly parse MADIS profiler quality flag values."
*Replace italics below with details for this issue.*

The QC values after converting a profiler input (madis2) is different at kiowa and seneca.
- "NA" at seneca.
- "S" and "Q" at kiowa

The input file (\$MET_TEST_INPUT/madis/profiler/profiler_20120409_1200.nc) has QC flags:
 uComponentDD =
  "ZZSSZSSZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ",
  ...
 vComponentDD =
  "ZZSSZ

[2022-01-26 23:01] #1844 closed, assigned to hsoh-u, j-opatz

[2022-01-27 02:05] #2020 closed, assigned to hsoh-u

[2022-01-27 02:08] hsoh-u commented on #2027
madis2nc is separated and created a new issue [https://github.com/dtcenter/MET/issues/2028](https://github.com/dtcenter/MET/issues/2028)

[2022-01-27 16:30] #2015 closed, assigned to hsoh-u

[2022-01-27 17:09] georgemccabe commented on #1774
Pull request #2029 includes CI functionality via GitHub Actions that should be documented here. We should at very least document the commit keywords used to override the default logic.

@jprestop  is editing this comment to add the notes from the MET Engineering meeting on 20220127:
GitHub actions for MET (#1546) - up to 10 min
George: Brief overview of logic (https://github.com/dtcenter/MET/actio

[2022-01-27 21:50] #1546 closed, assigned to ksearight, JohnHalleyGotway, georgemccabe

[2022-01-31 20:30] jprestop commented on #1907
Closing issue with PR #2032

[2022-01-31 20:30] #1907 closed, assigned to jprestop

[2022-02-02 17:28] davidalbo commented on #2013
Notes:
This command seems to work:
find . -type f -exec sed -i 's/Copyright UCAR (c) 1992 - 2021/Copyright UCAR (c) 1992 - 2022/g' {} \\;

assuming it is the only pattern in the MET repo that needs changing.  Will look deeper to see if so.

To verify:
find . -type f -exec grep 'Copyright UCAR (c) 1992 - 2021' {} \\;   before should list everything, after empty
find . -type f -exec grep 'Copyright

[2022-02-02 17:54] JohnHalleyGotway commented on #1132
@rgbullock, can you please confirm that this work is actually already done in /usr/local/met-10.0.0/bin/mtd? And if so, close this issue with a message stating that fact.

[2022-02-02 19:55] davidalbo commented on #2013
MET/met/README has  a different copyright:    Copyright 2021, UCAR/NCAR, NOAA, and CSU/CIRA
change it?

[2022-02-02 20:57] #2028 closed, assigned to hsoh-u

[2022-02-02 21:38] JohnHalleyGotway opened #2036 "Enhance TC-Pairs consensus logic to compute the spread of the location, wind speed, and pressure."
## Describe the Enhancement ##
This enhancement request initially arose via METplus discussions in dtcenter/METplus#1341.

The METplus team met with NOAA/EMC on 2/2/2022 to discuss this issue and this GitHub issue is the result. Here are the steps:
- [ ] Enhance the consensus derivation logic in TC-Pairs to also compute the location spread  and standard deviation of the wind speed and pressure val

[2022-02-02 23:38] #2003 closed, assigned to JohnHalleyGotway, j-opatz

[2022-02-03 00:27] JohnHalleyGotway commented on #1583
@mpm-meto I started development on this issue and some questions arose.

For each point observation, Ensemble-Stat...
1. Retrieves the ensemble mean value. It can either be specified on the command line using -ens_mean or derived on the fly from the members.
2. Retrieves forecast value(s) from each member, by interpolating the forecast values from levels above/below the observation to the pressure

[2022-02-03 14:56] TaraJensen commented on #1237
Marion sent scripts for vinterp and hinterp to Will and Tara.  She's uncertain if they should be attached to the open GitHub issue.  Will attach here if it is found worthwhile and cleared for doing so.

[2022-02-03 15:34] mpm-meto commented on #1055
Just a quick update from this end. From what I can gather now, when dealing with rotated grids for point observation applications it is best to _compute the rotated coordinates of the observation_ before extracting the correct grid point(s) from the rotated model grid. This is because if you unrotate the grid first you no longer have a rectilinear grid and the whole thing just becomes a whole lot

[2022-02-03 15:40] mpm-meto commented on #1583
The ensemble mean is not part of HiRA though evaluating the ensemble mean with HiRA sounds like something interesting to do.
For 1. Yes the neighbourhood would still be of interest in a distribution sense, I think.
For 2. We haven't applied HiRA to any upper air variables... only surface. I've been thinking this through. To be honest, I'd think that you would only apply this to pressure level wher

[2022-02-03 16:31] JohnHalleyGotway commented on #1583
We discussed this issue during the MetOffice development telecon on 2/3/2022. @mpm-meto made the following decisions:
- HiRA applies only when verifying against points, not gridded analyses. While there may be future work to compute fractions skill score in Ensemble-Stat, it doesn't apply to this issue.
- For handling the ensemble mean, do not compute or store it for HiRA. Instead, simply store is

[2022-02-03 16:43] JohnHalleyGotway commented on #2013
@TaraJensen and @bonnystrong can you please advise on this question?

The MET source code files include the following copyright at the top of each file:
[code]

The top-level MET README file includes:
[code]
But please see [this line](https://github.com/dtcenter/MET/blob/5e1f551d86fcb5b731e3a83c0b043dbd7ef3c7aa/met/README#L5) for the complete statement.

Options are:
1. Leave everything as-is and

[2022-02-03 21:05] JohnHalleyGotway commented on #2013
@davidalbo please also update to 2022 in met/docs/users_guide/index.rst.

[2022-02-03 22:25] jprestop commented on #2013
@JohnHalleyGotway We discovered that met/docs/users_guide/index.rst had already been updated, so no work is needed on that file for this task.

[2022-02-03 22:36] davidalbo commented on #2013
README was modified to agree with that in met/docs/users_guide/index.rst to include more groups.

Copyright 2022, UCAR/NCAR, NOAA, CSU/CIRA, and CU/CIRES

[2022-02-04 16:30] JohnHalleyGotway opened #2040 "Fix the MET library code to correctly parse timing information from Grid-Stat NetCDF matched pairs output files."
## Describe the Problem ##
This issue arose via GitHub discussions in dtcenter/METplus#1400. The MET library code is not correctly parsing the timing information from the NetCDF matched pairs output files generated by Grid-Stat. While the valid time is consistently correct, the initialization and lead times are not.

Recommend reviewing and revising the MET NetCDF library code logic.

### Expected

[2022-02-04 18:35] JohnHalleyGotway commented on #2040
Currently, the MetNcFile class defined in met_file.h defines a single Init and Valid time for each file:
[code]

And these values are set on lines 302/303 of met_file.cc when reading each variable. So the timing info for the variable that is read LAST will be used for all variables in the file. And that's the bug.

Recommend removing InitTime, ValidTiem, and lead_time() from the MetNc
File class.

[2022-02-05 03:02] JohnHalleyGotway commented on #1055
The code on this feature branch is now able to read Rotated Lat/Lon Grids from CF-compliant NetCDF files.

For example, running plot_data_plane to plot it:
[code]

Results in:
<img width="479" alt="Screen Shot 2022-02-04 at 7 59 37 PM" src="https://user-images.githubusercontent.com/21087144/152626431-379d647e-8f69-4906-8ed4-00e767540e86.png">

Also running regrid_data_plane to regrid it:
[code]

A

[2022-02-07 16:32] JohnHalleyGotway commented on #1055
@rgbullock I'm looking for a little advice. For this issue, we are enhancing the vx_data2d_nccf library code to parse Rotated Lat/Lon projections from CF-compliant NetCDF files.

This [line](https://github.com/dtcenter/MET/blob/44a7a3b5a409cff9bf9bc99ef68252cdb55ce874/met/src/libcode/vx_data2d_nccf/nccf_file.cc#L2448) of the feature_1055_read_rot_latlon branch, just hard-codes the "auxiliary rotat

[2022-02-07 17:44] rgbullock commented on #1055
Hi John -

If I recall correctly, that auxiliary rotation parameter was just a
placeholder in case we ever needed it.  I think just having it default to
zero would be fine.

Randy

[2022-02-07 19:37] JohnHalleyGotway commented on #2040
@jprestop when this issue is complete and merged into develop, please update METplus Discussion https://github.com/dtcenter/METplus/discussions/1400 to let Mallory know. And then you can mark that discussion as being answered and lock it.

[2022-02-07 20:00] JohnHalleyGotway commented on #1055
@rgbullock thanks for confirming.

@jprestop please proceed with your review of PR dtcenter/MET#2041 as-is. I don't need to make any changes to it.

[2022-02-07 22:19] JohnHalleyGotway commented on #1275
FYI, here's the message history from the original RT ticket:
https://ral-rt.rap.ucar.edu/rt/Ticket/Display.html?id=94486

QUESTION:

I am running the Mode Time Domain tool over a large timeseries, and the
number of objects identified exceed 999. These objects are all written to
NetCDF, however object numbers exceeding 999 are not printed in the ascii
table files.

Is there a configuration file or

[2022-02-07 22:28] JohnHalleyGotway commented on #1275
@rgbullock I copy/pasted the message history from that RT ticket. However, I don't think that fully explains the behavior.

The format statement on this [line](https://github.com/dtcenter/MET/blob/4a31d4f13fe27e26320eb388a512baaeaa0ed5ff/met/src/libcode/vx_shapedata/engine.cc#L2893) SHOULD write object number 1000 as "1000". The user reports that the objects number DO appear in the NetCDF output f

[2022-02-08 00:38] rgbullock commented on #1275
John -

I'll make a fake input data file for MODE to try to replicate this.

Randy

On Mon, Feb 7, 2022 at 3:28 PM johnhg ***@***.***> wrote:

[2022-02-08 18:22] JohnHalleyGotway commented on #2027
From @hsoh-u on 2/8/2022:

There are five DIR_ERR values. It's computed from vf_bar, uo_bar, uf_bar, and vo_bar values.
The last two  did not match (with a difference of 2.x). It was caused by a different vf_bar, uo_bar, uf_bar, and vo_bar values. They are close to 0 (D.DDDe-17).

Seneca:
[code]

Kiowa:
[code]

computing uf_bar & vf_bar:

Xe-08 or Xe-09 values became Xe-17

Seneca:
[code]

kiowa:

[2022-02-08 18:28] JohnHalleyGotway commented on #2027
@hsoh-u this actually relates very well to a question raised at this week's METplus NOAA telecon on 2/7/2022. When wind speeds are close to 0, the wind direction is not well-defined. All of these numbers are extremely close to 0. The differences we are seeing in the wind directions and due to differences in the precision of the two different machines.

U/V values very close to 0 with slightly diff

[2022-02-08 19:20] JohnHalleyGotway opened #2042 "Enhance MET to handle NC strings when processing CF-Compliant NetCDF files."
## Describe the Enhancement ##
This enhancement request arose via GitHub discussions:
https://github.com/dtcenter/METplus/discussions/1416

MET versions 10.0.0 and 10.1.0 are not able to read CF-compliant NetCDF files from:
https://www.nohrsc.noaa.gov/snowfall_v2/

Attempting to plot this data with plot_data_plane results in this error:
[code]

The underlying problem is that the variable attribute

[2022-02-08 20:36] JohnHalleyGotway commented on #2042
@hsoh-u should we classify this issue as an "enhancement" or a "bug"?

In this [comment](https://github.com/dtcenter/METplus/discussions/1416#discussioncomment-2128850), you indicate that MET should be able to read NC-string type variable attributes.

However, that does not SEEM to actually be working. All of the "string" type global and variable attributes really do store strings, not numeric val

[2022-02-08 20:38] #1055 closed

[2022-02-09 16:51] hsoh-u commented on #2042
The API for NC_STRING does not work (NetCDF code).
- NcAtt::getValues(string& dataValues) fails
  - It calls NcAtt::getAttLength() and it returns 1 - -\>fail to get the string (attribute) length
  - It calls nc_get_att_text(at netcdf-c/libdispatch/dattget.c) and returns the error code -56 (NC_ECHAR)

[2022-02-09 16:54] hsoh-u commented on #2042
I think it's enhancement. NC_STRING is not a primary type and API does not work.

[2022-02-09 17:38] hsoh-u opened #2044 "Update the PB2NC configuration to correct the obs_prefbufr_map name as obs_prepbufr_map."
*Replace italics below with details for this issue.*

## Describe the Problem ##
*Provide a clear and concise description of the bug here.*

The configuration name "obs_prefbufr_map" should be renamed to "obs_prefbufr_map".

- update it in all the config file (under the met and test directories)
- update any "pref" variable names in the MET code base
- update "pref" in the user's guide
- print a w

[2022-02-09 22:11] JohnHalleyGotway commented on #1583
After working on this a bit and running into several roadblocks in supporting interp_mthd = HIRA, I'm pivoting to making the configuration/processing logic more similar to Point-Stat. Supporting interp_mthd = HIRA is logically appealing but complicates the data structures a lot.

Shifting to controlling this via the existing hira dictionary already supported by Point-Stat should make the implement

[2022-02-10 03:53] hsoh-u commented on #2044
It's not simple to **use it's value instead of "obs_prepbufr_map" if "obs_prefbufr_map" is defined**.
The current way is 1) reading the default config and 2) reading the user config (overridding default connfig) . There is no way to figure if "obs_prefbufr_map" or "obs_prepbufr_map" are from the default config or from the user config. So "obs_prepbufr_map" is defined at the default config, the "ob

[2022-02-10 16:18] TaraJensen opened #2045 "Fix inconsistent output when running HiRA"
## Describe the Problem ##
Rob and others at the Met Office were testing running HiRA using MET only and METplus.  They noticed that the output in the RPS line type was different between the two run configurations.  It boiled down to with MET only the TOTAL column was populated with realistic values.  The METplus run output TOTAL were all 0.  All other values in _rps.txt files were the same

Their

[2022-02-10 18:29] j-opatz commented on #1918
In order to describe this slightly better, I discussed the issue with Johnna and she provided the following succinct summary:

 I'm including a few snippets of Johnna's code, which is currently doing the standardizing process outside of MET in a Python script:

`# Define climatology for the lead and member of interest`
`clim = np.nanmean(full_fcst_array,axis=0)`

 `# Define standard deviation for

[2022-02-10 18:35] JohnHalleyGotway commented on #2044
@hsoh-u, I'm moving your email over to the GitHub issue comments section...

Cases to handle the bad key and some questions:

Two questions:

[default configuration]

If bad key (obs_prefbufr_map) exists at the default configuration:

- if good key (obs_prepbufr_map) does not exist, use it & give a warning
- Question 1: if good key (obs_prepbufr_map) exists, ignore it and give a warning OR no warn

[2022-02-10 19:48] j-opatz commented on #1940
Feedback from Logan:

Looking back at the latest status of the GitHub issue, I think we can likely live with some of the coastline shifts and lake masking that exists. That's less problematic than the grid cells with overlapping regions or the like.

After some feedback from the team, it sounds like these region files are best stored in the MET repository, along with the other region files.

There

[2022-02-10 23:53] hsoh-u commented on #2044
I'm thinking not to change parse_conf_obs_bufr_map which is in the library code.
The warning will be given at pb2nc_conf_info.cc in order to print out which config file has a bad name. And correct the config key with the proper name.

The code will do following way:
[code]

[2022-02-11 00:15] #1998 closed, assigned to jprestop, lisagoodrich

[2022-02-11 00:30] #2013 closed, assigned to davidalbo

[2022-02-11 15:07] hsoh-u commented on #2027
Are the differences acceptable or should the configuration be changed?

Unittest output directories:
- kiowa:/d1/personal/hsoh/git/pull_request/MET_feature_2027_grid_stat_wind_direction
- seneca:/d1/personal/hsoh/git/features/feature_2027_grid_stat_wind_direction/MET/unit_test_output/

Differences between kiowa and seneca:
[code]

[2022-02-11 16:08] JohnHalleyGotway commented on #2027
@hsoh-u, yes, those differences are acceptable.

[2022-02-11 16:49] hsoh-u commented on #1824
from @hertneky:

[code]

Result by MET:

- Was not able to compute the same p1d, t1d and q1d values.
- By passing above p1d, t1d and q1d values:

[code]
The computed MET's MLCAPE value is **1867.16** with p1d=95290 t1d=298.901 q1d=0.0131313
If a selected p1d is decreased, MLCAPE decreases, too.
[code]

[2022-02-11 16:56] hsoh-u commented on #1824
How to get above numbers:
[code]

[test_mlcape.txt](https://github.com/dtcenter/MET/files/8050328/test_mlcape.txt)

[2022-02-11 17:33] LoganDawson-NOAA commented on #1940
@j-opatz given the size requirements, let's go with storing the masks in one file. As you mention, that will change the way the masks are accessed, but I think that may be okay for us at EMC.

Based on some of our recent EMC verification team discussions, I believe we will need to do some preprocessing and create separate masks files that are defined on the various grids we use for verification. T

[2022-02-11 19:16] hertneky commented on #1824
@hsoh-u

I'm not expecting values to be exact. From what I remember, there were some differences in the CALCAPE routine in UPP compared to what is used in MET. The values are close. I gave you input/output for MLCAPE from UPP which uses virtual temperature (equivalent to ivirt=1, itype=2 in MET). The result you got (1,2)=1295.92 is similar to UPP of 1282.779. If I am misunderstanding something her

[2022-02-11 19:55] hsoh-u commented on #1824
The MET's result were different for each cases (one method was better for one case, but not the other cases). If I have more sample data with expected MLCAPE values, the MET's logic will be improved.

[2022-02-11 21:20] JohnHalleyGotway commented on #2045
@TaraJensen thanks for setting up the nice test to illustrate the difference.

In seneca:/d1/personal/jensen/tutorial/METplus-4.0.0_Tutorial/output/met_output/point_stat and comparing those two files:
[code]

I see that the differences are limited to the TOTAL column. Run 2 has the correct values and run 3 has all 0's. That tells me right where I should go look.

<img width="634" alt="Screen Shot

[2022-02-11 22:01] hertneky commented on #1824
I'm not sure I understand, the 4 different computations you are providing are for the various types/methods for calculating CAPE. Is that what you meant by cases?

The MLCAPE inputs/outputs I gave is just one type of cape (mixed layer cape, hence why the parcel to be lifted is averaged over the 90 mb layer), so it is good that it is close in value to the MET MLCAPE value (itype=2, ivirt=1).

I sen

[2022-02-11 22:46] #2040 closed, assigned to jprestop

[2022-02-11 23:16] #2045 closed, assigned to JohnHalleyGotway

[2022-02-11 23:17] #2027 closed, assigned to hsoh-u

[2022-02-12 00:24] hsoh-u commented on #1824
Yes (x, y ) = (ivirt, itype)

Two more cases from @hertneky:

Case 2:
[code]
Case 3:
[code]

[2022-02-12 00:28] hsoh-u commented on #1824
Two more cases (the first one is the same as MLCAPE_output.txt
[cape_output.txt](https://github.com/dtcenter/MET/files/8052347/cape_output.txt)

[2022-02-14 23:45] JohnHalleyGotway opened #2052 "Enhance plot_data_plane and plot_point_obs to support the plot_valid_flag configuration option from MODE."
## Describe the Enhancement ##
This enhancement idea arose via METplus Discussions dtcenter/METplus#1434. The user wanted to plot the output from Series-Analysis but zoom up to the region of valid data. This feature is already supported in MODE via the plot_valid_flag configuration option. This task requires migrating that logic over from MODE to the plot_data_plane and plot_point_obs tools.

Stil

[2022-02-16 18:28] georgemccabe opened #2054 "Update error messages to redirect users from the MET-Help desk to METplus Discussions."
I received the following error from MET:

## Describe the Enhancement ##
We should update any error messages that mention met_help@ucar.edu and replace it with a link to the METplus GitHub Discussions page: https://github.com/dtcenter/METplus/discussions

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues

[2022-02-16 19:02] georgemccabe opened #2055 "Add support for reading National Blend Model GRIB2 data."
This came up from GitHub Discussion dtcenter/METplus#1438

Reading NPM data results in the following error message:

(Note: #2054 was created to address the email address in the error message)

Here's the PDS table:
https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_table4-0.shtml

Here's table 4.6:
https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp4-6.shtml

Here's where

[2022-02-16 20:04] JohnHalleyGotway commented on #1583
@TatianaBurek and @venitahagerty I'm looking for some input. This feature for MET essentially lets the user define an ensemble as the number of input members times the size of the spatial neighborhood. For example, 6 members with a 2x2 HiRA neighborhood creates a 6 * 4 = 24 member ensemble. A 3x3 neighborhood creates a 6 * 9 = 54 member ensemble. And these are created by the same run of Ensemble-S

[2022-02-17 05:48] JohnHalleyGotway commented on #1583
This is now working. Still need to:
- Add hira dictionary to existing Ensemble-Stat config files
- Add/modify a unit test to demonstrate
- Update documentation

Two considerations noted during development:
- Since we set the ensemble mean to bad data for HiRA, the ECNT ME and RMSE stats are bad data in the output. Also SSVAR is not written since "skill" is computed relative to the ensemble mean wh

[2022-02-17 16:15] #2044 closed, assigned to hsoh-u

[2022-02-17 21:10] JohnHalleyGotway commented on #2055
Recommend retrieving some National Blend Model data for testing:
[noaa-nbm-grib2-pds.s3.amazonaws.com/blend.20220215/13/core/blend.t13z.core.f119.co.grib2](https://noaa-nbm-grib2-pds.s3.amazonaws.com/blend.20220215/13/core/blend.t13z.core.f119.co.grib2)

Steps:
1. Update the GRIB2 library code to allow for this data type.
2. Run plot_data_plane with -v 4 to test that we can read it after retrievin

[2022-02-17 21:55] JohnHalleyGotway commented on #1918
@j-opatz this is great info! Thanks.

Sounds like we need add an option to GenEnsProd to do the following:
For each ensemble member, be able to...
1. subtract off the ens mean (FCST_ANOM)
2. subtract off the ens mean and divide by the stdev (FCST_STD_ANOM)
3. subtract off the climo mean (CLIMO_ANOM)
4. subtract off the climo mean and divide by the stdev (CLIMO_STD_ANOM)

We could consider adding a

[2022-02-17 23:15] TaraJensen commented on #1824
@hsoh-u - after reading through everything, I think it's okay that the values are not exactly what UPP computes due to what Tracy has stated several times.  Based on the definition of mixed-layer CAPE from NOAA, the correct settings are ivrt=1 (virtual theta aka theta-e) and itype=2.  Please go with those and push this into Pull Request with me as the reviewer.

[2022-02-17 23:51] hsoh-u commented on #1824
The unit test for PBL & CAPE were deleted. Is it OK to add an unit test for MLCAPE (bring back CAPE unit test)?
Never mind. The test is moved to unit_pb2nc_indy.xml

[2022-02-18 23:41] JohnHalleyGotway opened #2058 "Add new bias ratio statistic to the ECNT line type from Ensemble-Stat and for HiRA"
## Describe the Enhancement ##

dtcenter/MET#1583 added support for HiRA to Ensemble-Stat. However, the work on that issue did not address this [comment](https://github.com/dtcenter/MET/issues/1583#issuecomment-1007517205) from @mpm-meto.

Applying HiRA to ensembles effectively means that what is done for a single deterministic forecast in terms of the extraction of neighbourhoods from the forecas

[2022-02-19 01:33] JohnHalleyGotway commented on #1918
Making progress. Added the normalize_flag option, updated config files, added documentation.

Still need to:
- Add a new unit test to test normalizing in all supported ways.
- Figure out how to differentiate between the different methods in the output... note that it can be normalized differently for each entry in the ens.field array.

[2022-02-19 05:23] JohnHalleyGotway commented on #1918
@georgemccabe, while doing development for this feature, I got confused by the usage of 'ens_info->get_ctrl(int)'.

An existing call to [EnsVarInfo::get_ctrl(int)](https://github.com/dtcenter/MET/blob/944fbaeebf7dbc1d64da4b5443c1ccb078023f64/met/src/libcode/vx_data2d/var_info.h#L289) can be seen on this [line](https://github.com/dtcenter/MET/blob/944fbaeebf7dbc1d64da4b5443c1ccb078023f64/met/src/to

[2022-02-19 12:20] JohnHalleyGotway commented on #1918
@JohnHalleyGotway internal development notes:
- [x] rename normalize_flag config file option to just be normalize to make it more similar to the censor and convert options
- [x] do not automatically include the normalization type in the gen_ens_prod output variable names
- [x] do not include normalization type as a NetCDF output variable attribute since we don't do that when the data's been conver

[2022-02-20 05:21] JohnHalleyGotway opened #2062 "Add support for the normalize option to all MET tools that use climatology data."
## Describe the Enhancement ##
dtcenter/MET#1918 added the normalize option to the gen_ens_prod tool. That enables the ensemble member fields to be normalized relative to the external climatology or to the ensemble mean and standard deviation.

This issue is to extend that support more broadly to all of the MET tools that support the use of external climatology data. And those tools are Point-Stat

[2022-02-21 22:12] davidalbo commented on #2055
Disclaimer:  I've never written any grib software and don't know much about the format.

I thought I'd compare table 4.5 to 4.6  to figure out what to do to add option 6, if anything.  The two tables are the same up to the last field in table 6, with additional fields in table 5.  Snippet of code shows ipdtnum 5 has this special action:

//  store the probability information, if appropriate

[2022-02-22 16:47] davidalbo opened #2063 "Select component(s)"

[2022-02-22 16:47] #2063 closed, assigned to nobody

[2022-02-22 17:01] davidalbo commented on #2054
In this file:
https://github.com/dtcenter/MET/blob/develop/met/docs/Users_Guide/appendixA.rst

does it make sense to refer to the METplus discussion page in the troubleshooting instructions here?

[code]

[2022-02-22 18:06] JohnHalleyGotway commented on #2054
@davidalbo, yep, that's exactly right, refer them to discussions. Please see [this section](https://met.readthedocs.io/en/develop/Users_Guide/appendixA.html?highlight=discussions#where-to-get-help) for a similar example.

[2022-02-22 21:55] davidalbo commented on #2055
What is the field name in the grib2 file
[noaa-nbm-grib2-pds.s3.amazonaws.com/blend.20220215/13/core/blend.t13z.core.f119.co.grib2](https://noaa-nbm-grib2-pds.s3.amazonaws.com/blend.20220215/13/core/blend.t13z.core.f119.co.grib2)

  and how do you find out?

[2022-02-22 22:03] JohnHalleyGotway commented on #2055
Use "wgrib2" to inventory GRIB2 files:
[code]

Each line of output summarizes one of the GRIB records in this file. I think there's 156 of them.

[2022-02-22 22:12] davidalbo commented on #2055
Sorry I'm a grib dummy.   The app plot_data_plane needs a field_string
I tried, for example:   CAPE,  CAPE:surface, CAPE:surface:119, 1471851... nothing seems to work:

Usage: plot_data_plane
	input_filename
	output_filename
	field_string
	[-color_table color_table_name]
	[-plot_range min max]
	[-title title_string]
	[-log file]
	[-v level]

	where	"input_filename" is the name of a gridded data fi

[2022-02-22 22:26] JohnHalleyGotway commented on #2055
@davidalbo please take a look at the plot_data_plane [online tutorial](https://dtcenter.org/metplus-practical-session-guide-version-4-0/session-1-metplus-setupgrid-grid/met-tool-plot-data-plane) instructions, and let me know if you have any questions.

This *should* work:
[code]

... after you update the code to get around this error message:
[code]

[2022-02-22 22:35] davidalbo commented on #2055
Now I'm getting somewhere.  I can set up a before/after test.

seneca:/d1/personal/dave/MET/MET_development/MET/met/bin> ./plot_data_plane /d1/personal/dave/blend.t13z.core.f119.co.grib2 /d1/personal/dave/testout 'name="CAPE"; level="L0";'
DEBUG 1: Opening data file: /d1/personal/dave/blend.t13z.core.f119.co.grib2
ERROR  :
ERROR  : MetGrib2DataFile::data_plane() -> PDS template number (6) is not s

[2022-02-23 00:02] #2054 closed, assigned to davidalbo

[2022-02-23 01:30] JohnHalleyGotway commented on #1583
@mpm-meto I have a followup question for you about HiRA in Ensemble-Stat.

@venitahagerty, @TatianaBurek, and I were discussing loading the Ensemble-Stat HiRA output into METdatadb. @venitahagerty was surprised to see an output RHIST line containing 151 ranks. That's the result of running HiRA with a 5x5 neighborhood on an ensemble of size 6 (6 members * 25 neighborhood points + 1 rank = 151).

My

[2022-02-23 17:44] davidalbo commented on #2055
Adding option 6 leads to looking for option 10, which is also not supported.  Is this a 'whackamole' situation?  :-)

[code]

[2022-02-23 18:46] j-opatz commented on #1918
After discussions with CPC, it's become more clear what steps need to taken to accomplish the goal of standardizing ensemble members to the ensemble climatology. Big thanks to Johnna for the clarification, including the majority of the description that follows.

Starting with new capabilities 1) and 2) from above,

What's desired by CPC is the ability to calculate model anomaly and model standardi

[2022-02-23 21:58] fortworthjack commented on #2055
This is best place of reference I can recommend for details on NBM's GRIB2 files.  https://vlab.noaa.gov/web/mdl/nbm-grib-encoding

[2022-02-24 09:04] mpm-meto commented on #1583
@JohnHalleyGotway "But the ones that depend on the number of ensemble "members" can get VERY long VERY fast.".... yes we know that! We currently DO write these out, because of the way our current system works. We also use these values to compute the CRPS and its components, for example. Our output file format is binary however. Even so the files become VERY large and with the output frequency they

[2022-02-24 15:41] JohnHalleyGotway commented on #1583
@mpm-meto thanks for the feedback. I was looking for your confirmation that the MetOffice does indeed use the HiRA derived ranked histograms. I wasn't sure if that was the case or if you only used CRPS from the ECNT line type, for example.

So I'll make no changes to the software. If you request RHIST output and enable HiRA, then you'll get what you get. Two details do come to mind:

1. In Ensembl

[2022-02-24 16:18] TaraJensen opened #2068 "Enhance IODA2NC to support IODA v2.0 format"
## Describe the Enhancement ##
Rob from the Met Office received a sample IODA file from their DA group and the headers is very different from the currently supported format.  Will M. took a look at it and confirmed the header is consistent with his understanding of the IODA v2.0 format.  He is going to reach out to JEDI developers to determine if the format is set.  If it is, then it would be good

[2022-02-24 19:38] JohnHalleyGotway opened #2070 "Add entries to the default obs_prepbufr_map setting."
## Describe the Enhancement ##
This is a very quick and easy fix that was discussed at length in this METplus Discussion METplus/dtcenter#1417.

The resolution is that we should 2 additional entries to the obs_prepbufr_map PB2NC configuration option:
[code]

This task is to update all instances of the obs_prepbufr_map config entry with these changes.

### Time Estimate ###
1 hour.

### Sub-Issues

[2022-02-24 20:16] JohnHalleyGotway commented on #2070
@hsoh-u I need some input from you on this issue. I'm trying to do two things here.
1. Add the 2 entries listed above to the obs_prepbufr_map setting in the default PB2NC config file.
2. Update the comments for the obs_bufr_map setting in all existing PB2NC config files to make them consistent.

My question is about the contents of the [test/PB2NCConfig_pbl](https://github.com/dtcenter/MET/blob/af

[2022-02-24 20:31] JohnHalleyGotway commented on #2070
Actually @hsoh-u, I just made a decision and will request your review on the PR. The PB2NCConfig_pbl output is NOT actually used downstream. It's just an independent test of PB2NC. As such, it doesn't matter so much that D_DPT and TDO are both renamed to the same string. In fact, this is a good test to confirm that the obs_bufr_map settings actually do take precedence over the obs_prepbufr_map set

[2022-02-24 21:51] #2070 closed, assigned to JohnHalleyGotway

[2022-02-24 21:59] JohnHalleyGotway commented on #2055
@davidalbo, looking at this sample of GRIB2 records in an NBM model file, I see 2 issues (described below). Because of them, this will require more work than I initially guessed. I'd recommend reassigning this issue to MET version 11.0.0.

[code]

1. Those variable names DO NOT appear in the existing MET GRIB2 tables: 
[code]
No results. So we'd need to update the GRIB2 tables defined in MET to ge

[2022-02-24 22:20] davidalbo commented on #2055
Good to know that it's more than just the template numbers.  There may be other variable names that need the same attention.  These were just a few of the ones I chose to experiment with at random (that had the previously unsupported template numbers).

[2022-02-25 13:18] mpm-meto commented on #1055
@JohnHalleyGotway quick question on this... will this enable rotated grids in all tools? including GridDiag?

[2022-02-25 14:33] robdarvell commented on #2068
Hi,
I did think the file I was given was a little bit large, but it does appear to have transferred into the anonymous ftp server (under darvell_data) if you want to take a look at it.
Note: This was the first time I have been given this type of file, so it maybe possible that it will be refined in the future (ie what is stored within it), but it should give people a chance to look at it. It is Sa

[2022-02-25 16:30] JohnHalleyGotway opened #2072 "Enhance TC-RMW to compute tangential and radial winds."
## Describe the Enhancement ##
When preparing training material for the MET-TC tools and also applying it for the unified physics testing and evaluation project, @KathrynNewman found that the TC-RWM tool does not actually perform the steps that the documentation claims it does. Namely, it does not compute and report tangential and radial winds. Looking at the tc_rmw.cc source code, I agree with he

[2022-02-25 16:35] JohnHalleyGotway commented on #1055
@mpm-meto yes, the substantive changes in the corresponding pull request are to [nccf_file.cc](https://github.com/dtcenter/MET/pull/2041/files#diff-d8ff84fb8c20db5660ab9b67249e31e1c2436f1a5c2d3ccab8f77abfdada02c4) in the vx_data2d_nccf library. All MET tools call the same library code to read gridded data files. So yes, I fully expect it should work just find in GridDiag. I haven't explicitly test

[2022-02-25 16:54] JohnHalleyGotway commented on #2068
@hsoh-u and @willmayfield, I wanted to make sure we grabbed this sample file before it ages off of the FTP server. I copied it over into seneca:/d1/projects/MET/MET_issues/feature_2068/jopa_satwind_20210701T1200Z_out_0000.nc4

[2022-02-25 18:12] JohnHalleyGotway commented on #1918
@j-opatz testing revealed that additional logic is needed.
CPC processes the CFSV2 24-member ensemble (and also the NMME 120-member ensemble). Each of these ensemble members must be normalized relative to a 30 year average of that INDIVIDUAL MEMBER. In Gen-Ens-Prod the climo_mean and climo_stdev dictionaries provide climo data that is applied in the same way to all ensemble member inputs. However,

[2022-02-25 20:05] willmayfield commented on #2068
@robdarvell @JohnHalleyGotway @hsoh-u noting there are also (small) examples in the ioda test files here: https://dashrepo.ucar.edu/dataset/147_miesch/file.html (sample_hofx_output_sondes.nc4, etc.)

Also, the current IODA format documentation: https://jointcenterforsatellitedataassimilation-jedi-docs.readthedocs-hosted.com/en/latest/inside/conventions/objects_and_layouts.html

[2022-02-25 22:44] willmayfield commented on #2068
@TaraJensen @JohnHalleyGotway @hsoh-u @robdarvell I heard from IODA developer who said these test files above should have a stable layout, meaning the group hierarchy within netcdf, but that many of the names of variables/groups will soon be changing, to be finalized sometime this spring.

[2022-03-02 04:10] #1918 closed, assigned to JohnHalleyGotway, j-opatz

[2022-03-02 16:49] JohnHalleyGotway opened #2078 "Create the MET 10.1.0-beta6 release"
## Describe the Task ##
This task is to create the MET 10.1.0-beta6 release.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue required.

### Relevant D

[2022-03-02 17:32] JohnHalleyGotway commented on #1277
@rgbullock, the GitHub actions testing workflow flagged an issue with this.

[code]

Here's a simple test to demonstrate:
[code]

Can you please take a look at this on the feature_1277_develop_slashes branch?

[2022-03-02 18:55] #1259 closed, assigned to JohnHalleyGotway, j-opatz

[2022-03-02 20:31] #2078 closed, assigned to JohnHalleyGotway

[2022-03-02 20:41] BinbinZhou-NOAA commented on #1259
John,

   This new update means, in the new MET version  if clim-mean and
clim-stdev are used as reference and without explicitly defining the
thresholds in ensemble_stat verification, probabilistic scores can be got
from ECNT line type?

Binbin

[2022-03-02 21:11] JohnHalleyGotway opened #2081 "Update the GRIB2 MRMS table in MET."
## Describe the Enhancement ##
@hertneky raised this issue via GitHub discussions in dtcenter/METplus#1467.

This issue is to update MET's GRIB2 table to match the current MRMS usage, which can be found here:
https://www.nssl.noaa.gov/projects/mrms/operational/tables.php

Updating the tables should be relatively straight-forward. We just need to confirm that this change doesn't cause any differenc

[2022-03-02 21:58] JohnHalleyGotway commented on #1259
@BinbinZhou-NOAA, yes, this should finally be doing what you were looking for a few years ago.

You can run Ensemble-Stat, providing a climo mean and standard deviation in the config file, and request probabilistic output. If you provide explicit thresholds using the prob_cat_thresh option, then those thresholds will be applied. If you leave prob_cat_thresh empty, but do request climo bins, then i

[2022-03-02 23:08] BinbinZhou-NOAA commented on #1259
John,

  Thanks for the detailed explanations. As for CDP setting, current
">=CDP10.00000". is fine
for our global ensemble verification.  I think this  also should be fine
for other global ensemble verifications.

Binbin

[2022-03-02 23:26] JohnHalleyGotway commented on #2081
Digging into some of the details here.
- In the past, we've pull GRIB table definitions from wgrib2.
- The wgrib2 source code can be found here:
   ftp://ftp.cpc.ncep.noaa.gov/wd51we/wgrib2/wgrib2.tgz
- In grib2/wgrib2, I see 29 scripts named "get_code_Table_X.Y.sh" for various X.Y values.
- Each of those scripts retrieves data from this GitHub repo: https://github.com/wmo-im/GRIB2
- However, afte

[2022-03-03 17:14] JohnHalleyGotway commented on #1815
Note that this issue was also discussed with the MetOffice on March 3, 2022. They have configured METplus to read data for 76 different levels. The config file is VERY long and difficult to maintain and is built upon the assumption that all levels are present and in sequence.

According to @mpm-meto, that is a reasonable assumption for operational data, but is NOT a good assumption when using data

[2022-03-03 19:33] BinbinZhou-NOAA commented on #1259
John,

   Per request by Julie to test the new released MET_10.1.0_beta6  for
github #1259 <https://github.com/dtcenter/MET/issues/1259> ,
Yes I did it  by  GEFS's  500mb Height. The running is  successful and the
stat file was generated.
But I am not for sure the results are correct or not.  Could you please
double check my output files
 so I can reply to Julie?  The testing directory on VENUS is

[2022-03-03 20:40] JohnHalleyGotway commented on #1259
@BinbinZhou-NOAA I wanted to mention that @j-opatz and I discussed this more internally and decided that we'd prefer to report the OBS_THRESH for the PSTD BIN_MEAN line as "==CDP10" instead of ">=CDP10". I realize it's a very small difference, but I'd rather make it now while I remember all the details than have to remember how to explain those details later!

I committed this change today via dtc

[2022-03-03 21:38] BinbinZhou-NOAA commented on #1259
John,

    No objection for that change.
    Sure I will test both ways and compare their results.
Actually I have already done the second way, i.e. directly run
Ensemble_stat to get the probabilistic type PSTD, etc.
Checking BIN_MEAN PSTD data in the output stat file ,  yes, I can find
BIN_MEAN for PSTD  data line as
shown below:

V10.1.0 GEFS  NA   2400000   20210306_000000 20210306_000000 00000

[2022-03-03 22:39] JohnHalleyGotway commented on #1259
Binbin,

Yes, you'd configure Ensemble-Stat (or Gen-Ens-Prod) to run with:
[code]

And in the ensemble dictionary, you'd reference the CDP thresholds, something like this:
[code]

In the Point-Stat config file, you'll verify the NetCDF output from Ensemble-Stat. It'll look something like this:
[code]

[2022-03-04 14:36] mpm-meto commented on #1055
I've tested plot_data_plane on forecast and observed fields and it produced postscripts fine. I've also run GridDiag on these files and produced a netcdf file as output.
![image](https://user-images.githubusercontent.com/64001904/156782472-132c11a0-5978-4d21-a547-8f75a7136414.png)

[2022-03-04 19:09] BinbinZhou-NOAA commented on #1259
John,

   For testing the second way (first run ensemble_stat and then Grid_stat),
when running ensemble_stat,
the error message says:

ERROR  : Simple_Node::check(double, double, double) const -> climatological
distribution percentile threshold ">=CDP10" requested with invalid mean
(-9999) or standard deviation (-9999).

Binbin

[2022-03-04 19:18] JohnHalleyGotway opened #2085 "Reimplement the pntnc2ascii.R utility Rscript in Python."
## Describe the Enhancement ##
This issue arose via this [METplus Discussion](https://github.com/dtcenter/METplus/discussions/1472). The METplus team recommended that @PerryShafran-NOAA run the pntnc2ascii.R Rscript to dump the NetCDF output from PB2NC prior to interrogating that data further. That script is very useful and really helps with debugging, but it cannot be run on WCOSS or Hera due to

[2022-03-04 19:35] JohnHalleyGotway commented on #1259
@BinbinZhou-NOAA yes, that error message indicates that you're using a climo-based threshold without sufficient climatology data (mean and standard deviation) provided in the config file.

This could happen for one of two reasons:
1. Your MET configuration file does not include the "climo_mean" and "climo_stdev" settings needed to derive this.
2. You did provide that data in the config file, but t

[2022-03-04 20:05] BinbinZhou-NOAA commented on #1259
John,

  i can confirm that both clim_mean and clim_stdev are defined in the same
testing directory

The testing directory
is /gpfs/dell2/emc/modeling/noscrub/Binbin.Zhou/met/gens_met_10.1.0_beta6
The running script is run_way2.sh
All required files are stored in the testing directory
The way1_output is the results of  run_way1.sh  that only runs
ensemble_stat to get all required probabilistic sco

[2022-03-06 00:27] JohnHalleyGotway commented on #1259
Binbin, my apologies for sending your bad directions. You should be able to use the gen_ens_prod tool instead of the ensemble_stat to compute those climo-based probabilities.

Here's why...
The Ensemble-Stat config file contains settings for the "ens", "fcst", "obs", "climo_mean", and "climo_stdev" dictionaries. Note that the "ens" dictionary will be removed in MET version 11.0.0 since it is repla

[2022-03-07 17:25] j-opatz commented on #1940
From the METplus telecon today (3/7/22), this issue was elevated to a requirement for official release. It's also been affirmed that we'll use one file to store all of the regional files, which will create a list-style access in MET.

When we get to the testing/acceptability phase, we need to loop in Logan (@LoganDawson-NOAA) and Mallory (@malloryprow).

[2022-03-07 17:56] BinbinZhou-NOAA commented on #1259
John,

  Thanks for your checking and suggestions. The testing of the first way
was successful  and all required probabilistic line types are generated.
As for the second way, since ensemble product generation has been separated
from Ensemble_stat after  MET_10.1.0,  using the new tool ens_prod_gen to
generate probability at first, then use grid_stat to generate those prob
line types. The testing

[2022-03-07 18:39] JohnHalleyGotway commented on #1824
@hsoh-u I'm reopening this issue for a small amount of additional work requested.

During the NOAA METplus telecon on 3/7/2022, @PerryShafran-NOAA reported that his testing revealed that the derived MLCAPE values are reasonable, which is great news. However, he also noted that the log messages were a little confusing in that they failed to distinguish between CAPE and MLCAPE.

@TaraJensen requeste

[2022-03-08 16:02] BinbinZhou-NOAA commented on #1259
The comparion between the 2ways shows that the results are verify closed.
Thanks!

Binbin

[2022-03-08 16:09] JohnHalleyGotway commented on #1259
Whew! That's excellent news and a relief. Thank you very much for testing this.

[2022-03-08 17:39] #1824 closed, assigned to hsoh-u, hertneky, PerryShafran-NOAA

[2022-03-08 18:43] JohnHalleyGotway commented on #1583
The GitHub action testing workflow for METplus [flagged differences](https://github.com/dtcenter/METplus/runs/5458867319?check_suite_focus=true) in the use case output from MET. On 3/8/22, @georgemccabe and I examined those differences and determined that 2 of the 3 of them are the direct and expected result of recent development and fixes in MET.

However, the 3rd difference in the output from En

[2022-03-08 19:53] georgemccabe commented on #1918
Looking at the logic for EnsembleStat and GenEnsProd, I think you are right that the integer argument is not needed. I think it was needed previously while I was doing development, but the final solution does not actually require it.

If ctrl_info is not set, then I believe we still need the field info of the first field instead of NULL because we need to pass that information to read the control

[2022-03-08 23:57] JohnHalleyGotway commented on #2081
@hertneky can you please share the custom grib2_mrms.txt file you're currently using?

[2022-03-09 00:15] JohnHalleyGotway opened #2092 "Create the MET-10.1.0-rc1 release"
## Describe the Task ##
This task is to create the MET 10.1.0-rc1 release.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue required.

### Relevant Dea

[2022-03-09 03:56] #1275 closed, assigned to rgbullock

[2022-03-09 15:52] hertneky commented on #2081
@JohnHalleyGotway I am not sure it's useful as I only added a handful of the new fields to the existing grib2_mrms.txt that were needed for the WPC work, but here it is.
[grib2_mrms.txt](https://github.com/dtcenter/MET/files/8216056/grib2_mrms.txt)
I saw there were a number of name changes from older data to newer data, which I wouldn't know how best to handle.

[2022-03-10 04:37] JohnHalleyGotway commented on #1184
Reopening this issue.

Merging in the [multi-variate MODE PR](https://github.com/dtcenter/MET/pull/2088) into develop triggered a [testing workflow run](https://github.com/dtcenter/METplus/actions/runs/1960579387) for METplus. But 6 of the 44 testing groups failed with runtime errors from MODE. So while the changes didn't break the MET regression tests, they did break the METplus ones.

All of the

[2022-03-10 17:51] #1184 closed, assigned to JohnHalleyGotway, rgbullock

[2022-03-11 00:55] #2092 closed, assigned to JohnHalleyGotway

[2022-03-11 01:12] #1583 closed, assigned to JohnHalleyGotway, mpm-meto

[2022-03-11 19:24] JohnHalleyGotway commented on #1940
The compressed MET release [tarfile](https://github.com/dtcenter/MET/releases/download/v10.1.0-rc1/met-10.1.0-rc1.20220310.tar.gz) is 65M in size. Untarred/unzipped, it's 244M.

A compressed 1km Bukovsky NetCDF file is 363K in size. Unzipped, it's 302M!

If this is included in the MET release, can it be compressed?

[2022-03-11 19:45] LoganDawson-NOAA commented on #1940
@JohnHalleyGotway yes, I believe the file can be compressed. In that situation, we would need to copy the file from the location where MET is installed on NOAA HPC systems, and uncompressed the file in a location where we can use it for verification (likely something like a fixed file directory in our EMC Verification System on WCOSS/2).

I think that situation will work fine, but it makes me wond

[2022-03-11 19:59] JohnHalleyGotway commented on #1940
@LoganDawson-NOAA sure we can definitely host it on the DTC website as needed. Ideally, we'd add one or more EMC Verification System-based use cases to METplus. And those use cases would make use of the Bukovsky regions. And that file would fit naturally into one of these [METplus_Data](https://dtcenter.ucar.edu/dfiles/code/METplus/METplus_Data/) use case input data directories.

Prior to that poi

[2022-03-11 20:02] LoganDawson-NOAA commented on #1940
@JohnHalleyGotway ok great. Let's go with the solution you've suggested.

[2022-03-11 21:02] sethlinden commented on #1950
Hi @robdarvell I am just starting to work on this task. John and I thought it would be a good idea to do some testing with a much larger, more realistic station list (to test the searching / sorting of stations). For my testing, I'm running point_stats on a NAM forecast file (that covers the CONUS). Can you send a sample station list that the MetOffice actually uses: either for CONUS or global or

[2022-03-14 13:38] TaraJensen commented on #1592
Found this issue in the MET v11.0.0 beta 1 project but it was completed in conjunction with [#1184](https://github.com/dtcenter/MET/issues/1184) PR so closing it without its own PR.

[2022-03-14 13:38] #1592 closed, assigned to lindsayrblank

[2022-03-14 15:33] JohnHalleyGotway opened #2097 "Create the MET v10.1.0 release"

[2022-03-14 16:15] DanielAdriaansen opened #2098 "Tidy up documentation for Gen-Ens-Prod"
*Replace italics below with details for this issue.*

## Describe the Task ##
Small changes to Gen-Ens-Prod documentation while noted during training development

### Time Estimate ###
1 hour

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
*List relevant project deadlines here or state NONE.*

### Fund

[2022-03-14 18:45] #2098 closed, assigned to DanielAdriaansen

[2022-03-14 20:39] #2097 closed, assigned to JohnHalleyGotway

[2022-03-15 22:56] JohnHalleyGotway opened #2101 "Enhance MET to make the specifying `set_attr` options for multiple variables and levels more concise."
## Describe the Enhancement ##
This feature request arose via GitHub discussions in dtcenter/METplus#1513. The user is specifying a whopping 77 input variables to be verified. They are spread across geopotential_height, air_temperature, relative_humidity, and a few variations of height levels.

For some of these variables, the user is specifying multiple levels from a NetCDF input file. However, t

[2022-03-16 11:09] robdarvell commented on #1950
Hi,
I have put a file onto the ftp server which contains a series of station lists as examples as to what we use. We don't have an exact list covering the areas which you refer to above.
The list of stations lists which are included are mentioned at the top. Some of the lists are quite long, which may assist in your task. You will also see some lists which are just a single site (eg: 71000). With

[2022-03-17 20:00] hsoh-u opened #2102 "Fix regression test differences in pb2nc and ioda2nc output"
*Replace italics below with details for this issue.*

## Describe the Problem ##
*Provide a clear and concise description of the bug here.*

### Expected Behavior ###
*Provide a clear and concise description of what you expected to happen here.*

The  latest build should produces the same outputs with the reference build
  1. test_output/ioda2nc/[odb_sonde_16019_all.nc](http://odb_sonde_16019_all.

[2022-03-17 22:01] #1996 closed, assigned to hsoh-u

[2022-03-18 17:14] fipoucat opened #2105 "install error ubuntu"
I am facing an install issue on ubuntu pc, below error message from make.log

usr/bin/g++ -DHAVE_CONFIG_H -I. -I../../..  -I../../../src/basic/vx_cal -I../../../src/basic/vx_config -I../../../src/basic/vx_log -I../../../src/basic/vx_math -I../../../src/basic/vx_util -I../../../src/libcode/vx_afm -I../../../src/libcode/vx_analysis_util -I../../../src/libcode/vx_color -I../../../src/libcode/vx_data2

[2022-03-21 16:15] georgemccabe commented on #1940
A tar file with the 1km masking regions are available in a temporary location on the web here: https://dtcenter.ucar.edu/dfiles/code/METplus/METplus_Data/Bukovsky_1km.tgz
Per discussion in the METplus NOAA Telecon today, it is not urgent to make these files available on WCOSS and more investigation into these data may be needed to determine a suitable access point for them.

[2022-03-23 19:25] davidalbo commented on #2072
Email from @KathrynNewman:

I've got it to where I can run in the debugger.  @KathrynNewman  if you can give me an example I can move forward.  Needed would be input data, command line you'd use, and config file/files.  If I make changes and test, I could give you the output to look at.

[2022-03-23 19:36] j-opatz opened #2106 "Fix OpenMP compilation error for GCC 9.3.0/9.4.0"
## Describe the Problem ##
A user [Discussions](https://github.com/dtcenter/METplus/discussions/1529) alerted us to this issue. It appears that with the higher GCC versions, specifically 9.3.0 and 9.4.0, there is an error with shared OpenMP variables when `default(none)` is used. This was not seen in our development due to NCAR's systems running on GCC 8.3.0.

The linked Discussions will provide b

[2022-03-23 21:30] sethlinden commented on #1950
@JohnHalleyGotway I've been doing some timing tests today using some bigger lists. First it was not clear initially how to use the StationList_Options that Rob put on the ftp server (I did grab that and look at it).

But I have been comparing my feature-branch version of point_stats to a development branch version.
The feature branch version uses sorted vectors and the lower_bound search. The deve

[2022-03-23 21:57] sethlinden commented on #1950
@JohnHalleyGotway should I check in the test/config/SID_CONUS.txt

Also should I check in the new version of PointStatConfig_MASK_SID which uses:

sid   = [ "KDEN", "${CONFIG_DIR}/SID_CONUS.txt" ];

Wasn't sure if we wanted to update the test for this?

[2022-03-24 22:05] KathrynNewman commented on #2072
@davidalbo, Great! Where would it be best to put the input file, etc? I'm currently running tc-rmw on Hera (NOAA), but I can easily move a sample down to a RAL machine (Seneca? Kiowa?) for you.

[2022-03-24 22:15] davidalbo commented on #2072
@KathrynNewman  You can try putting everything here:

seneca:/d1/personal/dave/test-issue2072

If you can't write there, somewhere else on seneca where I can get to would be fine.

[2022-03-25 22:09] j-opatz commented on #1940
I've created an ensemble netCDF file of the regions: it's located on Seneca, under/d1/personal/jopatz/workbench/Bukovsky/Bukovsky_regions.nc.

@JohnHalleyGotway take a look and see if this format is acceptable for MET. If not, I can tweak whatever we need.

[2022-03-28 03:26] KathrynNewman commented on #2072
@davidalbo - I couldn't write there, so I put the example case files under my space on seneca:/d1/personal/knewman/test-issue2072

Let me know if you have any questions!

[2022-03-28 16:46] davidalbo commented on #2072
@KathrynNewman  I can see everything, looks like I want to create this netCDF file:

florence06l.2018090700.fv3r_13km.nc

I can make changes until I can see that I've put the new fields into it, then hand off to you to view and give thumbs up or down.

[2022-03-28 23:18] #2102 closed, assigned to hsoh-u

[2022-03-29 18:45] sethlinden commented on #1950
@JohnHalleyGotway I was able to use part of Rob's StationList_Options, I used the section: "2001 CBS North America station list (60N-25N, 145W-50W)"...but this is only 100 sites. Testing point-stats using this list and the CONUS_METAR list (1579)...still seeing just small differences in timing (feature branch with sort and lower_bound) only about 1 second faster. Looking at code to see if I can op

[2022-03-29 21:10] davidalbo commented on #2072
@KathrynNewman  please have a look at this on seneca:

/d1/personal/dave/florence06l.2018090700.fv3r_13km.nc

It's a first rough version, may or may not look reasonable.
New fields in the netcdf output flle:

	double VR(range, azimuth, pressure, track_point) ;
		VR:long_name = "Radial Velocity" ;
		VR:units = "m/s" ;
		VR:_FillValue = -9999. ;
	double VT(range, azimuth, pressure, track_point) ;

[2022-03-29 22:16] sethlinden commented on #1950
Getting slightly faster results using just upper_bound. Still experimenting with the code in string_array.cc.

[2022-03-29 22:56] JohnHalleyGotway opened #2110 "Enhance TC-Gen to quantify GTWO shapefile misses in space and time."
## Describe the Enhancement ##
This feature request came via @halperin-erau based on feedback on his TC-Gen presentation at the Interdepartmental Hurricane Conference in March 2022. The requested changes apply to the verification of GTWO shapefile areas specified using the "-shape" command line option.

Each shapefile has a corresponding probability of genesis value. TC-Gen checks the BEST track d

[2022-03-30 19:28] j-opatz opened #2112 "Add the point-to-point 75th quantile Hausdorff Distance to the DMAP line type"
## Describe the New Feature ##
In order to replicate the marine and cryosphere verification package at EMC and meet one of METplus' verification goals, we need to create a 75th Quantile Hausdorff Distance Metric column output in MET. This is also listed as one of EMC's gaps in verification. This can be in the same line type as the current Hausdorff output.

The largest obstacle for this work will

[2022-03-31 16:49] JohnHalleyGotway opened #2115 "Fix support for reading rotated lat/lon grids from CF-compliant NetCDF files"
## Describe the Problem ##
This issue was raised via dtcenter/METplus#1530. MET version 10.1.0 was enhanced to read rotated lat/lon grids from CF-compliant NetCDF files in dtcenter/MET#1055. This [comment illustrates](https://github.com/dtcenter/MET/issues/1055#issuecomment-1030508740) that it appears to be successful in doing so. However that sample data was somewhat lacking since there is no obv

[2022-03-31 16:57] JohnHalleyGotway commented on #2115
Note that I also tested plotting this data via Panoply and the data does align well with the map data in the resulting image :
<img width="208" alt="Screen Shot 2022-03-31 at 10 54 40 AM" src="https://user-images.githubusercontent.com/21087144/161109286-a670a72b-fb8d-4655-89c9-ed85da692286.png">

However, whenever I try to zoom the plot in any way, the image goes away and is replaced by all 0's:
<

[2022-03-31 17:34] JohnHalleyGotway commented on #2115
While the CF-convention specifies the location of the North Pole, MET instantiates the rotated lat/lon grid using the location of the South Pole since that's how its specified for GRIB2.

And that derivation is *probably* where the bug lies... on [this line of code](https://github.com/dtcenter/MET/blob/b46fa0450420572bf516a5156b9eb815a5ac8e50/met/src/libcode/vx_data2d_nccf/nccf_file.cc#L2436).

In

[2022-03-31 20:06] sethlinden commented on #1950
After meeting with John yesterday I implemented a new has() function that calls binary_search and returns true or false if the text string is found. I also re-worked the other versions of has() to be compatible /  backwards compatible.

I looked into ways to do a faster Case Insensitive search (IgnoreCase true) but it would require using the boost library, so based on that, I did not implement it.

[2022-03-31 21:14] CPKalb opened #2118 "Fix support for reading rotated lat/lon grids from GRIB1 files (grid type 10)"
## Describe the Enhancement ##
When trying to read cosmo data, the following error is generated: ERROR  : gds_to_order() -> Grid type 10 not currently supported.  These files are rotated latitude and longitude grids in grib1 format.
[lfff03080000.gz](https://github.com/dtcenter/MET/files/8422225/lfff03080000.gz)

### Time Estimate ###
1-2 days

### Sub-Issues ###
Consider breaking the enhancement

[2022-03-31 21:35] georgemccabe commented on #2106
Here is the Docker image that contains GCC 9 and the external libraries dependencies:
dtcenter/met-base:unit_test_gcc9

Docker image we have been using that uses GCC 8:
dtcenter/met-base:unit_test

[2022-03-31 21:59] georgemccabe opened #2119 "Enhance automated tests to compile MET using different versions of compilers"
We currently test and develop MET using GCC 8. Users have tried to compile using later versions of GCC and run into compilation errors. #2106 addresses one of the errors that results when using GCC 9.

## Describe the Enhancement ##
Enhance the GHA logic to compile using multiple versions of GCC on a pull request. This can be accomplished using different Docker images that contain the external lib

[2022-04-01 13:41] #2115 closed, assigned to JohnHalleyGotway, robdarvell

[2022-04-01 17:17] sethlinden commented on #1950
Doing a bit more time testing before submitting a pull request. Time differences are most notable for the feature branch using a very large site-list, less noticeable for small site-lists, or using multiple masking site-lists in the config file (due to sorting each vector).

Using just sid   = [ "${CONFIG_DIR}/SID_CONUS.txt" ]; (1579 sites)
Feature  branch, three runs in a row: 0m33.913s, 0m33.898

[2022-04-01 17:48] sethlinden commented on #1950
Attaching the site-list files used for testing.
[SID_CONUS_times11.txt](https://github.com/dtcenter/MET/files/8399941/SID_CONUS_times11.txt)
[SID_CONUS.txt](https://github.com/dtcenter/MET/files/8399942/SID_CONUS.txt)

[2022-04-01 17:51] wangrenz opened #2120 "Increase latitude and longitude decimal precision of MPR output"
## Describe the Enhancement ##
Point_stat OBS_LAT OBS_LON have two decimals of MPR output now.

like this:
[code]

How to increase decimal to tree or more.

Thanks.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
- [ ] *Add a checkbox for each

[2022-04-01 17:55] sethlinden commented on #1950
After checking everything in. Ran: make clean install test. It finished successfully. Going to run unit tests as well.

[2022-04-04 18:22] JohnHalleyGotway commented on #1693
@rgbullock, @TaraJensen recently updated this issue to a "blocker", meaning that we'd like to get it fixed in the first development cycle for MET 11.0.0, [MET-11.0.0-beta1](https://github.com/orgs/dtcenter/projects/20/views/12). Are you available to work on this feature? Perhaps you've already added this functionality in your feature branch and just need to add a test to demonstrate it?

I see you

[2022-04-04 19:01] JohnHalleyGotway commented on #2106
Making progress testing the compilation of MET inside this Docker container for GCC9. The changes in bugfix_2106_main_v10.1_gcc get past the OpenMP compilation error but I'm getting this libz linker error when compiling plot_point_obs.

[code]

Need to debug that next.

[2022-04-04 20:06] rgbullock commented on #1693
Hi John -

I can work on this.  In fact I was going to email you to see what you'd
like me to work on.

Randy

On Mon, Apr 4, 2022 at 12:22 PM johnhg ***@***.***> wrote:

[2022-04-04 23:58] JohnHalleyGotway opened #2123 "Fix support for int64 NetCDF variable types."
## Describe the Problem ##
While running plot_data_plane to test out some data for dtcenter/METplus#1551, I ran across some unexpected behavior. I suspect that there's an uninitialized time variable in the vx_data2d_nccf library.

### Expected Behavior ###
When the valid time cannot be parsed from a CF-compliant gridded NetCDF file, it should be reported as unixtime 0, i.e. 19700101. However when

[2022-04-05 13:46] hsoh-u commented on #2123
I cannot reproduce this problem on seneca. Would you add a whole log file with -v 5 or above?

[code]

[2022-04-05 15:22] JohnHalleyGotway opened #2124 "Enhance MET to support the GRIB2 grid definition template number 32769."
## Describe the Enhancement ##
This issue arose via METplus Discussions dtcenter/METplus#1544. NOAA/GSL would like to process full RAP grids directly which is available via GRIB2 files using the grid definition template number 32769. Please see the [Rapid Refresh website](https://rapidrefresh.noaa.gov/) for additional details and recent sample data is available from the [NCEP FTP site](ftp://ftppr

[2022-04-05 16:43] JohnHalleyGotway opened #2125 "Enhance MET to support $MET_OUTPUT_PRECISION as an environment variable"
## Describe the Enhancement ##
This development idea arose via dtcenter/METplus#1548. Please see [this comment](https://github.com/dtcenter/METplus/discussions/1548#discussioncomment-2503994) for more background.

This task is to enhance MET by adding support for a new environment variable named $MET_OUTPUT_PRECISION. If set, its value would be used and override any setting of the "output_precisio

[2022-04-05 18:16] JohnHalleyGotway commented on #2123
@hsoh-u, while I have this issue easily reproducible on my machine and in front of me, I'll reassign to myself and take a look at it. Thanks for taking a look on seneca.

[2022-04-05 18:52] JohnHalleyGotway commented on #2123
@hsoh-u please try testing again on seneca. However, this time use the newly created bugfix_2123_main_v10.1_nccf_valid_time branch. I modified nccf_file.cc to explicitly initialize newly allocated memory to non-zero values (-10). That should make the error reproducible every time you run it.

I wasn't sure exactly how the time info should be handled in this case, so I'd like to hand it back off to

[2022-04-05 22:57] JohnHalleyGotway commented on #2118
- Here's the COSMO website:
https://www.cosmo-model.org/content/model/documentation/grib/default.htm

- Running wgrib on the sample data file provides results in:
[code]

I sure wish we actually had a sample GRIB1 file on a rotated lat/lon grid that did not have the south pole at (lat, lon) = (-90, 0). It's also curious that dx = dy = 0.

- Attempting to independently plot this data with Panoply y

[2022-04-06 16:15] JohnHalleyGotway commented on #2123
@hsoh-u I modified the title of this issue to better describe the problem/fix.

[2022-04-06 17:42] CPKalb commented on #2118
Thanks.  I'm not as savvy with wgrib, so didn't manage to get that much information from the file.  The dx and dy in python looked to be 0.025, so it seems like maybe that isn't not specified correctly in the file?  Could that cause issues getting it into MET directly as a grib file?

I wondered if it actually was rotated, as it didn't seem rotated when I read it into python.  I'm going to see if

[2022-04-06 19:09] JohnHalleyGotway commented on #2118
@CPKalb I made some local edits to the main_v10.1 branch and was able to get plot_data_plane to make this plot using that sample file.

<img width="576" alt="Screen Shot 2022-04-06 at 1 03 43 PM" src="https://user-images.githubusercontent.com/21087144/162049504-c0434edb-04b4-4265-82c3-62cb62942138.png">

Some details.
- @rgbullock had added hooks for partially supporting Rotated Lat/Lon grids in G

[2022-04-06 19:17] CPKalb commented on #2118
I'm not sure if that is what python is doing.  I just printed the lat/lon values and could see that the spacing was 0.025.  Probably it would be good to have logic to get dx and dy in the case that they are 0.  I agree that more data would be better.

I guess the question on my end would be should I go ahead and use python embedding to read these files for uae, or is this addition to MET close to

[2022-04-06 19:25] JohnHalleyGotway commented on #2118
I can add the logic for accommodating this specific grid pretty easily, but I'm very concerned about the underlying assumptions. I can't imagine that these changes are correct.

They'd basically just hard code the south pole location as (lat, lon) = (-90, 0) and the rotation angle as 0.0. That's my concern. It may work for this one grid and no others, but we can't really confirm without more sampl

[2022-04-06 19:30] JohnHalleyGotway commented on #2118
How about it make my proposed hack of a fix on a feature branch and compile it on seneca for you to test out.

While you're doing that, I'll see if I can use cnvgrib and/or wgrib to generate additional sample GRIB1 files on rotated lat/lon grids. The trouble is that I don't see in the GRIB1 spec how a rotation would even be specified. I could also inspect the wgrib source code for clues as to if/h

[2022-04-06 19:33] CPKalb commented on #2118
Yes, that will work!  Thanks

[2022-04-06 20:34] #1950 closed, assigned to sethlinden, robdarvell

[2022-04-06 20:58] JohnHalleyGotway commented on #2118
@CPKalb you can find the bugfix branch for testing in seneca:/d1/personal/johnhg/MET/MET_development/MET-bugfix_2118_main_v10.1_grib1_rotll/met/bin. It's compiling now.

I tested this on my laptop in 2 ways:
1. Plotting the 2m TMP data directly:
[code]
2. Regridding that field to a global lat/lon grid and then plotting the result:
[code]

Here's the resulting images.
<img width="1083" alt="Screen

[2022-04-06 21:05] JohnHalleyGotway commented on #2118
Here are my efforts to get GRIB1 rotated lat/lon data:

1. Run 'cnvgrib1 -g21' on a GRIB2 file... FAILS... produces 0 output file.
[code]

[2022-04-06 22:18] #2123 closed, assigned to hsoh-u, JohnHalleyGotway

[2022-04-07 15:00] TaraJensen opened #2131 "Enhance MTD to compute and write-out Zonal and Meridional Speed"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
This came up in our discussions with PSL with regard to adding Object based diagnostics for S2S.   In essence we have identified that MTD can be used to replicate their technique except they find it useful to have the total speed of the object be broken down into Zonal and Meridional (e-w, n-s) components.  This i

[2022-04-07 15:30] JohnHalleyGotway commented on #2022
Recommend that @JohnHalleyGotway and @sethlinden meet to discuss what changes are needed where. Need to write issues for METdatadb and METviewer.

[2022-04-07 15:51] JohnHalleyGotway commented on #1602
@mpm-meto please review this issue as written. Has this already been addressed via changes to HiRA in Ensemble-Stat in MET version 10.1.0? If so, recommend closing this issue.

[2022-04-07 16:06] JohnHalleyGotway commented on #891
@robdarvell I added you as an assignee to this issue since you are coordinating this discussion across the METplus Governance group. Please feel free to update this issue with more details and plans as they become clear.

[2022-04-07 16:09] JohnHalleyGotway commented on #2124
@JeffHamiltonNOAA can you please clarify how soon this support is required? Would adding it to one of the development cycles for MET version 11.0.0 be sufficient? If so, is it needed for beta1 (5/11/22), beta2 (6/22/22), beta3 (8/3/22), or beta4 (9/14/22)?

[2022-04-07 19:51] JohnHalleyGotway commented on #1840
@bladwig1 I realize that we're very late in responding to this issue. But in a review of open bug reports, we saw this one and would like to address it. Do you by any chance have a sample CF-compliant NetCDF file on a Mercator projection that we could use for testing? Or do you know of a source of them where they are routinely produced?

[2022-04-07 20:26] JohnHalleyGotway commented on #2022
These changes will be similar to #1450 and corresponding PR #1662. Based on that PR, here's where we need to make changes.

Note that anomaly correlation is named ANOM_CORR in the [CNT line type](https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html?highlight=CNT%20line%20type#id11). And "ACC" is already used for accuracy in the [MCTS line type](https://met.readthedocs.io/en/latest/User

[2022-04-07 20:26] bladwig1 commented on #1840
@JohnHalleyGotway I uploaded a file to the ftp.rap.ucar.edu site at /incoming/irap/met_help/ladwig_data/hyhailsize_conus_2022-04-07T18_00_00Z_to_2022-04-07T19_00_00Z.nc

The variable of interest is 'hyhailsize' and it is on a mercator projection in NetCDF-CF format, but the data itself is created from our own system and not from a standard model. This variable is hybrid hail size in mm (called "hy

[2022-04-07 22:01] JohnHalleyGotway opened #2132 "Update MET version number to 11.0.0."
## Describe the Task ##
In beginning development toward the new MET version 11.0.0 release, we need to update the version number from 10.1.0 to 11.0.0. Note that dtcenter/MET#2022 will be modifying existing .stat output lines. So we'll need the updated version number to differentiate between the old vs new output formats.

This task includes:
- Changing the version number in the compiled code.
- A

[2022-04-07 22:04] JohnHalleyGotway commented on #963
Note that this issue resurfaced when beginning work on #2022. The VCNT line type includes many columns for BCL and BCU output. They are currently just hard-coded to write NA. If we're going to have those columns, we should populate them... or decide that populating them isn't worthwhile and remove the BCL and BCU columns.

[2022-04-08 19:18] #2118 closed, assigned to JohnHalleyGotway, CPKalb

[2022-04-08 20:31] JohnHalleyGotway commented on #1840
@bladwig1 Thank you very much! I'll take a crack at it and will follow up here with progress.

[2022-04-08 21:33] JeffHamiltonNOAA commented on #2124
@JohnHalleyGotway, sorry for the delay in replying. I've been trying to get an idea of what to prioritize this functionality from Curtis, but he has been at a JCSDA retreat all week. Adding it to the 11.0.0 development cycle would work great, and if it could be in place by beta3, that would be ideal. Thanks!

[2022-04-08 22:16] JohnHalleyGotway commented on #1840
Well @rgbullock, I definitely need your help on this one. I'm working on branch bugfix_1840_main_v10.1_nccf_mercator. And here's the [Mercator CF-compliant spec](https://cfconventions.org/Data/cf-conventions/cf-conventions-1.9/cf-conventions.html#_mercator) along with this sample data file:
[hyhailsize_conus_2022-04-07T18_00_00Z_to_2022-04-07T19_00_00Z.nc.gz](https://github.com/dtcenter/MET/files/

[2022-04-11 06:58] faisalalnasser13 commented on #1121
Hello, the library looks great, do you have any intentions of developing a python one? Also, I'm interested in applying the 440 675 interpolation, could you guide me to a paper or a document that specifies how is it calculated.

Thanks

[2022-04-11 16:57] #2132 closed, assigned to JohnHalleyGotway

[2022-04-11 19:54] j-opatz commented on #2112
After reviewing the input data, this use case appears to be the comparison of a bipolar coordinate system and point data.
The forecast data is from RTOFS model, tracking the 12C isotherm at 400m. While the model itself is on a grid, tracking the isotherm appears to vary and will not be on a consistent grid.
To observation data is from the NAVOCEANO Ocean Frontal Analysis, an ASCII file that is str

[2022-04-11 21:23] JohnHalleyGotway commented on #2022
@ericgilleland we're looking for some advice from you.

This issue adds anomaly correlation computed from vector partial sums, as defined by:
[code]

Two questions for you.

1. I see that anomaly correlation in the CNT line type (ANOM_CORR) includes parametric confidence intervals (ANOM_CORR_NCL and ANOM_CORR_NCU). It's computed starting on this line of code:
https://github.com/dtcenter/MET/blob/a

[2022-04-11 23:16] #2106 closed, assigned to JohnHalleyGotway

[2022-04-12 13:32] ericgilleland commented on #2022
The parametric CI's are being computed using Fisher's transformation.  What
is different about the vector-based?  That is, I guess I don't know what
you mean by vector partial sums. Are you talking about partial
correlations?  That is, removing the effect of a confounding variable?  If
so, then yes, the Fisher's transform still applies.

In terms of the uncentered v. centered, usually correlation

[2022-04-12 16:15] sethlinden commented on #2022
@JohnHalleyGotway based on @ericgilleland reply sounds like we should add the parametric confidence intervals for the VCNT anomaly correlation? But I'll wait for you to chime in about his question in regards to vector partial sums. I know you are in the MET workshop today.

[2022-04-12 20:39] JohnHalleyGotway commented on #2022
Additional tasks:

- See the [CIInfo](https://github.com/dtcenter/MET/blob/2b109502a82124ae767771b6b950ee7bf4c80ebd/met/src/libcode/vx_statistics/met_stats.h#L28) class and note its usage in the [CNTInfo class](https://github.com/dtcenter/MET/blob/2b109502a82124ae767771b6b950ee7bf4c80ebd/met/src/libcode/vx_statistics/met_stats.h#L182). Update the VL1L2Info class to switch from double to CIInfo any

[2022-04-15 18:25] JohnHalleyGotway opened #2139 "Enhance Ensemble-Stat to support the use of Gen-Ens-Prod output in the -ens_mean command line option."
## Describe the Enhancement ##

After the introduction of the Gen-Ens-Prod tool in MET version 10.1.0, #1908 removes the ensemble post-processing logic from Ensemble-Stat. With this change, users will likely run Gen-Ens-Prod to generate products, including the ensemble mean, and also run Ensemble-Stat to evaluate the ensemble. The question of handling the ensemble mean arises, since it can be comp

[2022-04-18 16:37] JohnHalleyGotway commented on #1840
Moved this issue from the MET-10.1.1 bugfix release milestone to MET-11.0.0. I need support from @rgbullock to make progress on the one.

[2022-04-18 19:29] JohnHalleyGotway opened #2140 "Refactor GribFileRep class to leverage C++11 shared pointers."
## Describe the Enhancement ##

Enhance the GribFileRep class to leverage C++ shared pointers. C++11 adds supports for smart pointers, including shared pointers which handles reference counting. See item 19 in https://archive.org/details/pdfy-SxoJKZNFSGIrncb7/mode/2up.

The GribFileRep class currently handles reference counting on its own and is a good candidate to consider refactoring using share

[2022-04-19 16:08] JohnHalleyGotway opened #2141 "Create the MET v10.1.1 release"
## Describe the Task ##
Create the MET v10.1.1 bugfix release.

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
None needed.

### Relevant Deadlines ###
*List relevant project deadlines here or state NONE.*

### Funding Source ###
*Define the source of funding and account keys here or state NONE.*

## Define the Metadata ##

### Assignee ###
- [x

[2022-04-19 16:59] DanielAdriaansen opened #2142 "Add support for EPA AirNow ASCII data in ASCII2NC"
## Describe the New Feature ##
Per dtcenter/METplus#1515 and @PerryShafran-NOAA, the EPA will switch from providing BUFR to providing ASCII data to NOAA. The new feature is to add support for this new dataset to ASCII2NC.

### Acceptance Testing ###
Sample files exist on seneca here: /home/dadriaan/projects/airnow/shafran_data/

From dtcenter/METplus#1515:

There are four file types:
1) "HourlyAQO

[2022-04-19 16:59] DanielAdriaansen commented on #2142
@JohnHalleyGotway I wasn't sure what milestone, project, or requestor to select but I did my best. Same with priority.

[2022-04-19 17:49] hertneky opened #2143 "Enhance MTD to support grid/poly masking in the config file"
## Describe the Enhancement ##
Currently the MTD use-cases do not have grid/poly mask functionality. (See discussion [#1522](https://github.com/dtcenter/METplus/discussions/1522))

For the MTD configuration, add the functionality for grid/poly masking, similar to what is available for other tools.

Related METplus issue: [#1575](https://github.com/dtcenter/METplus/issues/1575)

This is needed for

[2022-04-19 18:53] #2141 closed, assigned to JohnHalleyGotway

[2022-04-21 20:54] JohnHalleyGotway commented on #1940
@j-opatz finally taking a look at this. I see that this data is stored as a 3-dimensional array of doubles:
```double landmask(region, lat, lon);```
That yields a whopping 11GB file.
If we keep it this way, we should switch the ```double``` to something smaller (boolean or integer). Another alternative would be storing a single field of integers, as is done in this this file:
https://github.com/dt

[2022-04-21 22:50] JohnHalleyGotway commented on #1940
@j-opatz and @LoganDawson-NOAA, I have a question about the dimensions.

- Longitude:
  - from -159.75 to -29.75 = 130 degrees
  - 13050 longitudes
  - delta lon = 0.009962 degrees
- Latitude:
  - from 15.25 to 75.25 = 60 degrees
  - 6059 latitudes
  - delta lat = 0.009904

This seems awfully suspicious and a total missed opportunity for simplicity. Shouldn't we have made it a 6001 x 13001 grid wi

[2022-04-22 15:47] KathrynNewman commented on #2072
@davidalbo - I took a look at the sample file. The new fields look good, those names and grid dimensions work. I am a little confused by Vt - I'm seeing negative values, which doesn't seem right... I believe it should be all positive. How is Vt being calculated?

[2022-04-22 16:50] JohnHalleyGotway commented on #1940
@j-opatz and @LoganDawson-NOAA, here's some further developments.

- MET does NOT like this NetCDF format because that lat/lon spacing does NOT remain constant. Reading it into a MET tool produces this error message:
[code]

- The non-constant lat/lon deltas suggest that it is NOT actually defined on a true lat/lon grid. Here are histograms of the deltas. Very close to 0.01, but not quite, and the

[2022-04-22 17:01] LoganDawson-NOAA commented on #1940
@JohnHalleyGotway thanks for doing all this digging into the issue!

I haven't used the high-resolution file myself at all, so I wasn't aware of these issues with that lat/lon grid definitions. Your proposed solution sounds reasonable to me!

[2022-04-22 20:15] davidalbo commented on #2072
@KathrynNewman I'll hit this hard next week, on another project till then.  I'm just guessing, would have to look into the calculations, could it be that if you were looking out a radial the tangential wind could be to the right positive or to the left negative?  Or the other way around?   I could easily be misinterpreting completely.

[2022-04-22 20:35] KathrynNewman commented on #2072
Sounds good. I think you are thinking about it correctly when considering a fixed coordinate system. But for the Tropical Cyclone community, the definition is 'the component of the velocity directed along the velocity vector/streamline'. Therefore, by definition it needs to be positive. This is using natural coordinates - so always following the flow.

for Vr, it's always the direction perpendicul

[2022-04-22 21:23] jvigh commented on #2072
Hi Katherine and Dave -- I couldn't help but track along on this discussion.

What Kathryn says applies to natural coordinate systems, however I think the relevant coordinate system for this tool should be a cylindrical coordinate system. In that system, as conventionally applied to tropical cyclones, tangential wind is considered positive in the _cyclonic_ wind direction. So if your back is to th

[2022-04-22 21:51] davidalbo commented on #2072
Interesting.  I'll share the algorithm that does the conversion when I have time to get in there and take a good look.

[2022-04-22 22:33] KathrynNewman commented on #2072
Thanks for weighing in, Jonathan. It's important to make sure we are consistent with the expectations of the user community. Bottom line - the current file has equal magnitude oscillating positive/negative values of Vt, which requires some further attention.

[2022-04-25 23:24] davidalbo commented on #2072
Wondering if this capability was never fully implemented or tested.  I'm getting what seems like bugs running it slowly through the debugger, using the existing conversion method.

The first point in the input (path?)  has a lat,lon of 25,50 which converts to **range_km=NAN** and azimuth_deg=54.95.  Obviously the NAN is problematic.  Also the first point has input **U,V values of -9999, -9999** wh

[2022-04-26 19:43] davidalbo commented on #2072
I think I've isolated the 'NAN' problem.  In the file earth_rotation.cc line 102:

https://github.com/dtcenter/MET/blob/main_v10.1/met/src/libcode/vx_grid/earth_rotation.cc#L102

the call to SO3:forward returns z_rot =  1.0000000000000007

which looks to me like a precision roundoff sort of error, it should probably be 1.0.
Something to do with the particulars of this rotation.

The next line meth

[2022-04-27 15:14] jprestop opened #2146 "Enhance the Release Notes by adding dropdown menus"
Please use [Sphinx Design for Dropdown menus](https://sphinx-design.readthedocs.io/en/latest/dropdowns.html) . This will allow for searches of material hidden within dropdown menus.

Changes will need to be made to the below files:
1.  config.py
    add 'sphinx_design' to the "extensions =" section.  (note the underscore.)
2.  requirements.rst file.
    add 'sphinx-design==0.3.0' with a dash
3. ME

[2022-04-27 21:41] j-opatz opened #2147 "Allow 2x2 HSS calculations to include user-defined EC values"
## Describe the New Feature ##
During the latest working session with CPC, it was determined that the method for calculating HSS for multi-categorical thresholds differs from MET.

MET method: Fill in the NxN contingency table, using the user-defined cat_thresh on the forecast and observation fields for each gridpoint. Sum Hits and Misses across the bins, and use the HSS equation to calculate 1 HS

[2022-04-27 22:32] JohnHalleyGotway commented on #2147
@j-opatz I took a look and see that the HSS statistic already appears in column 77 of the [CTS line type](https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html#id9), column 35 of the [MCTS line type](https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html#id13), column 77 of the [NBRCTS line type](https://met.readthedocs.io/en/latest/Users_Guide/grid-stat.html#id11), and column

[2022-04-28 01:59] j-opatz commented on #2147
I think you've sussed out a solution well: if hss_ec_value is specified, use it for whatever line type is requested. The only issue I could see happening is where multiple thresholds are desired, but a user wants each one evaluated for its own HSS value. That would require n calls to a tool for CTS line type, which could get lengthy...I don't know if there's a realistic implementation using MCTS,

[2022-04-28 17:25] JohnHalleyGotway commented on #1910
Recommend gathering feedback from users about this potential change. The worry is that it'd break lots of existing config files.

[2022-04-29 16:09] JohnHalleyGotway commented on #2022
Based on our meeting on 4/29/2022, I suspect we need to do the following:
- [x] @sethlinden will complete the first round of adding vector anomaly correlation and push changes to GitHub. Actually compute the uncentered version but report the centered version as bad data. Be sure to add output columns for ANOM_CORR_NCL/NCU and BCL/BCU and ANOM_CORR_UNCNTR_BCL/BCU.
- [ ] @JohnHalleyGotway will work

[2022-04-29 16:51] sethlinden commented on #2022
@JohnHalleyGotway all the changes we talked about this morning are completed and pushed up to GitHub. I just ran a "make clean install test" and it all compiled without issue and all the tests ran to completion.

I checked the first box. You can proceed with your changes when you get a chance.

[2022-05-02 15:26] JohnHalleyGotway commented on #1940
Documenting feedback we received from Melissa via email on this issue. Please see below. And this explanation makes the data much easier to work with. There is no need to process them as point data. I plan to use python embedding to manually define the grid, accounting for the shift that Melissa describes, and then regrid it to a 0.01 degree grid.

------------

From Melissa:

Sorry these are caus

[2022-05-02 16:48] JohnHalleyGotway commented on #1940
Feedback from @LoganDawson-NOAA on 5/2/2022. In general we should INCLUDE inland lakes inside the Bukovsky masking regions. Many model runs would not resolve those lakes anyway so they should be included.

[2022-05-02 22:55] JohnHalleyGotway opened #2148 "Fix TC-Gen to only count misses from requested initialization hours and lead times."
## Describe the Problem ##
This issue was raised by @halperin-erau via dtcenter/METplus#1596. I tested TC-Gen and was able to independently verify the unexpected behavior. The TC-Gen tool can stratify results by model initialization hour using the ```init_hour``` config file entry and lead times using ```lead```. While this filtering works when stratifying HITS and FALSE ALARMS, it does not work t

[2022-05-02 23:23] davidalbo commented on #2072
@JohnHalleyGotway , @jprestop I'm looking into adding some additional config parameters to make it optional to convert the UV winds to radial/tangential winds for this app.  Diving into the code it seems maybe a little bigger change than I'd thought it might be, needing changes to the app code AND library code too.   Is there any online documentation on adding a parameter to a config file, or can

[2022-05-03 16:52] JohnHalleyGotway commented on #2072
@davidalbo there is no documentation which details the steps needed to add a new config file option. However, I can point you to a recent example where I did something similar. GitHub issue dtcenter/MET#1870 was fixed by PR dtcenter/MET#1893. And you can see the list of 18 modified files for that PR [here](https://github.com/dtcenter/MET/pull/1893/files).

These files include changes to the defaul

[2022-05-03 17:01] JohnHalleyGotway commented on #1593
Please note that any changes to how Multi-Variate MODE should be run based on this issue should be noted on the METplus issue for the Multi-Variate MODE wrapper (dtcenter/METplus#1585).

[2022-05-03 17:01] JohnHalleyGotway commented on #1283
Please note that any changes to how Multi-Variate MODE should be run based on this issue should be noted on the METplus issue for the Multi-Variate MODE wrapper (dtcenter/METplus#1585).

[2022-05-03 17:01] JohnHalleyGotway commented on #1567
Please note that any changes to how Multi-Variate MODE should be run based on this issue should be noted on the METplus issue for the Multi-Variate MODE wrapper (dtcenter/METplus#1585).

[2022-05-03 19:08] JohnHalleyGotway commented on #2131
@rgbullock can advise on implementation details.

[2022-05-04 22:59] mollybsmith-noaa opened #2151 "Add pcp_combine example to MET Users' Guide"
## Describe the Task ##
I would like to add an example to the users' guide for the `pcp_combine -subtract` option with a list of files. I just used it for the first time and I could not get the syntax right until I found it way down in https://github.com/dtcenter/METplus/discussions/1138. All of the current examples in the users’ guide are either for `-sum` or else only have one file involved inst

[2022-05-05 16:07] JohnHalleyGotway opened #2152 "Enhance Gen-Vx-Mask by adding a new poly_xy masking type option."
## Describe the New Feature ##
This is a request from the UK MetOffice made during the METplus MetOffice telecon on 5/5/2022. @robdarvell ran gen_vx_mask on a rotated lat/lon grid and was surprised by the result. Using a polyline consisting of 4 points, he found that the edges of the resulting mask were curved rather than straight lines.

The existing ```-type poly``` option is performed in lat/lo

[2022-05-05 17:41] JohnHalleyGotway commented on #2152
Please see the image below to demonstrate that these proposed changes do work as expected.
![Screen Shot 2022-05-05 at 11 23 40 AM](https://user-images.githubusercontent.com/21087144/166981011-508a3152-dec2-4459-9db9-1569fc3d8673.png)
The left column shows the application of the existing "-type poly" option while the right column shows the application of the new "-type poly_xy" option. The bottom

[2022-05-05 18:41] #2151 closed, assigned to mollybsmith-noaa

[2022-05-05 22:32] JohnHalleyGotway commented on #2152
@robdarvell and @RachelNorth, please note that I bundled both changes (-type poly_xy and adding the coordinates variable attribute) into this one issue and corresponding Pull Request dtcenter/MET#2154.

Please feel free to review and advise.

[2022-05-06 16:54] #2152 closed, assigned to JohnHalleyGotway, robdarvell

[2022-05-06 23:09] JohnHalleyGotway opened #2155 "Enhance MET to handle CF-compliant time strings with an offset defined in months or years."
## Describe the Enhancement ##
This issue arose via GitHub discussions dtcenter/METplus#1604 and an enhancement to the MET's support for CF-compliant NetCDF files is needed to read WOA climatology files. This enhancement supports development of the NOAA/EMC EVS verification system.

As of MET version 10.1.0, processing CF-compliant data with times defined with a months or years offset results in t

[2022-05-10 15:49] #2148 closed, assigned to JohnHalleyGotway, halperin-erau

[2022-05-10 17:07] davidalbo commented on #2072
@JohnHalleyGotway looking into this now.  It makes sense, I should be able to mimic the pattern for changes you made. I've never used rst format before, but emacs recognizes it, so maybe I can just cut/paste/edit things in emacs to add content to those files that looks like what is already in them. Any other wisdom on editing rst?

[2022-05-10 17:56] JohnHalleyGotway commented on #2072
Restructured Text (rst) is just a lightweight markup language in ASCII. I'd recommend just copy/paste/editing existing content to get the formatting.

Here's my one piece of advice... after committing changes to the documentation in rst and pushing them up to GitHub, Read-The-Docs will automatically go rebuild/rerender the docs for you. Here's the link to the docs for your feature branch:
https://

[2022-05-11 20:00] JohnHalleyGotway commented on #2124
@rgbullock here's a screenshot of what I see when I run Panoply to plot surface temperature from a wrfprs RAP file named "rap.t13z.wrfprsf06.grib2".
<img width="1030" alt="Screen Shot 2022-05-11 at 1 57 11 PM" src="https://user-images.githubusercontent.com/21087144/167935185-c5488a07-18b1-4976-9769-9c4750c8d3bb.png">

I *think* that geographic extent corresponds well to this image from the [RAP we

[2022-05-11 20:28] JohnHalleyGotway commented on #1940
Based on discussion on 5/11/22, recommend the following order of operations:
1. Start with landmasked NetCDF files as input.
2. Process each to apply a CONUS mask (either CONUS.poly or a CONUS shapefile). Remove "internal" holes for water.
3. After 2, run gen_vx_mask to stitch together these regions into 1 field.
4. Run regrid_data_plane with python embedding to regrid to a 0.01 degree lat/lon gri

[2022-05-12 18:20] JohnHalleyGotway commented on #1920
Review the shell scripts that live in the repo and look for needed updates:

There are 54 of them in total.
[code]

1. No updates needed in the 16 in scripts/examples.
  - I ran ```make clean install test``` which exercises them and it runs fine.

2. 12 in internal/test_unit/bin:
  - Deleted 3 stale ones for Stat-Analysis.
  - Found no reference to '/met/' in the other 9. If these do fail, that'll

[2022-05-12 18:53] jprestop commented on #1920
@JohnHalleyGotway I really appreciate all of the detail in your comments above. Regarding:

I believe there are two changes that are needed on lines [796](https://github.com/dtcenter/MET/blob/221ff31369dad847b8dc28cbb030260b3bceee63/internal/scripts/installation/compile_MET_all.sh#L796) and [799](https://github.com/dtcenter/MET/blob/221ff31369dad847b8dc28cbb030260b3bceee63/internal/scripts/install

[2022-05-12 21:16] JohnHalleyGotway commented on #2124
@rgbullock FYI, since you're actively working on this one, I added it to the 11.0.0 milestone and listed it as "In Progress" on the MET-11.0.0 beta1 project.

[2022-05-12 23:46] JohnHalleyGotway commented on #1920
@jprestop I made your recommended change to compile_MET_all.sh with [this commit](https://github.com/dtcenter/MET/commit/deea74a547588673eebf11382c4fc9d802913e71).

Note that I'm still keeping the shell scripts that we've used in the past to create release tarfiles in the repo. We may eventually be able to remove those if/when we decide they aren't useful anymore.

[2022-05-13 00:00] rgbullock commented on #2124
John -

The corner point in europe looks about right, but the other corner points
are off.  Also, this grid clearly straddles the north pole.

I'll see what I can do.

Randy

On Thu, May 12, 2022 at 3:16 PM johnhg ***@***.***> wrote:

[2022-05-13 17:56] JohnHalleyGotway commented on #1942
@hsoh-u and @JohnHalleyGotway met on 5/13 to discuss. Here's some notes:

Steps for this...
- Use point ascii format or reformat to NetCDF. NetCDF would be faster and is still pretty easy to work with.
  - Reformat ascii to NetCDF and save script or code to do so in repo as well.
    Could live in: https://github.com/dtcenter/MET/tree/main_v10.1/met/src/tools/dev_utils
    Or find some other spot

[2022-05-13 21:25] davidalbo commented on #2072
I'm about done with this issue.   I'd like to get something installed for the next release that improves on what we had before, which was that it did nothing at all.

- I ended up putting the wind conversion into it's own C++ class, because embedding it in the main algorithm was getting too complex.
- Unit test updates were successful.
- I tested various settings for the new configuration paramete

[2022-05-16 18:34] jprestop opened #2162 "Create the MET v10.1.2 bugfix release"
## Describe the Task ##
This task is to create the MET 10.1.2 bugfix release.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://github.com/dtcenter/METplus/blob/develop/docs/Release_Guide/met.rst

### Time Estimate ###
1-4 hours

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-is

[2022-05-16 20:27] #2162 closed, assigned to jprestop

[2022-05-17 15:53] JohnHalleyGotway commented on #2072
@davidalbo, you can just communicate with @georgemccabe and point out what changes you've made to the MET config files. Then he can handle the updates to the METplus wrappers.

[2022-05-17 16:58] davidalbo commented on #2072
Hey @georgemccabe is this all you need for METplus wrappers?  These are new config file option in tc_rmw.

[code]

[2022-05-17 17:53] georgemccabe commented on #2072
@davidalbo , I created a [METplus issue](https://github.com/dtcenter/METplus/issues/1620) to add support for the new config variables through the wrapper.

[2022-05-17 22:51] JohnHalleyGotway commented on #2022
As of 5/17/22, the first test in unit_climatology_1.5deg.xml is failing. It does run Point-Stat to completion but the point_stat*_vcnt.txt output file is empty and that's what triggers the failure. Comparing the .stat output file... from the nightly build for develop, it has 1747 lines... and this feature branch only generates 1745 lines. I confirmed the difference being that 2 VCNT lines are miss

[2022-05-19 16:06] #1920 closed, assigned to JohnHalleyGotway

[2022-05-20 18:24] JohnHalleyGotway commented on #963
Development for #2022 revealed that storing both the vector partial sums and the derived statistics in the same VL1L2Info is not a sufficient design. Recommend that we...
- Define a new VCNTInfo class and move the stats from VL1L2Info to this one.
- Model the VL1L2Info/VCNTInfo classes after the existing SL1L2Info/CNTInfo ones. Having their logic differ is very confusing.
- When doing this, make s

[2022-05-20 23:09] #2072 closed, assigned to davidalbo, KathrynNewman

[2022-05-23 18:23] JohnHalleyGotway opened #2168 "Create an initial development version of a new TC-Diag tool to support the computation of tropical cyclone diagnostics"
## Describe the New Feature ##
The METplus TC-Diagnostics group met on May 23, 2022 to define requirements for incorporating legacy hurricane diagnostics logic in METplus. Those requirement include the creation of a new tool named TC-Diag, for Tropical Cyclone Diagnostics.

The inputs for TC-Diag are the same as those for TC-RMW:
  - a list of gridded input data files (-data)
  - an ATCF track dat

[2022-05-24 09:23] RachelNorth commented on #1942
@JohnHalleyGotway  apologies for the delay in responding to this one.

- Yes! One of the strengths of SEEPS is the diagnostic capabilities offered by having individual scores (and error categories) at station/grid point locations. We need to have the capability to do both output at stations/grid points and aggregate over a defined area. I think this is important, and I think it's important to be a

[2022-05-25 17:05] JohnHalleyGotway commented on #2022
@sethlinden FYI this feature branch is in good shape and unit_climatology_1.5deg.xml is running fine now. I'd like to hand this back to you for you to determine what, if any, additional work is needed.

[2022-05-25 17:14] JohnHalleyGotway commented on #2147
- The MCTS line type includes output columns for HSS (+BCL/BCU), HSS_EC (+BCL/BCU), and EC_VALUE.
- The CTS line type only includes output columns for HSS (+BCL/BCU).
- The tasks here are...
- [ ] Add to the CTS line type HSS_EC (+BCL/BCU)
- [ ] Add to the CTS line type EC_VALUE
- [ ] Add to the CTC line type EC_VALUE
- [x] Do NOT add these columns to the NBRCTS, NBRCTC line types, or the categori

[2022-05-26 16:45] sethlinden commented on #2022
@JohnHalleyGotway thanks for making all these changes. I assume I just need to do some more testing. I'll run some of my initial tests that I was doing and look at the output. Is there any additional testing that you suggest?

[2022-05-26 18:46] JohnHalleyGotway commented on #2022
@sethlinden I don't have anything specific in mind. Just review the current state of the code changes and see how the output of the existing unit tests has changed relative to the output from develop. The "check for differences" step in GitHub actions should flag the diffs.

Whenever adding new stats to existing line types, I will often run the output from Point-Stat or Grid-Stat through Stat-Anal

[2022-05-26 20:21] JohnHalleyGotway commented on #2022
Found an issue when testing in Stat-Analysis:

1. This works fine:
[code]
And produces the same output ANOM_CORR values from Stat-Analysis that Point-Stat is creating.
2. But this does NOT work as expected:
[code]
ANOM_CORR is NA in the output which indicates that the aggregation of VAL1L2 lines is not working as it should.

[2022-05-27 16:47] JohnHalleyGotway opened #2170 "Fix Stat-Analysis to aggregate the ECNT ME and RMSE values correctly."
## Describe the Problem ##
This issue was raised via METplus discussions:
https://github.com/dtcenter/METplus/discussions/1632

When aggregating multiple ECNT lines together, Stat-Analysis reports ME = RMSE = 0 in the output even when it should not, based on the inputs.

### Expected Behavior ###
Stat-Analysis ```-job aggregate -line_type ECNT``` should correctly compute aggregated ME and RMSE sco

[2022-05-27 17:11] JohnHalleyGotway commented on #2147
@j-opatz and @bgbrowntollerud can you please review this section of documentation about setting the [hss_ec_value config option](https://met.readthedocs.io/en/feature_2147_hss/Users_Guide/config_options.html?highlight=hss_ec_value#hss-ec-value)?

Just want to double-check to confirm that we're doing this correctly.

When computing the HSS_EC statistic for a 2x2 table, the default ```hss_ec_value =

[2022-05-31 17:50] sethlinden commented on #2022
After meeting with John last Thursday (05/26/22) and fixing a few issues. I finished testing last Friday (05/27/22) and today (Tue, 05/31/22). After the Testing workflow was initiated last week, I downloaded and checked all the differences. All the differences (in terms of all the new columns) and output is expected.

Even checked a run of point_stats to confirm that U/V climo values are missing a

[2022-06-02 22:44] hsoh-u commented on #1815
My suggestion is
1. using prefix "@" to make the digits to the string value (it's used at the "**date**" command: date -d **@1654209200**).
2. If the string value is a number without prefix @, apply it as an index first. If the index does not exist (bigger than the  dimension), apply it as the value string

[code]

Above cases,
- case 1: 20220601_0000 is a special case which is supported already.

[2022-06-03 14:59] JohnHalleyGotway commented on #1815
Howard, that sounds like a great idea to me! Nice and concise but also intuitive. Let's go with that.

For backward compatibility, we'd still want to support YYYYMMDD_HHMMSS strings for the time coordinate. But for consistency, it should also work with an @ symbol in front.

[2022-06-06 17:59] JohnHalleyGotway commented on #1120
Note that this feature was recently requested via GitHub Discussions:
dtcenter/METplus#1638

[2022-06-06 19:36] georgemccabe opened #2172 "Documentation: Improve clarity of which config variables are supported in each tool"
This came up from Discussion dtcenter/METplus#1638 where it was unclear if topo_mask was supported in Ensemble-Stat.
Here is the relevant info from the Slack discussion:

How can we make it more obvious to users what options are supported by each tool?

## Describe the Enhancement ##
These are some of the steps we would have to complete:
* Determine a good approach to organizing common config vari

[2022-06-07 16:51] JohnHalleyGotway opened #2173 "Fix support for python embedding in shift_data_plane"
## Describe the Problem ##
This issue was raised via GitHub Discussions in dtcenter/METplus#1605. Python embedding of gridded data does not work as designed in the shift_data_plane utility.

### Expected Behavior ###
Python embedding of gridded data should work in shift_data_plane as it does in the other MET tools. Both options, of specifying PYTHON_NUMPY directly on the command line or using the

[2022-06-07 19:48] JohnHalleyGotway commented on #2170
Based on a Slack discussion with @j-opatz, should update the documentation to note that Fortran-style thresholds (gt, lt, etc) are not compatible with percentile threshold types (SFP, CDP, etc).
For example, while ">SFP50" works, "gtSFP50" does not.

[2022-06-07 20:58] #2173 closed, assigned to nobody

[2022-06-08 17:02] JohnHalleyGotway commented on #2170
Note that this problem is actually already present in existing unit test output:
[code]
So no need to add additional tests. Instead, just fix the output in the existing one.

[2022-06-09 16:02] hsoh-u commented on #2155
To support the string value for slicing, MET needs to find the vertical level variable.
- CF uses the axis variable attribute. MET supports the NETCDF with the variable whcih has "axis" attribute, "Z" for the vertical level.
- If there is a pre-defined variable name for the vertical (pressure) level, please let us know. MET can support it
- The vertical level variable can be found by looking at th

[2022-06-10 04:08] #2170 closed, assigned to JohnHalleyGotway

[2022-06-13 16:34] JohnHalleyGotway commented on #1940
Discussed at 6/13/2022 METplus NOAA telecon. Target to have this completed and mature by the end of July 2022. Recommend providing an initial version no later than July 1st.

[2022-06-13 17:13] JohnHalleyGotway opened #2180 "Add M_to_KFT and KM_to_KFT functions to ConfigConstants."
## Describe the Task ##
This issue arose during the METplus NOAA telecon on 6/13/2022. @LoganDawson-NOAA requested that we add two new conversion functions to MET's default ConfigConstants file:
[code]
He references these when doing verification of echo tops, and having them be defined by default is more convenient than hard-coding the functions or re-defining them in each METplus configuration fi

[2022-06-14 15:49] #2180 closed, assigned to JohnHalleyGotway

[2022-06-14 15:52] JohnHalleyGotway commented on #2022
I found issues with the newly added output from Stat-Analysis:
[code]
This is generated by running a `-job aggreagate_stat -line_type VAL1L2 -out_line_type VCNT` job. Several statistics columns are reported with a value of 0 when they should be NA instead (e.g. FBAR, OBAR, FS_RMS). The only non-NA stats should have ANOM_CORR in the name. Also, the ALPHA value should NOT be NA since we're reporting

[2022-06-14 19:23] j-opatz opened #2184 "Improve ensemble-stat runtime"
## Describe the Enhancement ##
From a [Discussions](https://github.com/dtcenter/METplus/discussions/1606), it was brought to our attention that ensemble-stat has become slow during runtime to the point of being a time block for larger jobs.
In the discussion example, 4 fields at a 3km resolution are being analyzed at hourly intervals for 36 hours. This takes over 6 hours wall time per variable, a

[2022-06-15 15:25] #2022 closed, assigned to sethlinden, JohnHalleyGotway

[2022-06-15 16:41] JohnHalleyGotway opened #2187 "Fix NetCDF library code to process scale_factor and add_offset attributes independently."
## Describe the Problem ##
This issue arose via METplus Discussion #1640. Please see this [discussion comment](https://github.com/dtcenter/METplus/discussions/1640#discussioncomment-2957437) for details. The `scale_factor` and `add_offset` variable attributes are only processed when both are present in CF-compliant NetCDF files. Instead they should be processed independently. While the problem is

[2022-06-21 18:44] JohnHalleyGotway opened #2192 "Enhance ASCII2NC to read DOE ARM datasets"
## Describe the Enhancement ##

This issue originated via discussion on Slack with @jason-english and @davidturner53 in June 2022. This task is to enhance the ASCII2NC tool to support the [ARM point datasets](https://www.arm.gov/) directly rather handling them through python embedding. The ARM program makes a large number of very unique and powerful observations, which are very useful for understa

[2022-06-21 18:58] #2147 closed, assigned to JohnHalleyGotway, j-opatz

[2022-06-21 19:23] JohnHalleyGotway opened #2193 "Create the MET 11.0.0-beta1 release"
## Describe the Task ##
This task is to create the MET 11.0.0-beta1 release scheduled for Wednesday 6/22/22 following the instructions in the [Release Guide](https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html).

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue required.

### Relevant Deadlines ###
None

### F

[2022-06-21 21:48] ericgilleland commented on #2112
The original Hausdorff distance definition (not the one we use, but they are equivalent) is max{ max_{a in A} [ d(a,B) ], max_{b in B} [ d(b, A) ] }.  The MHD proposed here just replaces the inner maxima with the averages.  So, I think it is just the maximum of the two MED directions.  Perhaps someone can check if I'm right about that by comparing the max of the two MED's with their MHD?

[2022-06-21 22:19] JohnHalleyGotway commented on #2112
@ericgilleland, @mrinalbiswas, and @j-opatz that was exactly what I was just trying to figure out. The MHD definition sure looks similar to the [Mean Error Distance](https://met.readthedocs.io/en/latest/Users_Guide/appendixC.html?highlight=dmap#mean-error-distance) (MED) equations. And MET already includes MED_MAX in the [DMAP line type](https://met.readthedocs.io/en/latest/Users_Guide/grid-stat.h

[2022-06-22 13:06] ericgilleland commented on #2112
Yes, from what I read in the paper, what we call MED_MAX should be the same as what they call MHD.  However, keep in mind that the other software might use a different method for obtaining the distances (e.g., a different distance map method), so it could be that there are small differences.  However, I would expect them to be small.  I had never seen that paper, so thanks for the reference.

[2022-06-22 18:38] JohnHalleyGotway commented on #2081
The changes for this issue should be made in this [MRMS GRIB2 table file](https://github.com/dtcenter/MET/tree/develop/data/table_files). The task it to migrate changes from this [NSSL website]([nssl.noaa.gov/projects/mrms/operational/tables.php](https://www.nssl.noaa.gov/projects/mrms/operational/tables.php)) into that file.

By way of comparison, let's look at the entry for "VIL":
Existing in ta

[2022-06-22 18:46] #2187 closed, assigned to JohnHalleyGotway

[2022-06-22 19:33] JohnHalleyGotway commented on #2112
I ran Grid-Stat and dumped pairs to a NetCDF file. Then I used python to read the data and compute MHD. But an unexpected pattern emerged:
[code]
As I increased the threshold, the MHD decreased.
In MET, I observed the opposite behavior. Increasing the threshold spreads the events out further and increases the distances:
[code]
I had been hoping to show the methods to be equivalent, but I'd say I'm

[2022-06-22 20:02] ericgilleland commented on #2112
Curious.  It sounds like the MHD is not what they think it is.  The paper discussed several other Hausdorff spinoff methods, but it settled on MED_MAX as the MHD.  Ideally, for increasing thresholds, you don't want the score to get better as you start getting extreme events wrong.  On the other hand, if there is a lot of small-scale noise, you don't want that to increase the measure.  Given that m

[2022-06-22 20:15] ericgilleland commented on #2112
I just double checked, and MHD in the paper is MED_MAX.  Not sure what their MHD is then.  They include 24 different Hausdorff variants.  The variants are determined by different combinations of functions d1, ..., , d6 with f1, ... , f4, where for sets A and B, and denoting points within the sets by a and b:

d1 = d1(A,B) = min_{a in A} [ d(a, B) ]
d2 = d2(A,B) = median_{a in A} [ d(a, B) ]
d3 = s

[2022-06-22 20:16] ericgilleland commented on #2112
One thing to try would be to make a function that takes arguments for which type of d and which type of f, and then see which combination matches what they have for MHD (if any).

[2022-06-22 21:23] sethlinden commented on #2081
@JohnHalleyGotway I assume we just want to update entries in the grib2_mrms.txt file based on the mapping you describe above (so it matches the info from the NSSL web-stite)? And then also add new entries (that aren't defined in our grib2_mrms.txt file)? Is that correct? (So for your example, nothing needs to be updated for the "VIL" entry since it matches the columns you map, correct)

I assume w

[2022-06-22 22:29] mrinalbiswas commented on #2112
@JohnHalleyGotway Here is the command to run Todd's code on eyewall: python3 read_rtofs_fronts_loop.py 20210809

Directory: /d1/biswas/EMC_ocean-verification/fronts/ush

[2022-06-22 23:19] #2193 closed, assigned to JohnHalleyGotway

[2022-06-23 13:29] JohnHalleyGotway commented on #2081
@sethlinden yes, that's my understanding as well. Make the MRMS GRIB table in MET match the latest on the NSSL website. @hertneky please advise if you're expecting something different from that.

[2022-06-23 15:04] hertneky commented on #2081
@JohnHalleyGotway I have no objections to that. It sounds good to me.

[2022-06-23 18:45] michelleharrold commented on #1693
@rgbullock @JohnHalleyGotway - I was wondering if there was an update on this? Thanks!

[2022-06-23 19:25] rgbullock commented on #1693
Hi MIchelle -

The grid projection code is all written (at least in my own projection code
library.  I'm not sure if that's been imported into the MET code yet).

As far as the example data file I'm working with, the information we need
to instantiate the grid is not in the Grid Description Section of the
file.  Even wgrib can't make sense of the grid information in the file, so
it's not just me.

[2022-06-23 20:51] jprestop opened #2196 "Restructure the MET Dockerfiles to create images based on the new METbaseimage"
Note: The issue was originally named "Update the MET Dockerfile to install Python 3.8.6 from source" but was changed to more accurately describe the work done.

## Describe the Task ##
Update the MET Dockerfile to install Python 3.8.6 from source.
See https://vinodpandey.com/how-to-install-python3-on-centos-7/#installing-python-38-on-centos-7 for an example.
If this does not work well, refer to ME

[2022-06-24 17:51] sethlinden commented on #2081
I updated grib2_mrms.txt to match MRMS Version 12.2. Updated existing entries, removed old entries, added new entries. The new file has been pushed to GitHub for this feature branch

FYI, these fields were removed in version 12.2:

209 10 0 255 161 1 4 0  "IRband4"  "Infrared (E/W blend)"  "K"
209 10 0 255 161 1 4 1  "Visible"  "Visible (E/W blend)"  "non-dim"
209 10 0 255 161 1 4 2  "WaterVapor"

[2022-06-28 16:25] Jeff-Duda opened #2197 "gen-ens-prod: add option to ensemble_flag in config file to output user-chosen percentile or standard anomaly value field"
## Describe the New Feature ##

Request a new config file option be added so that a user can choose any specific and arbitrary statistical ensemble threshold exceedance field to be generated. That is, add a feature so that the config file changes from this:

to this

Where _user\_spec_ can be defined as either a percentile value of the ensemble distribution or a standard anomaly of the ensemble di

[2022-06-28 17:33] jprestop opened #2198 "Add .zenodo.json file to add metadata about releases"
## Describe the Task ##
Add a [.zenodo.json file](https://developers.zenodo.org/#add-metadata-to-your-github-repository-release) to have zenodo automatically extract metadata about releases.

### Time Estimate ###
< 1 day

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
None

### Funding Source ###
Mult

[2022-06-28 18:01] JohnHalleyGotway commented on #2198
@jprestop, the current [MET Zenodo reference](https://zenodo.org/record/6705767) automatically generates an author list based on code contributions by username.

I'd recommend that we better define this in the json file either using...
1. The very long alphabetical [author list](https://met.readthedocs.io/en/latest/#authors) from the MET documentation.
2. The shorter [author list](https://met.read

[2022-06-28 18:56] sethlinden commented on #2081
@JohnHalleyGotway I realized today that my commit for the grib2_mrms.txt did not actually make it into GitHub last Friday for some reason. I started with a fresh checkout of develop and this feature branch and then just commited the new grib2_mrms.txt (I can now see it in the message above). I assume this will kickoff a testing workflow for this change and then I can see the changes in the output.

[2022-06-29 19:42] JohnHalleyGotway commented on #1940
@LoganDawson-NOAA I'm looking for some direction on next steps.

The question at hand is whether we want to use the 50m or 110m resolution of the [Natural Earth](https://www.naturalearthdata.com/downloads/) shapefiles.

Let me give you some background to illustrate.
So far we've:
- Consolidated the Bukovsky regions down into 1 field defined at 0.01 degree resolution where the value at each grid po

[2022-06-29 21:41] jprestop opened #2200 "Consider adding parallelization to the compile_MET_all.sh script"
## Describe the Task ##
This issue arose from the METplus Discussion [Integration of OpenMP/MPI for MET_COMPILE_ALL.sh #1678](https://github.com/dtcenter/METplus/discussions/1678).

[code]
[code]

### Time Estimate ###
1-3 days of work

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
NONE

### Funding S

[2022-06-30 15:53] JohnHalleyGotway commented on #2131
This may already be done. @TaraJensen will confirm this and close this issue.

[2022-06-30 16:19] ghost commented on #2200
Possible solution for core management.

Add an IF/ELSE statement for core optimization in compile_MET_all.sh.

[code]

Possible solution for argument in front of compile_MET_all.sh
`
CC=$MPICC FC=$MPIFC F77=$MPIF77 F90=$MPIF90 CXX=$MPICXX ./compile_MET_all.sh `

Possible solution for compile_MET_all.sh if statement

[code]

Just my thoughts on this.  If it is outside the scope of the project I wil

[2022-06-30 16:27] #2081 closed, assigned to sethlinden, hertneky

[2022-06-30 19:23] davidalbo commented on #1971
@CPKalb I'm working on this today.  A few questions:

Can you think of other circumstances where it would legitimately be an error, not this particular 'days per month' problem?  If so maybe the code could check for values that are days per month (30,31,28,29), and go with 'warning' only if that is the case.

Would it be possible to set up a test to run this in debugger?  (example data and config

[2022-06-30 20:29] davidalbo commented on #1971
Note to self:  A few lines like this could be problematic, not sure.  delta_t is set constant in the object but in the case in question it is not constant.

      att_2.set_valid_time(fcst_obj.start_valid_time() + t*(fcst_obj.delta_t()));

https://github.com/dtcenter/MET/blob/82b7396db518983835bb38296f76fa370960f6bb/src/tools/other/mode_time_domain/mtd.cc#L446

[2022-07-01 19:08] davidalbo commented on #2142
@DanielAdriaansen I'm looking into this now.  A few initial questions.

Is the current way it is done (BUFR) in some other app that is part of MET? If so does it write netCDF?
Should I use that (if yes) to figure out how to convert these ascii files to netCDF?
(I'm wondering if the BUFR content is equivalent to the ascii content I'm looking at in your examples).

I'm sure I'll have more questions,

[2022-07-01 19:12] DanielAdriaansen commented on #2142
@JohnHalleyGotway are you aware of how Perry is processing the EPA BUFR data now, or do we need to reach out to him for a sample/example of their current workflow and datasets using BUFR?

[2022-07-01 19:13] PerryShafran-NOAA commented on #2142
I can help answer that.  Currently, we use PB2NC to read in the prepbufr and write out a netCDF file to be used in point_stat.  We actually do this several ways - directly convert the hourly data to hourly data, but we also need to write out a) the daily max, and b) the daily average.  And these maxes and averages need to be summed over a period of 5Z to 5Z.   I believe that both/either @JohnHalle

[2022-07-01 19:27] davidalbo commented on #2142
Thanks for the quick response.  As I'm pretty green on all of this, an example would be really useful so I could run it in the debugger and figure out how PB2NC does what you want, and how that might be added to ascii2nc.  What that would mean is a data example, config file, and command line interface.  Maybe start with the hourly data?

[2022-07-01 19:32] PerryShafran-NOAA commented on #2142
I could gather all that up and send that to you after the weekend.  The hourly part is pretty straightforward.

The issue that we here at EMC have somewhat been struggling with is if we provided you enough ASCII data from the EPA for you to do this.  I am assuming that we have, so I suggest continuing as if we did and then if there are any issues see if we need additional data from the EPA.  From

[2022-07-05 18:18] CPKalb commented on #1971
Hi Dave:
Apologies, I was out Thursday and Friday.  I think there are situations where this would be an error.  However, so long as a warning is triggered, then it would be up to the user to determine whether they need to fix it.  I think a warning would be sufficient for this reason.

And good point about the delta t.  I'm not sure how to best handle this.

[2022-07-05 18:53] davidalbo commented on #1971
Hope you had a good time out.  Handling that delta_t code when delta_t is not constant would be a fairly big deal, coding wise.  I'm not sure how far to take this issue.  Simply changing the code to a warning instead of error, and just keeping going instead of exiting would be very easy to implement.  BUt... the output would (pretty sure) have constant delta_t, which would be wrong and not respond

[2022-07-05 19:45] CPKalb commented on #1971
The data came from a user.  My guess is that we don't still have it, but Iet me check the ftp and see if it survived.

[2022-07-05 22:30] JohnHalleyGotway commented on #1971
There are 2 pretty reasonably scenarios I can think of in which the non-const time step issue comes up.
1. When processing monthly climate data where the number of days in a month is not constant (i.e. 28 vs 30 vs 31).
2. When processing satellite or radar data with high temporal frequency. For example, sometimes the timestamp is 1 minute before or a couple minutes after the top of the hour... but

[2022-07-05 23:04] JohnHalleyGotway opened #2202 "Add more error checking for python embedding of point observations"
## Describe the Enhancement ##
This issue arose while adapting an existing python embedding of point observation script for use with a different input dataset. It was while helping @jason-english use python embedding to ingest NetCDF DOE ARM data files into MET.

The resulting python script(s) and sample data can be found here:
[python_point_example.tar.gz](https://github.com/dtcenter/MET/files/90

[2022-07-05 23:32] JohnHalleyGotway commented on #1940
Here's a tarfile with the two versions to consider where the boundaries are defined by the 110m vs 50m natural earth shapefiles.
[Bukovsky_CONUS.tar.gz](https://github.com/dtcenter/MET/files/9050237/Bukovsky_CONUS.tar.gz)

The remaining tasks are:
- Decide on the desired resolution.
- Add a 2D gridded variable to define the region groups.
- Add a 1D variable to define the region group names.
- Pro

[2022-07-06 17:20] LoganDawson-NOAA commented on #1940
@JohnHalleyGotway this looks fantastic! I brought up the resolution question during our EVS meeting this morning, and we'd like to move forward with the 50 m resolution version.

Providing a simple script to interpolate these high-resolution masks to a specific grid would be preferable to enhancing the MET logic (at least in the short term). Since masking regions defined on each different verifica

[2022-07-06 19:52] davidalbo commented on #1971
Good ideas from @JohnHalleyGotway.  Do we happen to have *any* data so I could run this in the debugger?  The reason I keep asking for examples that is I'm still learning the MET code and how it is organized.  I find I have to look around to find the source code every time app code goes into library code, which is tedious and slow.  Data that does have regular time steps would be useful for unders

[2022-07-06 20:55] JohnHalleyGotway commented on #1971
Sure @davidalbo, makes sense. To get started you could try running some of the monthly climo data from NCEP through MTD. Please take a look on seneca in:
[code]
These 12 GRIB files contain monthly climo means for a handful of variables. And for each variable there are 4 records, for 00, 06, 12, and 18Z. You could try running MTD on 500mb height. Please take a look at run_mtd.sh in:
[code]
To see t

[2022-07-06 23:01] JohnHalleyGotway commented on #1940
@LoganDawson-NOAA I believe this work is complete. Please see these 3 images showing the basic Bukovsky regions, the Bukovsky region groups, and the full CONUS region:

<img width="660" alt="Screen Shot 2022-07-09 at 11 42 13 AM" src="https://user-images.githubusercontent.com/21087144/178116996-7ed97f5c-23fb-4bd2-a08a-fc0594f98035.png">

You can find the corresponding data in this tar file:
[Bukov

[2022-07-06 23:08] JohnHalleyGotway commented on #1954
@CPKalb I was inclined to start working on this issue since it's marked as required for the next dev release. But Tara recommended that I touch base with you to confirm that it's still needed.

Should I work on adding support for handling these types of semi-structured grids in MET (e.g. hovmoller, meridional means, etc)? I imagine, for example, you'd run Grid-Stat using python embedding to serve

[2022-07-07 04:14] CPKalb commented on #1954
@JohnHalleyGotway, I have not come up with a workaround in python yet.  I'm stuck on a pre-processing step.  Given that the original data is 3D and that either the model or obs need to be regridded to match, I haven't decided on the best way to do this (I think regrid_data_plane needs 2d).  Anyway, I don't have a workaround yet.  I've been in conversation with Minna and Hank, but the RMSE calculat

[2022-07-07 16:45] davidalbo commented on #1971
Got it and copied to my area for testing.  Is 1959 a year?  (must be as I'm getting negative unix time values). That's almost as old as me.  :)

Turning the error into a warning and just keeping it going yielded 3 output files here:
/d1/personal/dave/test-issue1971/out
mtd_19590115_000000V_2d.txt
mtd_19590115_000000V_3d_single_simple.txt
mtd_19590115_000000V_obj.nc

The file names go with the firs

[2022-07-07 20:27] CPKalb opened #2204 "Add a sum option to the time summaries computed by the point pre-processing tools"
## Describe the New Feature ##
Ascii2nc has has options for time summary such as max, mean, etc.  However, for precipitation accumulations, sum is needed. Since support for the time_summary option is handled in the MET library code, adding the "sum" option there will make it available to all of the point pre-processing tools.

Whereas the min, max, and mean functions are less susceptible to missin

[2022-07-07 20:30] JohnHalleyGotway commented on #2142
@davidalbo please take a look at this MONET repo: https://github.com/noaa-oar-arl/monet and ask Barry Baker @bbakernoaa and/or David Fillmore @davidfillmore to see if support for this format already exists there.

@PerryShafran-NOAA - any progress on getting some sample data for us?

[2022-07-07 22:16] bbakernoaa commented on #2142
@davidalbo please look at https://github.com/noaa-oar-arl/monetio/blob/stable/monetio/obs/airnow.py

@zmoon

[2022-07-07 22:21] JohnHalleyGotway commented on #1971
@davidalbo I took a look in these output files and would advise...
1. In mtd_19590115_000000V_2d.txt, update the contents of the `FCST_VALID` and `OBS_VALID` columns to match the actual valid times of the input data. The `FCST_LEAD` and `OBS_LEAD` columns are all 0 in this example. But that timing info should also be stored separately for each timestep so that it's reported accurately. Continuing

[2022-07-08 04:57] JohnHalleyGotway commented on #2204
@CPKalb, OK, I have some changes I'd like you to test out. Please test out seneca:/d1/personal/johnhg/MET/MET_development/MET-feature_2204_sum/bin/ascii2nc.

That version of ascii2nc (and the other point pre-processing tools) should support setting `type = [ "sum" ];` in the `time_summary` dictionary.

Please let me know:
1. If it behaves the way you expect.
2. If you run a nice concise test with

[2022-07-08 16:00] LoganDawson-NOAA commented on #1940
@JohnHalleyGotway this current format is exactly what we were looking for! The script easily generates the mask files that are needed for different verification grids, and we can confirm that the MET output includes the mask `VX_MASK` names as expected.

I have one last ask that was an oversight on my part. Will you also include a CONUS region that is the union of CONUS_East, CONUS_West, CONUS_Sou

[2022-07-08 17:50] JohnHalleyGotway commented on #1954
Some progress to report on the feature_1954_ugrid branch.
(Note that this feature branch compiles locally but not via GHA. Need to investigate that.)

1. Below some Plot-Data-Plane output of surface pressure from python of a sample NetCDF WRF output file.
[code]
<img width="550" alt="Screen Shot 2022-07-08 at 11 37 15 AM" src="https://user-images.githubusercontent.com/21087144/178042518-1565f905-0

[2022-07-09 17:47] JohnHalleyGotway commented on #1940
@LoganDawson-NOAA, sure no problem. Adding in CONUS was easy enough. Please note that I updated the contents of the [comment above](https://github.com/dtcenter/MET/issues/1940#issuecomment-1176838167) and reposted a new tar file to include the CONUS region. Also note that I modified the gen_bukovsky.sh script to take 2 arguments instead of 1.

Please re-review and let me know.

[2022-07-11 16:58] Ho-ChunHuang-NOAA commented on #2142
Hi,

(1) Both HourlyAQObs* and  HourlyData* are hourly dataset, but HourlyAQObs*  will not change after its initial posted time.  HourlyData* will be updated again after its initial post.  My assumption is that it will include the additional obs that arrived late.   Thus, HourlyData* are prefer hourly dataset to be used for this new apps.

You can see the time stamp changed from this example
https

[2022-07-11 17:01] bbakernoaa commented on #2142
There is a monitor_location file of the static lat lons for all available
sites

Barry Baker

National Oceanic and Atmospheric Administration
Air Resources Laboratory
Physical Research Scientist
Chemical Modeling and Emissions Group Leader
NCWCP, R/ARL, Rm. 4204
5830 University Research Court
College Park, Maryland  20740
Phone: ‪(301) 683-1395‬

On Mon, Jul 11, 2022 at 12:58 PM Ho-Chun Huang ***@

[2022-07-11 17:04] Ho-ChunHuang-NOAA commented on #2142
Barry:

Can you tell us more specific of the files in your email.  Can it be obtained from the same EPA ftp site or else?  Will it be updated with time? as we know some old sites were dropped and new sites added all the time.

[2022-07-11 17:10] bbakernoaa commented on #2142
@Ho-ChunHuang-NOAA It is available in the same FTP directory.  The title of the file is `Monitoring_Site_Locations_v2.dat`

https://s3-us-west-1.amazonaws.com//files.airnowtech.org/airnow/today/Monitoring_Site_Locations_V2.dat

[2022-07-11 17:17] Ho-ChunHuang-NOAA commented on #2142
Great, that is one of the location files I found.

[2022-07-11 17:31] Ho-ChunHuang-NOAA commented on #2142
Add monitor suite information fact sheet
[MonitoringSiteFactSheet.pdf](https://github.com/dtcenter/MET/files/9086344/MonitoringSiteFactSheet.pdf)

[2022-07-11 23:53] j-opatz opened #2206 "Add the fair CRPS statistic to the ECNT line type in a new CRPS_EMP_FAIR column"
## Describe the New Feature ##
This comes from a [discussions comment ](https://github.com/dtcenter/METplus/discussions/1661) and seeks to include the fair CRPS verification statistic for ensembles, specifically the ECNT line type. As Roger indicates in a further comment on the Discussions, the fair CRPS " address(es) one particular form of bias in verification metrics for ensemble forecasts, name

[2022-07-12 19:35] davidalbo commented on #1971
I've got it working as best I can tell, with NO checking for really crazy time steps, right now the code, no matter what,  takes the mode of the time differences as 'the' time difference used everywhere.  In the example @JohnHalleyGotway gave me this time difference shows up in the 2d and 3d text files as 7440000 i.e. 744 hours, 0 minutes, 0 seconds, which is 31 days as expected.  I can't see that