[2022-07-13 21:20] georgemccabe opened #2207 "Update map data with more recent NaturalEarth definitions"
This was brought to our attention in Discussion dtcenter/METplus#1695

The map data that is provided with the MET software should be updated.

In a Slack discussion with @JohnHalleyGotway, he suggested that we update the map data to match the latest from https://www.naturalearthdata.com. He also suggested the following:

The user who brought this to our attention provided a zip file that contains

[2022-07-20 23:43] hsoh-u opened #2208 "Fix Ensemble-Stat to work with different missing members for two or more variables"
*Replace italics below with details for this issue.*

## Describe the Problem ##
*Provide a clear and concise description of the bug here.*

This is reported by Binbin [ See discussion #1700](https://github.com/dtcenter/METplus/discussions/1700)

The ensemble_stat works with the ensemble input files with/without PRMSL (sea level pressure) and obs input data with PRMSL. If the other variable with d

[2022-07-22 20:07] sethlinden commented on #2055
@davidalbo I am going to start working on this issue soon. I would like to run the last set of command lines you were running to test this (where you encountered the "PDS template number (10) is not supported").

Is the command line still:

./plot_data_plane /d1/personal/dave/blend.t13z.core.f119.co.grib2 /d1/personal/dave/testout 'name="CAPE"; level="L0";'

If so can you point me to the location

[2022-07-26 18:12] sethlinden commented on #2055
@davidalbo or @JohnHalleyGotway I just checked out a fresh copy of the development branch and ran plot_data_plane on the NBM input file...I'm still getting an error about "PDS template number (6) is not supported."

Looking a the comments above (from Feb 23rd), Dave got past this: "Adding option 6 leads to looking for option 10, which is also not supported. Is this a 'whackamole' situation?"

Wher

[2022-07-26 18:26] davidalbo commented on #2055
@sethlinden it's been a while!  I was playing around with this, and ended up never putting anything I experimented with into github.  I'd have to go back in to remember exactly what I'd done.  I'm assuming I built the system and ran it in the debugger, stopping at the place where option 6 is shown as an error, then made some kind of mod to deal with that.  The command line was indeed using /d1/per

[2022-07-26 18:32] davidalbo commented on #1971
Pinging @CPKalb:  I left this issue with a question for you, and actually have some time to wrap it up.  My initial thought is I can easily test to see if this is the 'month' situation and deal with that appropriately, and continue to ERROR out if it's not that, or do some other kind of test for  'close enough'.   Any opinion or other wisdom?

[2022-07-26 18:47] CPKalb commented on #1971
Hi Dave:
Sorry for the slow response on this.  The only other thing I can think of is that someone may want to do a seasonal time step (for example, use an average over a season like December, January, February and then skip to the next year), so some combination of 3-4 months.  I've done that in the past with statistics, although never used it with mtd.  I think the concern here is that the time

[2022-07-26 19:11] sethlinden commented on #2055
@davidalbo thanks for the info. I was able to grab NBM input file from your directory on seneca. Do you remember what file (module) you changed to get past the "(6) not supported" and got the "(10) not supported"? If not, I can search for it.

[2022-07-26 19:39] davidalbo commented on #2055
I don't remember, I figure you can figure it out as easily as I can go back in and re-remember,  but if you get stuck, I'll come back in and help out.

[2022-07-26 20:18] JohnHalleyGotway opened #2211 "Refine warning/error messages when parsing thresholds."
## Describe the Enhancement ##
@jvigh reported being puzzled by the following error message he received:
[code]
This task is to review and clarify the warning/error messages in dictionary.cc related to parsing thresholds.

### Time Estimate ###
2 hours.

### Sub-Issues ###
Consider breaking the enhancement down into sub-issues.
None needed.

### Relevant Deadlines ###
*List relevant project deadli

[2022-07-26 21:40] JohnHalleyGotway commented on #1940
Marking this issue as completed. I provided a NetCDF containing the Bukovsky regions to NOAA/EMC about 2 weeks ago, and they have been using them with no complaint.

Note that this NetCDF file was NOT added to the MET repository itself but may be stored in the NOAA EVS repository.

[2022-07-26 21:40] #1940 closed, assigned to JohnHalleyGotway, j-opatz, LoganDawson-NOAA

[2022-07-26 21:43] davidalbo commented on #1971
Hey @JohnHalleyGotway .  Is there any way to set up another test to create these additional types of 3d files, even if the time steps are constant?  I could then step through in a debugger and see what the code would do if the time steps were variable (i.e. make sure the changes I've made would apply in these cases).

[code]

[2022-07-27 14:41] #2211 closed, assigned to JohnHalleyGotway

[2022-07-27 22:57] #2208 closed, assigned to hsoh-u

[2022-07-28 21:51] hsoh-u opened #2215 "Add "station_ob" to metadata_map as a message_type metadata variable for ioda2nc"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
*Provide a description of the enhancement request here.*

From https://github.com/dtcenter/METplus/discussions/1705
The IODA input has "station_ob@MetaData" variable instead of msg_tyoe@MetaData variable which contains the message types.

The name of the message type variable is configured at metadata_map ("messag

[2022-07-28 22:32] #2204 closed, assigned to JohnHalleyGotway, CPKalb

[2022-07-29 15:10] hsoh-u opened #2216 "Fix truncated station_id name in the output from IODA2NC"
*Replace italics below with details for this issue.*

## Describe the Problem ##
*Provide a clear and concise description of the bug here.*

Generated MET point obs NetCDF file by ioda2nc contains truncated station ids. The station id comes form "report_identifier@MetaData" variable. An IODA input file (at seneca:/d1/personal/kalb/ioda/raob_all_v1_20201215T1200Z.nc4) has "station_id@MetaData" vari

[2022-07-29 20:08] BinbinZhou-NOAA commented on #2208
Great! Will this upgrade be  in the next MET/METplus release?

[2022-07-29 21:50] georgemccabe commented on #2208
@BinbinZhou-NOAA, yes, this will be included in the MET-11.0.0-beta2 release next week. It can also be made available as a bugfix release to MET-10.1 if needed.

For future reference, the "Projects" listed on the right side of the GitHub issues are used to note which release a given change will be made available. The issue is found under the [MET-11.0.0-beta2 (8/3/22)](https://github.com/orgs/dtce

[2022-08-02 17:09] j-opatz commented on #1774
Noting that there should be a section that describes how skills scores/verification statistics should be introduced and benchmarked.

[2022-08-02 17:48] JohnHalleyGotway opened #2218 "Bugfix: Fix the MET CF-Compliant NetCDF library code to Polar Stereographic data from NSIDC Sea Ice Edge NetCDF files."
## Describe the Problem ##
This issue arose via the dtcenter/METplus#1718 discussion. Further investigation reveals that the MET NetCDF-CF library code needs to be enhanced to instantiate Polar Stereographic grids from NSIDC Sea Ice Edge NetCDF files. Those file are CF-compliant but MET fails to read that data.

### Expected Behavior ###
MET should be able to read data from NSIDC Sea Ice Edge NetC

[2022-08-02 19:11] davidalbo commented on #1971
@JohnHalleyGotway slightly confused here, in mtd_txt_output.cc, method do_2d_txt_output()

[code]

the obs_raw.valid_time() is incorrect, whereas the fcst_simple_att.valid_time() is correct.  My solution is to pass in the actual valid times (obs and fcst) and use them instead of the raw incorrect times.  Can you explain the use of time_index()?  In the testing I'm doing time_index(j) = j always.

[2022-08-02 22:09] JohnHalleyGotway commented on #1971
@davidalbo I always recommend starting with the existing unit tests. The first [unit test for mtd]([url](https://github.com/dtcenter/MET/blob/c0d6397b88bfcd6b4ae64e289c6c29994f856dc8/internal/test_unit/xml/unit_mtd.xml#L28)) does generate the 3D ascii output files.

You can run this on seneca by setting up the test environment and then running:
[code]
Or add the `--cmd` command line option to just

[2022-08-03 15:24] #2215 closed, assigned to hsoh-u

[2022-08-03 15:24] #2202 closed, assigned to hsoh-u

[2022-08-03 15:24] #1815 closed, assigned to hsoh-u, JohnHalleyGotway, j-opatz

[2022-08-03 15:29] JohnHalleyGotway opened #2220 "Create the MET-11.0.0-beta2 release"
## Describe the Task ##
This task is to create the MET 11.0.0-beta2 release scheduled for Wednesday 8/3/22 following the instructions in the [Release Guide](https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html).

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue required.

### Relevant Deadlines ###
None

### Fu

[2022-08-03 16:08] davidalbo commented on #1971
@JohnHalleyGotway useful!  I ran the unit tests in the debugger to see what would happen in the places I made some changes.  Everything worked as expected, meaning I didn't break something, at least not something common, so I'm going to do a pull request today.

[2022-08-04 19:09] JohnHalleyGotway opened #2224 "Eliminate Gen-Ens-Prod warning when parsing the nbhrd_prob dictionary"
## Describe the Enhancement ##
This issue was raised by the DTC Ensembles team. When running Ensemble-Stat via METplus, the following WARNING message appeared:
[code]

I traced through the logic and found the following:

- Gen-Ens-Prod parses the nbrhd_prob dictionary from the config file [here](https://github.com/dtcenter/MET/blob/1f26c5524939021ff5d7c1606546e4b4625ebfde/data/config/GenEnsProdCon

[2022-08-04 21:59] sethlinden commented on #2055
To make sure I have all the NBM fields defined, I interrogated several more example NBM data files at different lead-times. I used the following files for creating the new grib2_nbm.txt. I will also use these files for testing plot_data_plane.

The filles are currently located under: seneca:/d1/personal/linden/git/feature_2055_nbm_grib2_update/

blend.t12z.core.f001.co.grib2
blend.t12z.core.f003.c

[2022-08-05 16:59] JohnHalleyGotway opened #2225 "Refine NetCDF level string handling logic to always interpret @ strings as values"
## Describe the Enhancement ##
#1815 enhanced MET-11.0.0-beta2 to support the specification of NetCDF level strings with the VALUE of the dimensions rather the just the INDEX of the dimensions. @robdarvell tested out this new functionality in beta2 and provided feedback to refine the functionality.

For a variable with a dimension that contains 24 levels, he requested `level='(@23,*,*)';`. He expe

[2022-08-05 19:34] #1971 closed, assigned to davidalbo, CPKalb

[2022-08-05 22:32] hsoh-u commented on #2225
There are two exceptional handling:
- with @: if the value does not match, the value is applied as offset (which is described in this issue)
- without @: the index is out of range, the index is applied as value (for example, two vertical levels, i.e  dimension is 2, and values are 2000 and 34768). level="(2000,\*,\*)" is accepted (processed as (@2000,\*,\*)).

Both cases will not be supported.

[2022-08-08 15:12] robdarvell commented on #2225
Thanks for looking into this question.
With regards to the 'levels' aspect of the netcdf array, how I envisaged this change would work (when setting out my initial testing from building Beta2) was:
 - If you included the @ symbol then it would just search for the (pressure) level value indicated within the netcdf file, and would fail if this was not found
 - If you did not include the @ symbol the

[2022-08-08 19:26] JohnHalleyGotway opened #2227 "Remove namespace specification from header files"
## Describe the Enhancement ##
This issue was raised on 8/8/2022 during a Modern C++ weekly meeting. Please see the following discussion:
https://stackoverflow.com/questions/1265039/using-std-Namespace

Based on this, `using namespace ...` should never be included in a header file. However, of the 467 header files in the MET codebase, `using namespace std` and `using namespace netCDF` appears in 3

[2022-08-09 17:10] JohnHalleyGotway commented on #2220
Recreating the MET-11.0.0-beta2 release after a bug was found when compiling on some NOAA machines.

[2022-08-09 17:41] #2220 closed, assigned to JohnHalleyGotway

[2022-08-10 16:02] JohnHalleyGotway commented on #2168
Some notes from the project discussion on 8/10/22:

- Need to create a TC-Diag tool to read GRIB data input files since WCOSS does NOT allow pygrib.
- TCDIAG must write to ASCII format while the NetCDF output is desired.
- Recommend also creating a TCDIAG line type written by TC-Pairs.
- The TC-DIAG tool.
   - Read GRIB data.
   - Calls Robert's derivation of diagnostics in Python
   - Writes ASCI

[2022-08-11 09:34] RogerHar commented on #2206
Thanks for opening this issue. The CRPS adjustment term is $1/(2m)$ times the [mean absolute difference](https://en.wikipedia.org/wiki/Mean_absolute_difference#Sample_estimators) of the ensemble members $\frac{1}{m(m-1)} \sum_{i \ne j} |X_i - X_j|$ (where m is the ensemble size), and I've realised that this mean absolute difference can be useful in its own right as a measure of ensemble spread,[^1

[2022-08-11 14:58] JohnHalleyGotway commented on #2055
Seth, OK, this field string works to retrieve wet bulb temp: 'name="WETBT"; level="L610-40000";'
When levels are defined as being ranges, we specify them using the '-' syntax. This is mentioned in this section of the User's Guide.

The “level” entry specifies a level type and value:
ANNN for accumulation interval NNN
ZNNN for vertical level NNN
ZNNN-NNN for a range of vertical levels
PNNN for pres

[2022-08-12 15:33] johnlwagner opened #2229 "Ceiling units changed in grid_stat?"
Greetings
When I run grid_stat for ceiling verification, the units output by MET seems to have switched from meters to kilometers.  This seems to have begun since we transitioned from WCOSS1 to WCOSS2.  On WCOSS1, I believe we were using v10.0.0.  On WCOSS2, we are using v10.0.1.  I don't see anything in the v10.0.1 release notes that would cause this change.
I have looked at the metadata on all o

[2022-08-15 17:53] JohnHalleyGotway opened #2230 "Add a GHA workflow to update regression test reference branches that can be manually triggered."
## Describe the Enhancement ##
It is often the case that new development either changes the output for existing tests or adds new output for new unit tests. Both cases are flagged as differences in both the nightly build regression test and those performed via GHA.

When those diffs are flagged, we manually inspect them to confirm that they are expected. And then we manually submit a pull request

[2022-08-16 15:07] hsoh-u commented on #2216
It's better to remove the trailing spaces only.

The IODA specifies the station_id as string type but no comment for the spaces at the station ID.
[gsidiag_conv_uv_testinput  at JCSDA-internal/ioda-converters](https://github.com/JCSDA-internal/ioda-converters/blob/develop/test/testinput/gsidiag_conv_uv_testinput.nc) is a sample input with space for the station ID.
[code]

[2022-08-16 22:28] JohnHalleyGotway commented on #1954
On 8/16/2022, @TaraJensen, @willmayfield, @JohnHalleyGotway, and @mpm-meto met to discuss unstructured grids in MET.

@willmayfield is developing a METplus use case that demonstrates using python embedding with Iris to read data from an LFRic NetCDF file, pair data with point observations, and pass the data to Stat-Analysis to compute stats.

See UGRID conventions documentation:
   https://ugrid-c

[2022-08-16 22:41] JohnHalleyGotway commented on #1954
Based on the original description, the 3rd variation is NOT currently supported. Need to allow for lat, lon, and level or time being non-zero, not just 2 of them. In this case, lat and lon would need to have identical length.

Do NOT call this pseudo-grid type "unstructured". Could call it "semi-structured" instead or something else entirely. @mpm-meto and @willmayfield may advise on this.

After

[2022-08-16 22:46] CPKalb commented on #1954
I have data that is almost ready to be tested for this.  I believe it is supposed to go through series_analysis?  Any idea when it might be ready for testing?

[2022-08-16 23:10] JohnHalleyGotway opened #2231 "Add support for NetCDF files following the UGRID convention"
## Describe the New Feature ##
This new feature request was originally combined with #1954 but has been split off into this separate issue.

MET needs to be enhanced to supported gridded NetCDF files following the UGRID convention (```Conventions = "UGRID"```):
[ugrid-conventions.github.io/ugrid-conventions](https://ugrid-conventions.github.io/ugrid-conventions/)

Recommend doing development using

[2022-08-16 23:21] JohnHalleyGotway opened #2232 "Refine Grid-Diag output variable names when specifying two input data sources"
## Describe the Enhancement ##
The Grid-Diag tool can be run to compare multiple variables from the same set of input files. However, it can also be run to compare the same variable from 2 different sets of input files. In both cases, it uses the name of the variable being read to construct output NetCDF variables. The results in a naming conflict and runtime error when reading the same variable f

[2022-08-16 23:37] willmayfield commented on #2231
Some MPAS grid file examples and information are here: https://mpas-dev.github.io/atmosphere/atmosphere_meshes.html

[2022-08-17 15:43] JohnHalleyGotway commented on #2068
As of a meeting with the MetOffice on 8/17/2022, the IODAv2 format has been finalized and is stable. @robdarvell will provide a sample NetCDF file for to use in development. Please also provide a link to the correct documentation.

[2022-08-17 17:40] JohnHalleyGotway commented on #1954
@CPKalb I've started working on this today. I see that you'd like to run it via Series-Analysis, so I'll work on that aspect of it. FYI, based on a meeting yesterday, I created a separate issue (#2231) for handling actual UGRID data.

To avoid confusion, I'm switching from calling this an "Unstructured" grid to calling it a "SemiLatLon" grid. That is meant to imply there is some latitude or longit

[2022-08-17 22:37] JohnHalleyGotway commented on #1774
Recommend documenting how we add new test data files that are needed for new unit tests. Note that this requires the ability to run as the met_test user on mohawk.

1. Log on to mohawk.
2. Execute ```runas met_test```.
3. Go to ```cd /d2/www/dtcenter/dfiles/code/METplus/MET/MET_unit_test```
4. Copy the full set of new file(s) into the ```unit_test``` subdirectory.
5. Use wgrib, wgrib2, or a NetCDF

[2022-08-18 15:58] #2055 closed, assigned to sethlinden

[2022-08-18 16:40] sethlinden commented on #2206
@TaraJensen I am going to start working on this issue per John's suggestion. What account key should I use for this work?

[2022-08-18 18:55] JohnHalleyGotway opened #2235 "Print a warning message when the requested level does not match the actual level read from a MET NetCDF file"
## Describe the Enhancement ##
While using METplus for the DTC ensembles task, @michelleharrold ran across some unexpected behavior that required some investigation. That is the source of this issue.

MET NetCDF files written by the MET tools only contain 2-dimensional variables. And of course, the variable names within those files are unique. When requesting data from a MET NetCDF file, you are s

[2022-08-18 20:11] JohnHalleyGotway commented on #1774
Recommend adding sections describing how to...
1. add new columns to existing line types
2. add a new output line type
3. add new GRIB table files
4. setting up your development environment (req'd env vars, input test data, etc)\
5. link into the METplus development workflow documentation

[2022-08-18 21:29] CPKalb commented on #1954
@JohnHalleyGotway  for the stratosphere work, I think we want to have the ability to support latitude OR longitude versus level AND time.  The zonal and meridional means we are doing for that work will be (latitude, level, time) and (longitude, level, time).

I guess it depends on how these go into series analysis.  I'm assuming I'll need to use python embedding to put them in (since the zonal and

[2022-08-19 13:55] #2225 closed, assigned to hsoh-u

[2022-08-19 17:01] JohnHalleyGotway commented on #2206
Recommend naming the new column(s) as "CRPS_FAIR".
Questions for @RogerHar:
1. Is the Fair CRPS an adjustment to the gaussian CRPS or the empirical CRPS?
2. Do we only need the forecast Fair CRPS or should we also add Fair Climo CRPS and Fair CRPSS?

Recommend updating the following files:
1. Update the test_unit header file (internal/test_unit/hdr/met_11_0.hdr) by adding the new column(s) to the

[2022-08-19 20:01] JohnHalleyGotway commented on #1942
Here are notes from a meeting about SEEPS on 8/19/2022:
https://docs.google.com/document/d/1NS_djvpaoek226eH3R9oSf8tugg5vRQDbbHztEE86wM/edit

[2022-08-19 20:25] JohnHalleyGotway opened #2237 "Add tmp_dir configuration option to the Plot-Point-Obs tool"
## Describe the Enhancement ##
During development of a METplus wrapper for the Plot-Point-Obs tool, @georgemccabe noted two issues:
1. The Plot-Point-Obs config file currently lacks the tmp_dir configuration option. This is an oversight, and it should be added.
2. He also found that passing an empty configuration file to the MET tools results in a runtime error. This can be demonstrated using the

[2022-08-19 21:55] JohnHalleyGotway commented on #2237
So it is true that the Plot-Point-Obs config file DOES NOT contain entries for `tmp_dir` or `version`. Note however, that Plot-Point-Obs does first read ConfigConstants prior to reading it's default config file. And ConfigConstants DOES include the tmp_dir setting.

So `tmp_dir` actually is defined in this context since it was defined in ConfigConstants, but just not over-written in the default Pl

[2022-08-22 16:17] JohnHalleyGotway commented on #2142
Support for PrepBUFR format of this data ending at the end of 2022, per @PerryShafran-NOAA on 8/22/2022.

[2022-08-23 15:33] JohnHalleyGotway opened #2238 "Fix oom() compile time linker error"
## Describe the Problem ##
@robdarvell reports via Slack that MET-11.0.0-beta2 fails to compile due to a linker error.
[code]

This was added in beta2 but introduced a new dependency. The vx_log library now depends on the vx_util library. But I'm sure that vx_util already depends on vx_log. To avoid a circular dependency, recommend main.cc from vx_log into the vx_util library. Listed below is a

T

[2022-08-23 15:51] JohnHalleyGotway commented on #2238
@robdarvell this is a temporary fix that should technically work, but is not the real longterm solution:
For Makefile.am:
[code]
For Makefile.in:
[code]

[2022-08-23 21:55] climbfuji opened #2239 "Build error met-10.1.1.20220419 on macOS Monterey 12.1 / apple-clang 13.1.6 / homebrew Python 3.9 / spack"
## Describe the Problem ##
Trying to build met-10.1.1.20220419 on macOS Monterey 12.1 with apple-clang 13.1.6, homebrew Python 3.9 using spack-stack (https://github.com/noaa-emc/spack-stack) in Rosetta2 emulator mode for `x86_64`. Build fails at the very end with a message that I can't make sense of:
[code]
I don't see from that lengthy command where the macOS Python framework is coming in, all I

[2022-08-24 17:07] hsoh-u commented on #2238
The solution will be 1) removing the circular dependencies and 2) adjusting link order.

- vx_log & vx_util
  - main.cc requires vx_util
  - files at vx_util uses logger at vx_log
  - Solution: move main.cc and main.h to vx_util and keep vx_log without dependencies
- vx_math & vx_util
  - so3.cc at vx_math requires vx_util (ascii_table.h & fix_float.h)
  - data_plane.cc & polyline.cc at vx_util re

[2022-08-24 17:22] RogerHar commented on #2206
It's an adjustment to the empirical CRPS.

Good question. I don't think a separate fair climatological CRPS should be necessary, I think it should be ok to construct a Fair CRPSS using an existing climatological reference forecast. It's less obvious which one.... I apologise that I hadn't previously realised the distinction between CRPSCL and CRPSCL_EMP used in computing CRPSS and CRPSS_EMP, so I'

[2022-08-24 17:27] sethlinden commented on #2206
@RogerHar thanks for the detailed response. I think for now we will just create the CRPS_EMP_FAIR variable and this is the development path I was going down anyway. We can always go back and do this for CRPSCL if necessary.

[2022-08-24 21:35] JohnHalleyGotway commented on #2238
@hsoh-u have you figured out a way to run the linker to actually fail when these circular dependencies exist?
I tried configuring with "CXXFLAGS" to set to defined some "-Xlinker" options but could never get the compilation of beta2 to fail.

If we're able to figure that out, I'd recommend we add those options to our GHA compilation of MET so that we force the compilation to fail when we introduce

[2022-08-24 21:49] JohnHalleyGotway opened #2240 "Fix GRIB table lookup logic for multiple matching entries"
## Describe the Enhancement ##
This issue arose via GitHub discussion dtcenter/METplus#1744. Please see [this comment](https://github.com/dtcenter/METplus/discussions/1744#discussioncomment-3469365) in particular for an explanation of the issue.

Put simply, the logic for when/how both the units and long name are determined for GRIB1 and GRIB2 input data is insufficient. Currently, the MET library

[2022-08-24 21:52] hsoh-u commented on #2238
I tried to move where "usage" and "process_command_line" were called (from met_main at various MET applications to main at main.cc). The link errors happened at seneca and was not simple to resolve it.

[2022-08-25 16:02] jprestop commented on #2198
At the MET meeting today, we decided that we would use #1 minus the folks that aren't currently still working at NCAR/NOAA.  Also, I need to add Seth and Dave to the list in the documentation.

[2022-08-26 15:44] JohnHalleyGotway commented on #2237
@georgemccabe I'm looking for some advice. I've made these changes for Plot-Point-Obs. Along the way, I also found that both `version` and `tmp_dir` are absent from [WWMCARegridConfig_default](https://github.com/dtcenter/MET/blob/develop/data/config/WWMCARegridConfig_default) and [PlotModeFieldConfig_default](https://github.com/dtcenter/MET/blob/develop/data/config/PlotModeFieldConfig_default). Th

[2022-08-26 15:51] georgemccabe commented on #2237
I'd say it is up to you. It does seem low priority with little benefit besides consistency. On the other hand it would likely not take very much time to do. If you don't complete it now I would create a low priority GitHub issue so it is documented.

[2022-08-26 16:22] JohnHalleyGotway opened #2243 "Add tmp_dir and version to the Plot-MODE-Field and WWMCA-Regrid configuration files"
## Describe the Enhancement ##
During development for #2237, I [noted](https://github.com/dtcenter/MET/issues/2237#issuecomment-1228656177) that options for `tmp_dir` and `version` are missing from the configuration files for Plot-MODE-Field and WWMCA-Regrid.

For consistency purposes, they should be added. However, since these are lightly used utilities, recommend waiting on this work until we cr

[2022-08-26 16:24] JohnHalleyGotway commented on #2237
OK, I chose not to include those changes here, but wrote it up as a separate issue #2243 to keep track of it.

[2022-08-26 20:28] JohnHalleyGotway commented on #2142
Met on 8/26/22 to discuss the development steps:
- Documentation:
  - Update Chapter 6 about ascii2nc in User's Guide in `docs/Users_Guide/reformat_point.rst` to list the newly supported `-format airnow` option.
- Testing:
  - Add at least one new unit test in `internal/test_unit/xml/unit_ascii2nc.xml` to exercise the new `-format airnow` option.
  - For this, we'll need to add at least one new te

[2022-08-26 20:31] JohnHalleyGotway commented on #2142
Met on 8/26/22 to discuss the development steps:
- Documentation:
  - Update Chapter 6 about ascii2nc in User's Guide in `docs/Users_Guide/reformat_point.rst` to list the newly supported `-format airnow` option.
- Testing:
  - Add at least one new unit test in `internal/test_unit/xml/unit_ascii2nc.xml` to exercise the new `-format airnow` option.
  - For this, we'll need to add at least one new te

[2022-08-29 17:45] #2207 closed, assigned to JohnHalleyGotway

[2022-08-29 17:45] #2237 closed, assigned to JohnHalleyGotway

[2022-08-29 17:52] JohnHalleyGotway opened #2245 "Add support in Point2Grid for additional interpolation methods"
## Describe the Enhancement ##
This issue arose via dtcenter/METplus#1768. None of the existing interpolation methods (min/max/median/uw_mean) are appropriate for categorical data such as precipitation type. Recommend enhancing Point2Grid to keep track of the distance between each observation location and the nearest grid point. But consider only doing so for `-method nearest` and `-method dw_mean

[2022-08-29 21:53] davidalbo commented on #2142
@JohnHalleyGotway Moving along.  Some confusion about putting the data into Observation objects which it seems is the design.   Observation might not fit the airnow data?  It seems too limited.

The airnow data has columns that are ascii, columns that are status flags, columns with numeric values.
The 'station' in our case is kind of a complicated thing based on several different columns:  AQSID,

[2022-08-30 12:30] Ho-ChunHuang-NOAA commented on #2142
Hi, John:

 I can not find this topic in discussion issues.   This is my suggestion
for your consideration.  Maybe you can point/demonstrate to me how to join
the chat/discussion stream.

(1) I think you are looking at the filename starting with "HourlyAQObs".
We prefer to use a filename starting with "HourlyData".  It is because the
HourlyData may have a later update with new observations while
"

[2022-08-30 13:18] bbakernoaa commented on #2142
I would disagree that the meta data for sitename and county code is not
needed.  Although we typically plot averages making this meta data seem
redundant, it is nice to plot a single site or filter within a region.
What we do in monetio is concatenate the state + county + site code.  It is
also helpful to filter based on state MSA (metropolitan state area) as this
gives us another layer of filteri

[2022-08-30 14:29] JohnHalleyGotway commented on #2131
@CPKalb, please check with @TaraJensen on this issue. She suspects that MTD already contains the output that is needed. If that is the case, please add a comment about that and close this issue.

[2022-08-30 16:31] davidalbo commented on #2142
Thanks for the feedback @bbakernoaa @Ho-ChunHuang-NOAA.  I'll see what I can do to satisfy your requirements.  I decided to go with HourlyAqObs first, because it's a simpler software design without an external lookup.  Once I get that working, the HourlyData format can be added.  Any time an external lookup is part of the design, we need to be careful to keep the lookup lat/lons correct compared t

[2022-08-30 21:00] JohnHalleyGotway commented on #1954
@CPKalb I've made good progress on this and even got grid_stat to compute stats on some sample "semilatlon" data!

Still working on updating the MET tools to read the semilatlon output written by other tools. Once that's done, I'd like you test it out. Should I just compile my feature branch somewhere on seneca for you to test out?

[2022-08-30 21:08] CPKalb commented on #1954
Yes, that sounds good!   Will I be able to use python embedding to read in the data?  That will likely be the easiest way since it's already in python to compute the zonal mean.

[2022-08-30 21:09] CPKalb commented on #2131
I think it does contain the output needed, but let me check in with Maria (the person who needs it) to be sure.

[2022-08-30 21:26] JohnHalleyGotway commented on #2142
@PerryShafran-NOAA, I'm working with @davidalbo on this and have a specific question for you. Here's a sample AIRNOW daily format 2 record, as described by this [DailyDataFactSheet.pdf](https://github.com/dtcenter/MET/files/8514899/DailyDataFactSheet.1.pdf):
[code]
We can extract up to 3 different "observations" from this line:
1. The OZONE-8HR value of 31.
2. The Air Quality Index (OZONE-8HR-AQI)

[2022-08-31 12:13] PerryShafran-NOAA commented on #2142
@JohnHalleyGotway Including @Ho-ChunHuang-NOAA on the answer.

The answer for #1 is YES, we need the 8-hr ozone value from this record.

I don't think we need either #2 or #3 from your list, though, but I am checking with Ho-Chun for confirmation.

Now, please confirm that this is the *daily* file, not the hourly file (we would also need hourly 1-hr ozone and 8-hr ozone records).

[2022-08-31 12:23] Ho-ChunHuang-NOAA commented on #2142
Hi,

I agree with Perry that we do not need AQI related variables.  NCEP focuses
on the verification of the concentration, i.e., " OZONE-8HR value".

Different groups may have different requirements.  Maybe Barry will have
different opinion.

Ho-Chun Huang, Ph.D.

IMSG at NOAA/NWS/NCEP/EMC

5830 University Research Ct., Rm. 2792

College Park, MD 20740

***@***.*** ***@***.***>

301-683-3958

On W

[2022-08-31 16:55] j-opatz opened #2248 "Allow point2grid to ingest multiple file sources"
## Describe the New Feature ##
It was recently brought to the forefront in a [Discussions](https://github.com/dtcenter/METplus/discussions/1767) that the point2grid tool's inability to ingest multiple files was a barrier. The user was trying to take multiple netCDF files created from ascii2nc output and create one netCDF with all of the desired data fields.

As it currently stands, point2grid can

[2022-08-31 22:10] davidalbo commented on #2142
@JohnHalleyGotway did you say there is an existing bit of code to handle lines like this:
[code]

The columns are comma separated strings, each string surrounded by double quotes, but the string "Michigan..." has commas in it.  Using the code that breaks the line into tokens based on commas doesn't work because of this.
I could write my own code to handle it, but..is something out there?

[2022-09-01 18:59] JohnHalleyGotway opened #2250 "Store unspecified accumulation interval as 0 rather than bad data"
## Describe the Problem ##
This issue arose via a Slack discussion with @mpm-meto. Investigation revealed a slight discrepancy in MET's handling of the accumulation interval value when it is not specified or does not apply. See below for detail.

### Expected Behavior ###
When the accumulation interval does not apply to a given dataset, its value should be stored/reported consistently by MET, rega

[2022-09-02 15:20] #2250 closed, assigned to JohnHalleyGotway

[2022-09-02 16:00] #2198 closed, assigned to jprestop

[2022-09-02 18:58] hsoh-u commented on #1942
From  [MetOffice SEEPS  discussion 8/19/2022 & 8/24/2022](https://docs.google.com/document/d/1NS_djvpaoek226eH3R9oSf8tugg5vRQDbbHztEE86wM/edit)
Point-Stat:

- SEEPS Single Station (SEEPS_MPR). Refer to the existing [MPR line type](https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html?highlight=MPR#id24).
  - 21 header columns
  - Obs Station ID (OBS_SID)
  - Lat: latitude of station
  -

[2022-09-02 21:53] jprestop commented on #1774
@lisagoodrich, just a note that I already created a branch for this work (feature_1774_contrib_outline).  I added the names for the rst files to the existing index.rst page in the docs/Contributors_Guide directory.

[2022-09-06 21:01] JohnHalleyGotway commented on #1954
Tina, I'm finally ready for you to start testing. The wrinkle is that for some reason python serves up my lats/lons/levels/times as a Python List (on my laptop) and other times as a NumPy array (on seneca). I had to make the code flexible enough to handle both.

Please take a look on seneca and run:
[code]

These exercise the sample `read_PostProcessed_WRF_semilatlon.py` python embedding script. I

[2022-09-07 16:15] JohnHalleyGotway commented on #2036
Mentioned in the gap analysis for EVS version 1.0 on 9/7/22.
@JiayiPeng-NOAA should be added as an assignee on this issue.

[2022-09-07 17:50] CPKalb commented on #1954
Great.  I probably won't get to start testing until tomorrow.

[2022-09-08 16:13] davidalbo commented on #2142
Technical notes related to design choices that have been made or need clarification for adding the airnow support, most can be commented on/resolved quickly by @JohnHalleyGotway

**Documentation**
In the Users Guide, should we link to the pdf files that describe the supported formats? Currently these are found places like this:  [https://github.com/dtcenter/MET/files/8514707/HourlyAQObsFactSheet.1

[2022-09-09 15:51] #2196 closed, assigned to jprestop

[2022-09-09 19:48] jprestop commented on #1774
While the outline has been created and merged (https://github.com/dtcenter/MET/pull/2253), coding standards aren't yet in place.  Leaving this issue open.

[2022-09-12 17:06] sethlinden commented on #2206
Based on conversion with @j-opatz and @JohnHalleyGotway, made an update to the code such that: when all the forecast/observed precip is 0, we were getting CRPS_EMP and CRPS_EMP_FAIR computed as 1.3563e-05 and 6.7817e-06. Those numbers are very close to 0, but not actually 0 because of machine precision. So we are setting the values to 0:

`// Compute empirical CRPS scores
   crps_emp   = pd.crps_e

[2022-09-12 20:43] davidalbo commented on #2142
@PerryShafran-NOAA @DanielAdriaansen I'm working with multiple Airnow formats, some of which have a column called 'elevation'.  The ascii2nc program has two potential output slots for this:  'elevation' (of the sensor) and 'height_m' (of the observation).  We can store elevation into one or both of these output variables.   What do you recommend.  Other Airnow formats do not have elevation, in whi

[2022-09-12 21:32] PerryShafran-NOAA commented on #2142
@Ho-ChunHuang-NOAA Including Ho-Chun who might have more insight into this data.

Thanks!

Perry

[2022-09-12 21:35] davidalbo commented on #2142
@JohnHalleyGotway what about users running the app, not running a unit test.  Can they get to MET_BASE/table_files?
And is MET_BASE an environment variable?

[2022-09-13 16:31] sethlinden commented on #2248
@TaraJensen I was just going to start work on this issue. What account key should I use? Thanks.

[2022-09-13 22:08] JohnHalleyGotway commented on #2248
@sethlinden and @j-opatz I went hunting for a good example from the existing test data for when we'd want to pass multiple input NetCDF files into point2grid to generate a single output.

I'm having a difficult time finding a good example to suggest.
I'm looking on seneca in /d1/projects/MET/MET_regression/develop/NB20220912/MET-develop/test_output

You could try combining data from:
   pb2nc/gdas

[2022-09-13 22:14] sethlinden commented on #2248
@JohnHalleyGotway thanks for the suggested command line testing. I will follow that suggestion for now. Do we know who created the Discussion for this issue: "user was trying to take multiple netCDF files created from ascii2nc output and create one netCDF with all of the desired data fields." I could always ask them directly. But this will be a good start. Thanks.

[2022-09-14 15:59] JohnHalleyGotway opened #2260 "Investigate and resolve Python 3.8 METplus interdependencies"
## Describe the Task ##
During the MET-11.0.0-beta3 development cycle, issue #2196 updated the version of python used in the MET Dockerfiles from 3.6 to 3.8.6. This was intended as an improvement to have MET use the same python version as what's used for automated testing in the METplus GHA. However this change had unintended consequences and caused some METplus use cases that leverage Python embe

[2022-09-14 16:59] TaraJensen commented on #2248
@sethlinden - key added

[2022-09-14 20:56] hsoh-u commented on #2155
MET supports non-integer offset (for example, 0.5 for day = 60*60*24*0.5 seconds, or 0.5 hour = 60*60*0.5 seconds) and the leap year. MET will convert the unit month and year following ways:

1. non-integer offsets to the nearest offsets
    - 0.6 month to 1 month
    - 2.5 years to 3 years. not 30 months (1 year = 12 month, 2.5 * 12 months = 30 months)
2. non existing day to the last day of the m

[2022-09-14 22:30] hsoh-u commented on #2155
- For month
  1. get integer part and add it to target month (adjust year if necessary)
  2. get fractional part and get the nearest day after multiplying 30
  3. add it to target day (**do not adjust month**, change day to the last day of the month if necessary)
- For year
  1. get integer part and add it to target year
  2. get fractional part and get the nearest month after multiplying 12
  3.

[2022-09-15 16:03] JohnHalleyGotway commented on #1602
During the MetOffice development meeting on 9/15/2022, we discussed that this functionality must be in beta4 since it needs to be fully tested at the MetOffice by the end of the year, 2022. Switching from required for official release to required for development release.

[2022-09-15 21:26] #2216 closed, assigned to hsoh-u

[2022-09-16 04:29] JohnHalleyGotway commented on #1942
@hsoh-u, do the seeps point climo values in PPT24_seepsweights.nc ONLY apply to 24-hour accumulations of precip? I'm guessing that that's the case, but want to confirm.

If so we need to add that logic in Point-Stat. Right now, those climo values are being applied to 3-hourly accumulations in the Point-Stat unit tests. We'll need to update Point-Stat to only compute SEEPS for 24-hour accumulations

[2022-09-16 14:08] hsoh-u commented on #1942
It's not checking if 24 hour precipitations. Rachel's recommendation was focusing 24 hours. SEEPS can be calculated for any accumulation length for which the user has an appropriate climatology.

[2022-09-16 17:16] JohnHalleyGotway commented on #2142
Dave, yes, MET_BASE is the name we use for the installed location. So these files are available at runtime. For example, on RAL machines, MET version 10.1.0 is installed in /usr/local/met-10.1.0 and the runtime data is found in /usr/local/met-10.1.0/share/met, including the table_files directory.

[2022-09-16 22:46] JohnHalleyGotway commented on #1943
Note that PR #2257 for issue #1942 added SEEPS and SEEPS_MPR line types to the output of Point-Stat for met-11.0.0-beta3. However, the SEEPS line type contains many columns with NA in them (S12 to S32,  PV columns and PF columns). While working on this issue for met-11.0.0-beta4, please also complete the SEEPS line type.

In addition, consider modifying how SEEPS logic is enabled. Currently, Point

[2022-09-16 22:49] #1942 closed, assigned to RachelNorth, hsoh-u, JohnHalleyGotway

[2022-09-18 15:45] #1954 closed, assigned to JohnHalleyGotway, CPKalb

[2022-09-19 17:52] JohnHalleyGotway commented on #1908
Recommend renaming ensemble_flag to something else. Perhaps ens_rank_flag, ensemble_pairs_flag, or obs_rank_flag? This is similar in functionality to nc_pairs_flag in Grid-Stat.

[2022-09-20 17:10] hankenstein2 commented on #2260
I have a similar but slightly different situation. I have MET compile with a 3.9 version of Python installed via conda that has all the required packages installed along with it. If I then run python embedding without using PYTHON_EXE, the user environment will use a generic, system installed python 3.9 that does not contain required packages.

My solution, which worked for MET but messed up the u

[2022-09-21 05:19] #1908 closed, assigned to JohnHalleyGotway, michelleharrold, j-opatz

[2022-09-21 05:21] JohnHalleyGotway opened #2266 "Create the MET-11.0.0-beta3 release"
## Describe the Task ##
This task is to create the MET 11.0.0-beta3 release scheduled for Wednesday 9/14/22, but actually occurring on Wednesday 9/21/22, following the instructions in the [Release Guide](https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html).

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue req

[2022-09-21 05:25] #2238 closed, assigned to hsoh-u

[2022-09-21 20:50] JohnHalleyGotway commented on #1693
Added @robdarvell as an assignee since he will provide sample LAEA data to use in development and testing.
@rgbullock, per @TaraJensen, this issue is "hyper critical" and must be completed ASAP.

[2022-09-21 20:55] JohnHalleyGotway commented on #1941
@hsoh-u, I believe you already did this as part of the SEEPS work in MET-11.0.0-beta3. If so, please consider closing this issue.

[2022-09-21 20:58] JohnHalleyGotway commented on #1663
@mpm-meto, is this feature required for MET-11.0.0-beta4 or can it be pushed to the next release in favor of other higher priority issues?

[2022-09-21 21:05] JohnHalleyGotway commented on #2019
Closing this issue since the work that remains is described in dtcenter/METplus#1752. That adds a new METplus use case to demonstrate this ODB example of python embedding.

[2022-09-21 21:05] #2019 closed, assigned to robdarvell, mpm-meto

[2022-09-21 21:08] #1941 closed, assigned to RachelNorth, hsoh-u, JohnHalleyGotway

[2022-09-21 21:20] JohnHalleyGotway commented on #1120
@LoganDawson-NOAA and @PerryShafran-NOAA can you please take a look at this issue and original [GitHub Discussion request](https://github.com/dtcenter/METplus/discussions/1638). Should we consider this a top priority for the beta4 development cycle or push it to a future release?

[2022-09-21 22:20] #2266 closed, assigned to JohnHalleyGotway

[2022-09-22 15:25] JohnHalleyGotway commented on #2260
Recommend that @jprestop take the lead on this issue with @JohnHalleyGotway and @georgemccabe providing support.

[2022-09-22 17:20] JohnHalleyGotway opened #2269 "Enhance Series-Analysis to compute statistics from the SEEPS STAT line type."
## Describe the Enhancement ##
- MET #1942 enhanced Point-Stat to write the SEEPS and SEEPS_MPR line types when verifying against point observations.
- MET #1943 will enhance Grid-Stat to write the SEEPS line types when doing grid-to-grid comparisons. Also consider writing SEEPS_MPR information to the "_ncpairs.nc" output file.
- This issue is to extend that grid-to-grid SEEPS vx logic to Series-A

[2022-09-22 17:38] JohnHalleyGotway opened #2270 "Update the SonarQube version used for routine software scans."
## Describe the Task ##
On 9/14/22, folks from SonarSource informed us of a new SonarQube version. See email below.

This task is to update the version of SonarQube we're running for our routine scans. This will impact the development environment for seneca, as defined in [this file](https://github.com/dtcenter/MET/blob/develop/internal/scripts/environment/development.seneca).

Email:

Will you up

[2022-09-22 22:10] JohnHalleyGotway opened #2271 "Fix Stat-Analysis aggregation of the neighborhood statistics line types."
## Describe the Problem ##
This issue was raised via GitHub discussion dtcenter/METplus#1826. The aggregation of the NBRCTC line types by Stat-Analysis does not work as expected.

Please provide this bugfix for the main_v10.0, main_v10.1, and develop branches.

### Expected Behavior ###
Stat-Analysis should be able to aggregate multiple NBRCTC lines and write an output .stat file by running `-job

[2022-09-23 16:16] JohnHalleyGotway opened #2275 "Enhance Regrid-Data-Plane to regrid multiple levels in a single run"
## Describe the Enhancement ##
This issue was discussed during a MET team meeting and is mentioned in [these notes](https://docs.google.com/document/d/1KWRiC45zLQXSra85_RoTyzHP84TVbtOjTxdR3a7w1Io/edit). The `-field` command line option of the regrid_data_plane tool specifies which 2D field should be regridded to the target grid. While the `-field` option can be used multiple time to specify multip

[2022-09-23 16:35] JohnHalleyGotway opened #2276 "Enhance ASCII2NC to read NDBC buoy data"
## Describe the New Feature ##
The desire to use buoy data in ASCII format for verification within MET has come up twice recently as seen in this [GitHub discussion](https://github.com/dtcenter/METplus/discussions/1747). This functionality is needed by both NOAA/EMC and NOAA/OPC. While the interim solution is using python embedding of point observations, the task for this issue is to support it di

[2022-09-23 17:12] JohnHalleyGotway opened #2277 "Print ASCII2NC warning message about python embedding support not being compiled"
## Describe the Enhancement ##
Running ascii2nc with python embedding without optional python embedding support being compiled results in this error message:
[code]
Whereas, doing the same with plot_data_plane provides a much better error message:
[code]
Recommend enhancing the ascii2nc error message to make it more clear, and consider reviewing other MET tools that process python point observatio

[2022-09-23 17:19] JohnHalleyGotway opened #2278 "Document PB2NC's handling of quality markers"
## Describe the Task ##
This is a small documentation-only task to clarify/document PB2NC's handling of quality markers for derived variables, like CAPE. Also document if/how quality markers apply to the derivation of time summaries. These questions arose via GitHub discussions and should be clarified in the documentation.

### Time Estimate ##
2 hours

### Sub-Issues ###
Consider breaking the tas

[2022-09-23 17:45] JohnHalleyGotway opened #2279 "Add support for new point_weight_flag to the Point-Stat and Ensemble-Stat tools"
## Describe the New Feature ##
The MET Grid-Stat tool supports a configuration option named [grid_weight_flag](https://met.readthedocs.io/en/develop/Users_Guide/config_options.html?highlight=grid_weight_flag#grid-weight-flag) to define weights for computing statistics aggregated over multiple grid points. The grid weighting is based on the area each grid point represents, giving larger weight to g

[2022-09-23 19:42] JohnHalleyGotway commented on #2036
@KathrynNewman, on 9/22/22, I talked to @sethlinden about working on this issue. I wanted to point him to some examples of using the `consensus` option in TC-Pairs that he could use for development and testing. However I was very surprised to find that no such example exists in our unit tests!

By that I mean that `consensus = [ ];` is set to an empty list in all the TC-Pairs config files in [this

[2022-09-23 20:21] hsoh-u commented on #2270
SonarQube is updated:
- SonarServer at mandan: 9.6.1.59531 (was 8.9.6.50800)
- sonar-scanner at seneca: 4.7.0.2747 (was 4.6.2.2472)
- build-wrapper at seneca: 6.37 (was 6.20)

[2022-09-23 22:33] KathrynNewman commented on #2036
Hi @JohnHalleyGotway - my guess is that the unit tests for the consensus option never existed. This option was used heavily in 2010-2014 when were were doing the stream 1.5 evaluations for HFIP. I believe this pre-dates METplus on Git?

We can just use the 2010 track data if it's already pulled. Would the information you need from me be the config file settings that would be reasonable? I can poin

[2022-09-24 16:30] JohnHalleyGotway commented on #2036
@KathrynNewman, yes please, that'd be great.

[2022-09-26 16:02] sethlinden commented on #2036
@JohnHalleyGotway and @KathrynNewman thanks for the follow up on this issue. Once this is figured out, please let me know what config file to use (or what options to put in the config file)? Also where are the input files located for this located? What is the example command line?

I will plan on adding a new unit test to unit_tc_pairs.xml.

Thanks in advance!

[2022-09-27 16:03] robdarvell commented on #1693
Within the ftp server I have put some files which hopefully will be of use for this.
The forecasts don't have the same timestamp as the analysis but hopefully they can be used to check things like regridding can be done OK.

[2022-09-27 16:33] JohnHalleyGotway opened #2280 "Refine configuration options for defining bins in the verification of probabilistic forecasts"
## Describe the Enhancement ##
This issue arose via GitHub discussion dtcenter/METplus#1742. While a probability forecast can have any value between 0 and 1, it is very often the case that probability forecasts are not actually continuous. Instead, the values are often clustered around 1/n where n is an integer number of ensemble members. This issue is to refine the configuration options in suppor

[2022-09-27 16:40] JohnHalleyGotway commented on #2245
Feedback from [cjmelick](https://github.com/cjmelick) on discussion dtcenter/METplus#1768.

I did think of something to incorporate if going down the path of better capturing artifacts of gridding categorical variable observations. It would be advantageous to give counts for each category value, kind of like you are doing already for specifying the number of records nearby for the variable for eac

[2022-09-27 19:03] JohnHalleyGotway commented on #2036
@KathrynNewman I did some hunting on the NHC website and see the definition of the consensus tracks they compute listed in Table 2 of [this page](https://www.nhc.noaa.gov/modelsummary.shtml). I propose that our next test use these consensus definitions for the ones NOT marked with an asterisk which indicates non-public data.

Our existing 2010 track data is insufficient since it only contains data

[2022-09-27 21:20] JohnHalleyGotway commented on #2036
@sethlinden OK, I just finished adding this [consensus example](https://github.com/dtcenter/MET/blob/21998250710bdc9f7dedbdd325c82a155a5fd3ae/internal/test_unit/xml/unit_tc_pairs.xml#L39) to unit_tc_pairs.xml. I have updated the unit test data to provide these 2 required input files:
[al132020.tar.gz](https://github.com/dtcenter/MET/files/9659637/al132020.tar.gz)

This computes 7 different types o

[2022-09-27 23:10] JohnHalleyGotway commented on #2168
@jvigh I've worked on the [feature_2168_tc_diag](https://github.com/dtcenter/MET/tree/feature_2168_tc_diag) branch over the last couple of days. So far all the changes have been plumbing, basically just creating a copy of the tc_rmw tool and renaming it tc_diag, adding a stub for its unit tests (unit_tc_diag.xml), and adding a largely empty chapter to the User's Guide about it.

I'm now ready to s

[2022-09-28 15:03] robdarvell commented on #2068
I have put a v2 obs file onto the ftp server under darvell_data (jopa_satwind_20210701T1200Z_out_0000.nc4)

[2022-09-28 15:48] JohnHalleyGotway opened #2281 "Fix MET-11.0.0-beta3 linker errors"
## Describe the Enhancement ##
@robdarvell reported compilation problems on the UK Met Office Cray machine for both MET versions 11.0.0-beta2 and 11.0.0-beta3. The beta2 issue resulted in dtcenter/MET#2255 which was fixed for beta3. However, the larger issue of more proactively testing for internal linker issues was not solved. @robdarvell reports a linker error when compiling the GSI Tools relate

[2022-09-28 15:58] davidalbo commented on #2276
I'm starting to work on this issue, to put buoy data into ascii2nc so you can input multiple files directly.  What would be helpful is sample data files, and a description of the format.   @DeannaSpindler-NOAA can  you get me going?

[2022-09-28 16:04] #2271 closed, assigned to JohnHalleyGotway

[2022-09-28 17:11] JohnHalleyGotway opened #2282 "Fix GHA documentation workflow"
## Describe the Enhancement ##
The build_documentation.sh script called by the documentation workflow is not working as expected. After MET#1920 restructured the repository, we failed to update this script accordingly.

Recommend doing so, and adding a check to make sure that docs directory actually exists. Error out if not.

Also include some minor docs changes.

### Time Estimate ###
2 hours

##

[2022-09-28 18:56] DeannaSpindler-NOAA commented on #2276
Hello David,

You can find the NDBC ASCII buoy data online.  For example:
https://www.ndbc.noaa.gov/data/realtime2/41001.txt
has the last 45 days of data for buoy 41001.

The files have a header, and you can find the description of the columns
here:
https://www.ndbc.noaa.gov/measdes.shtml

If you want a test list of buoys, you can use any of these:

- 41001 - EAST HATTERAS - 150 NM East of Cape Ha

[2022-09-28 19:33] davidalbo commented on #2276
@DeannaSpindler-NOAA  thanks! A few questions.

1. Do you need support for all the formats here  https://www.ndbc.noaa.gov/measdes.shtml  , or one particular one?  A subset?
2. Many of the file formats do not have latitude/longitude I assume because they don't move. Is there a mapping from buoy number to latitude/longitude?

[2022-09-28 20:03] DeannaSpindler-NOAA commented on #2276
I use the Standard Meteorological Data format, which is what is in the
45-day ASCII files.

Here are a couple of docs with the buoy lats/lons listed:
https://sdf.ndbc.noaa.gov/stations.shtml
or
https://www.ndbc.noaa.gov/wstat.shtml

Best,
Deanna

--
Deanna Spindler, PhD
Physical Scientist III
Lynker at NOAA/NWS/NCEP/Environmental Modeling Center
NOAA Center for Weather and Climate Prediction

On W

[2022-09-28 20:24] davidalbo commented on #2276
@DeannaSpindler-NOAA the input file names will be things like 410001.txt, correct?

If so, @JohnHalleyGotway looks like I'll need to parse these input file names to lookup a lat/lon. The buoy numbers are not inside the file anywhere.  What do you think, does it break the design?

[2022-09-28 21:08] DeannaSpindler-NOAA commented on #2276
I usually use the buoy ID as the file name, so '41001' or '41001.txt' is
correct.

--
Deanna Spindler, PhD
Physical Scientist III
Lynker at NOAA/NWS/NCEP/Environmental Modeling Center
NOAA Center for Weather and Climate Prediction

On Wed, Sep 28, 2022 at 4:25 PM davidalbo ***@***.***> wrote:

[2022-09-28 22:01] JohnHalleyGotway opened #2285 "Enhance the MET point processing tools to read the Python 'point_data' variable instead of just 'met_point_data'."
## Describe the Enhancement ##

While working on an example of python embedding of point observations in Point-Stat, @j-opatz had a difficult time storing buoy data in the `met_point_data` python data structure defined in [section 35.5](https://met.readthedocs.io/en/develop/Users_Guide/appendixF.html#pyembed-point-obs-data) of the user's guide. He and I spent a 1.5 hours massaging the data to make

[2022-09-28 22:11] davidalbo commented on #2276
I found this and downloaded it:  https://www.ndbc.noaa.gov/activestations.xml
With a little minor XML parsing, should be able to create an ID to lat/lon lookup.
@JohnHalleyGotway might want to put XML parsing into library code somewhere, unless something already exists.  I do have familiarity with an existing library from another project outside of MET that reads/writes XML.  We should discuss opt

[2022-09-28 22:14] JohnHalleyGotway commented on #1602
@mpm-meto, @j-opatz and I discussed this issue today, and I'm writing to request some more direction. This issue was written about 2 years ago and I'd like to clarify the details before going too far with it.

Note that we have already removed the ensemble post-processing from Ensemble-Stat and placed it in Gen-Ens-Prod. Reading the issue, I see that we want to port the logic of the `nbrhd` dictio

[2022-09-29 14:50] #2282 closed, assigned to JohnHalleyGotway

[2022-09-29 15:55] JohnHalleyGotway commented on #1693
FYI, I have copied the files that @robdarvell provided into seneca:/d1/projects/MET/MET_issues/feature_1693.

[2022-09-29 15:56] JohnHalleyGotway commented on #2068
FYI, I have copied the file that @robdarvell provided into seneca:/d1/projects/MET/MET_issues/feature_2068/from_darvell_20220929/jopa_satwind_20210701T1200Z_out_0000.nc4

[2022-09-29 16:53] JohnHalleyGotway opened #2286 "Fix Point-Stat and Ensemble-Stat GRIB table lookup logic for python embedding of point observations."
## Describe the Enhancement ##
When working on the python embedding of point observations in Point-Stat with @j-opatz, we ran into an issue. When Point-Stat was configured to verify against observation variables named `wind_spd` we got this runtime error:
[code]
This issue is to fix Point-Stat to make this work. Note that the same issue likely exists in Ensemble-Stat.

Here's why we get this error

[2022-09-29 20:09] JohnHalleyGotway commented on #2218
Per EMC, we need this bugfix in a 10.1.3 bugfix release ASAP.

[2022-09-29 20:14] CPKalb commented on #2218
This [discussion](https://github.com/dtcenter/METplus/discussions/1840) just came up.  It looks like this is a case where the standard parallel is specified as we discovered in the [first discussion](https://github.com/dtcenter/METplus/discussions/1718).   Will the fixes in this code take care of her issue as well?

[2022-09-29 20:15] hsoh-u commented on #2068
Difference between format v1 and format v2:
- The dimension "nlocs" is changed to a variable at format v2
- The string type attributes are used at format v2
- datatype of Metadata for format v2
  - variables have two data types for some metadata: the character array and the string data types
  - the datetime variable have three data types: int64, the character array, and the string data types
- Th

[2022-09-29 22:31] j-opatz commented on #2155
I think the approach stated above,

[code]

Seems like good logic. However, there's two issues I want to raise.

In the last example, 3.3 years is evaluated to 1958-07-01. However, that seems like it's slightly further in time than might be desired.

After adjusting the base time by 3 years, the remainder (0.3) is multiplied by 12 with a resulting 3.6 months. To me, that means the months should be

[2022-09-30 16:16] #2270 closed, assigned to hsoh-u

[2022-09-30 22:22] JohnHalleyGotway commented on #2168
Based on our discussions, it sounds like TC-Diag will rely very heavily on python embedding in MET. As such, it should only be compiled when the `--enable-python` configuration option is chosen. Need to start figuring out the details of how we pass data back/forth between the C++ TC-Diag application and the python derivation scripts.

See this [python embedding documentation](https://docs.python.o

[2022-09-30 22:24] JohnHalleyGotway commented on #392
See related #2168 issue for the creation of the TC-Diag tool.

[2022-10-03 17:14] JohnHalleyGotway opened #2289 "Create the MET v10.1.3 bugfix release"
## Describe the Task ##
This task is to create the MET 10.1.3 bugfix release.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://github.com/dtcenter/METplus/blob/develop/docs/Release_Guide/met.rst

Note that this bugfix release was discussed at the METplus NOAA telecon on October 3, 2022. It is needed by early November 2022, to provid

[2022-10-03 17:23] davidalbo commented on #2276
@JohnHalleyGotway I can't tell if its working or not.  The difference between this and the other ascii input data I worked on (airnow) is that in this case each file has many times, for airnow each file had only one time.  When I try to do these things to see if it's working:

plot_point_obs
Rscript ./pntnc2ascii.R

it seems like it's not working, yet the code seems identical as far as adding obse

[2022-10-03 17:36] hsoh-u commented on #2155
Need a decision for the algorithm:  Day for 0.5 month
What's the scientific preference: "2020-03-15" or "2020-03-16"?
  - date=0.0, 0.5, 1.0. 1.5, 2,0. 2.5, 2.0 with units = "month  since 2020-03-01 00:00:00"
  - which one?
    - 2020-03-01, 2020-03-15, 2020-04-01, 2020-04-15, 2020-05-01,  2020-05-15
    - 2020-03-01, 2020-03-16, 2020-04-01, 2020-04-16, 2020-05-01,  2020-05-16

Assuming for month

[2022-10-03 18:03] #2286 closed, assigned to JohnHalleyGotway, j-opatz

[2022-10-03 20:38] JohnHalleyGotway commented on #392
On 10/3/22, Jonathan, Kathryn, and John HG met to discuss these details.
- In general, the model-based diagnostics are defined separately for each output time.
- For "forecast" tracks, these diagnostics are actually called predictors.
- Lead time 0 is a special case for which additional predictors may exist that don't exist for lead time > 0 (e.g. IR predictors).

See sample `lsdiag` output on the

[2022-10-04 17:23] #2227 closed, assigned to jprestop

[2022-10-04 20:11] j-opatz opened #2292 "Upper limit on number of point observation stations passed to tools via Python Embedding in `met_point_data` structure"
## Describe the Problem ##
As the title suggests, there's seems to be a limit on the number point observation stations that can be passed via Python Embedding. This specifically impacts those tools that utilize the `met_point_data` structure, which includes Point2Grid, Plot-Point-Obs, Ensemble-Stat, and Point-Stat.

Both Point-Stat and Plot-Point-Obs have been tested for this issue. In the Python

[2022-10-04 21:13] sethlinden commented on #2036
@KathrynNewman I am computing three new variables: track spread, wind-speed standard deviation and pressure standard deviation (track_spread, vmax_stdev, mslp_stdev).

Should I be appending them to the TCMPR line type or adding a new line type to report the consensus spread info? Thanks!

[2022-10-04 23:00] JohnHalleyGotway commented on #392
Working on branch `feature_392_tcdiag_line_type`, propose adding a new TCDIAG output line type which immediately follows the TCMPR line to which it corresponds.

For example, this [sample lsdiag file](https://ftp.nhc.noaa.gov/atcf/lsdiag/22012018EP8022_lsdiag.dat), contains a whopping 112 types of diagnostics.

Let TC-Pairs be configured to request as many of these as we'd like. Here's all 112:
[c

[2022-10-05 00:21] hsoh-u commented on #2068
How to match the ObsValue and QCFlags for wind?

[code]

QCFlags values for eastward_wind and northward_wind are almost identical except few (67 VS. 71). Is it OK to  apply  eastward_wind for wind_from_direction & northward_wind for wind_speed or vice versa?
Note: this mapping will be configurable.

[2022-10-05 00:29] TaraJensen commented on #2068
Good question.  eastward_wind and northward_winds can be considered U and V winds.  Therefore it doesn't seem like there's direct mapping from the QCFlags to ObsValue.  Do we know what are the potential values of QCFlags and their meaning? If we don't then I think this may be a question we need to ask JEDI folks because there may be logic in the QCFlags to determine how it is applied to ObsValue.

[2022-10-05 01:13] hsoh-u commented on #2068
Values at both(eastward_wind & northward_wind): 0, 64, 67, 71, 8192, 8256, 8259, 8263

[2022-10-05 01:29] TaraJensen commented on #2068
I have no idea how to interpret those. My suggestion is to ask the JEDI help-desk.

[2022-10-05 19:50] KathrynNewman commented on #392
@JohnHalleyGotway - thanks for providing a sample output file. I think this design would work. Starting with the 'level' column you'd list the number of output diagnostics followed by alternating diag_name and value. So, there is no specific header information for TCDIAG line type?

@KathrynNewman - basically yes, we wouldn't write a separate header line for the TCDIAG line type, at least in the `

[2022-10-05 20:01] KathrynNewman commented on #2036
@JohnHalleyGotway thanks for digging up the NHC consensus track definitions. I think the 7 consensus tracks without restricted data exercise the various options well. Did you want follow-up on the discrepancy between the MET computed and NHC computed solutions?

@sethlinden Good question! I think it would be sufficient to just add these new variables to the TCMPR line type. Is there an argument fo

[2022-10-05 20:03] sethlinden commented on #2036
@KathrynNewman thank you. I will add the output to the TCMPR line type for now.

[2022-10-06 16:08] JohnHalleyGotway opened #2293 "Enhance the config file parser logic to allow for empty dictionaries"
## Describe the Enhancement ##
dtcenter/METplus#1853 issue is to enhance enable the METplus PointStat wrapper to run without error when no mask is provided. The [default Point-Stat configuration file](https://github.com/dtcenter/MET/blob/develop/data/config/PointStatConfig_default) includes:
[code]
However, when no masks are actually defined via METplus, the mask dictionary defined by METplus is e

[2022-10-06 19:16] davidalbo commented on #2276
From @hsoh-u, saving for reference:  The GRIB code can be saved by creating "obs_gc" variable instead of the "obs_vid". In this case, the global attribute "use_var_id" must be "false".   I think MET prefers to use variable_ID over GRIB code.  This means what is passed into the Observation constructor as 'grib_code' is actually index into the variables (0,1,2..)

[2022-10-06 19:18] sethlinden commented on #2036
@KathrynNewman I'll be adding 3 new columns to the TCMPR line type. @JohnHalleyGotway thought it would be good to ask you what we should really name the columns (so they make sense to the users). The three options he came up with are:

LOCATION_SPREAD, MSLP_SPREAD, MAX_WIND_SPREAD
or
ALOCATION_SPREAD, AMSLP_SPREAD, AMAX_WIND_SPREAD
or
CONS_LOCATION_SPREAD, CONS_MSLP_SPREAD, CONS_MAX_WIND_SPREAD

F

[2022-10-06 19:27] davidalbo commented on #2276
@jprestop, I have another file that is external and must be read in, just like previously for airnow data, to look up latitude/longitude. It is a table_file. Previously I handed a file to you and it showed up on a web page, if I'm remembering. You did 'something', not sure what.  The file I need this time:   /scratch/dave/ndbc_stations.xml

I did add the file on my development branch here:
data/ta

[2022-10-06 20:50] jprestop commented on #2276
Thanks @davidalbo.  The last time I added data for you, I followed the instructions in [this comment](https://github.com/dtcenter/MET/issues/1774#issuecomment-1218561546https://github.com/dtcenter/MET/issues/1774#issuecomment-1218561546) from @JohnHalleyGotway.  However, looking at the content on mohawk at this location, /d2/www/dtcenter/dfiles/code/METplus/MET/MET_unit_test, it does not appear th

[2022-10-07 00:06] hsoh-u commented on #2155
Decision for 0.5 month: set the day to 15:
- 0.5 month since 2022-03-01 00:00:00" ==> "2022-03-15 00:00:00"
- 0.5 month since 2022-02-01 00:00:00" ==> "2022-02-15 00:00:00"
  - Note: not  "2022-02-14 00:00:00"

- 0.5 month since 2022-03-02 00:00:00" ==> "2022-03-16 00:00:00"
- 0.5 month since 2022-02-02 00:00:00" == >"2022-02-16 00:00:00"

[2022-10-07 00:17] hsoh-u commented on #2068
Answer from Stephen Herbener <stephenh@ucar.edu>

Documentation:
   https://jointcenterforsatellitedataassimilation-jedi-docs.readthedocs-hosted.com/en/latest/inside/conventions/index.html

Python example:
  https://github.com/JCSDA-internal/ioda/blob/develop/src/engines/Examples/Basic/06-ReadIodaOutputFile.py

Note that the documentation is using the naming conventions from the JEDI Observation D

[2022-10-07 13:18] JiayiPeng-NOAA commented on #2036
Hi Seth,
I prefer the first option too. Or POSITION_SPREAD, TRACK_SPREAD.
For the location spread, you need to calculate the ensemble mean positions
(the average of 30-members (for GEFS) latitudes/longitudes) first.
Then you could calculate the distances between each member and the ensemble
mean position, the position spread is the average of 30-member distances
from the ensemble-mean position.
Th

[2022-10-07 15:13] RogerHar commented on #1602
Hi John,

We're requesting (1). This is mainly for work I'm doing with partners in India.

I don't believe (2) it's something we need at present. It was suggested by [Duc et al. (2013)](http://doi.org/10.3402/tellusa.v65i0.18171) who called it the 'Ensemble FSS' but I'm not aware if it has been very used much.

Marion @mpm-meto may wish to comment but she's on leave until 19 Oct, and is unlikely t

[2022-10-07 15:30] sethlinden commented on #2036
@JiayiPeng-NOAA thanks for the feedback. I like using TRACK_SPREAD (instead of LOCATION_SPREAD). So we will use:

TRACK_SPREAD, MSLP_SPREAD, MAX_WIND_SPREAD

We are calculating the track spread properly along with mslp and max-wind standard-deviations.

[2022-10-07 15:37] JiayiPeng-NOAA commented on #2036
Sounds good.

On Fri, Oct 7, 2022 at 11:30 AM Seth Linden ***@***.***>
wrote:

[2022-10-07 15:42] KathrynNewman commented on #2036
@sethlinden - I agree with @JiayiPeng-NOAA, looks good!

[2022-10-07 19:01] davidalbo commented on #2276
I had it backwards, I needed @jprestop to help to put unit test data into place, not for the table file.  That is now done.

[2022-10-07 19:24] hsoh-u commented on #2155
Is it OK not to support negative offsets, like -4.5 month or -10 years?
No technical issues on supporting the negative offsets. Just checking before implementing it.
If this is acceptable, MET will give an error message and quit.

[2022-10-07 20:13] hsoh-u commented on #2155
Two options to support negative offsets
- Option 1 (-4.3 month):
  - move 4 months back
  - move (0.3\*30) days back (set to 1 if less than 1)
- Option 2 (-4.3 month):
  - move 5 months back
  - move ((1-0.3)\*30 = 0.7\*30) days forward (set to last day of month if necessary)

[2022-10-08 05:42] JohnHalleyGotway commented on #392
Progress on TC-Pairs in the `feature_392_tcdiag_line_type` branch. Its able to parse the diagnostics data specified using the new `-lsdiag` or `-tcdiag` command line options, match the diagnostics values to the track data, and write it to the output.

Here's a sample output file: [feature_392_test.tcst.txt](https://github.com/dtcenter/MET/files/9738482/feature_392_test.tcst.txt)

I configured it t

[2022-10-10 17:26] sethlinden commented on #2036
@JiayiPeng-NOAA @KathrynNewman @JohnHalleyGotway

Per a discussion with John HG this morning, the units of the track spread values will be in nautical miles (instead of kilometers), unless it should be km instead?

Also wanted to mention, related to these new consensus variables (track-spread, mslp-spread, max-wind-speed) we could also output the number of models (ensemble members) that went into

[2022-10-10 17:45] JiayiPeng-NOAA commented on #2036
Sounds good to me.

On Mon, Oct 10, 2022 at 1:27 PM Seth Linden ***@***.***>
wrote:

[2022-10-10 17:53] KathrynNewman commented on #2036
@sethlinden - I would go with nm rather than km for consistency. I could see the number of ensemble members being useful information to have, but if @JiayiPeng-NOAA doesn't think it's a necessary feature, it's probably fine to hold off on that!

[2022-10-10 18:06] j-opatz commented on #2155
I think it's OK to ignore negative offsets for time. I've never seen it used before and can't imagine a situation where it would be appropriate.

[2022-10-10 19:40] JiayiPeng-NOAA commented on #2036
Hi Seth,
I just checked the operational code for GEFS ensemble mean track
calculation (see below).
GEFS has 30 ensemble members (plus one control), I set the minimum number
12 for its mean/spread calculations.
Sometimes we do not have 12 GEFS members' track data, there will be no
output for ensemble mean track and spread.

So, it's quite important to output the number of the ensemble members for
t

[2022-10-10 19:48] sethlinden commented on #2036
@KathrynNewman yep sounds good, ywa the track-spread is being output in nautical miles now.

@JiayiPeng-NOAA we can certainly add a new output column to the TCMPR stat line type that shows the number of ensemble members. What do you think we should call it?

NUM_MEMBERS?
or
CONS_MEMBERS?
or
SPREAD_MEMBERS?

Open to suggestions?

[2022-10-10 20:26] JiayiPeng-NOAA commented on #2036
Hi Seth,
I prefer the first one: NUM_MEMBERS.
While you are outputting TRACK_SPREAD, MSLP_SPREAD, MAX_WIND_SPREAD,
NUM_MEMBERS, please also include:
TRACK_MEAN (LAT_MEAN; LON_MEAN), MSLP_MEAN, MAX_WIND_MEAN in the same stat
file.
Thanks,
Jiayi

On Mon, Oct 10, 2022 at 3:48 PM Seth Linden ***@***.***>
wrote:

[2022-10-10 20:41] jprestop opened #2295 "Automate a process to detect linker errors in GHA"
## Describe the Task ##
This issue arose from MET Issue: [Create test to replicate MET-11.0.0-beta3 linker errors and fix them #2281](https://github.com/dtcenter/MET/issues/2281).  While we were able to use "--as-needed" in LDFLAGS:
[code]
for replicating the linker error on seneca, automating this process has proven to be more difficult.

The branch feature_2281_linker_actions was set up to test,

[2022-10-10 22:47] jvigh commented on #392
@JohnHalleyGotway,

I've been digging into the lsdiag file contents much more deeply, as I have to write a NetCDF converter for another project (it's in NLC). I just wanted to provide you with the new web page for the SHIPS Dataset (since there is still an old one floating around). The new one is:
https://rammb2.cira.colostate.edu/research/tropical-cyclones/ships/

Note that there is both a 5-day

[2022-10-10 22:55] sethlinden commented on #2036
@JiayiPeng-NOAA sounds good. I think we may already be producing some of that output for the "consensus" model (TRACK_MEAN (LAT_MEAN; LON_MEAN), MSLP_MEAN, MAX_WIND_MEAN). But if we are not, I can certainly add those variables. I will also add output for NUM_MEMBERS. Thanks!

[2022-10-11 04:06] jvigh commented on #392
Alright, so if you unpack all the variables in which they store a bunch of
non-time-related parameters in the time rows, there are actually 288
variables. A bit much!
I've added all of these subvariables into the spreadsheet now.

[2022-10-11 09:11] CPKalb commented on #1954
Hi John:

Just to verify.  In the script, it looks like it computes percentiles over
a specified dimension.  But, does it use an empty list for that dimension?
It looks like if it computes percentiles over lon, then it sets lats to an
empty list and retains the lon values.  Is that interpretation correct?

Tina

On Tue, Sep 6, 2022 at 3:01 PM johnhg ***@***.***> wrote:

--
************************

[2022-10-11 13:41] JiayiPeng-NOAA commented on #2036
Hi Seth,
While you are calculating ensemble spread, you have all the ensemble mean
data (Mean_LAT, Mean_LON, Mean_SLP and Mean_WindSpeed).
Please output these variables in one file, which will help for further
statistical analysis.
Thanks,
Jiayi

On Mon, Oct 10, 2022 at 6:55 PM Seth Linden ***@***.***>
wrote:

[2022-10-12 01:41] hsoh-u commented on #2155
Modified to handle the case when the start day (the reference day) is not the first day of the month.
Note: **use nearest day**, no exceptional calculation for February

1. months unit
- when the start day is the first of the month (most common cases)
  - add months from the integer part
  - case 1: 0.5 month is just changing the day to 15
  - case 2: otherwise adds nearest days from the fractiona

[2022-10-12 02:08] hsoh-u commented on #2042
The same result with netcdf-c-4.9.0 (compile with g++ (Debian 8.3.0-6) 8.3.0). The C++ API throws an exception. Using C API does not help.
Note: netcdf-cpp was not updated (netcdf-cxx4-4.3.1).

[2022-10-12 02:11] hsoh-u commented on #2068
The units attribute of the dateTime variable at MetaData group is a string data type. The NetCDF API does not support this data type [issue 2042](https://github.com/dtcenter/MET/issues/2042).

[2022-10-12 16:02] JohnHalleyGotway opened #2297 "Fix GHA warnings and update the version of actions (i.e. actions/checkout@v3)"
## Describe the Task ##
Based on [this article](https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/), we need to prepare all of our GitHub actions to run on Node 16 rather than Node 12. This is easily done by switching from `uses: actions/checkout@v2` to `uses: actions/checkout@v3`.

In addition, several warning messages also appeared

[2022-10-12 16:31] jprestop opened #2298 "Move release notes into its own chapter in the User's Guide"
## Describe the Task ##
Move the [MET Release Notes](https://met.readthedocs.io/en/develop/Users_Guide/overview.html#met-release-notes) section out of the Overview chapter and into it's own chapter (under Overview - the Release Notes will become chapter 2). Rename in the following way:

- 1.5 MET Release Notes -> 2 MET Release Information
- Modify the index.rst file to add the new chapter "release

[2022-10-12 16:31] JohnHalleyGotway commented on #2297
Based on https://docs.github.com/en/actions/using-workflows/workflow-commands-for-github-actions#environment-files
Also need to update our use of set-output.
FROM: `echo ::set-output name=run_compile::$run_compile`
TO: `echo "run_compile=${run_compile}" >> $GITHUB_OUTPUT`

[2022-10-12 18:32] jprestop commented on #2260
I performed the steps listed in the issue and was able to recreate the problem.  @JohnHalleyGotway, thank you for the detailed, clear instructions and the information on what the problem is.  Tagging @georgemccabe in case you're interested in the update here too.

Setting the environment variable PYTHONHOME resolves this problem on seneca  (see below), but **does not** resolve this problem in Dock

[2022-10-12 18:39] georgemccabe commented on #2260
@jprestop , finding a function call in either the Python C++ library or the relevant Python script called by MET to set the same setting that occurs by setting PYTHONHOME may be a good solution to ensure that this happens only in that environment. Setting PYTHONHOME in the environment may introduce other issues.

[2022-10-12 19:16] JohnHalleyGotway commented on #2297
The trigger METplus action is still not working as seen in [this run](https://github.com/dtcenter/MET/actions/runs/3237047363/jobs/5303626888):
[code]
Compare to a previously [successful run](https://github.com/dtcenter/MET/actions/runs/3191983526/jobs/5208937579):
[code]
So `develop-lite` has become `refs/heads/develop-lite`. Need to fix this.

[2022-10-12 19:35] #2297 closed, assigned to JohnHalleyGotway

[2022-10-13 15:33] JohnHalleyGotway commented on #2232
@sethlinden and @davidalbo wondering if either of you would be available to work on this issue in the next few weeks. It is relatively straight-forward and would make its use more convenient.

[2022-10-13 16:54] JohnHalleyGotway commented on #392
@jvigh and @KathrynNewman, I'm working through the logic of TC-Stat filtering data by the diagnostics. I have a few questions:

1. I'm adding a `-diag_thresh` job command option similar to the `-column_thresh` option but for the diagnostics values. How should the `-diag_thresh` option work? Obviously, if a track point HAS diag data, we should only keep points where the diag value meets all specifi

[2022-10-13 19:41] KathrynNewman commented on #392
@JohnHalleyGotway, here are my thoughts:
1. I'm leaning toward discard. If you want to apply the threshold to the diagnostic values, I think you would only want to include track points that include that information.
2. -init_diag_thresh job command option could be useful. I'd vote yes for this option.
@jvigh, what do you think?

[2022-10-13 20:57] sethlinden commented on #2232
@TaraJensen what account key should I use for this? Thanks.

[2022-10-14 03:14] jvigh commented on #392
@JohnHalleyGotway, I'm not sure if I understand enough about the normal behavior of TC-Stat to know fore sure how to apply it for this new tool, but I'll try. For 1, I think there could be cases in which it could go either way. But the normal uses would likely involve discarding points with no diag data.  

Will there be the option to filter all the other diagnostics based on the value of one or m

[2022-10-14 08:31] RachelNorth commented on #1943
@hsoh-u I've uploaded the sample gridded daily climatology netcdf files, into North_data on the ftp server.  These fields are the 0-0UTC climatology derived from the TRMM 3B42 satellite product (https://disc.gsfc.nasa.gov/datasets/TRMM_3B42_7/summary). The metadata for these fields isn't ideal, but I hope the variable names will be obvious. If you have any questions, please get in touch.

[2022-10-14 20:57] DanielAdriaansen opened #2302 "Add a Python helper script/function to transform point_data objects to met_point_data objects for Python Embedding"
## Describe the Enhancement ##
Write a new Python helper script to take a `point_data` object and transform it to a `met_point_data` object, to avoid the user having to use ASCII2NC with Python Embedding prior to calling another MET tool.

The workflow would look like this:
1) User Python script is executed that constructs a `point_data` object
2) User can import functions from this Python helper

[2022-10-14 21:00] DanielAdriaansen commented on #2302
@hsoh-u please add any details I may have left out, or edit the issue description if I have misrepresented the idea. Thanks!

[2022-10-14 21:04] DanielAdriaansen opened #2303 "Improve documentation on Python Embedding for point observations"
## Describe the Enhancement ##
Improve the documentation for Python Embedding with point data:
1) Include more explicit information on the expected data types required, or add clarification to existing documentation
2) Include a new section on the helper script for transforming `point_data` to `met_point_data` once #2302 is complete.

### Time Estimate ###
4 hours

### Sub-Issues ###
Consider brea

[2022-10-17 16:33] lisagoodrich commented on #2298
My feature branch is :  feature_2296_release_notes_move

On the pull request I linked to [Move release notes into its own chapter #2298](https://github.com/dtcenter/MET/issues/2298). Please note the numbers are different.  I didn't know how to handle this.

[2022-10-17 18:49] #1749 closed, assigned to JohnHalleyGotway, bgbrowntollerud, j-opatz

[2022-10-17 20:53] hsoh-u commented on #926
This can be done by using python embedding. There is a python package. [PyBufrKit](https://github.com/ywangd/pybufrkit) \& [Documenation](https://pybufrkit.readthedocs.io/en/latest/).

[2022-10-18 19:05] #2276 closed, assigned to davidalbo, j-opatz

[2022-10-18 19:25] JohnHalleyGotway opened #2306 "Fix ascii2nc_airnow_hourly test in unit_ascii2nc.xml"
## Describe the Problem ##
During review of #2294 for issue #2276, a problem was discovered in the output of the `ascii2nc_airnow_hourly` test in unit_ascii2nc.xml. The output file created by this test (HourlyData_20220312.nc) contains values of Infinity (`Inf`). While the GHA run for that PR did increase the occurrence of Inf in the output, the problem existed prior to those code changes.

This i

[2022-10-18 20:05] #2155 closed, assigned to hsoh-u, j-opatz

[2022-10-18 22:57] davidalbo commented on #2306
This is tricky.  Will revisit tomorrow first thing.  Seems to (possibly) be something to do with the lookup file with latitude/longitudes.

[2022-10-19 15:55] davidalbo commented on #2306
@JohnHalleyGotway don't understand what I'm supposed to do here:
*Post relevant sample data following these instructions:*
*https://dtcenter.org/community-code/model-evaluation-tools-met/met-help-desk#ftp*

I believe I have a bug fix otherwise, and ready to do a pull request.
I was incorrectly setting an index into the lookup lat/lons when testing 3 different possible station id's (in the lookup f

[2022-10-19 17:31] lisagoodrich commented on #2298
Work is completed.

[2022-10-19 17:31] #2298 closed, assigned to lisagoodrich

[2022-10-19 19:18] j-opatz opened #2308 "Allow observation anomaly replacement in Anomaly Correlation Coefficient (ACC) calculation"
## Describe the New Feature ##
In discussions with Gwen Chen from EMC, there seems to be an opportunity for expansion with MET's calculation of Anomaly Correlation Coefficient (ACC).

As it currently stands, ACC is calculated with the following equation:
![Screen Shot 2022-10-19 at 12 46 45 PM](https://user-images.githubusercontent.com/59586397/196778138-9b6c1cf7-7537-45e5-9cea-6c8eea0ea043.png)
W

[2022-10-19 21:24] JohnHalleyGotway opened #2309 "Fix TC-Stat parsing of TCMPR lines"
*Replace italics below with details for this issue.*

## Describe the Problem ##
*Provide a clear and concise description of the bug here.*

### Expected Behavior ###
*Provide a clear and concise description of what you expected to happen here.*

### Environment ###
Describe your runtime environment:
*1. Machine: (e.g. HPC name, Linux Workstation, Mac Laptop)*
*2. OS: (e.g. RedHat Linux, MacOS)*
*

[2022-10-19 21:43] jprestop commented on #1774
Consider adding a section to list the steps needed for creating a GitHub project:

- copy/update the title and description
- add new columns to the default view
- define all the other views
- change from default private to public
- copy over the workflow automation settings
- add the METplus team with write permission plus any other admins
- go to each repo and "add" the new project to it

[2022-10-19 22:24] #2309 closed, assigned to JohnHalleyGotway

[2022-10-20 15:30] #2281 closed, assigned to jprestop

[2022-10-20 15:44] TaraJensen commented on #2131
From an email discussion with Maria - I think we can close this with the note that it was determined it is not needed.

<html><body>
<div dir="ltr">Thanks for clarifying John! Tara, I think that's all we need for the zonal speed plots I'm working on.<div><br></div><div>Maria</div><div><br clear="all"><div><div dir="ltr" data-smartmail="gmail_signature"><div dir="ltr"><div><font color="#666666">Mar

[2022-10-20 15:46] #2131 closed, assigned to CPKalb

[2022-10-20 17:19] j-opatz commented on #2308
This issue was discussed in the 10/20/22 MET engineer meeting. The consensus is that given the backlog of work that needs to be completed before the MET v11.0.0 release, in addition to funding available and deadline for the EVS, this work will not meet the December 1st deadline nor the v11.0.0 release, and will need to be added to work for the next upcoming release. Milestone was adjusted accordin

[2022-10-20 20:27] JohnHalleyGotway commented on #392
@KathrynNewman and @jvigh I need some help. While MET is parsing the lsdiag data, I'm comparing the LSDIAG reported lat/lon locations to the corresponding SHIP track data.

Based on this [README file](https://ftp.nhc.noaa.gov/atcf/README)...
[code]
I assume that the lsdiag data corresponds to the SHIP track data.

For example...
LSDIAG file:
   https://ftp.nhc.noaa.gov/atcf/lsdiag/22091618AL0722_l

[2022-10-20 20:41] jvigh commented on #392
@JohnHalleyGotway - when you say these do not match, what do you mean? It looks like there is a match at 0 h:
![image](https://user-images.githubusercontent.com/19677014/197051999-1441a5fa-cfde-4f5c-92ab-1a50a5b6675d.png)

This matches the t=0 CARQ lat/lon in the a-deck:
![image](https://user-images.githubusercontent.com/19677014/197052793-73e27ddc-38fd-48b1-9fe4-f394d23469ff.png)

And the NHC off

[2022-10-20 20:52] jvigh commented on #392
@JohnHalleyGotway -  Alright, I see what you're talking about. Let me send a quick email to John Knaff, Mark DeMaria, and Robert DeMaria.

[2022-10-21 12:09] robdarvell commented on #2068
Just back from leave, and working through my emails.
I see a comment on the QC flag values. Looking at those numbers quoted they appear to match up with values which the MetOffice output use for their QC setting.
These values are 2^ and bits relate to different options, ie background check, buddy check etc.
These values can also include more than one entry, ie 72 would be 64 + 8
If the number is o

[2022-10-21 20:44] JohnHalleyGotway commented on #392
Additional development tasks defined while meeting 10/20/22:
- [x] Add `tcdiag_convert_map` and `lsdiag_convert_map` config entries to the TC-Pairs config file.
   - **DONE** on 10/21/22, but I realize the handling of 30 lsdiag rows requires special logic to be added.
   - Refined on 10/22/22 to let tcdiag_convert_map contain both name and units strings.
- [x] When the diag (lat, lon) and adeck (l

[2022-10-24 16:31] davidalbo commented on #2143
@JohnHalleyGotway  @hertneky can you point me to a tool that **does** do the grid/poly masking?

[2022-10-24 21:16] hertneky commented on #2143
@davidalbo This functionality is in the MODE tool, among other tools.
In the MET config:
mask = {
   grid      = "";
   grid_flag = NONE; // Apply to NONE, FCST, OBS, or BOTH
   poly      = "";
   poly_flag = NONE; // Apply to NONE, FCST, OBS, or BOTH
}

In MODE METplus conf:
MODE_MASK_GRID =
MODE_MASK_GRID_FLAG =
MODE_MASK_POLY =
MODE_MASK_POLY_FLAG =

[2022-10-25 20:20] #2306 closed, assigned to davidalbo

[2022-10-26 02:26] #2042 closed, assigned to hsoh-u

[2022-10-26 22:52] JohnHalleyGotway commented on #2058
@mpm-meto please see the documentation I'm adding in Appendix C for this new [BIAS_RATIO statistic](https://met.readthedocs.io/en/feature_2058_bias_ratio/Users_Guide/appendixC.html#:~:text=33.5.4.%20Bias%20Ratio-,%EF%83%81,-Called%20%E2%80%9CBIAS_RATIO%E2%80%9D%20in).

Questions:
- Any changes to my brief description or the equation itself?
- Can you please send me a sentence or two describing the

[2022-10-27 20:35] TaraJensen commented on #1943
@mpm-meto - can you provide any guidance on our current blocker while Rachel is out?

Blocker:
We do still need to define the columns that should be included in a new SEEPS line type.
MET https://github.com/dtcenter/MET/issues/1942 left the S12 through PV3 columns set as NA. Work for this issue should actually define their contents.

[2022-10-28 04:02] JohnHalleyGotway opened #2318 "Create the MET v10.0.2 release"
## Describe the Task ##
There are [3 issues](https://github.com/dtcenter/MET/milestone/75?closed=1) for MET v10.0.2 that have been identified and fixed.
This release was requested via GitHub discussion dtcenter/METplus#1899.

### Time Estimate ###
2 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issues required.

### Relevant Deadlines ###
None

### Funding Sour

[2022-10-28 04:33] #2318 closed, assigned to JohnHalleyGotway

[2022-10-28 20:08] #2058 closed, assigned to JohnHalleyGotway, mpm-meto

[2022-10-28 21:47] #2232 closed, assigned to sethlinden

[2022-10-28 22:18] #392 closed

[2022-10-28 22:24] JohnHalleyGotway opened #2321 "Refine TCDIAG output from TC-Pairs as needed"
## Describe the Enhancement ##
Pull request #2315 for issue #392 added a new TCDIAG line type to the output of TC-Pairs. That issue contained the majority of the work but some cleanup tasks remain. Please see below:

- [x] @jvigh write the **Storm Diagnostics** section of the tc-pairs.rst chapter.
- [ ] @jvigh (Unrelated to the MET repository) Consider adding METplus use case(s) to demonstrate the

[2022-10-29 13:55] JohnHalleyGotway opened #2322 "Create the MET-11.0.0-beta4 release"
## Describe the Task ##
This task is to create the MET 11.0.0-beta4 release scheduled for Wednesday 10/26/22, but actually occurring a few days later, following the instructions in the [Release Guide](https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html).

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue requir

[2022-10-30 03:22] #2068 closed, assigned to hsoh-u, willmayfield, robdarvell

[2022-10-31 02:03] #2322 closed, assigned to JohnHalleyGotway

[2022-10-31 16:22] sethlinden commented on #2240
@TaraJensen what account key should I use for this work.. Lately I've been using 2773542 for my MET development work. Thanks.

[2022-10-31 18:08] JohnHalleyGotway opened #2325 "Add MAE to the ECNT line type from Ensemble-Stat and for HiRA"
## Describe the Enhancement ##
This is a short-fuse request from NOAA/EMC that arose during the NOAA METplus User telecon on 10/31/22. This task is to enhance the ECNT line type to include the MAE of the ensemble mean in the output. The existing ECNT line type includes ME and RMSE but not MAE. Since the ME/RMSE output is provided for both unperturbed and perturbed ensemble means, consider doing th

[2022-10-31 22:41] #2325 closed, assigned to JohnHalleyGotway

[2022-11-01 14:16] AliciaBentley-NOAA opened #2328 "Read in HDF-EOS5 (.he5) validation data files"
## Describe the New Feature ##
A future version of MET will ideally be able to read in NASA's OMI dataset in order to verify Total Column Ozone. This dataset is in HDF-EOS5 (.he5) format.

### Acceptance Testing ###
**Data on WCOSS2 are downloaded from NASA, so the data are the same**
(On WCOSS2)
/lfs/h1/ops/dev/dcom/YYYYMMDD/validation_data/aq/omi/omi_aura_${YYYY}m${mmdd}_v883-${YYYY}m${mmdd}t${H

[2022-11-01 17:47] jprestop opened #2329 "Update compilation script and tar files package with updated HDF and NetCDF versions"
## Describe the Task ##
The METbaseimage repository was updated to use the following versions of HDF and NetCDF:
HDF5  1.10.6
NetCDF-c  4.7.4
NetCDF-cxx 4.3.1

These match the WCOSS2 versions as of October, 2022.
Modify the compilation script to configure these packages in the same way that METbaseimage does and update the tar files package to include the new packages.

### Time Estimate ###
<1 da

[2022-11-02 19:56] JohnHalleyGotway opened #2332 "Add the Mean Absolute Difference (SPREAD_MD) to the ECNT line type"
## Describe the Enhancement ##
dtcenter/MET#2206 added the CRPS_EMP_FAIR statistic to the ECNT line type in MET-11.0.0-beta3. While doing that development, we overlooked [this comment](https://github.com/dtcenter/MET/issues/2206#issuecomment-1211753935) from @RogerHar.

This issue is to remedy that by adding the mean absolute difference statistic to the ECNT line type as an alternative measure of

[2022-11-03 04:11] #2332 closed, assigned to JohnHalleyGotway

[2022-11-03 19:18] JohnHalleyGotway commented on #2328
Recommend considering this feature request in the larger context of the libraries upon which MET already depends.

As of version 11.0.0, MET depends on:
- NetCDF4 and HDF5 (since NC4 depends on HDF5)
- HDF4 and hdfeos version 2

The `lidar2nc` requires the HDF4 library.
The `modis_regrid` tools requires the very old hdfeos version 2 library.

Adding support for this HDF-EOS5 data will like cause c

[2022-11-03 19:20] #2224 closed, assigned to JohnHalleyGotway

[2022-11-03 19:22] #2277 closed, assigned to JohnHalleyGotway

[2022-11-03 19:49] sethlinden commented on #2206
We discovered a small mathematical bug in the calculation for Mean Absolute Difference (SPREAD_MD) which is also used to calculate CRPS_EMP_FAIR. In the spread-md calculation we were dividing by (n*(n-1)), where n is the total number of ensemble members. But since the loop over the sum of the differences already takes into account when i !=j, we really needed to divide by the number of "difference

[2022-11-03 20:40] JohnHalleyGotway commented on #1693
See the following for reference:

- GRIB1: No LAEA definition found: https://www.nco.ncep.noaa.gov/pmb/docs/on388/table6.html
- GRIB2: LAEA defintion: https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp3-140.shtml
   - Defines `Standard parallel` and `Central longitude`
- NetCDF CF-Convention: LAEA definition: https://cfconventions.org/Data/cf-conventions/cf-conventions-1.10/cf-conve

[2022-11-04 12:45] PerryShafran-NOAA commented on #2142
Hi, @JohnHalleyGotway @davidalbo @DanielAdriaansen,

I understand that this is now available in the METplus 5.0 beta4 version that is now installed on Hera.  I'd like to test this new capability, but I just realized that I don't have the use case to allow me to do this.  Can you provide some assistance on how I can run the new capability?

Thanks!

Perry

[2022-11-04 19:57] BinbinZhou-NOAA commented on #2325
Based on the new ECNT table in the document of MET_110.0.0_beta4, I have checked MAE values in
the ECNT line type from the tested output stat files  on HERA. Since there is no reference, I used
Yan's verification plots (from EMC Verification page). The results show that the MAE values in
the new  ECNT are very closed to Yan's plots for all fields.

[2022-11-05 04:46] hsoh-u commented on #2218
![radolan_polar_stereographics](https://user-images.githubusercontent.com/15203106/200101625-1da7ea66-baf0-457a-91a1-8022e7440396.png)

[2022-11-07 21:00] JohnHalleyGotway commented on #2142
Perry, I see you have questions about HOW to test out this new support for ASCII AIRNOW data.

The purpose of adding this support was to enable you to transition your use case from using the PrepBUFR-based AIRNOW data over to using the ASCII input instead.

If I were in your position, I think I would do some of the following:

1. Try running some sample ASCII AirNow data through ascii2nc to ensure

[2022-11-07 22:28] davidalbo commented on #2142
John has covered it. I'd just add you can either run it in a simple way with an input and output file specified:

`ascii2nc inputasciifile  outputncfile`

in which case the program should figure out what format the inputasciifile is, or you can specifiy which airnow format your file is using one of these additional command line options

[code]

For the airnowhourly format there is an external file

[2022-11-08 13:40] PerryShafran-NOAA commented on #2142
I did run ascii2nc on hera using a sample ASCII file, and it produced a netcdf file.  That was the first step.  I learned that it was already configured to run on various AIRNOW ASCII files by just doing an ascii2nc.  I suppose it will be relatively simple to translate this to METplus from here on out.

It will probably take a bit to figure out whether the results will be comparable to prepbufr, b

[2022-11-09 21:25] JohnHalleyGotway opened #2337 "Rename the TCDIAG SOURCE column as DIAG_SOURCE"
## Describe the Task ##
dtcenter/METdataio#131 updates the schema to load the TCDIAG line type into the database. However @venitahagerty notes that the INDEX and SOURCE column names in the TCDIAG line type cause a namespace conflict with reserved database names.

We discussed this at the 20221109 METplus Analysis tools meeting and decided:
1. Since INDEX appears in several MET output line types, k

[2022-11-09 22:40] venitahagerty commented on #2337
I don't think it makes a difference to MET, but just for consistency, noting that the MySQL field name in line_data_tcmpr and line_data_tcdiag for the index is index_pair.

[2022-11-09 23:16] JohnHalleyGotway commented on #1693
@robdarvell and @mpm-meto I'm working away on this issue. I'm using the GRIB2 file name `ukv_agl_temperature_1.5_12.grib2` for development and testing.

**Can you please send me a plot of to demonstrate where on the earth this data should live?**

For reference, here's the [ECMWF definition](https://apps.ecmwf.int/codes/grib/format/grib2/templates/3/140) and [NOAA definition](https://www.nco.ncep.

[2022-11-10 15:45] robdarvell commented on #1693
@JohnHalleyGotway looking at the filename (and once I spotted where you obtained it from) it seems to be one of our UK model domains. Having searched around for an image, I have attached the best thing I could find, but it should give you an indication of where it is supposed to be.
![Screenshot 2022-11-10 154040](https://user-images.githubusercontent.com/63108044/201140408-d3ed415d-8472-40e1-95f0

[2022-11-10 15:49] #2206 closed, assigned to sethlinden, j-opatz

[2022-11-10 17:16] JohnHalleyGotway opened #2339 "Enhance Stat-Analysis to aggregate SEEPS_MPR and SEEPS line types."
## Describe the Enhancement ##
- MET #1942 enhances Point-Stat to write the SEEPS and SEEPS_MPR line types when verifying against point observations.
- MET #1943 enhances Grid-Stat to write the SEEPS line types when doing grid-to-grid comparisons. Also consider writing SEEPS_MPR information to the "_ncpairs.nc" output file.
- This issue is to enhance Stat-Analysis to aggregate these new line types

[2022-11-10 17:54] JohnHalleyGotway commented on #1693
@rgbullock please see this image that @robdarvell provided (Thanks Rob!).

Please use this for your development/testing of the MET LAEA library code.

Running the `ukv_agl_temperature_1.5_12.grib` file ([ukv_agl_temperature_1.5_12.grib.gz](https://github.com/dtcenter/MET/files/9983460/ukv_agl_temperature_1.5_12.grib.gz)) through `wgrib2` does not produce believable results for `Lon1 = 2164.600777`

[2022-11-10 21:59] #2337 closed, assigned to JohnHalleyGotway

[2022-11-10 22:28] jvigh commented on #2321
After consultation with CIRA, it was decided to revise the naming schema for the DIAG_SOURCE values to include the group/center that is responsible for the diagnostics (alternatively, the actual model name). The DEV suffix indicates that a perfect prog technique is used to derive the diagnostics (based on analyses). The RT suffix indicates that the diagnostics are computed along some forecast trac

[2022-11-10 23:18] jvigh commented on #2321
John and Jonathan discussed this offline. The plan is to meet Monday to hash all this out and figure out the best solution.

Issues for discussion:
- Should TCpairs be able to attach multiple sets of diagnostics to the same track object? (currently only one is permitted)
- What is the best way to solve the namespace conflicts if a user uploads multiple sets of diagnostics from the same source, but

[2022-11-10 23:36] JohnHalleyGotway commented on #2321
As discussed on 11/10/22, we could add new output column(s) between the existing `DIAG_SOURCE` and `N_DIAG` columns to indicate what data was used to create the model diagnostics.

Ideally we'd be able to extract this metadata from the diagnostic data files being read. But they do NOT currently contain this info. So that's not a viable option. Although it is possible that a future version of the C

[2022-11-12 19:04] #2339 closed, assigned to RachelNorth, JohnHalleyGotway

[2022-11-14 19:59] JohnHalleyGotway commented on #1693
@robdarvell and @mpm-meto, I went hunting for the NetCDF sample data file for this LAEA grid. Based on [this comment](https://github.com/dtcenter/MET/issues/1693#issuecomment-1262481787) I made back in September, I looked at these sample files:
[code]
However, these sample files define a "Rotated Lat/Lon" projection rather than a Lambert Azimuthal Equal Area one, as expected:
[code]
@robdarvell ca

[2022-11-14 23:39] JohnHalleyGotway commented on #2036
Received feedback from @JiayiPeng-NOAA on 11/14/2022 recommending that we rename the 5 new TCMPR output columns as follows. Note that I swapped the order of TRACK_SPREAD and TRACK_STDEV below to group all the STDEV columns together:
[code]
I confirmed and approved these changes with @KathrynNewman.

Reopening this issue to handle this renaming.

[2022-11-15 16:49] #2036 closed, assigned to sethlinden, mrinalbiswas, KathrynNewman, JiayiPeng-NOAA

[2022-11-15 17:38] robdarvell commented on #1693
@JohnHalleyGotway : I have put some files into darvell_data (on the ftp server) which should hopefully assist you.

The ones above you reference are from our UKV model (which is rotated-pole rather than LAEA)

[2022-11-16 08:41] mpm-meto commented on #1694
Tested GridDiag in MET11beta4 and seems to work as intended with the variable name changes etc. Thanks!

[2022-11-16 16:16] JohnHalleyGotway commented on #1694
@mpm-meto, thanks for confirming that this works as expected. Glad to hear it!

[2022-11-16 20:38] JohnHalleyGotway commented on #1693
Thanks @robdarvell, I just grabbed those files but did not find what I expected:
[code]
Looks like this is for a [Transverse Mercator](https://cfconventions.org/Data/cf-conventions/cf-conventions-1.10/cf-conventions.html#_transverse_mercator) projection rather than [Lambert Azimuthal Equal Area](https://cfconventions.org/Data/cf-conventions/cf-conventions-1.10/cf-conventions.html#lambert-azimuthal

[2022-11-16 20:53] #2321 closed, assigned to jvigh, KathrynNewman, JohnHalleyGotway

[2022-11-16 21:27] DanielAdriaansen commented on #2285
One question- it looks like the implementation of this removes the possibility of providing `point_data` to all MET tools, is that correct? The way forward is to always require `met_point_data`, but a helper function called `convert_point_data` exists for backwards compatibility for now?

Or is it possible to provide either `point_data` or `met_point_data` and MET will decide which exists?

[2022-11-16 21:35] JohnHalleyGotway opened #2349 "Add support for the `mask.llpnt` masking option to the MET grid-to-grid tools."
## Describe the New Feature ##
The `mask.llpnt` masking option is currently supported in Point-Stat and Ensemble-Stat. This is a convenient option to easily define mask regions by defining thresholds for the latitude and longitude values. Recommend adding support for this masking option to Grid-Stat and other grid-to-grid tools in which it's not currently supported.

For example, this provides a s

[2022-11-16 21:43] JohnHalleyGotway commented on #2285
The latter. Ideally it'd be possible to provide either `point_data` or `met_point_data` and MET will see which exists and use it accordingly.

The first option would still be useful. However, it'll raise the bar for users, requiring them to understand the details, find and use the helper function, and for use to write more documentation and users to read it.

[2022-11-16 21:53] DanielAdriaansen commented on #2285
I guess what I am saying, is that from reviewing what @hsoh-u did, I don't see how it's possible to provide `point_data` any longer. It looks like `met_point_data` is required, as evidenced by the call to `convert_point_data` inside `read_ascii_point.py`: https://github.com/dtcenter/MET/blob/911ac9b39df36bc6a68e147e10218e9dae1fb0cc/scripts/python/read_ascii_point.py#L37-L43

If users have any Pyth

[2022-11-16 23:29] DanielAdriaansen commented on #2285
OK, @hsoh-u redirected me to #2302, which is what #2340 is closing, and NOT this issue. Thanks Howard!

I was the creator of #2302, which we decided would be "bridge" work to get us to fully implementing what's desired in this issue (#2285).

@JohnHalleyGotway it sounds like we will get to this issue at a later date which is supporting either `point_data` or `met_point_data` in all MET tools regar

[2022-11-16 23:37] hsoh-u commented on #2218
MET does not support the polar stereographics for ellipsoidal Earth, yet.
The sample files above are for ellipsoidal Earth. It can be identified by 1) "inverse_flattening" attribute or 2) different values of semi_major_axis and semi_minor_axis attributes which are not required.

[code]

[2022-11-18 03:34] #2085 closed, assigned to hsoh-u, DanielAdriaansen

[2022-11-18 09:31] robdarvell commented on #1693
Apologies @JohnHalleyGotway for the duff data. I was told the radar files were on the LAEA grid, but I hadn't actually checked through the ncdump before I sent them.

I have placed a new temperature and visibility file onto the ftp server, and checked that the ncdump talked about LAEA on them. Hopefully (!) they are what you need.
They cover the UKV (ie UK) domain.

Rob

[2022-11-18 22:00] #2302 closed, assigned to hsoh-u, DanielAdriaansen, JohnHalleyGotway

[2022-11-20 15:54] JohnHalleyGotway opened #2354 "Create the MET-11.0.0-beta5 release"
## Describe the Task ##
This task is to create the MET 11.0.0-beta5 release scheduled for Wednesday 11/14/22, but actually occurring on 11/20/22, following the instructions in the [Release Guide](https://metplus.readthedocs.io/en/develop/Release_Guide/met_development.html).

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issue required.

[2022-11-20 16:42] #2354 closed, assigned to JohnHalleyGotway

[2022-11-21 23:14] JohnHalleyGotway opened #2356 "Further refine the use of diagnostics in TC-Pairs (draft)"
## Describe the Enhancement ##
Listed below are suggested enhancements to the TC-Pairs tool to make better use of the TC Diagnostics data.

1. When multiple diagnostic data sources are assigned to the same ATCF ID, make sure that all are written in separate TCDIAG lines after the corresponding TCMPR line.
2. Allow `match_to_track` to be to set to a value of `"BEST"`, and when it is, write a TCDIAG

[2022-11-28 19:51] JohnHalleyGotway opened #2357 "Add sanity check to error out when both is_u_wind and is_v_wind are set to true"
## Describe the Enhancement ##
This issue arose in the dtcenter/METplus#1970 discussion. The user defined both `is_u_wind = TRUE;` and `is_v_wind = TRUE;` inside the `fcst` and `obs` dictionaries rather than specifying them separately for each field. This certainly is an easy thing to do and warrants that more error checking be added to MET.

In `VarInfo::set_dict(...)`, add a check so that if bot

[2022-11-29 22:00] JohnHalleyGotway opened #2359 "Add a new `derive` configuration option to summarize data across multiple levels"
## Describe the New Feature ##
This feature request arose via dtcenter/METplus#1948 and is described in this [comment](https://github.com/dtcenter/METplus/discussions/1948#discussioncomment-4267404). It was requested in the context of the gen_ens_prod tool but could be applied widely across the MET tools. Recommend adding a new `derive` configuration option to specify how multiple levels of input

[2022-11-30 17:24] #2357 closed, assigned to JohnHalleyGotway

[2022-11-30 20:46] JohnHalleyGotway commented on #2278
I've realized/documented the fact that time summaries are always written by PB2NC with a quality flag of NA. For other derived obs, like CAPE, DPT, and so on, it's computed as the maximum of the quality marks that went into the derivation.

So the question is...
- Should we leave the functionality as is and be satisfied that we documented it?
- Or should we modify the library code used to compute