[2020-12-18 22:19] JohnHalleyGotway commented on #1448
Let's say we've found a matching BEST track. But when we search that BEST track, no points actually meet the genesis criteria because the user has setup the TC-Gen config file in a stringent way. Is that just a false alarm... a genesis forecast for which there is no qualifying BEST track genesis event? That would be the simplest way of handling it in the current logic.

[2020-12-18 22:31] halperin-erau commented on #1448
Yes, that should be a false alarm.  There are practical scenarios when that would happen.  For example, let's say that the config file has

category = [ "TD", "TS"];

and there is a GFS genesis forecast that matches a BEST entry for AL012019.  However, AL012019 was a subtropical storm (category "SS") and therefore not a BEST genesis event as defined by the config file.  So, that GFS genesis foreca

[2020-12-18 22:39] JohnHalleyGotway commented on #1448
Great, thanks Dan! Next question. We currently have the following TC-Gen config entry:
[code]
Am I correct in thinking that with the updated logic, this no longer applies?

[2020-12-18 22:52] halperin-erau commented on #1448
You're correct that we will no longer need that option to match a forecast to BEST or CARQ since we're looking for an exact match between model forecast genesis (valid) time and BEST/CARQ time.

However, we will need a similar option (or options?) to define the temporal window for what constitutes a hit vs false alarm.  For verification technique 1, we would be checking whether the model forecast

[2020-12-20 19:15] dwfncar commented on #1586
Rechecked internal_tests/libcode/vx_series_data/test_series_data output.

[2020-12-20 19:15] #1586 closed, assigned to dwfncar

[2020-12-21 17:28] dwfncar commented on #1534
write_pickle_dataplane.py fails on system module imort
_import importlib.util_
System path issue?

[2020-12-21 17:34] dwfncar opened #1611 "Update GridDiag docs"
## Describe the Task ##
Update GridDiag documentation to clarify behavior when the
-data command line option is used twice.
e.g. -data fileA -data fileB.

Also confirm that the existing grid_diag unit tests include an example of using -data multiple times to specify different input datasets.

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub

[2020-12-21 17:35] JohnHalleyGotway opened #1612 "Add support to Gen-Ens-Prod for computing probabilities using percentile thresholds."
## Describe the Enhancement ##
This is a request for an enhancement made via met-help on 12/21/2020:
https://rt.rap.ucar.edu/rt/Ticket/ModifyAll.html?id=97897

This functionality was also requested by David Ruth from NOAA/MDL.

Brian Matilla from NOAA/NSSL requested that the Ensemble-Stat tool be enhanced to support the computation of probabilities using percentile thresholds. As of met-9.1, perce

[2020-12-21 18:26] dwfncar commented on #1534
write_pickle_dataplane is run by the user's python,
designated by MET_PYTHON_EXE.
This must be python 3 and have the importlib module available.

[2020-12-21 19:18] dwfncar commented on #1534
Added read_ascii_xarray to met/scripts/python.
This script currently fails within write_pickle_dataplane with module 'read_ascii_xarray' has no attribute 'atttrs'.

[2020-12-22 16:29] JohnHalleyGotway commented on #1508
Failed again in the NB on 20201222 in develop-ref:
/d1/projects/MET/MET_regression/develop/NB20201222/MET-develop-ref

[2020-12-23 01:15] dwfncar commented on #1611
In a config data block with varA and varB.
-data fileA -data fileB can be used to have varA read from fileA and varB read from fileB.

[2020-12-28 17:45] JohnHalleyGotway commented on #1448
I have a question about Otto from 2016. It crossed from the AL to EP basin. It was AL162016 and then EP222016. The tc_gen tool currently counts the genesis event twice when it process two best track data files (bal162016.dat and bep222016.dat) but prints a warning message about it.

<img width="766" alt="Screen Shot 2020-12-28 at 10 40 59 AM" src="https://user-images.githubusercontent.com/21087144

[2020-12-28 18:57] dwfncar commented on #1611
Merged to dev.

[2020-12-28 18:57] #1611 closed, assigned to dwfncar

[2020-12-28 19:05] halperin-erau commented on #1448
Hi John,

Your assumptions sound reasonable to me.

Thanks,
Dan
________________________________
From: johnhg <notifications@github.com>
Sent: Monday, December 28, 2020 12:46 PM
To: dtcenter/MET <MET@noreply.github.com>
Cc: Halperin, Daniel J. <HALPEA17@erau.edu>; Assign <assign@noreply.github.com>
Subject: [EXTERNAL] Re: [dtcenter/MET] Refine tc_gen logic to compare forecast genesis events to all

[2020-12-28 22:16] JohnHalleyGotway commented on #1448
Great, thanks. Next question.
The updated version of tc_gen reports this case as a HIT:
[code]
But it also counts the following as a MISSES:
[code]
Note that there's a 6-hour offset, so we don't have any precise matches. It seems like one of those MISSES should be a hit instead, but which one? Unless I hear otherwise, I'll go with the first as being the HIT... so we check the initialization time f

[2020-12-28 22:43] halperin-erau commented on #1448
I think we want to count the MISS events based on the model initialization time.  For example, if we are verifying forecasts at lead times out to 120 hours and the forecast model is run 4 times per day, then we would have a maximum of 20 misses possible (5 days * 4 initializations/day) for each BEST genesis event.

Based on the example you provided, because there was a HIT for AL142016 in the 2016

[2020-12-29 01:47] dwfncar commented on #1473
Currently: dataplane_from_xarray simply calls dataplane_from_numpy_array.
Have modified error messages to use 'data array'.
Do we want to try to eliminate dataplane_from_xarray all together?
For more numpy/xarray specific error messages add the use_xarray flag as an argument to dataplane_from_numpy_array?

[2020-12-29 02:19] JohnHalleyGotway commented on #1448
Well I have all the code changes I think are needed for this updated logic, but I'm getting pretty different results! Running the old and new logic on 2016 AL storms using default config file settings, here's the results:
In met-9.1...
[code]
Updated version...
[code]
So 10 hits went down to 2. Of the 10 HITS, 4 had genesis times of 00, 06, 12, or 18 while 6 had genesis times of 03, 09, 15, or 21.

[2020-12-29 15:16] halperin-erau commented on #1448
There's always some scenario that I fail to consider!  I think we have two options here:

  1.  Only consider the forecast track points with forecast valid times at 00, 06, 12, and 18 UTC.
  2.  Interpolate the BEST and CARQ positions to generate 3-hourly tracks.

I think both are reasonable options (with pros and cons to each), so I suggest we choose whichever is the most straightforward to imple

[2020-12-29 16:59] JohnHalleyGotway commented on #1448
Definitely easier to only include track points for valid hours 00, 06, 12, and 18 rather than interpolating. So I'll go that route for now.
OTTO in 2016 is a pesky little storm. It started in the Atlantic as AL162016 but eventually moved to the East Pac as EP222016. Since the genesis occurred in the Atlantic, I'd like to make tc_gen smart enough to figure that out and discard the EP222016 track an

[2020-12-29 17:05] #1421 closed, assigned to hsoh-u

[2020-12-30 04:49] JohnHalleyGotway commented on #1448
Making progress, but still trying to reconcile why 10 previous hits are reduced to 3.
For example, in the previous version, we had:
[code]
But the new logic looks for a BEST track match for this time (20160815_000000), but none is present. So it looks for a 0-hour CARQ track point and does find this one:
[code]
But those locations are 366 km apart, which is >300, so they do NOT MATCH.
Increasing t

[2020-12-30 17:23] JohnHalleyGotway commented on #1448
John, consider the following changes:
- Since you reimplemented TrackInfoArray to use a vector, consider doing the same for TrackInfo, storing the TrackPoints in a vector.
- TC-Gen supports vx_mask, but consider supporting a basin_mask = threshold as well. For example, basin_mask = ==1|==2 (to match AL or EP). We are now reading in the basin data anyway, might as well use it to make life easier fo

[2020-12-30 18:17] halperin-erau commented on #1448
Hi John,

I looked at the two cases that were HITS in v9.1 and FALSE ALARMS in the new version with forecast valid times at 00, 06, 12, or 18 UTC and I think the refined logic is correct.

Case 1:

Old version:

DEBUG 4: SUI1 20160813_120000 initialization, 36 lead,

20160815_000000 genesis at (8.5, -23.5) is a HIT for CARQ

20160815_120000 genesis at (9.2, -23.7).

New version:  FALSE ALARM

As y

[2020-12-30 20:20] halperin-erau commented on #1448
Also, regarding Otto:  That type of storm is a rare occurrence.  Typically, if a storm moves from the AL to EP (or vice versa), they dissipate at least briefly over land and then re-develop, so they receive a new ID and new name in the new basin.

For Otto, I agree with your plan to completely discard the track and genesis for EP222016 since Otto developed in the Atlantic.  That is also how NHC tr

[2020-12-31 17:25] JohnHalleyGotway commented on #1430
Dan, here's some proposed additions to the TC-Gen config file:
[code]
These will control the contents of the NetCDF output file. best_gen/fcst_gen would only include the genesis event locations, while best_pts/fcst_pts would include ALL track points. I'm unsure about NOTE3. Would that impact which points are included in best_pts/fcst_pts? So the user could control which tracks points are included?

[2021-01-04 22:39] DanielAdriaansen commented on #1430
What will the "latlon" item include?

Perhaps also genesis and all post-genesis points as well? Otherwise your filtering options make sense to me and give the user the flexibility to retain track points in pretty much any manner they choose.

Is there a sample netCDF file I can look at once you create it?

[2021-01-04 23:09] JohnHalleyGotway commented on #1430
Don't worry about "latlon". It just says whether or not to write a field of lat and lon values for the grid to the NetCDF file. It's sometimes convenient to have them for plotting. But sometimes users turn them off to save space.

So best_gen and fcst_gen options are intended to write only the genesis event locations.
And best_pts and fcst_pts options write out track points... while genesis_track_

[2021-01-05 02:02] dwfncar commented on #1506
Testing possible solution when calling PyRun_SimpleString or PyRun_String:

Python catcher code to go in write_pickle_dataplane.py wrapper

[code]

To test in python

[code]

Similar for stderr

C++ code

[code]

See http://mateusz.loskot.net/post/2011/12/01/python-sys-stdout-redirection-in-cpp/

[2021-01-06 19:02] JohnHalleyGotway commented on #1448
See comments from 1/6/21 meeting here:
https://github.com/dtcenter/MET/issues/1430#issuecomment-755755898

[2021-01-06 22:27] JohnHalleyGotway commented on #1430
Project meeting on 1/6/2020:

Note: I added comments here since I'll actually make these changes on the 1430 development branch, not 1448.

Dan H has been testing feature_1448_tc_gen using 2019 Atlantic storms.
All the hits and false alarms are what he expects.
Will continue testing but for now the hits vs false alarm classifications are done as we'd expect.
Some questions...

(1) Add config optio

[2021-01-09 07:28] JohnHalleyGotway commented on #1430
Got the code working well and producing the desired NetCDF genesis pairs output. Updated the user's guide.

Still need to...
- Enhance the unit test to exercise more of these options.
- Support lists of model initializations to be included/excluded from the analysis (need a new GitHub issue for init_inc and init_exc).
- Add the MPR output line type per MET #1597.

[2021-01-11 16:06] #1604 closed, assigned to JohnHalleyGotway

[2021-01-11 16:54] JohnHalleyGotway commented on #1597
Question about how this matched pair information should be written. Should it be like the MPR line type from Point-Stat or the RIRW_MPR log messages from TC-Stat?

Some background:

The Point-Stat tool writes a line type named MPR to the .stat output file. The Stat-Analysis tool can read the MPR line type, aggregate the data together across multiple runs, and recompute most statistics that can be

[2021-01-11 17:32] halperin-erau commented on #1597
I think writing the output in the less formal, RIRW_MPR type format is reasonable here.  The goal is to provide information about each event so that users can work with that data on their own for any analysis beyond what the contingency table statistics would provide in the current tc_gen output line types.

[2021-01-11 21:01] JohnHalleyGotway commented on #1592
Please see this MET-Help ticket:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98171

Looking in the MET User's Guide at the chapter about MODE:https://dtcenter.github.io/MET/latest/Users_Guide/mode.html

This description is not sufficient:
[code]

All we're doing there is referring to the common config file options section about setting the "field" entry. I realize that we should modify that

[2021-01-11 22:00] KathrynNewman commented on #1597
I agree - the RIRW_MPR approach is the best fit and provides the desired output.

[2021-01-12 00:17] hsoh-u commented on #1438
`        tb_g16 = griddata(points, values,
                (lon_fv3, lat_fv3), method = 'linear')
`

This might be caused by the different interpolation method. The "linear" interpolation would fill the gab. I wonder the python version produces the similar output by using min/max/avg interpolation method

[2021-01-12 01:08] hsoh-u commented on #1438
MET:
- regrid from 5424 * 5424 (29,419,776 cells)  to 1799 * 1059 (1,905,141 cells)
- 2,281,341 cells (out of 29,419,776 cell were mapped to TO_GRID (7.75445%)
- Interpolation method: UW_MEAN
- There are many missing values after regridding

The python code:
- regrid to 1411 by 3110 (4,388,210 cells from GOES_16_HRRR.nc)
- interpolation method: linear

[2021-01-12 17:13] #1534 closed, assigned to dwfncar, DanielAdriaansen

[2021-01-12 21:25] #1408 closed, assigned to hsoh-u

[2021-01-13 17:35] georgemccabe opened #1618 "pb2nc sporadic seg faults using -index"
## Describe the Problem ##
Running pb2nc with the -index option succeeds sometimes but other times it causes a segmentation fault.

### Expected Behavior ###
The index of input fields output every time instead of occasionally causing a segfault.

### Environment ###
Describe your runtime environment:
*1. Machine: kiowa (NCAR)*
*2. OS: Linux*
*3. Software version number(s): Bug was experienced usin

[2021-01-13 18:19] JohnHalleyGotway commented on #1618
Debugging this issue on kiowa in /d1/personal/johnhg/MET/MET_development/MET/met/bugfix_1618.
Running pb2nc from the main_v9.1 branch.
When running through the gdb debugger, the segfault never appears.
Switch to adding print statements and traced the segfault to a call to the UFBTAB function from BUFRLIB. The segfault occurs in there!

Here's output when it doesn't fail:
[code]
Here's output when

[2021-01-13 19:08] JohnHalleyGotway commented on #1618
I confirmed that this problem still persists when linking against the latest version of BUFRLIB, version 11.3.0 in:
/d1/projects/MET/MET_releases/external_libs/gnu_6.3.0/bufrlib/BUFRLIB_v11.3.0

When I remove the -index option and reconfigure to process all variables and message type, I do get a successful run:
[code]
But it does produce a warning:
[code]
Re-assigning to Howard to investigate this

[2021-01-13 21:34] hsoh-u commented on #1618
The same code works without -index options (MET calls openpb_ and numpbmsg_).
I will focus workarounds (different way to call APIs) instead of digging into the Fortran code.

[2021-01-13 22:15] JohnHalleyGotway commented on #1580
While the changes merged for PR #1616 did not cause any of the MET unit tests to fail, they did cause 2 failures for METplus which were found by GitHub actions:
https://github.com/dtcenter/METplus/runs/1697787026?check_suite_focus=true

On kiowa, here's a plot_data_plane command that works fine for met-9.1:
[code]
But the same command fails with these changes:
[code]
And here's the output:
[code]

[2021-01-13 22:17] JohnHalleyGotway commented on #1580
Howard, please fix this and also add this example as a new MET unit test. Perhaps just add it to unit_plot_data_plane.xml.

Once it is fixed, please do a new pull request.

[2021-01-13 23:51] hsoh-u commented on #1580
lat/long variables will be decided by
- By checking standard_name attribute
- By checking units attribute

**GLO_20190422_without_cosmic/GloTEC_TEC_2015_03_17.nc** does have the standard_name attribute.
If there are two or more variables with "degrees_north" or "degrees_east", it will log proper message and quit.

The sample data file (VOLCAT_HIMAWARI-8_FLDK_s2020296_173000_v300250_VCB_w167_FLDK_b

[2021-01-14 17:32] JohnHalleyGotway opened #1620 "Problems with the read_ascii_mpr.py for python embedding of MPR data in Stat-Analysis."
## Describe the Problem ##
Todd Spindler from NOAA/EMC wrote with questions about python embedding of MPR data in Stat-Analysis. He pointed out that read_ascii_mpr.py does not read the FIRST (VERSION) or LAST (CLIMO_CDF) column from the input .stat MPR line types. I've added as a comment to this issue my email response to him. The punchline is that skipping the first column is by design, but skipp

[2021-01-14 18:36] JohnHalleyGotway commented on #1620
Here's the email related to this issue:

Thanks for letting us know about the issue you found with Stat-Analysis python embedding. I just did some digging and found that you're correct that "read_ascii_mpr.py" only reads 35 columns, while there are 37 columns in the example. It skips the first and last columns. Skipping the first column (VERSION) was by design while skipping the last column (CLIMO

[2021-01-14 18:50] JohnHalleyGotway commented on #1620
Todd asked which columns are REQUIRED for Stat-Analysis to run. I did some testing to determine that only 3 columns are required to contain sensible data:
    24	LINE_TYPE
    32	FCST
    33	OBS

I used the following 2 lines for testing. The first has the minimum columns with sensible values and the rest filled with NA. The second is actual output from Point-Stat:
[code]
Passing this to Stat-Analy

[2021-01-14 23:39] dwfncar commented on #1506
ascii2nc/python_handler.cc uses the Python3_Script class (vx_python3_utils)
core tools use python_dataplane.cc methods and GlobalPython class (vx_data2d_python),
which includes methods from python3_util.cc (vx_python3_utils).
Modifications should likely be done in the GlobalPython class.

[2021-01-19 16:19] #1580 closed, assigned to hsoh-u

[2021-01-19 16:23] JohnHalleyGotway opened #1624 "Update MET unit test logic to unset environment variables after each test."
## Describe the Enhancement ##
George found a small omission for the python_numpy_point_stat tests in unit_python.xml. The Point-Stat config file references the ${OBS_COMMAND} environment variable. But that isn't actually set by the test. Instead, it inherits the setting from the previous test.

This task is to fix that omission. In addition, update the unit test logic. After each test is run, uns

[2021-01-19 16:42] #1618 closed, assigned to hsoh-u

[2021-01-19 17:23] JohnHalleyGotway commented on #926
Moved to 10.1 since this is not needed by UK Met Office.

[2021-01-19 20:43] JohnHalleyGotway commented on #1624
Updated perl/unit.pl to unset the test-specific environment variables after each test. I made sure to also write the unsets commands to the log output. I am currently testing this PR on kiowa to see if this problem with test-specific environment variable settings exists in for any of the other unit tests:
kiowa:/d1/projects/MET/MET_pull_requests/met-10.0.0_beta3/feature_1624

[2021-01-19 21:13] JohnHalleyGotway opened #1626 "Add TC-Gen configuration file options for init_inc, init_exc, and basin_mask."
## Describe the Enhancement ##
We've been revamping the TC-Gen tool in several ways for the MET 10.0.0 release. The updates include an overhaul to the matching logic, a new gridded NetCDF output file, and a new genesis matched pair (GENMPR) output line type. During the development process, we realized that adding 3 more configuration file options for TC-Gen would be very useful:
[code]
The first 2

[2021-01-19 23:06] georgemccabe commented on #1624
Closed with PR #1625

[2021-01-19 23:06] #1624 closed, assigned to JohnHalleyGotway

[2021-01-20 16:20] mpm-meto commented on #1124
This is a sample plot from the Woodhams et al 2018 paper....
![image](https://user-images.githubusercontent.com/64001904/105203716-58720e80-5b3b-11eb-99f3-77b007c9ce46.png)

[2021-01-20 16:58] JohnHalleyGotway opened #1627 "Add support for regridding to plot_point_obs."
## Describe the Enhancement ##
John Opatz is calling the plot_point_obs tool as part of the NOAA evaluation of precipitation type verification. He's verifying global GFS data against point observations only over CONUS. Plot-point-obs works fine, but since the gridded data is global the resulting image is too big. We discussed how he could run regrid_data_plane first, before plot_point_obs to defin

[2021-01-20 23:59] #1627 closed, assigned to JohnHalleyGotway, j-opatz

[2021-01-21 19:55] JohnHalleyGotway commented on #1597
Notes from checkin meeting on 20210121:
- Confirm that genesis_window has been fully replaced.
- Change config file names: genesis_hit_radius to dev_hit_radius, genesis_hit_window to dev_hit_window, genesis_minus_init_diff to ops_hit_tdiff.
- Update tc_gen docs accordingly (typos for spelling genesis and ** should be ||).
- In the log messages, which state "MATCHED BEST track" or "NO MATCH", chang

[2021-01-22 00:00] georgemccabe opened #1630 "Handle expected no input for ascii2nc and point2grid"
Based on discussion in this MET Help ticket: https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98329

## Describe the Enhancement ##
Logan (NOAA) would like to process data with ascii2nc that occasionally has no obs data, which is expected. When this is the case, we would like ascii2nc to write out a file with no observations in it. This could be a configurable setting in case other users prefer t

[2021-01-22 03:05] j-opatz opened #1631 "Update H_RATE and PODY, separate definitions"
*Replace italics below with details for this issue.*

## Describe the Task ##
In the process of reviewing statistical output, it was found that the H_RATE and PODY values differed. According to the User's Manual (Appendix C), these two values are identical.
However, after review of their internal calculation and true definition, it was concluded that the User's Guide was in error.

### Time Estima

[2021-01-22 17:27] JohnHalleyGotway commented on #1626
While adding support for basin_mask, I've come to realize that it'd be much better to update the basin data file to include basin abbreviations. For example, right now we have name = "ATLANTIC", and I'd like to add abbrev = "AL".
We need those abbreviations to correspond to the contents of ATCF data files, and right now we have a very kludgy hard-coded mapping of integers to strings. Much better t

[2021-01-22 17:41] j-opatz commented on #1631
Appendix C was updated with new, split definitions.
Noting that this may ned to be revisited, as the PointStat table still indicates that H_RATE is hit rate, but it is not conventionally known as such.

[2021-01-22 17:41] #1631 closed, assigned to j-opatz

[2021-01-23 05:27] #1448 closed, assigned to DanielAdriaansen, KathrynNewman, JohnHalleyGotway, halperin-erau

[2021-01-23 05:28] #1430 closed, assigned to DanielAdriaansen, JohnHalleyGotway

[2021-01-23 05:28] #1597 closed, assigned to DanielAdriaansen, KathrynNewman, JohnHalleyGotway, halperin-erau

[2021-01-23 05:28] #1626 closed, assigned to KathrynNewman, JohnHalleyGotway

[2021-01-25 18:27] JohnHalleyGotway opened #1636 "Create the MET 10.0.0-beta3 release."
## Describe the Task ##
This task is to create the MET 10.0.0-beta3 release scheduled for Monday 1/25/21.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://github.com/dtcenter/METplus/blob/develop/docs/Release_Guide/met.rst

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-iss

[2021-01-25 21:25] JohnHalleyGotway commented on #1630
As of met-9.1, zero observations causes ascii2nc to error out:
[code]
Updated ascii2nc to instead print a warning message and create an empty output file:
[code]
As of met-9.1, zero observations causes point2grid to error out:
[code]
Updated point2grid to instead print a warning message and create an output file with default values:
[code]

[2021-01-26 02:32] JohnHalleyGotway opened #1638 "Fix bug in the computation of the climatological CDF value."
## Describe the Problem ##
When testing the verification of the climatology-based probabilities for NOAA/CPC with Grid-Stat, John Opatz discovered an apparent bug in MET's computation of the climatological cumulative distribution function values.

While the issue was identified using CPC data, it is also apparent in the existing unit test output:
climatology/grid_stat_PROB_GFS_CLIMO_1.0DEG_150000L

[2021-01-26 02:41] JohnHalleyGotway commented on #1630
This is fixed for the met-10.0.0 beta3 release. @LoganDawson-NOAA once that release is available, please test to confirm that ascii2nc and point2grid handle zero observations as you need and expect. If you find any issues, we can just re-open this issue.

[2021-01-26 02:57] JohnHalleyGotway commented on #1638
Good news, the bug was easy to find... passing function arguments in the wrong order in Grid-Stat:
[code]
Bad news, this won't have any impact on the computation of Brier score and BSS that @j-opatz is investigating. The bug is confined to the contents of the NetCDF matched pairs Grid-Stat output file but those values aren't actually used in any of the statistics computations.

[2021-01-26 03:15] JohnHalleyGotway commented on #1638
@j-opatz and @bgbrowntollerud please take a look at the following code:
https://github.com/dtcenter/MET/blob/76253a9e90e6985571c5223ea33efdc36dc1f784/met/src/libcode/vx_statistics/pair_base.cc#L1029
[code]
I think this logic is not sufficient. This code means that thresholds of >=CDP67 and <=CDP67 would both result in a constant climo probability of 0.67. I do think it should be a constant climo p

[2021-01-26 05:49] JohnHalleyGotway commented on #1638
All of the units test ran fine but they did produce differences with the regression test output, as expected:
/d1/projects/MET/MET_pull_requests/met-10.0.0_beta3/bugfix_1638/comp_dir.log
[code]
The changes to the RPS output do make sense but the timestamps in the NetCDF files don't really:
[code]
Need to debug these timestamps further.

[2021-01-26 16:42] JohnHalleyGotway commented on #1638
Found/fixed the time differences in the Grid-Stat NetCDF matched pairs file for climo CDF variables. Instead of initializing the output variables with the observation field, using the climo mean field instead. That results in the output time stamps being consistent for the climo mean, standard deviation, and cdf fields... which is desirable.

[2021-01-26 17:03] dwfncar commented on #1473
Merged to develop.

[2021-01-26 17:03] #1473 closed, assigned to dwfncar, DanielAdriaansen

[2021-01-26 17:31] #1346 closed, assigned to hsoh-u

[2021-01-26 21:30] #1638 closed, assigned to JohnHalleyGotway, bgbrowntollerud, j-opatz

[2021-01-26 23:39] #1636 closed, assigned to JohnHalleyGotway

[2021-01-27 18:42] lindsayrblank commented on #1184
- Fix seg fault with usage statement.
- Make sure existing MODE works exactly the same as before changes.
- Merge into develop.

[2021-01-27 18:49] lindsayrblank commented on #1283
Replace system calls with function calls.

[2021-01-27 18:59] lindsayrblank opened #1643 "Make Area Ratio calculation consistent (FCST/OBS)"
## Describe the Enhancement ##
Write out area ratios with FCST/OBS --> currently calculated with whichever value is larger is on the bottom (FCST or OBS), not consistent.

### Time Estimate ###
4 hours

### Sub-Issues ###
No sub issues required

### Relevant Deadlines ###
MET 10.0.0

### Funding Source ###
TBD

## Define the Metadata ##

### Assignee ###
- [X] Select **engineer(s)** or **no engine

[2021-01-27 19:00] lindsayrblank commented on #1567
Issues:

1.

2. Make it so the user can customize the name of the resulting super object field. (The FCST and OBS prefix will be automatically added and not customizable). Would parse this in the fcst and obs dictionaries.

3. What is defined in the field dictionary applies to the individual MODE run, anything at the fcst or obs dictionaries (next level up) applies to super object.

4. Run in memo

[2021-01-27 20:20] DanielAdriaansen commented on #1469
Is this sufficient?
https://dtcenter.github.io/MET/Users_Guide/appendixF.html#python-embedding-for-2d-data

[2021-01-27 20:54] DanielAdriaansen commented on #1471
Some notes:
--> Define grid with a string. If a name/number, get it, if it's a grid, do it, if it's a file, get the grid   
--> Use existing library code to decipher grid info, but apply it to Python embedding   
--> Allow met_attrs.attrs['grid'] to be a dictionary OR a string. If dict(), build grid using it, otherwise use MET lib code

[2021-01-27 22:51] JohnHalleyGotway opened #1644 "Print the Point-Stat rejection code reason count log messages at verbosity level 2 for zero matched pairs."
## Describe the Task ##
We get several questions about met-help from users asking why they're getting 0 matched pairs from Point-Stat. We always reply by asking them to rerun their case at verbosity level 3. And sometimes that's difficult for them to do if running via METplus or using complicated shell scripts. This change is intended to make this process more efficient.

If the number of matched

[2021-01-27 23:00] michelleharrold commented on #1644
John -- this seems like a great change, logic makes sense.

[2021-01-28 23:04] JohnHalleyGotway opened #1646 "The set_attr_accum option is setting the lead time instead of the accumulation time."
## Describe the Problem ##
While answering a met-help question for [RT 9891](https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98391) from the UK MetOffice, I tested out the set_attr options to manually define the gridded metadata. During that testing, I found that set_attr_accum does not have the desired effect. It sets the lead time instead of the accumulation interval.

It's a simple copy/paste

[2021-01-28 23:31] #1646 closed, assigned to JohnHalleyGotway

[2021-01-29 21:12] LoganDawson-NOAA commented on #1630
@JohnHalleyGotway I tested out met-10.0.0 beta3 on a date with zero observations, and ascii2nc isn't quite producing output that point2grid can process. For comparison, I've included differences from the headers of the netcdf files resulting from ascii2nc when observations exist versus when there are no obs to process. Both files were produced with met-10.0.0 beta3.

When there are observations to

[2021-01-29 21:56] blaylockbk commented on #59
+1 for requesting this feature.
Need to aggregate bootstrap confidence intervals with Stat Analysis and limitations prevent me from using METViewer.

[2021-01-29 23:23] JohnHalleyGotway commented on #1630
Logan,

You're right. When I run the commands listed below to test, it just hangs
as well:

MET_BIN=/Volumes/d1/projects/MET/MET_development/MET-develop/met/bin
touch empty_obs.txt
$MET_BIN/ascii2nc empty_obs.txt empty_obs.nc -format met_point
$MET_BIN/point2grid empty_obs.nc G211 empty_grid.nc -field 'name="Fscale";
level="";'

I apologize for this. When I ran this test on my development feature

[2021-01-30 00:07] JohnHalleyGotway commented on #1630
Reopening this issue and assigning it to the met-10.0.0-beta4 release.

My original point2grid test did actually run fine:
[code]
However, running with any name string that is NOT a standard GRIB code abbreviation (like "Fscale" or "bad_string")  causes point2grid to hang:
[code]
Reopening and will fix.

[2021-02-01 16:39] jprestop opened #1649 "Move the documentation over to Read The Docs"
## Describe the Task ##
Move the documentation over to Read The Docs

### Time Estimate ###
1 to 3 days of work

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
ASAP

### Funding Source ###

## Define the Metadata ##

### Assignee ###
- [x] Select **engineer(s)** or **no engineer** required
- [x] Select

[2021-02-01 17:00] JohnHalleyGotway commented on #1519
@michelleharrold, just wanted to ping you on this. It'd be good to get this wrapped up in the next couple of weeks. Wondering if, at the end of the AF performance period, we have a good working definition of their GRIB tables we could use to update MET?

[2021-02-01 17:28] JohnHalleyGotway commented on #1451
For #1451 and #1450, CRPS and CRPSS are existing columns in met-9.1. Propose adding additional columns listed below. Consider some name other than HERSBACH which is a little long.

CRPS CRPSCL CRPSS CRPS_HERSBACH CRPSCL_HERSBACH CRPSS_HERSBACH

[2021-02-01 18:10] JohnHalleyGotway commented on #1450
For #1451 and #1450, CRPS and CRPSS are existing columns in met-9.1. Propose adding several additional columns, as described below.

Is HB a good abbreviation for Hersbach?

For Gneiting Method, add 1 new CRPSCL column between the existing CRPS and CRPSS columns:
CRPS CRPSCL CRPSS

For Hersbach Method, add 7 new columns for:
CRPS_HB, CRPS_HB_REL (reliability), CRPS_HB_POT (potential), CRPS_HB_ALPH

[2021-02-01 19:41] JohnHalleyGotway commented on #1630
@hsoh-u I found/fixed the bug that was causing point2grid to hang. It was a cut/paste error.

In PointToGridConfInfo::get_var_id(), we had var_name_map.end() that should be def_var_name_map.end(). Fixing that gets rid of the runtime hang.

But bigger question. When the input to point2grid has 0 observations, and I request "Fscale", it errors out with:
[code]
I can make this go away by adding an en

[2021-02-01 20:33] hsoh-u commented on #1630
I don't think it's right behavior.
It's a side effect. Without mapping in config file, MET knows "Fscale" is not valid GRIB code. MET exits with an error message (without scanning the GRIB code variable).  The existence at the mapping from the configuration makes MET scan the GRIB code variable like the other filtering logic (Note: The mapping is "GRIB code_string" to "variable_name", for example,

[2021-02-01 20:54] JohnHalleyGotway commented on #1630
Howard, I didn't follow all of those details, but it sounds like you have a good idea for how it should work! Let's proceed as follows:
(1) I'll clarify the point of this issue to make sure you understand the needed behavior.
(2) I'll push my local feature branch (feature_1630_point2grid_hang) up to GitHub and assign you to this issue.
(3) You pull my feature branch code, make whatever updates sho

[2021-02-01 22:25] #1644 closed, assigned to JohnHalleyGotway

[2021-02-01 22:26] #1643 closed, assigned to JohnHalleyGotway

[2021-02-02 20:10] j-opatz commented on #1259
Email chain of 1/29/21 resulted in confirmation of scores/output requested by EMC. These are given in priority order, highest first:

- CRPSS
- RPSS
- BSS
- ROC
- Reliability
- Brier Score and Resolution (potentially done if BSS is already created)
- Economic Value

[2021-02-03 23:48] JohnHalleyGotway opened #1653 "Update the plotting R-scripts to handle output from different versions of MET."
## Describe the Enhancement ##
This issue is based on a request that came in via met-help:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98517

I actually already posted updates for plot_cnt.R and plot_mpr.R prior to realizing that these scripts actually do live in the MET repository. So this task is to make the same updates in the develop branch. Also, check if the same changes are needed in

[2021-02-03 23:53] JohnHalleyGotway commented on #1653
Updated plot_cnt.R and plot_mpr.R. Need to do the same for plot_ensemble.R.

[2021-02-04 02:35] dwfncar commented on #1319
data/wrappers write_pickle_dataplane.py and read_pickle_dataplane.py pair working for netcdf4 in place of pickle.
Need to find where tmp pickle files are named and removed to update naming scheme (a pickle file is still created but not used).
Rename python wrappers to write_netcdf_dataplay.py and read_netcdf_dataplane.py.

[2021-02-05 16:38] RogerHar commented on #1450
On column naming: The distinction between the 'Hersbach' and 'Gneiting' methods is that the 'Gneiting' method fits a normal distribution whereas the 'Hersbach' method uses the empirical distribution function of the ensemble without assuming a parametric form. However there are two other formulae due to other authors that are equivalent to the 'Hersbach' CRPS  - see [p11-12 of this report by Thorar

[2021-02-05 17:45] JohnHalleyGotway commented on #1450
Roger, this is excellent feedback. Thanks!
I'll proceed with the column names you recommended:
   CRPS_EMP, CRPSCL_EMP, CRPSS_EMP, CRPS_REL, CRPS_POT, CRPS_ALPHA, CRPS_BETA
After talking with the folks who load this output into the METviewer database downstream, it sounds like I'll need to add all the new columns to the END of the ECNT line... instead of in the middle where they more naturally/log

[2021-02-05 18:22] #1653 closed, assigned to JohnHalleyGotway

[2021-02-05 20:18] DanielAdriaansen commented on #1319
@davidfillmore - while working on dtcenter/METplus#635, I uncovered that the `write_pickle_*.py` scripts do not append the directory where the user's Python embedding script is located to the `sys.path`.

For example, if a user has this script:
`/home/user/my_python_embedding.py`, we should append the `/home/user` directory to `sys.path` inside the `write_pickle_*.py` scripts in https://github.com

[2021-02-05 20:22] JohnHalleyGotway commented on #1319
Agreed, and David this is basically just a one-line addition to all the write_pickle*.py scripts. Just pre-pend (if possible) to sys.path the directory that contains the user’s script.

That’ll make the runtime behavior of the script the same whether it’s run directly on the command line or through MET.

[2021-02-05 20:59] georgemccabe commented on #1319
@davidfillmore to add to @JohnHalleyGotway 's comment:

This is how we do it for master_metplus.py:

https://github.com/dtcenter/METplus/blob/871ff6dbccdfeec1c2e6f77aa4a30123b7a55bf3/ush/master_metplus.py#L23-L24

`sys.path.insert(0, os.path.abspath(os.path.join(os.path.dirname(__file__),
                                                os.pardir)))`

This sets a directory above the current script'

[2021-02-05 21:58] JohnHalleyGotway opened #1655 "Reformat the magic_str() for NetCDF data files."
## Describe the Enhancement ##

This is a minor change to how the magic_str() should be formatted when processing NetCDF data files. This caused some confusion for a user, as described in this MET-Help ticket:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98524

When processing gridded NetCDF data created by other MET tools, the "level" string in the MET configuration file can be set two diffe

[2021-02-05 22:25] JohnHalleyGotway commented on #1319
@georgemccabe this behavior actually does make total sense. @DanielAdriaansen and I debugged and saw what was happening.

He has python scripts /a/b/c/d.py and e.py in the same directory, and d.py runs "import e". When he runs python to execute d.py, it works as expected. The directory containing d.py (/a/b/c) IS IN the python path and the import of e just works.

When he runs d.py via MET with ME

[2021-02-05 23:25] georgemccabe commented on #1319
I just discovered that MET 9.0 sets the sys path to this directory, but that was removed since:

https://github.com/dtcenter/MET/blob/main_v9.0/met/data/wrappers/write_pickle_dataplane.py

[2021-02-05 23:31] georgemccabe commented on #1319
It looks like I removed the sys.path line when we switched to using importlib instead of \_\_import\_\_. The directory needed to be in the path to use the old approach, but the new approach specified the full path. It seemed that it was no longer needed, but we had never run into the case where a script imports another script and needs the path set.
https://github.com/dtcenter/MET/pull/1328/files

[2021-02-08 16:05] #1655 closed, assigned to JohnHalleyGotway

[2021-02-09 00:46] hsoh-u opened #1657 "Support "bounds" attribute as CF for time bounds"
CF complaint describes "bounds"attribute. MET should support the bound attribute and save the time value from the "bounds" variable instead of the time variable.
From RT (https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98391)

## Describe the New Feature ##
Adding the following logic to MET's NetCDF CF library:
- When parsing time variables, check for the "bounds" attribute.
- If present, it sho

[2021-02-09 00:58] JohnHalleyGotway opened #1658 "Update GRIB1/2 tables for MXUPHL variable."
## Describe the Enhancement ##
This issue came up at the NOAA METplus Telecon on 2/8/21:
https://docs.google.com/document/d/1L5mVc2BEdKSIzuVD5ybCqE5-lLzBoOaxvzsgTSrxv8A/edit

Logan Dawson discovered that the long name for the MXUPHL variable in the existing GRIB1/2 tables should be modified to remove the layer-specific values.
Old long name: "Hourly Maximum of Updraft Helicity over layer 2km to 5

[2021-02-09 17:53] JohnHalleyGotway commented on #1657
Here's a sample data file. I added the .txt suffix so that GitHub would let me attach it!
[gpm_2019060103_2019060203.nc.txt](https://github.com/dtcenter/MET/files/5953215/gpm_2019060103_2019060203.nc.txt)

[2021-02-09 21:53] JohnHalleyGotway commented on #1450
I found some useful code in the properscoring python package for testing and comparison:
https://pypi.org/project/properscoring/

I added some extra print statements to MET to make the comparison easier. Here's log output for a single point:
[code]
Running through python we get:
[code]
So the CRPS (normal), MEAN, and STDEV values match between the two. Now, I just need to enhance MET to compute th

[2021-02-10 00:05] JohnHalleyGotway commented on #1630
Fixed in develop by PR  #1660. @LoganDawson-NOAA, please test this functionality again once met-10.0.0_beta4 is released.

[2021-02-10 00:05] #1630 closed, assigned to hsoh-u, JohnHalleyGotway, LoganDawson-NOAA

[2021-02-10 17:52] #1658 closed, assigned to JohnHalleyGotway

[2021-02-10 19:15] JohnHalleyGotway commented on #1450
@j-opatz and @RogerHar, I made some progress in coding up Hersbach CRPS.

I lifted some python code to compute the empirical CRPS for a single obs and group of ensemble members:
https://github.com/dtcenter/MET/blob/8b7ab29455ac67fd9b872041f331df8f640d8c1c/met/src/libcode/vx_statistics/pair_data_ensemble.cc#L1785
And I'm getting the same results as python. So that's good.

But this method does NOT

[2021-02-11 21:40] JohnHalleyGotway opened #1661 "Enhance MET to support Lambert Conformal projections where Dx != Dy."
## Describe the Enhancement ##
This issue arose via met-help:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98641

NOAA/WPC has some GRIB2 files on Lambert Conformal grids where Dx != Dy. As of version 9.1, MET does not support these grids. It prints the following warning message, defines the grid using Dx, and ignore the Dy setting.
[code]
This task is to enhance the Lambert Conformal grid co

[2021-02-12 17:11] RogerHar commented on #1450
Sorry @JohnHalleyGotway, you're essentially correct I'm afraid. The alphas and betas have N + 1 separate values for an N-member ensemble. To compute the CRPS reliability and potential you also need the frequencies of the two outliers obar_0 and obar_N defined in Hersbach equation 33. VER has a separate CRPS table type to hold these, similar to that for rank histograms. So as MET has an output line

[2021-02-12 18:30] JohnHalleyGotway commented on #1450
Roger,

Thanks for the followup. I've been testing 2 python packages (properscoring
and ensverif) and 1 R package (verification) for computing the empirical
CRPS. Perhaps I'm being naive, but this situation seems much simpler than
we've made it.

When computing the empirical CRPS over many points for one day, the CRPS
for a group of points is just the mean of the CPRS values for the
individual poi

[2021-02-12 21:09] JohnHalleyGotway commented on #1450
@RogerHar, @j-opatz and I met to discuss these issues and potential options. Wanted to put this on the radar of @TaraJensen as well.

The short question is this:
**Is it worth writing CRPS reliability and potential if we don't provide a way to aggregate across multiple cases?**

The longer set of details are:

**Option (1) Add a new CRPS line type:**
Writing 2*(N_ENS+1) extra alpha/beta columns to

[2021-02-12 23:25] ksearight commented on #1546
This issue needs to be retitled for GitHub Actions instead of Travis (or closed).

[2021-02-13 00:38] JohnHalleyGotway commented on #1451
Currently the CRPS climo is computed using only the climo mean. To make the logic consistent with NCEP (i.e. Binbin's example) we'll need both the climo mean and standard deviation. Use those to extract an ensemble of equally-likely climo values.

One implication is that we'll need to add CLIMO_STDEV to the ORANK line type. That's need to be able to aggregate ORANK line types into ECNT and recompu

[2021-02-15 18:29] RogerHar commented on #1450
I'd say that Option (2) is not worth pursuing as the reliability and potential aren't very useful unless they're aggregated across many cases (you can't meaningfully judge whether a forecast is reliable based on a single case).

Option (3) is certainly useful to us, as we don't use the decomposition with HiRA (as far as I'm aware). Several R and python packages compute the ensemble CRPS but not th

[2021-02-15 19:19] JohnHalleyGotway commented on #1200
Julie, I wonder if this will remain necessary or not, as we move to automating the MET NB through GH-Actions?
Whatever sort of backup strategy we decide should apply equally to the MET unit test input data and the METplus test datasets.

I don't think the data archiving has any impact on the MET repository itself. If not, I recommend that we change this from an issue to a project card. But which p

[2021-02-15 19:26] JohnHalleyGotway commented on #1535
When MET's unit tests have been setup to run via GH-Actions, this will no longer be worth doing.

[2021-02-15 19:29] JohnHalleyGotway commented on #1278
I believe this will be solved via a python embedding script which will reside in the METplus repo. And there will be no code changes to ascii2nc, or anything else in the MET repo. If this is all true, recommend that we move this issue to METplus.

[2021-02-15 22:01] JohnHalleyGotway opened #1663 "Add new Ensemble-Stat line type to store the decomposition of the empirical CRPS into reliability and potential."
## Describe the New Feature ##
MET #1450 adds the empirical CRPS and corresponding skill score to the ECNT line type, as described in Hersbach, 2000. During that development, the UK MetOffice pointed out that their existing verification system (ver) is able to decompose the CRPS into its components: CRPS = Reliability + Potential. Doing so for a single case is straight-forward enough but aggregati

[2021-02-15 22:03] JohnHalleyGotway commented on #1663
Here are some development notes I used when testing the python and R packages for doing the empirical CRPS decomposition:
[Dev_Notes.txt](https://github.com/dtcenter/MET/files/5984310/Dev_Notes.txt)

[2021-02-16 16:10] JohnHalleyGotway commented on #1518
On 2/16/21, Liz pointed out that NRL needs python embedding to support U and V wind components, meaning create VCNT line type via python embedding.

[2021-02-17 17:50] dwfncar commented on #1319
For ascii2nc, need to define a python method to read the temporary ascii file.
The method will be imported into the embedded python.
Python3_Script::read_pickle will be replaced by Python3_Script::read_tmp_ascii,
which will use the new ascii reader method in place of pickle.load.

[2021-02-18 04:53] #1450 closed, assigned to JohnHalleyGotway, j-opatz

[2021-02-18 21:02] JohnHalleyGotway opened #1673 "Add G and G-Beta to the DMAP line type from Grid-Stat."
## Describe the Enhancement ##
On 2/18/21, Eric Gilleland presented the G and G-Beta methods. Since they are derived from the Mean-Error-Distance, which is already included in the DMAP line type, they are easily added to that line type.

Here's a description of the methods provided in the SpatialVx package in R:
https://www.rdocumentation.org/packages/SpatialVx/versions/0.7-1/topics/Gbeta

Impleme

[2021-02-19 02:04] hsoh-u commented on #1454
I'm not sure what causes the differences.
The plottings by IDV are also slightly different.

GRIB2: min/max = 952 to 1052
NetCDF:  min/max = 99,232 to 104,215

IDV Plot of the NetCDF converted by wgrib2:
![nam_prmsl_nc_raw_idv](https://user-images.githubusercontent.com/15203106/108447150-9f2b5500-721c-11eb-9baa-133a1992c59a.png)

IDV Plot of the NetCDF converted by wgrib2 (The range for the color

[2021-02-19 02:23] hsoh-u commented on #1454
IDV Plot of the NetCDF converted by wgrib2 (the contour interval was reduced to 200Pa from500Pa):
![nam_prmsl_nc_raw_idv_200](https://user-images.githubusercontent.com/15203106/108447950-085f9800-721e-11eb-8096-ac4bb768f09f.png)

IDV Plot of the NetCDF converted by wgrib2 (The range for the color table is changed. the contour interval was reduced to 200Pa from500Pa):
![nam_prmsl_nc_idv_200](https:

[2021-02-19 18:18] j-opatz opened #1675 "Allowing shapefile to predefined grid conversion"
## Describe the New Feature ##
CPC has an interest in the ability to load in shapefiles to a grid of predefined resolution. Currently, MET only supports a shapefile to VX mask conversion. The desired ability would allow for uploading of hazards map data and verification against observational datasets.

### Acceptance Testing ###
Shapefiles should be from hazards map: Needs to be collected
Acceptan

[2021-02-19 22:31] JohnHalleyGotway commented on #1451
I realize that HiRA in Point-Stat also writes the ECNT line type. Here's a selection of columns taken from:
[code]
Note that the CRPSCL and CRPSCL_EMP columns remain constant. That is because we're using the climo_mean/climo_stdev at the obs location to compute them. So while the neighborhood size of the forecast ensemble members change, the reference climatology remains fixed across all neighborh

[2021-02-20 02:39] dwfncar commented on #1319
Working in ascii2nc/python_handler.cc.
Am calling script.read_tmp_ascii and need to capture the return data of the read_tmp_ascii method in a PyObject.
This will replace the
script.read_pickle and script.lookup calls.

[2021-02-20 06:55] JohnHalleyGotway commented on #1451
I compared the result of the updated code to the sample data from Binbin as follows.

(1) Wrote to_orank.py to convert CRPSS.data to 14760 ORANK lines as if they were written by Ensemble-Stat.
[to_orank.py.txt](https://github.com/dtcenter/MET/files/6014290/to_orank.py.txt)
That produces this result:
[CRPSS_orank.txt](https://github.com/dtcenter/MET/files/6014289/CRPSS_orank.txt)

(2) Ran that thro

[2021-02-20 15:21] ericgilleland commented on #1673
To compute G(A,B) and Gbeta(A,B), I think all of the pieces are already in MET.  They need (from the binary fields, an event is a 1-valued grid square):

1. nA, nB, nAB (the number of events in A, B and the intersection of A and B); these may already be in MET.
2. MED(A,B) and MED(B,A); these are already in MET.
3. User selected parameter beta for Gbeta.  For a default, I would use N/2 where N is

[2021-02-22 16:25] JohnHalleyGotway commented on #1508
In NB20210222, unit_tc_gen.xml failed again on the develop branch:
[code]
Still have not isolated/fixed this problem yet.

[2021-02-22 19:13] JohnHalleyGotway commented on #1454
@hsoh-u you are pointing out that the VALUES before/after the conversion to NetCDF are different. And I agree that they do appear to be... but that isn't the point of this issue. This issue is not about debugging the wgrib2 NetCDF conversion functionality. The output of this wgrib2 dump contains 2d latitude and longitude variables. It is assuming that this is simply a lat/lon grid, but it is not!

[2021-02-22 20:28] hsoh-u commented on #1454
Issue 1: MET is looking for the "grid_mapping" attributes which should provide the projection information (about Lambert Conformal). The wgrib2 output does not have a variable with "grid_mapping" attribute. MET ignores the standard_name "projection_x_coordinate" and "projection_y_coordinate".

Issue 2: The data variable "PRMSL_meansealevel" has the "coordinates" attributes and they are  "longitude

[2021-02-22 23:51] JohnHalleyGotway commented on #1519
@michelleharrold we're getting close to crunch time here. Are we going to be able to get the AF GRIB tables updated for met-10.0.0 or push it off for another year?

[2021-02-23 15:27] hsoh-u commented on #1454
The current value of DELTA_TOLERANCE for sanity checking is 15.0. This is too big for lat/lon projection (may work for the Lambert Conformal). What's the tolerance for Lat/Lon projection for sanity check?

[2021-02-23 19:59] hsoh-u opened #1677 "Update the time offset (by yyyymmdd_hhmmss) at the unit_plot_data_plane.xml"
## Describe the Problem ##
The time reference was updated with https://github.com/dtcenter/MET/issues/1657 if "bounds" attribute exist. The time should match with the values at the "bounds" attribute. The unit test need to be updated.

[code]
### Expected Behavior ###
The time comes from the "time_bnds" variable instead of the "time" variable. There is a half day off between two times. The time va

[2021-02-23 20:25] JohnHalleyGotway opened #1678 "Consider enhancing MET's configure step to eliminate the MET_DEVELOPMENT environment variable."
## Describe the Enhancement ##
This issue is the result of a MET-Help question:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98806

It would be nice to make MET's configure script a little smarter so as not to depend on the MET_DEVELOPMENT environment variable at all. That logic was just easy to add several years back, but there are likely other solutions that wouldn't require setting an envi

[2021-02-23 21:28] #1439 closed, assigned to JohnHalleyGotway

[2021-02-24 01:03] #1451 closed, assigned to JohnHalleyGotway, j-opatz

[2021-02-24 21:15] JohnHalleyGotway commented on #1429
@DanielAdriaansen I think the easiest and most robust solution here is just enhancing that error message.
Instead of changing the order of log messages in multiple applications, just update the error message in one spot in the library code.

Old error message:
[code]
Proposed new error message:
[code]
The same DataLine class is used by many MET applications, including the TC tools, stat_analysis,

[2021-02-24 21:25] JohnHalleyGotway commented on #1429
Renamed issue from:
**Enhance MET-TC tools to print a log message for the file being read prior to actually reading it.**
To a more accurate description of the fix:
**Enhance the DataLine::get_item() error message to print the filename for which the parsing error occurred.**

[2021-02-24 22:42] #1135 closed, assigned to JohnHalleyGotway

[2021-02-26 00:22] JohnHalleyGotway opened #1684 "Modify the climatological Brier Score computation to match the NOAA/EMC VSDB method."
## Describe the Enhancement ##
On 2/25/21, the METplus team met with NOAA/EMC staff to discuss the use of climatology data in MET. Here are the notes:
https://docs.google.com/document/d/1kp12JXuCk94UQCX2So3HdqcpossHetGNlwpGewdHBrE/edit

During this meeting, we identified a difference in how the climatological Brier Score is computed by MET and VSDB. This issue is to modify MET's method to match wh

[2021-02-26 00:35] JohnHalleyGotway opened #1685 "Enhance Ensemble-Stat to derive CRPSCL_EMP and CRPSS_EMP from a deterministic reference model."
## Describe the Enhancement ##
On 2/25/21, the METplus team met with NOAA/EMC staff to discuss the use of climatology data in MET. Here are the notes:
https://docs.google.com/document/d/1kp12JXuCk94UQCX2So3HdqcpossHetGNlwpGewdHBrE/edit

During this meeting, Binbin pointed out that when doing regional ensemble verification, the CRPSS skill score is computed relative to a single deterministic foreca

[2021-02-26 03:02] DanielAdriaansen commented on #1429
What does:

[code]

refer to? Some item it's attempting to access from file `test.tar.gz` but it can't?

[2021-02-26 05:09] JohnHalleyGotway commented on #1429
Dan,

The DataLine class is used to read items from a line of ascii data. The
previous error, just said “range check error”. The new error tells you
which item number it couldn’t retrieve and from which file.

Ideally it would also tell you the line number of the file, but the line
number counter wasn’t readily available to be printed.

I’m thinking if you saw that error message from tc_gen, you’d

[2021-02-26 15:30] DanielAdriaansen commented on #1429
Perfect, thanks John. I think this:

the world is it trying to read a tar file as input?

is a correct assumption, I was just curious about the extra info in the error statement. Appreciate the extra details.

[2021-02-26 16:27] #1429 closed, assigned to DanielAdriaansen, jvigh, JohnHalleyGotway

[2021-02-26 18:20] JohnHalleyGotway commented on #1588
Added/updated log messages for:
- bad obs value
[code]
- off the grid
[code]
- bad topo values
[code]
- large topo diff
[code]
- bad fcst value
[code]
- duplicate obs
[code]

[2021-02-26 22:19] JohnHalleyGotway commented on #1685
[CRPSS.f.txt](https://github.com/dtcenter/MET/files/6052741/CRPSS.f.txt)

From Binbin on 2/26/21:

I double checked my code CRPSS.f and Yuejian's original code, Yes, you are correct, it should be  averaging
the CRPSF and CRPSC across all those points  and computing CRPSS once using the 2 average scores.
My CRPSS.f  code was copied/pasted  from Yuejian's code, but I miss coped some of his code.
His

[2021-02-26 22:45] #1588 closed, assigned to JohnHalleyGotway

[2021-03-01 20:18] #1677 closed, assigned to hsoh-u

[2021-03-01 20:20] #1657 closed, assigned to hsoh-u

[2021-03-01 20:45] j-opatz commented on #1675
New data has been shared from CPC group: a forecast shapefile dataset and an observation binary dataset. Details on the observations provided from CPC:

Link provided is to a description of the shapefile archive directory: https://docs.google.com/document/d/1p7nEOzVNgadaIcjwRSdFC3-Nh4zOOIcU-AHgdPp8B3Q/edit

Data (tar'd and zipped) is located on Kiowa, in /d1/projects/CPC_data/input/shapefile_data

[2021-03-01 22:42] michelleharrold commented on #1519
@JohnHalleyGotway - The Grib tables we (the DTC) use match what is available in MET. We reached out to Bob Craig to see if they wanted to make any additions - he said what we had match what they use, and he would run some tests to see if any changes needed to be made. I have not heard back, so I am guessing no modifications need to be made.

[2021-03-01 22:58] JohnHalleyGotway commented on #1519
Based on Michelle's interaction with Bob, I will close this issue without making any changes. If we do ever hear back that the AF would like changes to their GRIB tables in MET, feel free to reopen this issue or create a new one.

[2021-03-01 22:58] #1519 closed, assigned to JohnHalleyGotway, michelleharrold

[2021-03-02 03:55] #1685 closed, assigned to JohnHalleyGotway, j-opatz

[2021-03-02 03:55] #1684 closed, assigned to JohnHalleyGotway, j-opatz

[2021-03-02 03:56] JohnHalleyGotway commented on #1454
Fixed by PR #1688.

[2021-03-02 03:56] #1454 closed, assigned to hsoh-u

[2021-03-02 03:59] JohnHalleyGotway opened #1691 "Create the MET 10.0.0-beta4 release."
## Describe the Task ##
This task is to create the MET 10.0.0-beta4 release scheduled for Monday 3/1/21.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://github.com/dtcenter/METplus/blob/develop/docs/Release_Guide/met.rst

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issu

[2021-03-02 20:35] JohnHalleyGotway commented on #1675
@j-opatz the existing gen_vx_mask tool has the ability to read shapefile areas and apply them to a user-defined grid.
We could do that as a pre-processing step to define the forecast dataset to be verified.

In fact, @LoganDawson-NOAA may already be doing this... at least, I recall us talking about this in the past.

Logan, can you provide any more info on this? Are you running gen_vx_mask convert

[2021-03-02 20:50] JohnHalleyGotway commented on #1675
@j-opatz there are definitely improvements we could make to MET's use of shapefiles. Right now it requires the user to figure out exactly which shapes should be used. Please take a look at this issue for ideas on how it could be made more user-friendly.
https://github.com/dtcenter/MET/issues/1060

Might make sense to work on #1060 in conjunction with this issue.

[2021-03-02 21:20] LoganDawson-NOAA commented on #1675
@JohnHalleyGotway yes, I am running shapefiles (from the Storm Prediction Center) through gen_vx_mask to define masking regions that are used by both Grid-Stat and Point-Stat. I'm still using gen_vx_mask in a shell script rather than in a METplus wrapper.

The command looks like this:
`gen_vx_mask ${GRID_FILE} ${SHP_FILE}.shp ${MASK_NAME}.nc -type shape -shapeno ${REC} -name DAY${DAY}_${NAME} -v 3

[2021-03-02 21:28] JohnHalleyGotway commented on #1675
@LoganDawson-NOAA yes, that's exactly what I was wondering! Thanks for sending these details.

@j-opatz perhaps Logan has some sample output you could show to CPC to demonstrate this logic?

I do think we'll need to look carefully at the CPC-provided shapefiles. When I ran one through gen_vx_mask I got incoherent, unexpected output... so we'd need to track down the source of the problem.
I definit

[2021-03-02 21:55] LoganDawson-NOAA commented on #1675
@j-opatz I can definitely share output with CPC to show how I've been using it this MET capability

@JohnHalleyGotway I'd definitely support string matching versus requiring that the decoding be done by record number.

It appears that MET currently handles the union of all shapes into one object. This [SPC outlook](https://www.spc.noaa.gov/products/outlook/archive/2021/day1otlk_20210214_1200_prt.g

[2021-03-02 23:18] #1691 closed, assigned to JohnHalleyGotway

[2021-03-03 17:23] JohnHalleyGotway commented on #1471
To test, I modified a copy of the current "read_ascii_numpy.py" to define the grid as a string:
[code]
As expected, that errors out... the task for this issue is to support this option:
[code]

[2021-03-03 17:33] JohnHalleyGotway commented on #1471
@davidfillmore I'd like to work on this issue if possible.

The changes will to be made in:
- src/libcode/vx_data2d_python/dataplane_from_numpy_array.cc starting on line 222:
[code]
- src/libcode/vx_python3_utils/python3_dict.cc
I need add an optional argument to the lookup functions there to prevent them from erroring out.
We want grid to be settable as a dictionary OR a string. I'll call lookup_

[2021-03-03 22:56] michelleharrold opened #1693 "Add support for the Lambert Azimuthal Equal Area grids"
## Describe the New Feature ##
As of 10/25/22 - Identified as **CRITICAL for Met Office**:

MET assumes a spherical Earth. The EUMETNET (radar) dataset is on a Lambert Azimuthal Equal Area grid, which uses an ellipsoidal Earth. Randy already has some code for latlon_to_xy. The xy_to_latlon code still needs to be implemented, and the code needs to be implemented in MET (and tested accordingly).

##

[2021-03-04 17:36] JohnHalleyGotway opened #1694 "Fix Grid-Diag bug when reading the same variable name from multiple data sources."
## Describe the Problem ##
This is a bug in Grid-Diag reported via met-help by the UK MetOffice:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=97766

When reading the same variable name from two input data sources, the resulting joint 2D histogram is correct, but the 1D histograms are exactly the same in the output. When changing the variable name for one of the data sources to something else,

[2021-03-04 21:40] JohnHalleyGotway commented on #1694
This bug is actually present in the existing unit_grid_diag.xml test output:
[code]
They have identical counts, which is not correct:
[code]
So this fix will change the NB output.

[2021-03-04 22:39] j-opatz opened #1695 "Enhance Ensemble-Stat and Gen-Ens-Prod to read all ensemble members from a single input file"
## Describe the New Feature ##
In our discussions with CPC, we've been presented with NMME netCDF data files where all of the ensemble members are located in the same data structure in 1 file. CPC confirmed this is the normal structure for ensemble files, and has been encountered during work with other entities (e.g. NRL). While Python embedding is currently a viable solution to this file design t

[2021-03-05 15:53] JohnHalleyGotway commented on #1575
@easatterfield just wanted to check in on this issue. We have until next Wednesday (3/10/21) to finish up development for the met-10.0.0 release. I was planning to try to get this one done by then. But can you please read through the details and confirm that this really is the functionality that you'd like to see added?

[2021-03-05 16:54] easatterfield commented on #1575
This looks great, John.  Thanks!

[2021-03-05 17:18] dwfncar opened #1697 "Replace dataplane pickle files with temporary NetCDF files"
This is a sub-issue of #1319

## Describe the Sub-Issue ##
*Provide a description of the sub-issue here.*
This is a subtask of issue 1319.
The dataplane temporary pickle files will be replaced by NetCDF files.

### Time Estimate ###
*Estimate the amount of work required here.*
*Issues should represent approximately 1 to 3 days of work.*
3 days

## Define the Metadata ##

### Assignee ###
- [x] Sel

[2021-03-07 15:45] dwfncar commented on #1697
This has been moved back to 1319, which has a pull request pending.

[2021-03-07 15:45] #1697 closed, assigned to dwfncar

[2021-03-07 16:21] dwfncar opened #1700 "Replace temporary pickle files in PyLineDataFile with temporary ASCII"
## Describe the New Feature ##

Replace temporary pickle files in PyLineDataFile with temporary ASCII.
This should be done in basic/vx_util/python_line.h and python_line.cc.
write_pickle_mpr.py will be replaced by write_tmp_mpr.py.
If possible re-use read_tmp_ascii.py.

### Acceptance Testing ###
*List input data types and sources.*
*Describe tests required for new functionality.*

### Time Estima

[2021-03-07 17:12] dwfncar opened #1701 "Unify python embedding"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
*Provide a description of the enhancement request here.*
Design a consistent and unified python embedding scheme
across the dataplane, ascii2nc and stat_analysis tools.
This will involve refactoring and generalizing the Python3_Script class
to a new Python3_Module class.

### Time Estimate ###
*Estimate the amount

[2021-03-09 00:24] jprestop commented on #1649
I set up automated builds for all new tags, automated builds for all feature branches, set it up to delete an active version when a branch is deleted.  Feature branches will be hidden, but can be viewed by going to the following after filling in "<feature_branch_name>":
https://met.readthedocs.io/en/<feature_branch_name>/
For example:
https://met.readthedocs.io/en/feature_1649_readthedocs/

We wil

[2021-03-09 01:13] #1649 closed, assigned to jprestop

[2021-03-09 21:31] JohnHalleyGotway opened #1705 "Derive climo probabilities for complex CDP thresholds like >=CDP33&&<=CDP67."
## Describe the Enhancement ##
The CDP threshold type in MET is for "climatological distribution percentile" thresholds. This threshold type requires that the climo mean and standard deviation be defined. When they are, a threshold like <CDP33 is applied by computing the 33rd percentile of the climo distribution (assumed normal) at each grid point. NOAA/CPC produces probability forecasts of being

[2021-03-09 23:34] JohnHalleyGotway opened #1706 "Stat-Analysis fails when aggregating ECNT lines."
## Describe the Problem ##
This issue was raised by a user via met-help:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=98979

The user did send us data to test, but we were also able to replicate the data that created by running "make test".
Running Stat-Analysis to aggregate the ECNT line type results in the following error:
[code]
Confirmed that this problem exists for both MET version 9.1 a

[2021-03-10 17:56] #1706 closed, assigned to JohnHalleyGotway

[2021-03-10 18:02] JohnHalleyGotway commented on #1706
Since PR #1708 changes the unit test output, I restarted NB20210310 for the develop branch. That'll fail because of the new output, I'll make sure those changes are OK, and then update the develop-ref.

[2021-03-10 19:51] JohnHalleyGotway commented on #1694
Will also fix this bug in the main_v9.1 branch for inclusion in a v9.1.2 bugfix release.

[2021-03-10 22:28] JohnHalleyGotway opened #1710 "Create the MET-9.1.2 bugfix release."
## Describe the Task ##
Create the MET-9.1.2 bugfix release from the main_v9.1 branch.
Also review the MET bugfix release instructions at the same time.

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
None required.

### Relevant Deadlines ###
None

### Funding Source ###
2700021

## Define the Metadata ##

### Assignee ###
- [x] Select **engine

[2021-03-10 22:47] #1694 closed, assigned to JohnHalleyGotway, mpm-meto

[2021-03-11 00:45] #1710 closed, assigned to JohnHalleyGotway

[2021-03-11 02:21] #1471 closed, assigned to JohnHalleyGotway

[2021-03-12 23:17] DanielAdriaansen opened #1714 "Allow tc_gen to match fcst/obs when forecast genesis times are prior to observed genesis times"
## Describe the Enhancement ##
During recent improvements to tc_gen (i.e. #1448, #1447, etc...) I failed to recognize that the code changes would prevent tc_gen from creating matched pairs of forecast and observed genesis events if the forecast valid time is *before* the observed genesis time. For computation of subseasonal-to-seasonal (S2S) TC metrics being able to match forecasts of _early_ gene

[2021-03-15 13:25] halperin-erau commented on #1714
Hi Dan and all,

This enhancement may not be necessary.  TC-Gen currently does match and classify genesis forecasts when the valid time is before the best-track/observed genesis time.  If the algorithm is unable to find an obs match in the b-decks (e.g., if the model forecast valid time is before the best-track genesis time), it will then search the a-decks for an obs match using the CARQ techniqu

[2021-03-15 14:57] JohnHalleyGotway commented on #1714
@DanielAdriaansen is testing the application of tc_gen to S2S and there is no CARQ data available in that context. Dan A, please correct me if I’m wrong.

So the intended method for matching “early” forecasts of genesis won’t work in this context. @halperin-erau can you think of any solution that’s preferable to adding this new configuration option?

[2021-03-15 15:01] halperin-erau commented on #1714
I think CARQ data should still work in the context of S2S, but I may not have a complete understanding of the S2S application needs.  Is it possible to schedule a telecon to discuss this further?

Thanks,
Dan

[2021-03-15 15:11] JohnHalleyGotway commented on #1714
Dan H,

We’re all pretty impacted by the snow today. Kathryn and Dan A’s daycare is
closed. After using a hair dryer to melt snow off a dish on my roof, my
internet is still down. And Tara’s helping dig her neighbor out.

I’m happy to meet but we should wait until Dan A and Kathryn are available.

John

[2021-03-15 15:23] halperin-erau commented on #1714
Hi John,

Sorry -- didn't mean to imply that we had to meet today.  We can definitely schedule a meeting later when everyone is available to discuss.

Hope the impacts from the storm are resolved for you all quickly.  I was stunned to see easterly winds at 300 mb on the Denver sounding yesterday.

Dan

[2021-03-15 21:19] jprestop opened #1715 "Fix pb2nc segfault when deriving PBL"
## Describe the Problem ##

Mallory Row brought to our attention that when testing with her grid-to-obs use cases, she was getting segfaults with PB2NC.  She saw in the MET 9.1.2 release notes that there was a fix for this (https://github.com/dtcenter/MET/pull/1622), however she wasn't using the -index option like the release notes stated.

Mallory put together a test case for this on the both the

[2021-03-15 21:30] JohnHalleyGotway commented on #1705
I compiled this updated version for you to test on kiowa:
/d1/projects/MET/MET_pull_requests/met-10.0.0_beta5/feature_1705/MET-feature_1705_cdp_prob/met/bin

Note these new DEBUG 4 log message to confirm the result of this logic:
[code]
And it can even handle some fancy ones like this:
[code]
But it's easy to trick it with overlapping ranges:
[code]
This probability should be 0.67, not 0.84. Sensi

[2021-03-15 22:13] JohnHalleyGotway commented on #1714
I realize we have more to talk about. But since I had cycles available today, I made changes on a new feature_1714_tc_gen branch adding this config option:
[code]
And it's compiled locally for testing on kiowa in:
/d1/projects/MET/MET_pull_requests/met-10.0.0_beta5/feature_1714/MET-feature_1714_tc_gen/met/bin

This wasn't intuitive to me at first, but to allow *early* forecasts to find a match in

[2021-03-15 22:19] JohnHalleyGotway opened #1716 "Fix parsing error for floating point percentile thresholds, like >SFP33.3"
## Describe the Problem ##
This issue arose via met-help:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99059

The config file parsing logic prevents the use of non-integer percentile thresholds. So while a threshold of ">50.0" parses just fine, a threshold of ">SFP50.0" results in a parsing error. This task is to fix the parsing logic to allow for decimal places in percentile thresholds. The

[2021-03-15 22:48] michelleharrold commented on #1716
Charge key for this work: 2712221

[2021-03-16 15:06] KathrynNewman commented on #1714
@Daniel Adriaansen ***@***.***> - do you want to test this
out before we meet? It looks like most (NCAR) are available tomorrow from
11-1:30 MT and Thursday at either 10 or 2 MT. Do any of these times work
for you @halperin-erau <https://github.com/halperin-erau> ?

On Mon, Mar 15, 2021 at 4:13 PM johnhg ***@***.***> wrote:

--
Kathryn M. Newman
National Center for Atmospheric Research (NCAR)
Rese

[2021-03-16 15:31] halperin-erau commented on #1714
I'm available for the Thursday meeting times.

Thanks,
Dan
________________________________
From: KathrynNewman ***@***.***>
Sent: Tuesday, March 16, 2021 11:06 AM
To: dtcenter/MET ***@***.***>
Cc: Halperin, Daniel J. ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [dtcenter/MET] Allow tc_gen to match fcst/obs when forecast genesis times are prior to observed genesis times (#1714)

@Dan

[2021-03-16 16:38] JohnHalleyGotway commented on #1716
Adding @rgbullock to this issue since he can work on this on 3/17/21.

Here's the commands I was using to test:
[code]

[2021-03-16 18:53] JohnHalleyGotway commented on #1575
Starting work on this issue. Recommend adding new config options named:
[code]
These are somewhat analogous to censor_thresh and censor_val in that the two array entries must have the same length. mpr_column is an array of string and mpr_thresh is an array of thresholds. The goal is to mimic the functionality in Stat-Analysis for "-column_thresh ABS(FCST-OBS) lt2". So the supported mpr_column stri

[2021-03-16 19:03] JohnHalleyGotway commented on #1575
It is unclear to me whether or not we should only support simple thresholds:
[code]
Or should we also support distribution percentile thresholds:
[code]
Supporting distribution percentile thresholds is potentially confusing because by excluding points from the verification, we're actually changing those distributions! Another option would be re-defining the distribution percentile thresholds befor

[2021-03-16 19:42] DanielAdriaansen commented on #1714
I will test out John's latest changes prior to our meeting. Thursday at 10 or 2 MT works for me.

[2021-03-16 22:57] JohnHalleyGotway commented on #1451
From NOAA/EMC on 3/16/21:
We just completed  the retrospective verification of GEFS with MET_10.0.0_beta4 over past
4 weeks, and obtained  the averaged CRPSS for different forecast hours.  The comparison
shows that  CRPSS-MET and  CRPSS-VSDB  are very close. See attached  plot  for Z500
over N. Hemisphere. This is very nice. So the new CRPSS code in MET_10.0.beta4 is
successful.
![CRPSS-GEFS_Z500-

[2021-03-16 23:55] JohnHalleyGotway commented on #1575
Testing with Point-Stat which produces the following log messages:
[code]
And summary counts:
[code]

[2021-03-17 16:52] DanielAdriaansen commented on #1714
I did some testing, and my numbers changed more than John's. I had some additional questions and after discussing with John we performed a test to see if the order in which events were provided to tc_gen caused differences in the output. For 10.0.0-beta3 (which does not include John's latest change of `genesis_match_window`), depending on the order in which fcst and obs data are provided to tc_gen

[2021-03-17 17:32] malloryprow commented on #1715
Problem station: D_PBL at station ID 72493 from files sent to FTP

For 9.1.1, pb2nc seg-faulted on both the WCOSS Dell and Cray.
For 9.1.2, pb2nc seg-faulted on Cray but ran fine on the Dell.

The segfault occurs in the interpolate_pqtzuv() function, called by combine_tqz_and_uv(), and called by merge_records().

Recommend that we compile using the Intel -ftrapuv compiler option to check for unini

[2021-03-17 18:09] malloryprow commented on #1715
Log files
[good_dell_912.log](https://github.com/dtcenter/MET/files/6158642/good_dell_912.log)
[bad_cray_91.log](https://github.com/dtcenter/MET/files/6158644/bad_cray_91.log)

[2021-03-17 19:25] JohnHalleyGotway commented on #1714
Thanks @DanielAdriaansen for doing this testing. Here's a little more analysis of the output to isolate the actual differences. Note that I removed the INDEX output column since the reverse order will obvious cause differences there!
[code]
Running opendiff, it flags 9 differences. Here is the last one listed. It shows the same genesis forecast matching different Best tracks... EP182017 (fwd) vs E

[2021-03-17 20:03] JohnHalleyGotway commented on #1714
@DanielAdriaansen ran the same test on the feature_1714 branch, and I ran the same commands on the genmpr output lines:
[code]
There are now 12 differences in the pairs instead of 9:
[code]

[2021-03-18 14:01] hsoh-u commented on #1715
Thank you for the log files. The problem happens when there are no overlapping (by pressure) at TQZ records and UV records.
- 1 TQZ record at pressure 101300.
- The UV records are between 97670 and 510.

[2021-03-18 15:32] JohnHalleyGotway commented on #1561
@georgemccabe we do not plan on getting this done for MET 10.0.0.
Is it OK to move to MET 10.1.0?

[2021-03-18 15:41] georgemccabe commented on #1561
Yes, that is OK with me.

[2021-03-18 17:33] JohnHalleyGotway commented on #1508
The NB failed for the develop branch on 3/18/21.
See: met_test@kiowa:/d1/projects/MET/MET_regression/develop/MET_1508_NB20210318

[2021-03-18 17:36] JohnHalleyGotway commented on #1469
@DanielAdriaansen can you please take a look at this issue to see if the work is done? And if so, please close it.

[2021-03-18 17:37] JohnHalleyGotway commented on #1468
@DanielAdriaansen can you please take a look at this issue to see if the work is done? And if so, please close it.

[2021-03-18 19:45] #1715 closed, assigned to jprestop, hsoh-u, JohnHalleyGotway, malloryprow

[2021-03-18 21:16] JohnHalleyGotway commented on #1714
Telecon on 3/18/21 to discuss these issues.

- Problem with different matches when the order of the input files is reversed:
   - Recommend excluding Best track data with a cyclone number >= 50.
   - Cyclone numbers of 50 are used by NHC for pre-season testing and 90's are used for INVESTS.
   - Alternatively, could exclude based on storm name "INVEST".
   - Will hard-code this threshold of 50 rat

[2021-03-18 22:40] JohnHalleyGotway opened #1723 "Create the MET-9.1.3 bugfix release."
## Describe the Task ##
Create the MET-9.1.3 bugfix release from the main_v9.1 branch.
Also review the MET bugfix release instructions at the same time.

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
None required.

### Relevant Deadlines ###
None

### Funding Source ###
2700021

## Define the Metadata ##

### Assignee ###
- [x] Select **engine

[2021-03-19 00:07] JohnHalleyGotway opened #1725 "TC-Pairs reports the wrong number of lines read from input track data files."
## Describe the Problem ##
This is a pretty low priority bug. The log messages that TC-Pairs prints about the number of lines read from input track data files are not accurate. Note that this bug does not appear in MET version 9.1. It was introduced during development toward the 10.0.0 release.

For example, running one of the tests from unit_tc_pairs.xml:
[code]
There are actually 13 ATCF lines i

[2021-03-19 05:04] #1716 closed, assigned to JohnHalleyGotway, michelleharrold, rgbullock

[2021-03-19 15:02] JohnHalleyGotway opened #1728 "Update the copyright date of the source code files from 2020 to 2021."
## Describe the Task ##
Update the year from 2020 to 2021 for the copyright in all of the MET source code files.
Also take a look at src/tools/dev_utils/chk4copyright.cc

### Time Estimate ###
2 hours

### Sub-Issues ###
Consider breaking the task down into sub-issues.
None needed.

### Relevant Deadlines ###
By 10.0.0

### Funding Source ###
None

## Define the Metadata ##

### Assignee ###
- [x]

[2021-03-19 16:05] JohnHalleyGotway opened #1729 "Enhance the `set_attr_grid` processing logic to support input files lacking a grid definition"
## Describe the Enhancement ##
When reading gridded data, often from NetCDF files, the parsing of the grid can cause the MET tool to error out. That means that the grid information in the NetCDF file is either missing or inconsistent. It may be the case that the user is aware of the problem but still wants to process the data in MET. In this situation, it would be nice for users to supply the "set

[2021-03-19 16:07] #1725 closed, assigned to JohnHalleyGotway

[2021-03-19 16:08] #1705 closed, assigned to JohnHalleyGotway, j-opatz

[2021-03-19 17:00] #1723 closed, assigned to JohnHalleyGotway

[2021-03-19 17:15] JohnHalleyGotway opened #1731 "Update the User's Guide for the 10.0.0 release."
## Describe the Task ##
Prior to the actual 10.0.0 release, we'll need to make some updates to the User's Guide. Please list the changes that need to be made here:
- Revise and rotate the User's Guide authorship list, as directed by @TaraJensen
- Add 10.0.0 release notes (this will be done as part of the release process)
- Create a new 10.0.0 flowchart and drop it into the docs.
- Review/update se

[2021-03-26 22:35] JohnHalleyGotway opened #1733 "Add job filtering options for stat_analysis and tc_stat to exclude based on column string values."
## Describe the Enhancement ##
This request arose via met-help in a question from the Air Force:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99168

The stat_analysis and tc_stat tools both support the -column_str option which filters input data based by specifying a column name and one or more matching strings. When used, only those lines for which that column contains one of the specified s

[2021-03-29 16:34] #1733 closed, assigned to JohnHalleyGotway

[2021-03-29 16:47] JohnHalleyGotway opened #1735 "Enhance Stat-Analysis to process multiple output thresholds and write multiple output line types in a single job."
## Describe the Enhancement ##
NOAA/MDL runs Point-Stat and Stat-Analysis to verify precipitation forecasts over many spatial regions (all WFO's, RFC's, as well as CONUS, EAST, and WEST). They also compute monthly stats for each individual station. The latter is done via Stat-Analysis, by reading MPR lines from Point-Stat and running the following type of job:
[code]
They also request **-out_line_

[2021-03-29 17:23] JohnHalleyGotway opened #1736 "Enhance Stat-Analysis skip writing job output to the logfile when the -out_stat option is provided."
## Describe the Enhancement ##
This is a request from NOAA/MDL that arose during a telecon on 3/29/2021. Here's the correspondence:

From NOAA/MDL:
When we run stat_analysis, all of the stat output lines are written to the logs as well.  Is there a way to turn that off?

Response:
Stat-Analysis originally just wrote its output to log files. Then we added the "-out" option to write the output to a

[2021-03-30 15:46] JohnHalleyGotway opened #1737 "Fix ascii2nc to handle bad records in little_r format."
## Describe the Problem ##
This issue arose via met-help:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99278

The user reported that ascii2nc was unable to read some global little_r formatted ascii data. The sample data is on cheyenne in /glade/collections/rda/data/ds351.0/little_r/2015. Running one of these files through ascii2nc results in the following error message:
[code]
Debugging revea

[2021-03-30 22:53] JohnHalleyGotway commented on #1575
I have this working in Point-Stat, and it just seems logical to provide the same options in Grid-Stat.

But when implementing in Grid-Stat, I have a question about where to apply the logic. I'd originally put into the function that extracts matched pairs from the gridded fields of data... that's after any smoothing of the data. But I ran into problems. That same function is used to pull pairs out

[2021-03-30 22:55] #1737 closed, assigned to JohnHalleyGotway

[2021-04-02 17:36] #1575 closed, assigned to JohnHalleyGotway, easatterfield

[2021-04-02 18:21] #1319 closed, assigned to dwfncar, DanielAdriaansen

[2021-04-04 22:28] #1736 closed, assigned to JohnHalleyGotway

[2021-04-05 19:27] JohnHalleyGotway opened #1746 "Make the specification of a binary threshold in Wavelet-Stat optional."
## Describe the Enhancement ##
This issue arose via the JTTI project meeting. For this project, we need the ability to run Wavelet-Stat without applying a categorical threshold to convert the data to a binary image instead. This task is to make the thresholding step optional and deal with any consequences of that change.

Be sure to:
(1) Make the Wavelet-Stat thresholding step optional in the conf

[2021-04-05 19:31] ericgilleland commented on #1746
I think this idea is a good one.  It may change the interpretation of the IS (and other summaries from the Casati papers) but in practical terms, a wavelet decomposition provides information about a variable at independent scales, so MSE and the like will still be meaningful.  The approach is described in Briggs and Levine (1997).

Briggs, W. M. and R. A. Levine, 1997: Wavelets and field forecast

[2021-04-06 00:00] JohnHalleyGotway opened #1747 "Fix user python embedding for lat/lon grids for met-10.0.0."
## Describe the Problem ##
Merging MET #1319 to read/write temporary gridded NetCDF files instead of pickle files has introduced a small problem. @georgemccabe found that METplus use cases calling user python embedding are now failing. The problem is in the "read_tmp_dataplane.py" script. It converts the 'nx' and 'ny' attributes to integers so that the MET code can parse their values properly.

Th

[2021-04-06 03:34] #1747 closed, assigned to JohnHalleyGotway

[2021-04-06 23:26] j-opatz opened #1749 "HSS enhancement, configurable option for statistical calculation"
## Describe the New Feature ##
In MET, we currently calculate HSS with the following equation:

HSS = ((n_11 + n_00) - C_2) / (T-C_2) --- link [here](https://met.readthedocs.io/en/develop/Users_Guide/appendixC.html#heidke-skill-score-hss) for better written version

Where n_11 is correct hits, n_00 is correct misses, T is the total number of observations, and C_2 is derived from the nxn contingenc

[2021-04-08 04:00] JohnHalleyGotway commented on #1749
NOAA/CPC feedback on 4/7/21:
I would say yes, setting a constant for the rate of expected hits would make sense initially. So for a tercile / 3-category forecast, CPC uses a "rate" of 0.333 and the expected number of hits becomes the total # of forecasts (N) * 0.333. We verify both as a time series over N dates or as a map or region over N grid points. I am not sure if that capability is in MET. B

[2021-04-09 16:21] JohnHalleyGotway commented on #1693
From @michelleharrold:

The deliverable for this project is due 31 May, so the sooner the better!

For reference - the EUMETNET data is what this is needed for. It is currently in HDF5, so the goal is to have you write the python code to convert to MET-friendly NetCDF and then have MET be able to handle the lambert azimuthal equal area grid. I suppose we could also have you include a regridding in

[2021-04-09 21:20] #1714 closed, assigned to DanielAdriaansen, KathrynNewman, JohnHalleyGotway, halperin-erau

[2021-04-12 22:39] jprestop commented on #1552
In compiling BUFRLIB:
"Error: Rank mismatch between actual argument at (1) and actual argument at (2) (rank-1 and scalar)"

Added:
"-fallow-argument-mismatch" to the compilation of BUFRLIB

From:
https://gcc.gnu.org/gcc-10/changes.html
Mismatches between actual and dummy argument lists in a single file are now rejected with an error. Use the new option -fallow-argument-mismatch to turn these error

[2021-04-12 22:39] jprestop commented on #1552
In compiling HDF4.2r3:
"Error: Type mismatch between actual argument at (1) and actual argument at (2) (CHARACTER(0)/INTEGER(4))"

Added:
"-w -fallow-argument-mismatch" to the compilation of HDF4.2r3 to FFLAGS in the hdf/src/Makefile

[2021-04-12 22:50] jprestop commented on #1552
Testing on cheyenne:/glade/p/ral/jntp/MET/MET_cross_platform_testing/met-10.0.0-beta4/gcc/met-10.0.0-beta4 using gnu/10.1.0

[2021-04-13 00:00] jprestop commented on #1552
I got a successful compilation on Cheyenne, including using HDF4, HDFEOS, Cairo, and Freetype, the build and test logs can be viewed at /glade/p/ral/jntp/MET/MET_cross_platform_testing/met-10.0.0-beta4/gcc/met-10.0.0-beta4.

[2021-04-14 21:10] JohnHalleyGotway opened #1753 "Fix user python embedding to handle the fill value correctly"
## Describe the Problem ##
This is an issue @j-opatz ran into when trying to use python embedding to pass data into MET for NOAA/CPC. These scripts worked fine in met-10.0.0_beta3 but was broken by PR #1720 which merged changes for MET issues #1319. The python embedding script works fine when MET_PYTHON_EXE is NOT set, but produces different output when it is set. The issue is that the temporary N

[2021-04-15 05:08] hsoh-u opened #1755 "Fail to get the time level by time string at MET NCCF input"
*Replace italics below with details for this issue.*

## Describe the Problem ##
Reported by Zhuming and summarized by George McCabe:

I am trying to run PointStat to read NetCDF data using the valid time. I am able to run plot_data_plane specifying the valid time and run PointStat using level (0,*,*) which I confirmed corresponds to the time I need, but PointStat will not work using the valid tim

[2021-04-15 23:14] lindsayrblank commented on #1592
@JohnHalleyGotway I was able to add some preliminary documentation, but not the details like the usage statement (due to the seg fault). In lieu of full documentation, here are the step by step instructions for how to run multivariate MODE as it stands now. I had sent these to Tina Kalb.

Perform the following steps on dakota:
1. Copy the following script: /d2/lblank/multivariate_mode/case_study_2

[2021-04-16 16:00] #1735 closed, assigned to JohnHalleyGotway

[2021-04-16 16:01] #1755 closed, assigned to hsoh-u

[2021-04-17 19:25] JohnHalleyGotway opened #1759 "Speed up the MODE convolution step using the algorithm for the fractional coverage field."
## Describe the Enhancement ##
This idea arose in discussions with @michelleharrold about MODE taking 2 hours to run on dense global grid. One relatively slow step in MODE is the convolution smoothing step. It takes a significant amount of processing. Here's the place where that's done:
https://github.com/dtcenter/MET/blob/develop/src/libcode/vx_shapedata/shapedata.cc#L517
(before restructured: ht

[2021-04-19 16:54] TaraJensen commented on #392
Moved this into MET 10.1.0 development cycle during discussion with HAFS developers.  They see this as a high priority.

[2021-04-19 17:43] j-opatz commented on #1753
The NB was tested this morning with a use case that had previously failed with the initial change in temporary netCDF logic. It now runs successfully and produces the output that came in the beta3 release.

[2021-04-19 17:43] #1753 closed, assigned to JohnHalleyGotway, j-opatz

[2021-04-19 23:41] JohnHalleyGotway commented on #1481
@j-opatz and @JohnHalleyGotway discussed this over Slack on 4/19/21. This feature would have saved John O time because it would have shown him that his "-alpha 0.05" setting was causing all the PCT lines to be discarded. Recommend modeling the verbosity 3 log messages after Point-Stat output:
[code]
But only log the non-zero rejection reason counts to keep the log messages tidy. Could have the sam

[2021-04-20 15:56] JohnHalleyGotway commented on #1620
Easy one line fix in the read_ascii_mpr.py script is done.

[2021-04-20 18:51] JohnHalleyGotway commented on #1620
Moved description of additional work over to issue #1700.

[2021-04-20 20:56] JohnHalleyGotway commented on #1700
However, for this issue, I'll also tackle a continuing problem with the path that @DanielAdriaansen has reported. Listed below is an email from Dan that explains the path problem:

I am still having problems with the same issue- same problem as here: https://github.com/dtcenter/MET/issues/1319#issuecomment-774321157

Using the develop branch on kiowa. Here's some output:
[code]
The error (**Module

[2021-04-20 20:57] JohnHalleyGotway commented on #1700
Replicating this behavior on kiowa:
[code]
I tested all 3 instances of python embedding MET:
(1) For gridded data, imports for straight and user python work great.
(2) For ascii2nc, imports for straight python work, but imports for user python **DO NOT WORK**.
(3) For stat_analysis, imports for straight python work, but imports for user python **DO NOT WORK**.
So there are 2 problems to fix.

[2021-04-20 22:27] JohnHalleyGotway opened #1761 "Support percentile thresholds for frequency bias not equal to 1 (e.g. ==FBIAS0.9)"
## Describe the Enhancement ##
MET currently supports the FBIAS1 percentile threshold option. For example, you can set "obs.cat_thresh = >20;" and set "fcst.cat_thresh = ==FBIAS1;". MET will replace ==FBIAS1 with the actual threshold value that will result in a frequency bias of 1.0. This is essentially de-biasing the forecast. However, we did find one case where setting the FBIAS to value differe

[2021-04-22 16:44] #1620 closed, assigned to JohnHalleyGotway

[2021-04-22 17:09] JohnHalleyGotway opened #1762 "Add configuration option to Point-Stat and Ensemble-Stat to define the uniqueness key for point observations."
## Describe the Enhancement ##
This is a request that arose via a MET-Help question from the USAF:
   https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99675

This feature request should provide configuration options to control the identification of "duplicate" point observations. The same configuration option should be added to Point-Stat and Ensemble-Stat, both of which process point observation

[2021-04-22 20:27] JohnHalleyGotway opened #1763 "Migrate from Fortify to SonarQube for routine static code analysis for MET."
## Describe the Task ##
The METplus Fortify license expires at the end of May, 2021. Prior to that date, we need to run a scan on MET version 10.0.0. After the release is out, we need to setup and run a similar scan using the SonarQube utilities for the release met-10.0.0 version.

This task is to fully make the switch over from Fortify to SonarQube. Ideally we'd switch from running this nightly o

[2021-04-22 20:59] JohnHalleyGotway opened #1764 "Add ORANK line type to the HiRA output from Point-Stat."
## Describe the Enhancement ##
This request arose via met-help issue from the US Army:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99476

The HiRA algorithm in Point-Stat applies probabilistic and ensemble verification techniques when verifying deterministic model output against point observations. The pseudo-ensemble is defined using forecast values from nearby grid points. So this is the a

[2021-04-26 15:22] JohnHalleyGotway opened #1766 "Create the MET v10.0.0-beta5 release."
## Describe the Task ##
This task is to create the MET 10.0.0-beta5 release scheduled for Monday 4/26/21.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://github.com/dtcenter/METplus/blob/develop/docs/Release_Guide/met.rst

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-iss

[2021-04-26 15:37] #1700 closed, assigned to DanielAdriaansen, JohnHalleyGotway

[2021-04-26 19:35] #1728 closed, assigned to JohnHalleyGotway

[2021-04-26 22:15] JohnHalleyGotway opened #1768 "TC-Pairs fails to read edeck RI lines when other unsupported probability line types are present."
## Describe the Problem ##
This issue arose via a met-help question from NOAA/GSL:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99708

Passing an edeck file to TC-Pairs which contains more than just the RI line type causes the tool to stop reading the input file after the first unexpected line type.

### Expected Behavior ###
Edeck files from NHC often contain more than just the RI line type

[2021-04-26 23:21] JohnHalleyGotway commented on #1768
Running the same command listed above using this bugfix branch, and it reads all the RI lines present in the input file:
[code]
That matches the number of RI lines:
[code]

[2021-04-27 14:42] #1766 closed, assigned to JohnHalleyGotway

[2021-04-27 17:50] JohnHalleyGotway opened #1771 "Consolidate met-10.0.0 release notes for governance meeting."
## Describe the Task ##
Prior to the METplus governance meeting on 5/3/2021, consolidate the beta release notes into a coherent set for MET 10.0.0. Using bolding to indicate emphasis.

### Time Estimate ###
2 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
None required.

### Relevant Deadlines ###
5/3/21

### Funding Source ###
*Define the source of funding and account

[2021-04-27 18:00] #1768 closed, assigned to KathrynNewman, JohnHalleyGotway

[2021-04-27 19:18] JohnHalleyGotway commented on #1693
From @rgbullock

I finished up the laea grid code.  I've also tested it and it seems to be working well.  I decided to go with the series expansion rather than the iterative scheme in the code, because it turns out that the iteration doesn't always converge.

The definition for the grid Michelle and Tracy are using is contained in the source file "laea_grid_defs.h".  It's currently called tracy_da

[2021-04-27 20:30] JohnHalleyGotway commented on #1693
@rgbullock has finished development for this support. Added @JohnHalleyGotway to the assignee list so he can work on integrating these changes into the rest of the MET codebase.

[2021-04-27 23:46] ahijevyc commented on #1234
Without knowing about SPC's extensive use of NCEP grid 211, it is a little perplexing why the default gaussian_dx is 81.271 km. I think it should be documented in the configuration README that this default value specifically pertains to NCEP storage grid 211, Regional - CONUS (Lambert Conformal), which has a nominal grid spacing of 80km. It is not generally appropriate for an arbitrary grid.

Even

[2021-04-28 19:34] #1771 closed, assigned to JohnHalleyGotway

[2021-04-29 15:13] #1552 closed, assigned to jprestop

[2021-04-29 15:18] JohnHalleyGotway commented on #1763
Do the FOD scan on rc1, unless Tara says to wait for 10.0.0.

[2021-04-29 19:52] JohnHalleyGotway opened #1773 "Enhance TC-RMW to process gridded data with a higher time frequency than the corresponding track data."
## Describe the Enhancement ##
This is an issue that arose via the DTC staff meeting on 4/29/21 during Evan's portion of the presentation about UFS physics suites across scales testing.

For this project, the team evaluated hourly model output against hourly MRMS analyses. They ran the tc-rmw tool to convert precipitation data to storm-relative components. While the data was hourly, the correspond

[2021-04-29 20:07] evankalina commented on #1773
@JohnHalleyGotway excellent summary; thanks for recording it. One clarification, for the model runs, everything is working well, because we have both hourly model output and hourly model tracks. The problem occurs when processing the observations, because we have hourly rainfall obs, but 6-hourly tracking data from the National Hurricane Center. We have to linearly interpolate that track data befo

[2021-04-29 22:32] jprestop opened #1774 "Create outline for the MET Contributor's Guide"
## Describe the Task ##
Create an outline for a MET Contributor's Guide.

Please use this rst guide for formatting sections:
https://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html
[code]

### Time Estimate ###
1 to 3 days of work

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
NONE

##

[2021-04-29 22:37] JohnHalleyGotway commented on #1774
Recommend that we schedule a working meeting to brainstorm topics for the Contributor's Guide.

[2021-04-29 23:02] JohnHalleyGotway commented on #1693
Here is a link to the GRIB2 definition of Lambert Azimuthal Equal Area grids:
https://www.nco.ncep.noaa.gov/pmb/docs/grib2/grib2_doc/grib2_temp3-140.shtml

Along with an ECMWF grid template:
https://apps.ecmwf.int/codes/grib/format/grib2/templates/3/140

And here is a sample LAEA GRIB2 file I found on the MetOffice website:
https://metoffice.apiconnect.ibmcloud.com/metoffice/development/projection

[2021-04-30 21:42] JohnHalleyGotway commented on #1469
@JohnHalleyGotway and @DanielAdriaansen discussed this on 4/30/21 and agree that the existing documentation in [Appendix F](https://met.readthedocs.io/en/develop/Users_Guide/appendixF.html) describes the grid definition components well for each supported projection. No additional work is required at this time. However, when support for additional projections is added to MET, the documentation shou

[2021-04-30 21:42] #1469 closed, assigned to DanielAdriaansen, JohnHalleyGotway

[2021-05-03 17:47] JohnHalleyGotway opened #1775 "Include in the release notes a plot of the development timeline, official releases, and subsequent bugfixes."
## Describe the Task ##
Consider enhancing the release notes to include a timeline showing the development cycles for that release, the actual official release, and any subsequent bugfix releases. All the logic should be triggered off of the "version" in conf.py:
version = '9.1.3'

Could parse out X.Y (e.g. "9.1") and use the GitHub CLI to extract the relevant dates for:
- Development MET-X.Y* bet

[2021-05-03 17:55] JohnHalleyGotway commented on #1731
Note, several of these were already done for issue #1771 and PR #1772:
- Rotate the User's Guide authorship list
- Add 10.0.0 release notes (this will be done as part of the release process)
- Create a new 10.0.0 flowchart and drop it into the docs

Remaining work:
- Review/update section 1.4 "MET components" as needed.
- Review UG for version-specific information.

[2021-05-03 19:56] JohnHalleyGotway commented on #1759
@TaraJensen I'm wondering if there's room in my matrix for @michelleharrold to make a small (20 - 40 hours?) allocation to fund work for this issue? We discussed this issue at the AF/GSWR meeting on 5/3/21.

[2021-05-03 21:41] hsoh-u commented on #1277
How about changing the definition of comment?
The comment must begin with a space character or a tab character before"//"
[code]
And introducing the escape character (for example, backspace) before a "space/tab" character if a space character or a tab character is allowed as the path. I'm not sure this is acceptable or the script can do this.
[code]

[2021-05-03 22:30] hsoh-u commented on #1277
At commend_line.cc
[code]
Suggestion: process argv[j] ("//" to "/" for path) before passing it to args.add() by applying above logic

[2021-05-04 14:49] JohnHalleyGotway commented on #1277
@hsoh, that would technically solve the issue in that example, but wouldn't solve the underlying problem with the config file parser.

Here's another example using the "test_config" utility:
[code]
@rgbullock wrote the config parser code. And I'm guessing he'd be best suited to find a fix for the underlying problem. I'll re-assign this issue to him. If fixing the parser directly won't work, we cou

[2021-05-05 12:31] stormy-viz opened #1777 "gis reading program memory bug while reading shapefile that gen_vx_mask properly converts"
## Describe the Problem ##
I am attempting to convert a shapefile to a mask. I am able to create the masks successfully with gen_vx_mask, but the metadata reading programs error while trying to read the file. This is not a bug that is impacting any functionality to produce the masks, only the metadata for the masks.

gen_vx_mask produces a mask file if given the proper metadata

gen_vx_mask CONUS_

[2021-05-05 16:58] JohnHalleyGotway commented on #1777
@stormy-viz I am definitely able to replicate this behavior on WCOSS! It aborts right away!
[code]
However, when I copy the data to my local machine, it runs without error and writes good output. So this is an environment-specific error... which means the problem will be less obvious! I'll check for uninitialized variables and pointers. That could cause this sort of platform-specific behavior.

[2021-05-05 17:02] LoganDawson-NOAA opened #1778 "Slow runtime for regrid_data_plane MAX interpolation in MET-10.0.0_beta5"
*Replace italics below with details for this issue.*

## Describe the Problem ##
*When testing the beta5 release for METplus-4.0.0 and MET-10.0.0, I discovered a regrid_data_plane MAX interpolation step that is taking ~8x longer (~12 minutes vs. 90 seconds) to run with MET-10.0.0_beta5 than with MET-9.1. When I initially ran this step in a batch job and from the command line, I thought MET was han

[2021-05-05 19:36] JohnHalleyGotway commented on #1777
@stormy-viz OK I found/fixed this problem. Thanks for letting us know about it!

Can you please test of Venus to confirm that problem/fix I'm seeing?

Here's the existing 9.1.3 version that aborts:
[code]
And here's the updated development version that now works:
[code]

[2021-05-05 19:43] stormy-viz commented on #1777
Confirmed that it's fixed! Close it.

[2021-05-05 20:58] JohnHalleyGotway commented on #1778
Pulled the sample data to my local machine and am testing there. Checked run times by varying the MAX regridding widths:
- width = 3 has runtimes of 0m28.264s and 0m30.619s for main_v9.1/develop.
- width = 9 has runtimes of 3m6.029s and 3m4.778s for main_v9.1/develop.
- width = 17 has runtimes of 12m7.563s and 11m51.669s for main_v9.1/develop.

Running the same tests on WCOSS/Venus.
[code]
- width

[2021-05-05 22:11] #1777 closed, assigned to JohnHalleyGotway

[2021-05-06 13:53] LoganDawson-NOAA commented on #1778
@JohnHalleyGotway you're correct that this isn't a new problem introduced in MET-10.0.0. It is however a behavior that's come in after the initial release of MET-9.1, which is the version I've been using since last fall.

I grabbed your run_pdp.sh script and ran a slightly modified version to test MET-9.1, MET-9.1.1, MET-9.1.2, and MET-10.0.0_beta5 (all with width = 17).

- MET-9.1: 1m15.684s
- ME

[2021-05-06 16:28] JohnHalleyGotway commented on #1778
@LoganDawson-NOAA this is great feedback. Thanks for narrowing it down! I'll debug the difference in runtimes between 9.1 and 9.1.1.
...
Testing the runtime of 9.1 vs 9.1.1 locally on my laptop reveals no apparent discrepancy:
For MET-9.1 and 9.1.1, I got runtimes of **11m9.961s** and **11m55.222s**.
...
But testing on WCOSS, I do see a **major discrepancy** between the two.
For MET-9.1 and 9.1.1,

[2021-05-06 19:53] JohnHalleyGotway commented on #1778
### Compare compilation options:
I compared the compilation flags in config.log for the build configurations of 9.1 and 9.1.1 on WCOSS:
[code]
CFLAGS='-D__64BIT__'
CXXFLAGS='-D__64BIT__'
FFLAGS='-g'
[code]
CFLAGS='-g -O2'
CXXFLAGS='-g'
FFLAGS='-g'

I doubt the -D__64BIT__ flag is the the culprit here, but compiling with -g may very likely impact runtime!

### Test removing -g:

I compiled met-9.1

[2021-05-07 03:11] JohnHalleyGotway opened #1780 "Enhance regrid_data_plane to perform smoothing operations more efficiently."
## Describe the Enhancement ##
This enhancement was recommended in this comment on MET #1778:
https://github.com/dtcenter/MET/issues/1778#issuecomment-833002928

@LoganDawson-NOAA is running regrid_data_plane to SMOOTH data rather than actually regridding Recommend that we make the following enhancements:

- Complete development for MET #1759 to make the convolution (i.e. smoothing) step in MODE a

[2021-05-07 14:32] LoganDawson-NOAA commented on #1778
@JohnHalleyGotway thanks for tracking down the runtime difference as a difference in the compilation settings used for the older and newer versions. If it's possible to compile 10.0.0 without the -g option, that'd be great, but I totally understand if that option is necessary to allow some other capability to work correctly.

[2021-05-07 17:49] JohnHalleyGotway opened #1782 "Fix Point-Stat runtime error when verifying CF-compliant NetCDF files."
## Describe the Problem ##
This issue was reported by the UK MetOffice via met-help:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99819

The following call to Point-Stat errors out:
[code]
However the plot_data_plane tool is able to plot this data without error and it does parse the timestamp correctly:
[code]
### Expected Behavior ###
plot_data_plane's call to the MetNcCFDataFile::data_plane

[2021-05-07 20:37] #1731 closed, assigned to JohnHalleyGotway, j-opatz

[2021-05-07 21:14] #1468 closed, assigned to DanielAdriaansen

[2021-05-07 21:43] JohnHalleyGotway commented on #1778
I am changing the handling of CFLAGS, FFLAGS, and CXXFLAGS in configure.ac.
Prior to this change, running ./configure revealed their default settings:
[code]
Next, I updated configure.ac.
[code]
 And reran bootstrap and configure with MET_DEVELOPMENT not set:
[code]
With MET_DEVELOPMENT set:
[code]
And testing the environment variable overrides:
[code]
So this is all working as expected.

[2021-05-08 01:28] #1778 closed, assigned to JohnHalleyGotway, LoganDawson-NOAA

[2021-05-10 15:58] JohnHalleyGotway opened #1786 "Create the MET v10.0.0 release"
## Describe the Task ##
Create the MET v10.0.0 release.

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-issues required.

### Relevant Deadlines ###
Planned for 5/10/21.

### Funding Source ###
*Define the source of funding and account keys here or state NONE.*

## Define the Metadata ##

### Assignee ###
- [x] Select **engineer(s)** or *

[2021-05-10 19:45] #1782 closed, assigned to hsoh-u, j-opatz

[2021-05-10 20:47] jprestop commented on #1317
Compiling with PGI version 19 is still problematic, however MET an its required external libraries compile well with PGI version 20.4.  This compilation was tested on Cheyenne at /glade/p/ral/jntp/MET/MET_cross_platform_testing/met-10.0.0-beta4/pgi.

[2021-05-10 20:47] #1317 closed, assigned to jprestop

[2021-05-10 22:19] #1786 closed, assigned to JohnHalleyGotway

[2021-05-11 21:06] JohnHalleyGotway opened #1788 "Enhance Stat-Analysis to write the GO Index and CBS Index into a new SSIDX STAT line type."
## Describe the Enhancement ##
This enhancement is recommended for the DTCenter Air Force LIS project. The Stat-Analysis tool supports the skill score index and GO index job types. The GO Index is just a special version of the skill score index job. As of MET version 10.0.0, Stat-Analysis simply prints the output for this job to the screen or to an output file. This task is to create a new .stat l

[2021-05-12 16:57] JohnHalleyGotway opened #1789 "Fix the Plot-Point-Obs documentation to remove the duplicate configuration section."
## Describe the Problem ##
As reported via met-help (https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99857) sections 27.1.2 and 27.1.3 are almost entirely duplicated in describing the plot_point_obs configuration file. I carefully checked and found that 27.1.2 is most accurate and up-to-date since it includes the addition of the grid_data.regrid option.

### Expected Behavior ###
We just need to

[2021-05-12 17:28] #1789 closed, assigned to JohnHalleyGotway

[2021-05-12 17:50] JohnHalleyGotway opened #1792 "Change -type for gen_vx_mask from an optional argument to a required one."
## Describe the Enhancement ##
A met-help question revealed that having the -type option for gen_vx_mask as an optional argument with "poly" as the default value causes some confusion. Changing -type from an optional to a required argument would be more clear:
https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99861

This task is to:
- Change -type from optional to required.
- Make sure the resulti

[2021-05-17 17:28] JohnHalleyGotway commented on #1551
Discussed this issue during the NOAA METplus Telecon on 5/17/21. The NOAA/MEG group are debugging unexpected HREF results for cloud ceiling and it may be related to the need for computing a conditional ensemble mean. Binbin has been computing conditional means for cloud ceiling, but it is not yet directly supported in Ensemble-Stat.

[2021-05-18 18:56] JohnHalleyGotway opened #1793 "Enhance python embedding to support using MET_PYTHON_INPUT_ARG across all tools."
## Describe the Enhancement ##
The idea for this enhancement arose during the GSWR Air Force evaluation in 2021. The DTC team used METplus to do a comparison of analysis datasets. However, two details caused a challenge. First, neither dataset was at a consistent time interval. Second, python embedding was required for reading both datasets.

The goal was to use METplus to run Grid-Stat and MODE a

[2021-05-18 20:47] JohnHalleyGotway opened #1794 "Fix Fortify Critical finding for renderinfo.cc : 169"
## Describe the Task ##
The FOD scan of MET version 10.0.0 produced 1 Critical and 1 High finding. This task is to address that Critical finding described below:
[Fortify_Issue_Summary_met-10.0.0.pdf](https://github.com/dtcenter/MET/files/6510121/Fortify_Issue_Summary_met-10.0.0.pdf)

src/libcode/vx_render/renderinfo.cc : 169

Summary
The function add_filter() in renderinfo.cc writes one location

[2021-05-18 20:49] JohnHalleyGotway opened #1795 "Fix Fortify High finding for src/libcode/vx_data2d_nccf/nccf_file.cc : 346"
## Describe the Task ##
The FOD scan of MET version 10.0.0 produced 1 Critical and 1 High finding. This task is to address that High finding described below:
[Fortify_Issue_Summary_met-10.0.0.pdf](https://github.com/dtcenter/MET/files/6510129/Fortify_Issue_Summary_met-10.0.0.pdf)

src/libcode/vx_data2d_nccf/nccf_file.cc : 346

https://fed.fortifygov.com/Releases/14151/Issues?t=-5102&g=1000005

Sum

[2021-05-19 22:56] jprestop opened #1797 "Write a compilation script for an existing MET environment"
## Describe the Task ##
This work arose from the following situation:
"I wanted to setup my environment and link to the external libs already compiled for met-10.0.0. That involved loading the right modules and scraping config settings out of met-10.0.0 config.log file."

Write a compilation script (or adapt the existing install script to redirect it to existing library builds rather than rebuildi

[2021-05-19 23:42] JohnHalleyGotway opened #1798 "Fix python embedding when using a named grid with MET_PYTHON_EXE set."
## Describe the Problem ##
While working on the DTC Air Force GSWR evaluation project, I ran into a wrinkle with python embedding in MET version 10.0.0 that needs to be fixed.

GitHub issue #1471 enhanced MET version 10.0.0 to enable the python grid to be defined as a named grid or grid specification string. This works well with straight python but causes a runtime error when the MET_PYTHON_EXE en

[2021-05-20 14:10] bikegeek opened #1801 "Fix the plot_tcmpr.R script to plot extra-tropical cyclone tracks not verified against BEST tracks."
*Replace italics below with details for this issue.*

## Describe the Task ##

Results from troubleshooting on a MET Help Ticket [99800]( https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=99800)

Guang Ping has TC data that he would like to plot using the plot_tcmpr.R plotter (via the METplus wrapper)
By default, the configuration file has event equalization turned on, but his data does not have s

[2021-05-20 15:39] JohnHalleyGotway commented on #1763
Steps are:
- run this manually on kiowa for met-10.0.0... need this run by mid-June
- investigate whether we can run this via GHA with automation

[2021-05-20 15:41] JohnHalleyGotway commented on #1801
@bikegeek recommend that we fix this in main_v10.0 branch but NOT do a bugfix release yet. Instead, request that Guang Ping run from that branch on Hera.

[2021-05-20 15:44] JohnHalleyGotway commented on #1794
Recommend that we check this one in the output of SonarQube.

[2021-05-20 18:21] #1798 closed, assigned to JohnHalleyGotway

[2021-05-21 18:19] #1801 closed, assigned to bikegeek

[2021-05-21 20:07] jprestop opened #1807 "Update versions of software on Cheyenne and Casper"
## Describe the Task ##
A CISL newsletter indicates there are new versions of some software.  Check to see if versions should be updated on Cheyenne and Casper.

### Time Estimate ###
<1 day of work

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
None

### Funding Source ###
TBD

## Define the Metadata

[2021-05-21 21:43] #1795 closed, assigned to hsoh-u

[2021-05-21 21:51] hsoh-u commented on #1794
Fixed with [#1795](https://github.com/dtcenter/MET/issues/1795) by [PR #1802](https://github.com/dtcenter/MET/pull/1802)

[2021-05-21 21:51] #1794 closed

[2021-05-24 21:27] JohnHalleyGotway opened #1809 "Enhance TC-Gen to verify genesis probabilities from ATCF e-deck files."
## Describe the New Feature ##
[tc_gen_probabilistic_algorithm_v2.pdf](https://github.com/dtcenter/MET/files/6535036/tc_gen_probabilistic_algorithm_v2.pdf)

Please see the attached slides to illustrate 2 main changes that are required for TC-Genesis verification. This issue describes the first of those 2 enhancements. Enhance tc_gen to verify genesis probabilities from ATCF e-deck files. NHC ident

[2021-05-24 21:29] JohnHalleyGotway commented on #1809
On 5/24/21, Dan H, Tara, and John HG met to discuss these details. Dan provided the additional followup information below:

Thank you for the discussion today.  I've attached some sample data that may be helpful as development continues.
The al*.dat files are TWO sample files.  I have included at least one developing and one non-developing disturbance during the years when NHC issued 48 h, 48/120

[2021-05-24 21:41] JohnHalleyGotway opened #1810 "Enhance TC-Gen to verify NHC tropical weather outlook shapefiles. Refine logic to prevent rounding shapefile points to the nearest grid point."
## Describe the New Feature ##
[tc_gen_probabilistic_algorithm_v2.pdf](https://github.com/dtcenter/MET/files/6535036/tc_gen_probabilistic_algorithm_v2.pdf)

**Note**: During development, an issue with the handling of the (lat, lon) shapefile points was discovered. When applying them to a grid, after converting from (lat, lon) to grid (x, y), the (x, y) points were rounded to the nearest grid point

[2021-05-25 17:41] jprestop opened #1811 "Create anchors for MET variable in MET User's Guide"
## Describe the Task ##
Create anchors for MET variable in MET User's Guide. On these pages:
https://met.readthedocs.io/en/latest/Users_Guide/config_options.html#config-options
https://met.readthedocs.io/en/latest/Users_Guide/config_options.html#settings-specific-to-individual-tools
create anchors for the numerous variables that are bolded without creating section headers for each variable.

### T

[2021-05-25 17:58] jprestop commented on #1811
This is how existing internal links are referenced:
On this[page](https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html), exists this sentence:

The point-stat.rst file has the following syntax for the Mason reference:

:ref:\`Mason, 2004 \<Mason-2004\>\`

And, ref.rst has the following syntax to enable linking to this Mason reference:

.. _Mason-2004:

| Mason, S. J., 2004: On Using "C

[2021-05-26 16:45] JohnHalleyGotway commented on #1749
I'd like to get started on this development since it's required for the first development cycle.
I assume that I'll add a new column for the modified HSS output, along with config file options for specifying the C_2 value.
@j-opatz can you please confirm that this issue is still relevant?
What should the new output column be named?
What should the C2 config file option be named?

[2021-05-26 17:11] j-opatz commented on #1749
I can confirm that the need for a new column of HSS, calculated in the form described in the issue, is still relevant and needed for CPC.
As for the naming, I'll reach out to CPC and Barb to have a user/statistician discussion on what would be meaningful and logical.

[2021-05-26 17:52] JohnHalleyGotway commented on #1749
Great, thanks @j-opatz. One more question. HSS appears in the [CTS](https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html#id9), [NBRCTS](https://met.readthedocs.io/en/latest/Users_Guide/grid-stat.html#id10), and [MCTS](https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html#id13) output line types. Since we're talking about terciles, that implies a 3x3 contingency table which w

[2021-05-26 20:02] JohnHalleyGotway commented on #1788
John HG and Michelle discussed this over G-Chat on 5/26/21. Here are some takeaways:
- Stat-Analysis currently supports -job go_index which is defined by [STATAnalysisConfig_GO_Index](https://github.com/dtcenter/MET/blob/main_v10.0/met/data/config/STATAnalysisConfig_GO_Index
).
- Consider defining STATAnalysisConfig_WMO_Index to define the WMO Index (i.e. CBS score) components.
- Also add -job wmo

[2021-05-27 20:46] JohnHalleyGotway commented on #1749
@j-opatz @JohnHalleyGotway and @bgbrowntollerud met on 5/27/21 to discuss these issues:
- Add 2 new columns to the MCTS line type: HSS_EC and EC_VALUE, where EC means "expected correct"
- Add config option for the user to specify the hss_ec_value... but have it default to 1 / number of categories.
  - Default hss_ec_value = NA; to set it as 1/N MCTC categories or let the user define is as a number

[2021-05-28 22:38] JohnHalleyGotway commented on #1749
Removed @ericgilleland and added @bgbrowntollerud since Barb's been working through the details with @j-opatz. I made lots of good progress on these changes today. From my perspective, these changes are largely done in the feature_1749_hss branch. They add columns for HSS_EC, HSS_EC_BCL, HSS_EC_BCU, and EC_VALUE to the MCTS line type. And they make hss_ec_value a configurable option. These changes

[2021-06-01 14:21] JohnHalleyGotway commented on #1581
@hsoh-u can this issue be closed since it was fixed by PR #1812?

[2021-06-01 14:21] JohnHalleyGotway commented on #1402
@hsoh-u can this issue be closed since it was fixed by PR #1812?

[2021-06-02 17:27] JohnHalleyGotway commented on #1237
On 6/2/2021, @j-opatz @TaraJensen and @JohnHalleyGotway met with Mark Miesch to discuss MET interfacing with JEDI.

Could be worthwhile to attend a JEDI training academy. JEDI documentation:
https://jointcenterforsatellitedataassimilation-jedi-docs.readthedocs-hosted.com/en/latest/

bump and saber would be good libraries with which to interface.
Deadlines, we need work done by the end of September

[2021-06-02 20:49] JohnHalleyGotway commented on #1792
Please be sure that your changes include:

1. Update [masking.rst](https://github.com/dtcenter/MET/blob/main_v10.0/met/docs/Users_Guide/masking.rst) changing "-type" from an optional argument to a required one (remove the square braces which indicate optional).
2. Update [unit_gen_vx_mask.xml](https://github.com/dtcenter/MET/blob/main_v10.0/test/xml/unit_gen_vx_mask.xml). Several of those calls to

[2021-06-02 22:32] JohnHalleyGotway opened #1815 "Enhance MET's NetCDF library interface to support level strings that include coordinate variable values instead of just indexes."
## Describe the Enhancement ##
This feature request arose via met-help for a NASA user:
  https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=100072
While this idea arose via met-help, it would be widely useful.

When reading gridded data from NetCDF the level string defines how to index into the variable dimensions to extract the 2D field of data. For example:
[code]
The \*,\* indicates the gridded

[2021-06-03 15:18] #1581 closed, assigned to hsoh-u

[2021-06-03 15:23] #1402 closed, assigned to hsoh-u

[2021-06-03 18:56] hsoh-u opened #1817 "The output of point2grid is flipped and rotated with lat/lon to lat/lon conversion"
*Replace italics below with details for this issue.*

## Describe the Problem ##

From Binyu Wang:

She reported the output of the point2grid is flipped and rotated.
The files are downloaded at kiowa:/d1/personal/hsoh/data/Binyu/wrong_latitude_units/

Here are commands:

/gpfs/dell2/emc/verification/noscrub/emc.metplus/met/10.0.0-beta5/exec/point2grid VOLCAT_HIMAWARI-8_FLDK_s2020296_050000_v300250

[2021-06-03 19:56] JohnHalleyGotway commented on #1749
@j-opatz stated on 6/3/21 that we should NOT yet enhance Series-Analysis to support hss_ec_value being defined as a gridded field with separate values for each grid point. Instead, define a new issue to capture that future enhancement.

[2021-06-03 20:06] JohnHalleyGotway opened #1818 "Enhance Series-Analysis to support hss_ec_value as a gridded field of values."
## Describe the Enhancement ##
dtcenter/MET#1749 enhanced MET by adding support for the HSS_EC statistic where the MCTS Heidke Skill Score is computed with a user-configurable expected correct rate. A corresponding hss_ec_value configuration option was added for Point-Stat, Grid-Stat, Series-Analysis, and Stat-Analysis. The hss_ec_value option must be set to a constant value between 0 and 1 which

[2021-06-03 20:51] hsoh-u commented on #1815
Considerations:
- Allowed characters: digits, period, and the negative sign. In case of time dimension, digits and the underline character ("_") are allowed.
- single/double quotation mark for the value should be escaped (the single and the double quotation marks are already used to defined "field" argument
   - single quotation marks to escape the whole "field" argument
   - double quotation mark

[2021-06-04 16:18] #1792 closed, assigned to sethlinden

[2021-06-04 18:44] JohnHalleyGotway opened #1819 "Treat warnings from the documentation as errors facilitate continuous integration with GHA."
## Describe the Task ##
Add new options in the call to sphinx-build to turn warnings in the documentation into errors. The MET documentation setup is mature enough that we really do want to error out when warnings are found in the docs.

From sphinx-build --help, recommend adding the -W and --keep-going options.
[code]

### Time Estimate ###
2 hours.

### Sub-Issues ###
Consider breaking the task

[2021-06-04 21:55] hsoh-u commented on #1817
Binyu sent another file (gridded data) and Minna downloaded it at kiowa:/home/minnawin/met-help/point2grid/VOLCAT_HIMAWARI-8_FLDK_s2020296_050000_v300250_VCB_w167_FLDK_b2020295_204000_g001_pc_rg.nc

[2021-06-05 00:30] JohnHalleyGotway opened #1821 "Recommend deprecating the poorly named and unecessary obs_prefbufr_map PB2NC config file option."
## Describe the Task ##
When running PB2NC for a DTC T&E project, @jwolff-ncar was confused by the two configuration file options which define the mapping of input variable names to output strings.
From https://github.com/dtcenter/MET/blob/main_v10.0/met/data/config/PB2NCConfig_default
[code]
There are a few issues here:

1. obs_prefbufr_map (with an F instead of a P) is a clear typo.
2. There is

[2021-06-07 19:33] j-opatz commented on #1749
As outlined in an email from CPC on 6/2, the column names HSS_EC and EC_VALUE and the configurable variable name hss_ec_value are acceptable values.

During testing of MET's current HSS on the POE dataset, it's become clear that the comparison to CPC's results may not be viable with the current dataset. In the present POE forecast files, each percentile is its own field. So, when attempting to set

[2021-06-07 20:06] lisagoodrich commented on #1811
We ended up using the reference links above.  If the link is clicked on, the full address will appear in the web address and can be copied from there.

[2021-06-08 17:16] JohnHalleyGotway commented on #1749
The  feature_1749_hss branch currently adds 2 new columns to the MCTS line type: HSS_EC for the stat and EC_VALUE to indicate the expected correct. It also enhances Stat-Analysis to aggregate multiple MCTC lines together and derive MCTS from them, including the HSS_EC statistic.

However Stat-Analysis doesn't necessarily know what to use for the EC value... so that's why there's a new job command

[2021-06-08 21:20] JohnHalleyGotway commented on #1746
In met/src/tools/core/wavelet_stat...
In the WaveletStatConfig_default file, see the "cat_thresh" configuration option.

If cat_thresh is set to an empty list, skip the thresholding. This prevents the user from being able to apply no threshold and other thresholds in the same run, but that's probably just fine.

First thing would be running unit_wavelet_stat.xml. Next, modify one of the config fil

[2021-06-10 15:55] JohnHalleyGotway opened #1823 "Enhance MET to use point observations falling between the first and last columns of a global grid."
## Describe the Enhancement ##
During the METplus MetOffice telecon on 6/10/21, @robdarvell described an issue he's run into when doing point verification on a global grid. He found 8 points located near the prime meridian that were counted by Point-Stat as being 'off the grid' and therefore excluded from the statistics. The MET library interpolation code translates those points from lat/lon space

[2021-06-11 14:11] robdarvell commented on #1823
I have placed a UM forecast file, plus corresponding obs netcdf file and my config file (more or less uses the default master config) within the ftp anonymous account (darvell_data directory). I note the config is still METplus3, but works with 4. Was also run under MET10.

[2021-06-11 15:14] JohnHalleyGotway opened #1824 "Enhance PB2NC to derive Mixed-Layer CAPE (MLCAPE)."
## Describe the Enhancement ##
On 6/8/21, NOAA/EMC requested that the PB2NC tool be enhanced to derive additional variations of CAPE. They are most interested in mixed-layer CAPE (representing the average characteristics of the boundary layer). Mixed-layer is the "flavor" of CAPE that was recommended to be verified in our models, via the metrics workshop.

While PB2NC does currently derive CAPE, i

[2021-06-11 16:10] JohnHalleyGotway commented on #1824
Checking the UPP source code, I see subroutines named CALCAPE and CALCAPE2 in this file:
https://github.com/NOAA-EMC/EMC_post/blob/7df88065167f8e5fcecf161a3d8eea7fc44b5cd1/sorc/ncep_post.fd/UPP_PHYSICS.f

Tracing the logic back, I see the following:
- RQSTFLD.F identifies variable id 582 as the "MIXED LAYER CAPE":
[code]
- MISCLN.f says that if MIXED LAYER CAPE is requested, then itype = 2:
[code]

[2021-06-11 16:53] JohnHalleyGotway commented on #1819
While the goal remains the same, the solution will be different. I'm reassigning this issue to @jprestop. We do still want any warnings produced when creating the docs in Sphinx to result in a little red X during the PR process. Rather than changing the options to the sphinx-build command, migrate the GHA logic used by METplus over to MET.

[2021-06-11 16:58] JohnHalleyGotway commented on #1824
From Geoff M:
My take is that all of the flavors of CAPE can potentially be addressed in a single update.     We right now have 4 possible CAPE values in the UPP:   surface-based, mixed-layer, most unstable lowest 180 mb, and most unstable lowest 300 mb.     Right now, itype is set to 1 (for SBCAPE) which tells the code to search the raob report for the highest value of theta-e in the lowest 10 mb

[2021-06-11 18:54] JohnHalleyGotway commented on #1823
Thanks Rob. I retrieved the sample data you sent and stored it locally on a project machine (kiowa:/d1/projects/MET/MET_pull_requests/met-10.1.0/met-10.1.0_beta2/feature_1823/input_data).

[2021-06-11 20:25] JohnHalleyGotway commented on #1810
From @halperin-erau on 6/7/21:

I contacted NHC about verifying the GIS shapefiles or the text files for the TWO probabilistic genesis forecasts.  They were interested in verifying the TWO genesis forecasts from the GIS shapefiles.  It sounds like that would be a new capability for them to use if we add it to TC-Gen.

So, I propose that we verify the GIS shapefiles using the following logic:
Read

[2021-06-11 20:35] JohnHalleyGotway opened #1826 "Create the MET 10.1.0-beta1 release."
## Describe the Task ##
This task is to create the MET 10.1.0-beta1 release scheduled for Friday 6/11/21.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://github.com/dtcenter/METplus/blob/develop/docs/Release_Guide/met.rst

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-iss

[2021-06-11 20:47] #1811 closed, assigned to jprestop, lisagoodrich

[2021-06-11 20:55] JohnHalleyGotway opened #1827 "Create the met-10.1.0-beta2 release."
## Describe the Task ##
This task is to create the MET 10.1.0-beta2 release scheduled for Monday 8/16/21.

During this process, remember to review and refine the instructions for MET in the METplus Release Guide:
https://github.com/dtcenter/METplus/blob/develop/docs/Release_Guide/met.rst

### Time Estimate ###
4 hours.

### Sub-Issues ###
Consider breaking the task down into sub-issues.
No sub-iss

[2021-06-12 03:50] #1826 closed, assigned to JohnHalleyGotway

[2021-06-13 13:43] JohnHalleyGotway opened #1830 "Fix Stat-Analysis aggregation of MPR to MCTC or MCTS."
## Describe the Enhancement ##
The changes for #1749 introduced a bug in Stat-Analysis. So this is a bug that only appears in the development version of the code. Running the following type of aggregate_stat job in stat_analysis produces the runtime error listed below.
[code]
This is to...
- Add a new call to Stat-Analysis in the unit tests to replicate this problem.
- Fix the aggregation logic in

[2021-06-13 19:04] JohnHalleyGotway commented on #1749
Reopening this issue to fix a bug that I introduced in the writing of MCTC output lines. Will also add more Stat-Analysis tests for this. Adding these fixes to this branch instead of fixing them via #1830. I'll just delete that issue I'd written up.

[2021-06-15 17:44] jprestop opened #1833 "Update documentation to reference GitHub Discussions instead of MET Help"
## Describe the Task ##
Update the documentation in the main branch and in the develop branch to refer to GitHub Discussions instead of met_help@ucar.edu

### Time Estimate ###
<1 day

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### Relevant Deadlines ###
Beginning of July 2021

### Funding Source ###
2792541 and 2702691

##

[2021-06-16 21:40] jprestop opened #1834 "Update FAQ in User's Guide with info from webpage FAQ"
## Describe the Task ##
There are two FAQs with different information:
https://dtcenter.org/community-code/model-evaluation-tools-met/faqs
https://met.readthedocs.io/en/latest/Users_Guide/appendixA.html

We will maintain the FAQ in the User's Guide and will reduce the webpage to a link to the User's Guide FAQ.

Feedback from John O.:
There is some redundancy and a few points (mostly in the User's

[2021-06-17 21:13] #1819 closed, assigned to jprestop

[2021-06-21 21:18] #1817 closed, assigned to hsoh-u

[2021-06-21 21:47] jprestop commented on #1774
Add information regarding running the unit tests individually for testing.  In particular, we want to note that some tests are dependent on output from others.  For example, xml/unit_wavelet_stat.xml requires the obs file stage4_2012040912_F012_APCP12.nc, which would only be created by running xml/unit_pcp_combine.xml first.  This issue arose when @sethlinden was testing for [Issue 1746](https://g

[2021-06-22 03:38] hsoh-u opened #1838 "Enhance Point2Grid to support double type latitude/longitude variables"
*Replace italics below with details for this issue.*

## Describe the Problem ##
This was found during supporting the helpdesk ticket (https://rt.rap.ucar.edu/rt/Ticket/Display.html?id=100088). The input data file "VOLCAT_HIMAWARI-8_FLDK_s2020296_050000_v300250_VCB_w167_FLDK_b2020295_204000_g001_pc_rg.nc (downloaded at kiowa:/d1/personal/hsoh/data/Binyu/wrong_latitude_units/)" is the gridded NetCD

[2021-06-22 13:57] georgemccabe opened #1839 "Add support for calculating vector partial sums using Python Embedding"
MET Help ticket 100090 discovered a possible limitation using Python Embedding. The required level name is not saved when using Python embedding because it typically isn't used, however it looks like this value is part of the check to find matching U and V fields.

See: https://github.com/dtcenter/MET/blob/e903f8fed8916dd5a97536777c48d8c191e2c7d7/met/src/tools/core/grid_stat/grid_stat_conf_info.cc

[2021-06-22 20:30] sethlinden commented on #1746
In the config file, I noticed there is both the fcst field cat_thresh and also the obs field cat_thresh. I noticed these are somewhat tied together in the sense that if I set the fcst cat_thresh to an empty list, but don't change the obs cat_thresh, the error message I get is:

WaveletStatConfInfo::process_config() -> The number of thresholds for each field in "fcst.cat_thresh" must match the numb

[2021-06-22 20:40] sethlinden commented on #1746
From May Wong's email

The lines that were modified were (lines 1011-1018):

 // Apply the threshold to each point to create 0/1 mask fields
      // MW: remove the thresholding
      for(j=0; j<n; j++) {
         //f_dat[j] = isc_info[i].fthresh.check(f_na[j]);
         //o_dat[j] = isc_info[i].othresh.check(o_na[j]);
         diff[j]  = f_dat[j] - o_dat[j];
      } // end for j

It’s a really si

[2021-06-22 20:42] sethlinden commented on #1746
It looks like May is basically ignoring both the fcst and obs thresholds. That is, not applying any threshold to both the fcst data and the obs. So in this case the thresholds are the same: none, which would be an empty list for both the obs and fcst cat_thresh in the config files once I make the change.

[2021-06-22 21:00] jprestop commented on #1746
@sethlinden Please keep in mind that I have not worked with this tool, but am doing my best to pull pieces together to try to help.

Looking at the message:

and knowing that "the “cat_thresh” entry is an array of thresholds to be used when computing categorical statistics" (from https://met.readthedocs.io/en/latest/Users_Guide/config_options.html), tells me that the obs and fcst cat_thresholds ca

[2021-06-22 21:04] sethlinden commented on #1746
@jprestop that sounds correct from what I can tell. I think they both need to be empty lists. That's what I'll work towards first. Thanks for the help!

[2021-06-23 00:20] bladwig1 opened #1840 "Fix the MET library code to support the Mercator projection in CF-compliant NetCDF files"
## Describe the Problem ##
When using a NetCDF-CF file with a mercator projection, this is thrown:

[code]

### Expected Behavior ###
Per the documentation here: https://met.readthedocs.io/en/latest/Users_Guide/appendixB.html# , mercator should be a supported projection.

### Environment ###
Describe your runtime environment:
Using the dtcenter/met:main_v10.0 Dockerhub image.

### To Reproduce ###

[2021-06-23 14:43] jprestop commented on #1840
@bladwig1 Hi Bill.  Thanks for letting us know that you're having trouble using MET with the mercator projection.  Could you please let me know the command line call that you are using that is failing?  Could you also please post your data to our ftp server as indicated under "How To Send Us Data" on this page: https://dtcenter.org/community-code/model-evaluation-tools-met/get-help
Thanks!

[2021-06-23 15:13] bladwig1 commented on #1840
The problem starts at line 1981 in

https://github.com/dtcenter/MET/blob/e903f8fed8916dd5a97536777c48d8c191e2c7d7/met/src/libcode/vx_data2d_nccf/nccf_file.cc

It's trying to read the mercator information from my NetCDF-CF file (note: not a standard model file), which has the projection information in the original post. In that code, it just throws out because the mercator projection support hasn't

[2021-06-23 15:35] jprestop commented on #1840
Please try adding "file_type = NETCDF_NCCF;" to the fcst dictionary in your configuration file.  The “file_type” entry specifies the input gridded data file type rather than letting the code determine it. MET determines the file type by checking for known suffixes and examining the file contents. MET accepts different flavors of NetCDF and this option will tell MET this is a NetCDF file following

[2021-06-23 16:05] bladwig1 commented on #1840
I uploaded my data to ladwig_data in the FTP, although it's probably not in a great state, since I had just started debugging this and it's the first time I've used MET (just trying to get it to spit something out other than errors for now). However, I had already set the file_type config option.  It's the generic CF reader that's missing the mercator support it looks like (see link in previous po

[2021-06-23 20:38] j-opatz opened #1843 "Add Scatter Index to the CNT line type."
## Describe the New Feature ##
As work continues in the marine and coastal verification area, the variable Scatter Index has been used more and more in the user Python code. As MET is already producing 99% of the variables calculated for marine and coastal verification, the addition of Scatter Index seems appropriate.

Scatter Index (SI) is calculated by

SI = 100.0*[ (avg((fcst-obs)^2)^0.5) - (av

[2021-06-23 21:21] j-opatz opened #1844 "Enhance Ensemble-Stat, Point-Stat, Plot-Point-Obs, and Point2Grid to support python embedding of point observations."
## Describe the New Feature ##

This issue was originally titled "Allow read into memory for Point2Grid". However this feature request should be done as part of a larger task to more broadly support python embedding of point observations across multiple tools. Currently, this type of python embedding is only supported in ascii2nc. This task is to expand that support to include point_stat, ensemble

[2021-06-23 22:15] bladwig1 commented on #1840
Regridding with CDO to latlon projection gets me around this problem.

[2021-06-24 01:00] #1508 closed, assigned to hsoh-u, JohnHalleyGotway

[2021-06-24 15:05] jprestop commented on #1840
Thanks for letting us know, Bill. I had to get some additional information from another developer in order to better understand what MET supports.  It is my understanding that the code reads Mercator definitions from GRIB files.  GRIB defines the projections, including Mercator, and MET supports the Mercator projection definition (https://www.nco.ncep.noaa.gov/pmb/docs/on388/tableb.html#GRID1).  M

[2021-06-28 22:34] sethlinden commented on #1746
I have made good progress on this issue but have some questions. I have the code working, using a specific "missing" threshold (using >-9999) in the config file in order to skip the masking but still produce the output / statistics and have the output show "NONE" for the  FCST_THRESH and OBS_THRESH in the txt and stat output files. Since the fcst-threshold (and obs-threshold) are of type: SingleTh

[2021-06-29 18:49] jprestop commented on #1746
@sethlinden Thanks for explaining what you did and why you did it that way.  Unfortunately, I am also not sure if we would want to use ">-9999" in the config file to indicate there is no masking (not applying the threshold).  I do not know if this situation exists in other tools and there is already a way to handle it or not.  If so, it seems we would want to be consistent.  If you're able to atte

[2021-06-29 21:01] sethlinden commented on #1746
I'm going to try and get this to work using empty lists (cat_thresh = [];). The main issues is that code loops over the number of thresholds (fcat_ta[i_vx].n_elements()) and this gets set to 0 if the list is empty. So if I can set the number of elements to 1 and then handle this accordingly down stream it should work.

Or is there a better "value" to use to indicate missing or non-existent thresho

[2021-06-30 16:54] sethlinden commented on #1746
I was able to use a an empty list in the config file (cat_thresh = [];). Then in  wavelet_stat_conf_info.cc, the empty list comes through as "NA" using the .get_str() function. So I can key on that (using strcmp to "NA"), then I add back in a "missing" threshold: I add back ">-9999" to the thresh array (for both fcst_thresh and obs_thresh). Then all the downstream code recognizes the ">-9999" as m

[2021-07-08 18:25] #1833 closed, assigned to jprestop

[2021-07-08 18:48] JohnHalleyGotway commented on #1673
MET software changes required for this issue:
- Add new columns to the end of the existing DMAP line type: G, GBETA, AGBETA, BETA_VALUE
- Add new Grid-Stat config file distance_map option for beta_value (default NA value is replaced with TOTAL/2 where TOTAL is the number of points in the vx region)

@ericgilleland for...

Is this the same as the existing "baddeley_max_dist" value?
It defaults to N

[2021-07-08 18:54] ericgilleland commented on #1673
Hi John,

N is the same as the N used for Baddeley but for some applications a much
smaller value for beta would be used.

Eric

[2021-07-08 19:04] JohnHalleyGotway commented on #1673
@ericgilleland hunting through the code, I see this line where we compute the distance map for each binary field: https://github.com/dtcenter/MET/blob/9831b9c5266c9ebd71353d5b115deb9f2157d730/met/src/basic/vx_util/data_plane_util.cc#L727

So the max distance is defined as "nx + ny"... and not "nx * ny". Seems to me that mathematically the maximum distance would actually be the length of the diagon

[2021-07-08 19:42] ericgilleland commented on #1673
I'm pretty sure that Adrian Baddeley uses the total number of grid points
for his N.  For Gbeta, it doesn't really matter because the user should
really think about what value of beta makes sense for their problem (or use
trial-and-error in order to get a range of values and not just 1 or 0).

[2021-07-08 19:57] hsoh-u commented on #1673
It's based on the way of computing distance, not actual distance. The distance is 2 for between (0,0) and [(2,0), (1,1), & (0,2)]. Eric, is it correct?

[2021-07-08 20:11] ericgilleland commented on #1673
I don't remember exactly how this distance map algorithm computes the
distance but it should be something close to the usual Euclidean distance.

On Thu, Jul 8, 2021 at 1:58 PM hsoh-u ***@***.***> wrote:

[2021-07-08 20:14] JohnHalleyGotway commented on #1673
@ericgilleland does this mean that this line is a bug in the code?
https://github.com/dtcenter/MET/blob/9831b9c5266c9ebd71353d5b115deb9f2157d730/met/src/basic/vx_util/data_plane_util.cc#L727

And we should replace "nx + ny " with "nx * ny"?

But looking in this PDF:
https://cran.r-project.org/web/packages/SpatialVx/SpatialVx.pdf

I see this description of N:
[code]
Sounds like that'd correspond to

[2021-07-08 20:46] ericgilleland commented on #1673
I agree.  Like I said, for Gbeta, the choice of beta needs the user to
think a little.  For Baddeley's delta, there is no right or wrong because
I've seen different ideas about how to measure the size of a domain, so as
long as it is self consistent, it should be ok.

On Thu, Jul 8, 2021 at 2:14 PM johnhg ***@***.***> wrote:

[2021-07-08 21:58] JohnHalleyGotway commented on #1673
@ericgilleland can you provide some more clarification on the asymmetric gbeta?

See:
[code]

So for the Zhu metric, we compute both ZHU_FO and ZHU_OF. Do the we do the asymmetric G-Beta both ways as well, and write columns for both AGBETA_FO and AGBETA_OF?

[2021-07-08 22:18] hsoh-u commented on #1673
@ericgilleland <https://github.com/ericgilleland> does this mean that this line is a bug in the code? https://github.com/dtcenter/MET/blob/9831b9c5266c9ebd71353d5b115deb9f2157d730/met/src/basic/vx_util/data_plane_util.cc#L727 And we should replace "nx + ny " with "nx * ny"? But looking in this PDF: https://cran.r-project.org/web/packages/SpatialVx/SpatialVx.pdf I see this description of N: N is th

[2021-07-09 04:39] ericgilleland commented on #1673
I would say to not include the asymmetric one.  It needs further investigation.

[2021-07-09 20:23] hsoh-u opened #1852 "Checking the requested starting offset and data count are valid before calling NetCDF API"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##

The following error message from NetCDF API informs us the cause of problem.
[code]
But no clue where NetCDF API is called. Sometimes this is not repeatable with debugging mode or in running at the different host or OS (reported this on Mac). It will be nice to check the start offset and count before calling NetC

[2021-07-12 18:20] JohnHalleyGotway opened #1853 "Document the statistics from the RPS line type in Appendix C."
## Describe the Task ##
During the METplus NOAA telecon on 7/12/21, we discovered that the equations for and a description of the statistics in the RPS line type produced by Ensemble-Stat are missing from Appendix C of the MET User's Guide. While Appendix C does describe CRPS, it does not describe RPS or any of the other statistics listed in the [Table 11.3](https://met.readthedocs.io/en/develop/U

[2021-07-12 19:49] JohnHalleyGotway commented on #1843
Recommend making the following changes for this work:
- In met/src/basic/vx_util/stat_column_defs.h, add "SI" or "SCATTER" (or whatever name @j-opatz says) as the last column of cnt_columns. And ask @j-opatz about confidence intervals? Is there a normal approximation for this or should we bootstrap it? Maybe @ericgilleland knows?
- Add new column(s) to the met/data/table_files/met_header_columns_V

[2021-07-13 12:09] ericgilleland commented on #1843
Sorry, I lost the thread here.  What is CNT?

[2021-07-13 15:52] JohnHalleyGotway commented on #1843
@ericgilleland CNT stands for "continuous" statistics. It's the .stat line type to which MET writes continuous statistics and the contents are described in these two tables in the user's guide:
https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html#id10
https://met.readthedocs.io/en/latest/Users_Guide/point-stat.html#id11

This issue will tack on at least 1 more column to the end of it f

[2021-07-13 16:07] ericgilleland commented on #1843
Hi John,

Ok, I'm not familiar with scatter index.  Is there a reference I can see
for it?

Eric

On Tue, Jul 13, 2021 at 9:52 AM johnhg ***@***.***> wrote:

[2021-07-13 17:20] sethlinden commented on #1843
Hi John, What c++ application or python script do I run for testing these changes? Is it ice_code_hera.py? What c++ application does this call? I'd like to run a c++ command line by hand if possible for this? I'm just getting setup to work on this issue.

[2021-07-14 20:18] hsoh-u opened #1855 "Fix the findings from SonarQube"
*Replace italics below with details for this issue.*

## Describe the Task ##
SonarQube found 29 blocker bugs and 2 critical bugs from v10.0.0 tag, and 27 blocker bugs and 2 critical bugs from the develop branch. Some of them should be resolved.

### Time Estimate ###
unknown

### Sub-Issues ###
Consider breaking the task down into sub-issues.
- [ ] *Add a checkbox for each sub-issue here.*

### R

[2021-07-14 20:52] JohnHalleyGotway commented on #1763
@hsoh-u will work on this for beta2 by creating a "scripts/sonarqube" directory and add the run script and properties file there to run this manually.

@JohnHalleyGotway will investigate running this automatically via GHA for Pull Requests.

[2021-07-14 21:38] JohnHalleyGotway commented on #1763
Note that there are 2 solutions out there, SonarQube and SonarCloud. Here's a comparison of the 2:
   https://blog.sonarsource.com/sq-sc_guidance

SonarQube is intended to be managed and run locally whereas SonarCloud is more tightly coupled with GitHub.com.

[2021-07-15 15:05] #1838 closed, assigned to hsoh-u

[2021-07-15 15:48] JohnHalleyGotway commented on #1763
@hsoh-u, if possible, please move the SonarQube server from kiowa to mandan so that we can make the SonarQube scan results available outside of the NCAR VPN. We would actually run the scan on kiowa and/or seneca but then push the results to the mandan instance, if possible.

[2021-07-15 16:18] TaraJensen commented on #1843
It appears there's a reference for Scatter Index on the ECMWF website.  Here's the link: h[ttps://www.ecmwf.int/sites/default/files/elibrary/1989/13201-verification-study-global-wam-model-december-1987-november-1988.pdf](url)  @ericgilleland - can you review in the very near future to determine how to apply CIs?

[2021-07-15 17:16] JohnHalleyGotway commented on #1746
@sethlinden I made several changes here, described in the commit messages above.
- Code alignment... please configure your editor to insert spaces instead of tabs. The MET code generally indents 3 spaces.
- Fixed a couple of typos/tweaked wording in docs.
- By convention, all warning/error messages start with the function name and begin/end with a blank line to make them stand out in the logfile.

[2021-07-15 17:21] #1746 closed, assigned to sethlinden, TaraJensen

[2021-07-15 20:32] ericgilleland commented on #1843
The SI defined in this document seems to differ from the SI from the other
source.  Here, it is just RMSE/Obar.  Although one could argue that the
RMSE follows a normal df (it is a mean after all), I would recommend using
the bootstrap to obtain confidence intervals for it.

Eric

On Thu, Jul 15, 2021 at 10:19 AM TaraJensen ***@***.***>
wrote:

[2021-07-16 15:05] #1852 closed, assigned to hsoh-u

[2021-07-16 16:42] JohnHalleyGotway commented on #1763
I've been reading more about scanning C++ code in sonarqube and am pretty pessimistic that this could be made to work via GitHub actions. In their [docs](https://docs.sonarqube.org/latest/analysis/languages/cfamily/), they specifically note that "C / C++ / Objective-C analysis is NOT supported by SonarScanner CLI Docker image."

Instead, I think running a nightly scan on seneca on the develop and

[2021-07-16 17:05] JohnHalleyGotway commented on #1834
@j-opatz I just committed some changes to the FAQs here:
https://github.com/dtcenter/MET/blob/feature_1834_faq/met/docs/Users_Guide/appendixA.rst

Unfortunately, I don't have the time/bandwidth right now to do an exhaustive set of updates, but I did want to commit my changes to the first few. This task is to migrate the FAQs from the website into the docs... which @lisagoodrich and @jprestop have

[2021-07-16 18:24] JohnHalleyGotway commented on #1673
@ericgilleland I'd like to get this issue wrapped up. I need your help updating 2 parts of the MET User's Guide:

(1) DMAP description [section](https://met.readthedocs.io/en/feature_1673_gbeta/Users_Guide/grid-stat.html#distance-maps). Please provide a few sentences broadly describing the utility of the G and GBETA statistics. You could also provide some thoughts on setting the beta_value in the

[2021-07-16 18:29] JohnHalleyGotway commented on #1693
@rgbullock can you please provide an update on this issue? Are you able to update the MET library code to instantiate a LAEA grid from a GRIB2 file?

[2021-07-16 18:52] ericgilleland commented on #1673
Didn't I already send a write-up about these?  I'll look to see what I have
but if not, I'll write one up.  I would not put NA for beta_value.  I would
default to the size of the domain, or TOTAL / 2 is fine too.

On Fri, Jul 16, 2021 at 12:24 PM johnhg ***@***.***> wrote:

[2021-07-19 20:21] jwraby commented on #1764
ARL scientists are interested in this feature request which promises to provide ensemble matched pair data to support
our research into applying Design of Experiments to NWP models to better understand what aspects of the model are
contributing to the error. The matched pair data and the derivable bias and other statistics enables development of
statistical techniques which could isolate the model

[2021-07-19 22:38] JohnHalleyGotway commented on #1788
@michelleharrold question for you. In MET version 10.0.0, using the "-by" job command option in Stat-Analysis for the go_index and ss_index job types produces the following warning message:
[code]
While I'm working on this logic, should I attempt to make "-by" work here? For example, that'd enable you to compute the GO Index or CBS Score for multiple masking regions and model initializations in a

[2021-07-20 14:12] michelleharrold commented on #1788
@JohnHalleyGotway -- if adding the -by functionality is not a huge lift, that would be useful for DTC AF projects. Thanks!

[2021-07-20 17:08] JohnHalleyGotway opened #1858 "Add Point-Stat and Ensemble-Stat obs_quality_exc configuration option to specify which quality flags should be excluded"
## Describe the New Feature ##
This feature was requested by the UK Met Office via [GitHub Discussions](https://github.com/dtcenter/METplus/discussions/1005).

Recommend the following changes:
- Rename the existing "obs_quality" config option for Point-Stat and Ensemble-Stat as "obs_quality_inc".
- Add a new config option for "obs_quality_exc" to specify which quality strings should be excluded.
-

[2021-07-21 20:34] JohnHalleyGotway commented on #1453
Coordinated with @ksearight and merged the latest from develop into this feature branch:
[code]
Confirmed that the build succeeded on RTD with no warnings generated.
https://readthedocs.org/projects/met/builds/14295247/

[2021-07-22 14:14] hsoh-u commented on #1824
A message at BUFR contains 1D P,T,Q. How to make 2D P,T,Q or 3D PBND,TBND,QBND?
Can anybody explain me im, jm, jsta and jend?

[2021-07-22 15:32] JohnHalleyGotway commented on #1788
While meeting with the UK Met Office, they clarified that we should call this the "CBS Index" rather than the "CBS Score". I'm relieved to hear this recommendation because this name is much more consistent with the existing -job go_index and -job ss_index options. @michelleharrold can I add support for -job cbs_index instead of -job cbs_score?

[2021-07-22 16:01] JohnHalleyGotway commented on #1824
@hsoh-u my assumption, or at least hope, was that we'd be able to use the EXISTING calcape.f code in PB2NC to derive these:
https://github.com/dtcenter/MET/blob/main_v10.0/met/src/tools/other/pb2nc/calcape.f

We're calling calcape_ with the first 2 args = 1. I *think* we can just modify those args with different values to derive at least some of the variables. But I think that's the real task here

[2021-07-22 16:51] JohnHalleyGotway commented on #1853
From @ericgilleland: Attached is a write-up for Appendix C of the RPS and its decompositions.
[RPSwriteup.docx](https://github.com/dtcenter/MET/files/6863947/RPSwriteup.docx)

[2021-07-22 19:30] sethlinden commented on #1843
@ericgilleland what version of SI should I use

From NOAA:

SI = 100 * (RMSE -BiasMean^2) / ObsMean

or from ECMWF:

SI = RMSE / ObsMean

[2021-07-23 15:31] sethlinden commented on #1843
Eric mentioned in an email that we should probably use the version from ECMWF:

SI = RMSE / ObsMean

This is the equation I currently used for SI in the CNT stats.

[2021-07-23 16:46] #1853 closed, assigned to JohnHalleyGotway, ericgilleland

[2021-07-23 17:15] JohnHalleyGotway commented on #1673
Testing functionality of feature_1673_gbeta branch versus the R SpatialVx package:
[code]
Writes:
[code]
Run Grid-Stat using
[read_R_data.py.txt](https://github.com/dtcenter/MET/files/6870735/read_R_data.py.txt)
 and
[GridStatConfig.txt](https://github.com/dtcenter/MET/files/6870534/GridStatConfig.txt)
[code]
Note that medAB and medBA from R do NOT match med_fo and med_of from MET! Looks like that

[2021-07-23 21:05] JohnHalleyGotway commented on #1673
I found a difference in the range of the distance maps computed by SpatialVx and MET for this case.
From SpatialVx:
[code]
From  MET:
[code]
This is the source of the discrepancy. To test, I manually substituted in the med_fo and med_of values from SpatialVx into MET (). And that produced exactly the same value for G and Gbeta:
[code]
So the distance maps computed by MET differ from those computed

[2021-07-24 16:25] jprestop opened #1862 "Remove tool specific options from the config file overview section"
## Describe the Task ##
In editing the Grid-Stat configuration section, it was noted that the same content listed in two spots:
- The Grid-Stat [config section](https://met.readthedocs.io/en/develop/Users_Guide/grid-stat.html#practical-information) describes nbrhd, fourier, gradient, and distance_map
- The [Config File overview](https://met.readthedocs.io/en/develop/Users_Guide/config_options.html

[2021-07-26 15:17] ericgilleland commented on #1843
I've been looking through the documentation about scatter index and also
did a literature search.  The ECMWF document (
https://www.ecmwf.int/sites/default/files/elibrary/1989/13201-verification-study-global-wam-model-december-1987-november-1988.pdf),
which defines the SI to be just the RMSL / Obar, is not very detailed about
the index.  At one point it mentions that the scatter is high, but I thi

[2021-07-27 14:44] ericgilleland commented on #1843
I found this recent paper that uses SI1 (doi: 10.1016/j.oceaneng.2018.03.029).
Also, I don't see any reason that SI1 (or SI2) should fall between zero and
one, but it does seem that it is usually a small number in that interval.

Eric

On Mon, Jul 26, 2021 at 9:17 AM Eric Gilleland ***@***.***> wrote:

[2021-07-27 14:48] ericgilleland commented on #1843
Although both the paper I just sent and this other one (doi:
10.1016/j.oceaneng.2017.04.043) suggest that SI is in (0,1).

On Tue, Jul 27, 2021 at 8:44 AM Eric Gilleland ***@***.***> wrote:

[2021-07-27 15:03] sethlinden commented on #1843
Eric, thanks for digging into this and providing more information on Scatter Index. For now we will stick with the simple SI calculation (SI = RMSE / ObsMean) along with using bootstrapped confidence intervals. We can always go back and change the equation / confidence intervals. I'll be formulating a pull request for the SI changes this morning.

[2021-07-27 15:12] ericgilleland commented on #1843
Yes, I think sticking to SI1 for now is best.  BTW-- if it can be assumed
that RMSL and Obar are both N(0,1) (a big assumption), then their quotient
(i.e., SI1) would be Cauchy distributed, so for a parametric CI, you'd have
to write a routine for the Cauchy.  I'm guessing (w/o working it out) that
the quotient of any two normals would be some kind of similar df.

Eric

On Tue, Jul 27, 2021 at 9:0

[2021-07-27 17:38] TaraJensen commented on #1843
@j-opatz - can you follow-up with Todd re: the discrepencies in SI and confirm we are doing what makes sense??

[2021-07-27 18:27] georgemccabe opened #1864 "Fix URLs in default MET config files"
The URLs in TCStatConfig_default is out-of-date:

https://github.com/dtcenter/MET/blob/3e33a4ec46e0a867cd4abb49d1e506b8cfe89de6/met/data/config/TCStatConfig_default#L21

There may be others.

## Describe the Enhancement ##
Review config files and update comments to reflect new location of files, i.e.
https://met.readthedocs.io/en/latest/Users_Guide/tc-stat.html

### Time Estimate ###
~1 day

### S

[2021-07-28 20:31] JohnHalleyGotway commented on #1673
@ericgilleland I added the equations for G and GBETA from your paper into Appendix C of the MET user's guide. Please take a look here:

https://met.readthedocs.io/en/feature_1673_gbeta/Users_Guide/appendixC.html#g-and-g-beta

Please send me any other explanation or interpretation advice you'd like me to add to that section.

[2021-07-29 17:06] j-opatz commented on #1675
Some time after the last discussion on this issue, CPC decided to move away from the shapefile approach and instead use netCDF files for their warning areas. So the need to display a shapefile's contents on a user-defined grid is no longer necessary. In fact, as John HG indicated and Logan demonstrated, this ability is already available.

More importantly, the larger issue that this ties into, all

[2021-07-29 17:06] #1675 closed, assigned to JohnHalleyGotway, j-opatz

[2021-07-30 20:00] JohnHalleyGotway commented on #1673
@ericgilleland Thanks for sending the info about setting the Beta value. I added it to this section of the MET User's Guide:
https://met.readthedocs.io/en/feature_1673_gbeta/Users_Guide/grid-stat.html#selecting-beta-for-g-beta

Please confirm that it looks good to you. Also, do you have any more edits for this section in Appendix C?
https://met.readthedocs.io/en/feature_1673_gbeta/Users_Guide/appe

[2021-07-30 21:00] JohnHalleyGotway commented on #1843
Feedback from Todd Spindler on 7/29/21:

The Scatter Index was a cross-over from the wave validation work Henrique Alves and Deanna Spindler were working on at the time.  Unfortunately Henrique no longer works at EMC, but we're pinging him to see if he remembers any of the SI calculation details.  However, a rather brief lit survey shows me what you're seeing.  As discussed in Bryant 2016 (attache

[2021-07-30 21:01] #1843 closed, assigned to sethlinden, j-opatz

[2021-07-31 14:43] ericgilleland commented on #1673
Good point on giving the interpretation of the measure.  I added a short
paragraph to the top of the attached document.  I noticed that I
inadvertently said that the plot in the lower right panel is over a range
of thresholds in the text of the (original) first paragraph.  In fact, it's
over a range of beta values.  I fixed that in the attachment as well; I had
it correct in the figure caption.  O

[2021-08-02 17:59] JohnHalleyGotway commented on #1864
@georgemccabe good catch on the bad link. This is the only bad reference to GitHub pages in the config files. However, all of the config files do mention the MET User's Guide. For example:
[code]
Should we leave this as-is, or should I change all of these references to:
[code]
Or use the full path to the User's Guide?
https://met.readthedocs.io/en/latest/Users_Guide/index.html

The risk is, when w

[2021-08-02 18:02] georgemccabe commented on #1864
@JohnHalleyGotway , I am unsure of the best way to handle this, but I am leaning towards removing the URL to reduce the number of places that need to be updated if there is a change.

[2021-08-02 18:20] #1864 closed, assigned to JohnHalleyGotway

[2021-08-02 18:38] JohnHalleyGotway commented on #1864
Note that I used the following commands to fix these stale links in the GitHub issue and pull request templates:
[code]
Did this for:
- [x] MET (main_v10.0, develop)
- [x] METplus (main_v4.0, develop)
- [x] METviewer (main_v4.0, develop)
- [x] METplotpy (main_v1.0, develop)
- [x] METcalcpy (main_v1.0, develop)
- [x] METdatadb (main_v1.0, develop)
- [x] METexpress (development)

I did NOT update ME

[2021-08-03 19:22] JohnHalleyGotway commented on #1673
On 8/3/2021, @JohnHalleyGotway, @TaraJensen, and @ericgilleland met and decided the following:
- Prior to computing distance maps in Grid-Stat, mask out any bad data between the fcst/obs fields so that the distance maps can be computed fairly. Note that this will change the results of the nightly build.
- Continue to compute the distance maps once over the full verification domain.
- Always comput

[2021-08-03 22:31] JohnHalleyGotway opened #1870 "Enhance TC-Pairs to only write output for a configurable list of valid times."
## Describe the Enhancement ##
Model developers at NOAA/GSL would like to run TC-Pairs/METexpress in realtime to analyze model performance while the BEST track file for that storm is still actively being updated. Recommend adding new TC-Pairs configuration file options to support this usage.

TC-Pairs currently supports valid_beg and valid_end. Only tracks that are completely contained in that win

[2021-08-04 15:19] georgemccabe commented on #1839
Also, it looks like the MET User's Guide should be updated to include more information on using is_u_wind and is_v_wind. Currently searching for the keywords does not find any information about the settings: https://met.readthedocs.io/en/latest/search.html?q=is_u_wind&check_keywords=yes&area=default

[2021-08-04 16:42] JohnHalleyGotway commented on #1870
I worked on these changes yesterday/today while the details were still fresh. I've finished the code changes on the feature_1870_realtime branch and did some initial testing to make sure it works as I intended.

On 8/5/2021 (when jet is back up), I will compile this feature_1870_realtime branch on jet for @mollybsmith-noaa to test.

I do still need to:
- update tc_pairs documentation - DONE on 8/5

[2021-08-04 22:55] jvigh commented on #392
@TaraJensen @JohnHalleyGotway

Christopher Rozoff has now developed a more comprehensive suite of ensemble diagnostics which are similar to the SHIPS diagnostics. We are in the process of finalizing these. They will be in NetCDF format. We'd like to work with you to figure out what format they need to be in to be easily read by MET-TC (e.g., is CF-compliant sufficient?).

Paul's funding for his En

[2021-08-05 08:10] mpm-meto commented on #1237
Some sample LFRic netcdf files attached for testing. This is the data originally sent in March 2021. I have asked if there is something more up to date. I do not know whether this has been tested with the JEDI libraries. Awaiting further info.
[sample_data.zip](https://github.com/dtcenter/MET/files/6937052/sample_data.zip)

[2021-08-05 12:05] mpm-meto commented on #1237
Further info/update wrt use of JEDI-BUMP from someone working on JEDI in Met Office.

The good news.
There currently is a LFRic model interface that uses BUMP for interpolation to observation locations.

The bad news.
1)	The API to BUMP keeps on changing! The owner of BUMP keeps applying large changes to BUMP that can involve code changes of the order 200 > files which makes it very hard to check

[2021-08-05 18:03] JohnHalleyGotway commented on #1870
@mollybsmith-noaa this feature branch is compiled on jet and ready for your testing. To test, please run:
[code]
The additions to the TCPairsConfig file are "valid_inc", "valid_exc", and "write_valid".
Let's say that they current valid time being evaluated is stored in an environment variable named $CUR_VALID_TIME. In the TCPairs config file, you'd add:
[code]
And then check the output file to con

[2021-08-05 18:46] georgemccabe commented on #1870
To test using METplus, you will have to set MET_INSTALL_DIR in your user config file to use the feature branch version of tc_pairs:

`MET_INSTALL_DIR = /lfs1/HFIP/dtc-hurr/John.H.Gotway/MET/MET_development/MET-feature_1870_realtime/met`

You can also set this in the call to run_metplus.py by adding:

`config.MET_INSTALL_DIR=/lfs1/HFIP/dtc-hurr/John.H.Gotway/MET/MET_development/MET-feature_1870_rea

[2021-08-05 19:58] ksearight commented on #1453
John HG reported the following on July 22 in Slack:
There's a ROC image that's the last item of section 31.4.13. However in the PDF, it gets served up on page 426, inside of section 31.5.1.I only noticed this when adding new documentation from Eric. Any idea how to FORCE the ROC image to stay where we want it? Maybe a manual page break or something?

[2021-08-05 22:44] mollybsmith-noaa commented on #1870
Thanks, John and George! Today I got my post-TC verification working smoothly with rocoto, so this is top of my list for tomorrow. I'll let you know how it goes.

[2021-08-05 23:25] JohnHalleyGotway commented on #1870
@mollybsmith-noaa glad you hadn't started yet. Some testing this afternoon revealed that I hadn't added support for "write_valid" to subset the PROBRIRW output line type written by TC-Pairs. I just finished adding that and am recompiling that feature branch on jet now.

Not sure if you're generating any PROBRIRW output right now, but it seems like write_valid should apply to all TC-Pairs output.

[2021-08-05 23:28] mollybsmith-noaa commented on #1870
Thanks, John! I'm not currently generating probrirw output, but I do plan to in the future.

[2021-08-06 22:08] ksearight commented on #1453
merged into develop

[2021-08-06 22:08] #1453 closed, assigned to ksearight, jprestop, georgemccabe

[2021-08-12 13:03] mpm-meto commented on #1823
This problem also affects regrid_data_plane. Here is an example of taking UM model output and regridding it to the GPM grid. The image shows the missing data column along the meridian, i.e. regrid_data_plane is not interpolating across 0 meridian. Note the rain along the front is split in the plot on the right. The original forecast is 0 to 360 whilst the output from regrid_data_plane is -180 to 1

[2021-08-12 13:09] mpm-meto commented on #1823
I think the fact that the GPM data is -180 to 180 exposes this problem, as the model data is 0 to 360.

[2021-08-16 17:10] jprestop commented on #1834
@JohnHalleyGotway, you mentioned you didn't have the time/bandwidth right now to do an exhaustive set of updates.  We have merged in the changes by @lisagoodrich and @j-opatz. Would you like us to leave this issue open for a more exhaustive set of updates, or would you prefer that we close it?

[2021-08-16 18:02] georgemccabe opened #1872 "Fix the plot_tcmpr.R script to support specifying a directory with -lookin."
## Describe the Problem ##
The script calls tc_stat with the -lookin argument. There is an ls command in the script that is used to expand wildcards. However, this fails to expand to the correct path if a directory is provided. On some machines like Hera, the ls command will fail if a large list of files is provided, so the directory must be provided instead of each individual file to run properly

[2021-08-16 18:24] #1872 closed, assigned to georgemccabe

[2021-08-16 19:30] JohnHalleyGotway opened #1875 "Stat-Analysis consumes too much memory."
## Describe the Problem ##
This issue arose via METplus Discussions dtcenter/METplus#1076. @lindsayrblank reported the problem and provided data and Stat-Analysis commands to demonstrate the problem.

The void ClimoCDFInfo::set_cdf_ta(int n_bin, bool &center) function fails to initialize the cdf_ta array. This is called once for each "case" (i.e. OBS_SID + FCST_VAR) encountered by Stat-Analysis. A

[2021-08-16 19:43] JohnHalleyGotway commented on #1834
@jprestop this issue is for migrating the content over from the [MET website](https://dtcenter.org/community-code/model-evaluation-tools-met/faqs) into the [User's Guide](https://met.readthedocs.io/en/develop/Users_Guide/appendixA.html). Assuming it's all been moved, I'd recommend:
- Remove the FAQ's from the MET website.
- Close this issue.
- Create a new Documentation issue for "Future Versions"

[2021-08-16 21:32] #1875 closed, assigned to JohnHalleyGotway

[2021-08-16 22:06] lisagoodrich opened #1878 "FAQ detailed review"
*Replace italics below with details for this issue.*

## Describe the Task ##
In July of 2021 the FAQ from the DTC site,
[ https://dtcenter.org/community-code/model-evaluation-tools-met/faqs](url) (Please Note: this link is now hidden.  It can only be accessed by this exact address.)
was merged into
[https://met.readthedocs.io/en/develop/Users_Guide/appendixA.html](url).
This merger consolidated a

[2021-08-16 22:11] jprestop commented on #1878
Thanks @lisagoodrich!  In addition to listing the assignees in the text box, I added them to the issue, by selecting them under "Assignees" in the upper right.  I also changed the milestone to "Future Versions" based on @JohnHalleyGotway's request.

[2021-08-16 22:21] lisagoodrich commented on #1878
Darn it, I knew that!  Thanks for adding everyone.

On Mon, Aug 16, 2021 at 4:12 PM jprestop ***@***.***> wrote:

[2021-08-17 18:57] JohnHalleyGotway opened #1879 "Fix Ensemble-Stat failure when verifying against gridded ECMWF GRIB1 files."
## Describe the Problem ##
This issue was raised via METplus Support in dtcenter/METplus#1066.

Ensemble-Stat fails when verifying against gridded ECMWF GRIB1 files with the following error message:
[code]
However multiple GRIB1 records for "GH" do in fact exist:
[code]

### Expected Behavior ###
This should run without error.

Investigation revealed two issues.
- In Ensemble-Stat, verifying again

[2021-08-18 15:47] #1879 closed, assigned to JohnHalleyGotway

[2021-08-18 18:40] #1673 closed, assigned to JohnHalleyGotway, ericgilleland

[2021-08-18 19:47] JohnHalleyGotway opened #1882 "Complete Application Security and Development STIG for MET version 10.1.0."
## Describe the Task ##
On 8/17/2021, METplus staff met with USAF to review issues in the statement of work. Prior to the next release on MET, version 10.1.0, complete the Application Security and Development STIG for MET. See below for details:

Included in this year's statement of work is the completion of STIGs for MET and METviewer. This should be completed for the next release. The STIG is re

[2021-08-18 20:08] JohnHalleyGotway commented on #1882
@fisherhucar recommends coordinating with Stephen Dowdy who completes the STIGs for other RAL projects.

[2021-08-18 21:34] lisagoodrich commented on #1834
Closing the issue.  #1878 has been created for @JohnHalleyGotway  to review at a later date.

[2021-08-18 21:34] #1834 closed, assigned to jprestop, lisagoodrich

[2021-08-19 20:33] JohnHalleyGotway opened #1884 "Enhance pcp_combine subtract mode to handle missing fields for 0-hour accumulated precipitation."
## Describe the Enhancement ##
This issue arose during the METplus/UK Met Office collaboration meeting on 8/19/2021. The 0-hour accumulated precipitation data from the Met Office does not, in general, contain all 0's. Instead, the data assimilation process results in non-zero values. The METplus pcp_combine wrapper does support this, as of version 4.0.0. When running in subtract mode, rather than

[2021-08-19 20:53] JohnHalleyGotway commented on #1884
Note this can be tested using:
[code]
Currently this errors out with:
[code]

[2021-08-20 16:33] JohnHalleyGotway commented on #1870
@mollybsmith-noaa I'd really like to get these changes into the met-10.1.0-beta2 release. Can you please let me know once you've confirmed that they work as expected, and I'll submit a pull request?
Thanks.

[2021-08-20 17:27] jprestop commented on #1807
I set up configuration files and placeholder modulefiles for the installations on Cheyenne and Casper using intel/2021.2 and netcdf/4.8.0.  Also, Casper was using an older version of Python (3.7.5) so I updated the same files to start using 3.7.9 as is being done on Cheyenne.

[2021-08-20 17:27] #1807 closed, assigned to jprestop

[2021-08-20 19:24] JohnHalleyGotway opened #1886 "Fix integer overflow in Grid-Diag."
## Describe the Problem ##
@jwolff-ncar ran into a problem with integer overflow in the Grid-Diag tool while comparing RRFS reflectivity data to MRMS.  When running for a single time, the resulting 1 and 2-D histograms are fine. However, when processing data for 400 days, the counts in the first bin go from being positive values to negative ones. This is likely the result of integer overflow. As o

[2021-08-20 19:33] mollybsmith-noaa commented on #1870
@JohnHalleyGotway Okay, I've gotten it to run with the various paths playing nicely, but I'm still having tracks discarded for falling outside the valid time window. If I want to verify at one example valid time, 2021070800, what do you recommend as the correct procedure? Set the INIT_BEG to a week prior, set the INIT_END to 2021070800, and set the write_valid to 2021070800 so I only get the outpu

[2021-08-20 19:39] JohnHalleyGotway commented on #1886
I tested to confirm that this really is a problem. To get some very large counts, I'm using the large 7000x3500 MRMS domain. I passed the same input data files to grid-diag...
- 1 time: succeeds and produces good results with a maximum bin count of 15060100.
- 142 times: produces good results.
- 143 times: produces bad results with large negative numbers in the first bin.

With a maximum integer v

[2021-08-20 20:03] mollybsmith-noaa commented on #1870
Basically, do I have to reprocess the entire hurricane season each time this runs to get just the valid time specified in valid_inc?

[2021-08-20 20:11] mollybsmith-noaa commented on #1870
It does work if I do that, though! So thumbs up on the write_valid and valid_inc options. They do what they're supposed to.

[2021-08-20 20:14] JohnHalleyGotway commented on #1870
@mollybsmith-noaa, essentially yes. TC-Pairs needs to re-process all tracks which may INCLUDE a track point for the new valid time. If your model produces output out to 14 days (for example), then you could process tracks for INIT_BEG = current valid time - 14 days and INIT_END = current valid time.

[2021-08-20 20:17] mollybsmith-noaa commented on #1870
@JohnHalleyGotway Okay, that makes sense. But if there was a storm that lasted longer that two weeks, would it stop processing new forecasts once the earliest forecasts fell outside of that two-week window?

[2021-08-20 20:20] JohnHalleyGotway commented on #1870
No, the INIT_BEG and INIT_END window is applied to the FORECAST tracks, not the verifying BEST track data. And by definition, it is not possible for a FORECAST track to last longer than 2 weeks, assuming 2 weeks is the maximum forecast length. Of course the BEST track can persist longer than 2 weeks... and with these settings, TC-Pairs should match that long BEST track up with whatever forecast tr

[2021-08-20 20:22] mollybsmith-noaa commented on #1870
Oh, okay! In that case, this should be a good solution for realtime verification.

[2021-08-20 21:12] JohnHalleyGotway commented on #1886
Oops, used the wrong issue number in my recent commit message (fixed below):
[code]
Tested these changes by rerunning with 143 duplicates. The images below show the ncview 1-D histogram output of that before/after this change:
<img width="1224" alt="Screen Shot 2021-08-20 at 3 11 29 PM" src="https://user-images.githubusercontent.com/21087144/130293750-5daee8a7-34b9-4ac7-a2c9-08a1a590669c.png">
Not

[2021-08-20 21:55] JohnHalleyGotway commented on #1886
Added the following check for the develop branch:
[code]
Also confirmed that Grid-Diag does in fact list out the verification grid being used, at verbosity level 3, like grid-stat does:
[code]

[2021-08-23 17:31] sethlinden commented on #1764
I just coordinated with John that all outstanding issues have been resolved. I'm closing the issue now.

[2021-08-23 17:31] #1764 closed, assigned to sethlinden

[2021-08-23 21:32] JohnHalleyGotway commented on #1886
Fixed for MET version 10.1.0 but chose not to address this issue for MET version 10.0.1 because it would have changed the Grid-Diag NetCDF output variable type from int to int64.

[2021-08-23 21:32] #1886 closed, assigned to JohnHalleyGotway

[2021-08-23 22:19] JohnHalleyGotway commented on #1788
Here's the list of things to be done:
- [x] Fix the .stat output header columns. Need to keep track of the min/max times and list of unique masking regions, etc.
- [x] Would be better to enhance warning message if possible to indicate which column has the null string.
Getting lots of warnings when writing the output .stat file:
[code]
Done, this warning is now more useful:
[code]
- [x] Make the -b

[2021-08-24 23:36] JohnHalleyGotway commented on #392
Had some discussions over email with @jvigh about this work. They are summarized below.

From Jonathan:
The format is being finalized right now by Chris Rozoff. Our goal is to make it as close as possible to being CF-compliant as possible, noting that many of the quantities may not have standard names or units that are included in the CF-standards.

From John HG:
While MET does currently read NetC

[2021-08-25 22:45] JohnHalleyGotway opened #1891 "Fix gen_vx_mask so that the -input_field and -mask_field options are processed independently."
## Describe the Problem ##
While testing gen_vx_mask commands for the NOAA/SWPC project, @jvigh ran into an unexpected runtime error which revealed a bug in gen_vx_mask. It uses a global instance of MetConfig and parses the configuration for both the -input_field and -mask_field configuration strings into the same config object. So settings defined in -input_field remain in effect when processing

[2021-08-26 17:17] JohnHalleyGotway commented on #1788
@michelleharrold @briannen and/or @hertneky, please test this functionality in kiowa:/d1/projects/MET/MET_pull_requests/met-10.1.0/met-10.1.0_beta2/feature_1788/MET-feature_1788_SSIDX/met/bin/stat_analysis

You can find some great examples, along with input test data in:
kiowa:/d1/projects/MET/MET_pull_requests/met-10.1.0/met-10.1.0_beta2/feature_1788/test_feature_1788_SSIDX

And here's a tarfile

[2021-08-27 17:01] JohnHalleyGotway commented on #1031
Note that the changes for this task are included in PR dtcenter/MET#1892.

[2021-08-27 19:49] JohnHalleyGotway commented on #392
Please find sample diagnostic data from Chris attached.
[ida2021082700.tar.gz](https://github.com/dtcenter/MET/files/7069135/ida2021082700.tar.gz)

[2021-08-27 20:53] JohnHalleyGotway commented on #1875
Met with @lindsayrblank on 8/27/2021 to further discuss memory usage issues. Even after fixing this bug, her Stat-Analysis configuration eventually leads to an out-of-memory error. To test further, I restored the bugfix_1875_main_v10.0_memory branch and changed the default NumArray allocation increment from 1000 down to 100. I enabled that branch to be built by DockerHub and pushed up the changes.

[2021-08-30 15:43] #1870 closed, assigned to JohnHalleyGotway, mollybsmith-noaa

[2021-08-30 18:43] lindsayrblank commented on #1875
@JohnHalleyGotway I performed tests using the bugfix_1875_main Docker image. The results are encouraging with memory reduction of ~75%.

Test 1: pre-bugfix: 26.2G, 13:52 runtime; post-bugfix: 6.33G, 13:33 runtime
Test 2: pre-bugfix: 51.9G, 26:56 runtime; post-bugfix: 12.38G, 22:13 runtime

[2021-08-30 19:51] hsoh-u opened #1894 "Fix PB2NC to better inventory BUFR input data when processing all variables"
To process all available variables for BUFR input, pb2nc checks the valid data at the first level only. I found a case the valid data for HOCT variable is at the third level (the 56959-th message from /d1/projects/MET/MET_test_data/unit_test/obs_data/prepbufr/ndas/nam.20120409.t12z.prepbufr.tm00.nr, the unit test "pb2nc_NDAS_var_all"). The unittest worked OK because the HOCT data was filtered out

[2021-08-30 23:31] #1788 closed, assigned to JohnHalleyGotway, michelleharrold, hertneky

[2021-08-30 23:31] #1031 closed

[2021-08-31 15:38] #1891 closed, assigned to jvigh, JohnHalleyGotway

[2021-08-31 16:34] JohnHalleyGotway opened #1899 "Reimplement the NumArray class based on an STL template."
## Describe the Enhancement ##
This issue arose during development for MET #1875. For that issue, we found/fixed a bug that caused Stat-Analysis to consume way too much memory. However testing for that issue revealed an opportunity for additional optimization of memory usage, as described in this [comment](https://github.com/dtcenter/MET/issues/1875#issuecomment-908592211).

When running jobs over

[2021-08-31 16:36] JohnHalleyGotway commented on #1875
@lindsayrblank thanks for getting back to me with these details. I referenced this in this new GitHub issue for optimizing the NumArray class: dtcenter/MET#1899

[2021-09-01 18:57] #1855 closed

[2021-09-01 19:10] hsoh-u opened #1903 "Reduce the Security hotspots from SonarQube"
*Replace italics below with details for this issue.*

## Describe the Enhancement ##
There are more than 50 security hotspots from SonarQube (it was 247 from 10.0.0 tag) after [#1855](https://github.com/dtcenter/MET/issues/1855). Many of them can be reduced (but it should not create the circular dependencies between modules).

### Time Estimate ###
3 or more days of work

### Sub-Issues ###
Consid

[2021-09-01 21:24] #1827 closed, assigned to jprestop

[2021-09-02 16:52] JohnHalleyGotway opened #1904 "Create the new Gen-Ens-Prod tool for ensemble product generation."
## Describe the New Feature ##
Create a new tool for ensemble product generation named Gen-Ens-Prod. This tool requires a configuration file and should contain the ensemble product generation currently performed for the fields in the "ens" dictionary of Ensemble-Stat. Consider renaming the "ens" dictionary to "data" to be consistent with the conventions of the Grid-Diag tool.

This tool does not p

[2021-09-02 17:02] JohnHalleyGotway opened #1905 "Add logic to Ensemble-Stat to handle an ensemble control member."
## Describe the Enhancement ##
When verifying ensembles the UK Met Office does not include the control member in the resulting ensemble statistics. This task is to coordinate with @mpm-meto and/or @robdarvell to determine how the Ensemble-Stat tool should handle a control member.

One big question is, if the control member is NOT included in the computation of statistics, who should it be used by

[2021-09-02 18:37] jprestop opened #1906 "Fix bug with the incrementing of numbers in temporary file names"
## Describe the Problem ##
In installing MET-10.1.0-beta2 on kiowa, Julie encountered a problem when running "make test":

[code]

[code]

The number 17562 is a process id. Those are supposed to be unique at any given time but can (and are) reused through time. The code is supposed to see that that file exists, and the increment _0 to _1 instead.  In general, the MET tools clean up after themselve

[2021-09-02 18:47] JohnHalleyGotway opened #1907 "Print a warning message about switching from Ensemble-Stat to Gen-Ens-Prod."
## Describe the Enhancement ##
The new Gen-Ens-Prod tool will be added in MET version 10.1.0. It will be the recommended tool for generating ensemble products. It replaces the processing logic of the "ens" dictionary in Ensemble-Stat, which will be deprecated and removed in the next major MET version.

For MET version 10.1.0, if the user's Ensemble-Stat config file contains a non-emtpy "ens" dicti

[2021-09-02 18:54] JohnHalleyGotway opened #1908 "Remove ensemble post-processing from the Ensemble-Stat tool."
## Describe the Enhancement ##
MET#1904 added a new Gen-Ens-Prod ensemble post-processing tool to MET version 10.1.0, and MET#1907 warned users that ensemble product generation would be removed from Ensemble-Stat in a future version. This issue is to strip the processing of the "ens" dictionary, along with ensemble product generation options out of the Ensemble-Stat tool.

Need to more carefully d

[2021-09-03 16:41] JohnHalleyGotway opened #1909 "Resolve PB2NC string truncation warning messages."
## Describe the Task ##
Pull requests for Issue #1855 introduced several hundred warning messages when running PB2NC. These are evident when running:
[code]
Here's the resulting [make.log](https://github.com/dtcenter/MET/files/7107358/make.log) file.
It contains 986 new warning messages:
[code]
And here's what one looks like:
[code]
This task is investigate this situation and get rid of that warni

[2021-09-08 20:04] jprestop opened #1910 "Consider removing the appending of the accumulation interval when processing point observations"
## Describe the Task ##
Consider removing the appending of the accumulation interval when processing point observations.  For example, APCP with a 24 hour accumulation would become APCP_24, but the field name in the observations would still appear to be APCP.  It occurs at [this location](https://github.com/dtcenter/MET/blob/8a3ee59f069bc4eff8d9d75b452a19f0a80a6c8a/met/src/libcode/vx_data2d/var_in

[2021-09-08 21:24] JohnHalleyGotway commented on #1823
@robdarvell and @mpm-meto, I've made some progress on this issue this week. My feature branch (feature_1823_global) now uses point observations in point_stat that fall in the "seam" of a global grid and the regridding no longer introduces a strip of missing data. As seen below. Left: MET version 10.0.0, Right: feature_1823_global branch:
<img width="1449" alt="Screen Shot 2021-09-08 at 3 19 07 PM"

[2021-09-09 15:49] hsoh-u commented on #1909
This was introduced by checking the result of stpcpy APIs: give warnings if the string is truncated. **strnpy** does truncate if the target string buffer is smaller than the source string buffer. The checking should be skipped in this case. This will be implemented at m_strXXX API with #1903

[2021-09-09 20:08] JohnHalleyGotway commented on #1695
Make sure to test solution with NOAA/CPC data.

[2021-09-10 16:02] hsoh-u commented on #1903
[Before]

tag 10.0.0
- 264 bugs: 28 blocker, 1 critical, 211 major
- 247 security hotspots: 228 high & 19 low

10.1.0 beta 2:
I will add this later

[After]
- 81 bugs: 14 blocker, 0 critical, 67 major
- 21 security hotspots: 2 high & 18 low

[2021-09-10 17:07] hertneky commented on #1824
@JohnHalleyGotway @TaraJensen @hsoh-u I was asked to provide UPP output for MLCAPE for 0-100 mb above ground. UPP only computes for the lowest 90 mb. I will note that it is quite odd with how it does this. While the user-defined config file does have 'level' parameters, it is a bit misleading as it doesn't matter what values you give it since it doesn't use the levels given.

CALCAPE uses an avera

[2021-09-13 18:16] JohnHalleyGotway opened #1912 "Print warning message for fields that contain no valid data."
## Describe the Task ##
When processing post-processed RRFS output for the Short Range Weather project, a GRIB record for 10-m wind containing all missing data caused some confusion. To avoid similar confusion in the future, recommend printing a warning message when an input field of gridded data contains no valid data values:
[code]
An example of this can be seen in this METplus Discussion:
https

[2021-09-13 18:47] JohnHalleyGotway opened #1913 "Enhance the PBL derivation logic in PB2NC."
## Describe the Enhancement ##
This issue is the result of this METplus Discussion dtcenter/METplus#1140.

There was a lot of back and forth on that discussion thread, but in the end, two necessary changes were identified. This issue is to make the following 2 changes to the PBL derivation logic in PB2NC:

(1) In MET version 10.0.0, PB2NC replaces any computed PBL values > 5000 with a value of 500

[2021-09-13 21:05] JohnHalleyGotway opened #1914 "Fix Stat-Analysis skill score index job which always writes a dump row output file."
## Describe the Enhancement ##
This is a small bug introduced during development for dtcenter/MET#1788. When running Stat-Analysis "-job  ss_index" that is defined by a configuration file, the default filter job type is used to initialize that skill score index job. But the default filter job includes the "-dump_row filter_job.stat" option. And since that dump row setting is copied over to the -jo

[2021-09-14 14:41] JohnHalleyGotway commented on #1913
@hsoh-u here is the sample NDAS file and PB2NC config file I was using for testing:
[example_ndas.tar.gz](https://github.com/dtcenter/MET/files/7162869/example_ndas.tar.gz)

[2021-09-14 19:12] hsoh-u commented on #1909
Fixed with #1903

[2021-09-14 19:12] #1909 closed, assigned to hsoh-u

[2021-09-14 22:22] j-opatz opened #1918 "Enhance Gen-Ens-Prod to standardize ensemble members relative to climatology."
## Describe the New Feature ##
Based on feedback from both the MetOffice and CPC, standardization of ensemble members relative to the ensemble's climatology mean and standard deviation is common practice. The most popular version of this is subtract mean/divide by stdev, but can also including subtract mean only. Others exist, but these seem the most desired after discussion with both offices.
An

[2021-09-15 15:04] hertneky commented on #1824
@JohnHalleyGotway @hsoh-u My apologies, I had changed my testing directory name to /glade/work/hertneky/upp/testing/postprd, where the files can be found.

[2021-09-15 16:55] #1912 closed, assigned to JohnHalleyGotway

[2021-09-15 20:28] JohnHalleyGotway commented on #1858
For my last [commit](https://github.com/dtcenter/MET/commit/31e98f22d925415c9e66e7c70a516cb5b9ed8c02), I performed the following testing:
1. Ran Ensemble-Stat using:
[code]
And get:
[code]
2. Ran Ensemble-Stat using:
[code]
And get:
[code]
3. Ran Ensemble-Stat using:
[code]
And get:
[code]
4. Ran Ensemble-Stat using:
[code]
And get NO warning message.

This is all as expected. The presence of "obs

[2021-09-15 20:35] sethlinden commented on #1858
This all looks good to me. Thanks!

[2021-09-15 21:24] hsoh-u commented on #1824
There is only one MLCAPE value at GFSPRS.006:
[code]
GFSPRS.006 includes P, T, and Q input, right?

[2021-09-15 22:37] JohnHalleyGotway opened #1920 "Restructure the contents of the MET repository so that it matches the existing release tarfiles."
NOTE: This will be a major change to all existing development branches!

## Describe the Task ##
Motivation:
- Make it easier to compile MET directly from GitHub.
- Utilizing GitHub's release creation rather than manually building/attaching a custom release tarfile.
- Supports the METplus use of Manage Externals.

Recommend making the following changes:
- [x] Store the output of running bootstrap

[2021-09-16 00:16] #1858 closed, assigned to sethlinden

[2021-09-16 00:17] #1894 closed, assigned to hsoh-u

[2021-09-16 00:17] #1913 closed, assigned to hsoh-u, PerryShafran-NOAA

[2021-09-16 03:18] #1903 closed

[2021-09-16 14:57] JohnHalleyGotway opened #1921 "Review and revise the warning messages when running the MET unit tests."
## Describe the Task ##
Recent changes have introduced many new warning messages to the output of MET. This task is to run all of the commands for the unit tests, save the output to a log file, and count up the warning messages. For each warning message, decide whether or not it's useful and should remain.

If not, modify the code to either remove it entirely or change it to a high level debug mes

[2021-09-16 15:18] JohnHalleyGotway commented on #1823
Discussed at MetOffice meeting on 9/16/21.
- What name should we use internally instead of "isGlobal" since it doesn't need to include all the latitudes? Perhaps "wrapLon" would be better.
- Yes, please write up an issue to handle MODE wrapping the globe.
- Consider adding a minor issue to remove the existing "shift" option since it will no longer be necessary.